<div class="row">
  <div class="col-xs-12">
    <h3><span id="comment-count"><%= @node.answers.length %></span> Answers</h3>
    <div id="answers">
    <% @node.answers.each do |answer| %>
      <%= render :partial => "questions/answer", :locals => {answer: answer} %>
    <% end %>
    </div>
    <div id="post-answer">
    <% if current_user %>
      <%= render :partial => "comments/form", :locals => { title: "Post an answer", comment: false, placeholder: "Help users by posting an answer to this question" } %>
    <% else %>
    <p><%= link_to "Sign up", signup_path( return_to: request.path )%> or <%= link_to "Login", new_user_session_path( return_to: request.path )%> to post an answer to this question.</p>
    <% end %> 
    </div>
  </div>
</div>
