<div id="answer-<%= answer_id %>-comment-<%= comment.id %>" class="answer-<%= answer_id %>-comments" style="padding-top: 10px; display:none;">
  <div class="inline" style="vertical-align: top;">
  <% if comment.author.user && comment.author.user.photo_file_name %>
    <img class="img-circle" src="<%= comment.author.user.photo_path(:thumb) %>" /> 
   <% else %>
    <div class="img-circle"></div>
  <% end %>
  </div>
  <div class="inline" style="width: 88%">
    <a href="/profile/<%= comment.author.name %>"><%= comment.author.name %></a>
    <span class="hidden-xs">commented</span>
    <a style="color:#aaa;" href="#answer-comment-<%= comment.id %>"><%= time_ago_in_words(comment.created_at) %> ago</a><br/>
    <span class="content">
      <%= raw sanitize(auto_link(RDiscount.new(comment.body).to_html)) %>
    </span>
    <div class="content-form" style="display: none;">
      <form id="comment-<%= comment.id %>-edit-form" class="form-horizontal" action="/comment/update/<%= comment.id %>">
        <input type="hidden" name="type" value="question">
        <% if answer_id == 0 %>
          <% node = comment.node %>
        <% else %>
          <% node = Answer.find(answer_id).node %>
        <% end %>
        <div class="form-group">
          <div class="col-sm-10">
            <textarea onFocus="editing=true" id="comment-<%= comment.id %>-content" class="form-control" name="body" rows="1" placeholder="Leave a comment"><%= comment.comment %></textarea>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <p><% if current_user && current_user.uid == comment.uid %>
      <a onClick="$('#answer-<%= answer_id %>-comment-<%= comment.id %> .content').toggle();$('#answer-<%= answer_id %>-comment-<%= comment.id %> .content-form').toggle();" >Edit</a> |
    <% end %>
    <% if current_user && (current_user.role == "admin" || current_user.role == "moderator" || comment.uid == current_user.uid || node.uid == current_user.uid) %>
      <a id="answer-<%= answer_id %>-comment-<%= comment.id %>-delete-btn" data-remote="true" data-confirm="Are you sure? <% if current_user && comment.uid != current_user.uid %>Please exercise caution in deleting/moderating others' comments; this cannot be undone.<% end %>" href="/comment/delete/<%= comment.id %>?type=question"> Delete</a>
    <% end %></p>
  </div>
</div>
