<div class="col-lg-12">

  <% if params[:action] == 'recently_commented' %>
  <h2>Recently Commented <small class="d-md-none d-lg-inline">Recently commented questions</small></h2>
  <% elsif params[:action] == 'popular' %>
  <h2>Popular Questions <small class="d-md-none d-lg-inline">Most viewed questions</small></h2>
  <% elsif params[:action] == 'unanswered' %>
  <h2>Unanswered Questions <small class="d-md-none d-lg-inline">Unanswered questions</small></h2>
  <% elsif params[:action] == 'liked' %>
  <h2>Liked Questions <small class="d-md-none d-lg-inline">Most liked questions</small></h2>
  <% else %>
  <div class="text-center">
    <% cache('feature_questions-header', skip_digest: true) do %>
      <%= feature('questions-header') %>
    <% end %>
  </div>
  <% end %>

  <hr />

  <div class="row">
    <div class="col-lg-6">
      <h4>Ask a question here</h4>
      <% if !current_user %>
        <p>To ask a question, please <a href="/login?return_to=/questions">log in</a> or <a href="/signup?return_to=/questions">sign up</a> first.</p>
      <% end %>
      <form id="questions_searchform" role="search" autocomplete="off" action="/post">
        <div class="input-group">
          <input aria-label="Type your question" tabindex="1" id="questions_searchform_input" type="text" name="title" class="<%= "disabled " if !current_user %>form-control search-query typeahead" qryType="questions" placeholder="type your question">
          <input type="hidden" name="tags" value="question:general">
          <input type="hidden" name="template" value="question">
          <input type="hidden" name="redirect" value="question">
          <div class="input-group-append">
            <button id="question_search" type="submit" rel="tooltip" title="Ask a question with the entered title" class="btn btn-primary">Continue</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <% if params[:controller] == 'questions' %>
        <%= render partial: 'tag/sorting' %>
      <% end %>
    </div>
  </div>

  <hr />

  <%= render :partial => "notes/format_toggle" %>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link <% if params[:action] == "index" %> active <% end %>" href="/questions/">
        <i class="fa fa-refresh"></i> <span class="d-none d-lg-inline"> Recently Asked</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if params[:action] == "recently_commented" %> active <% end %>" href="/questions/recently_commented/">
        <i class="fa fa-check"></i> <span class="d-none d-lg-inline"> Recently Commented</span>
      </a>
    </li>
    <li class="nav-item">
    <a class="nav-link <% if params[:action] == "popular" %> active <% end %>" href="/questions/popular/">
        <i class="fa fa-bolt"></i> <span class="d-none d-lg-inline"> Popular</span>
      </a>
    </li>
    <li class="nav-item">
    <a class="nav-link <% if params[:action] == "unanswered" %> active <% end %>" href="/questions/unanswered/">
        <i class="fa fa-question-circle"></i> <span class="d-none d-lg-inline"> Unanswered</span>
      </a>
    </li>
    <li class="nav-item">
    <a class="nav-link <% if params[:action] == "liked" %> active <%end %>" href="/questions/liked/">
        <i class="fa fa-star-o"></i> <span class="d-none d-lg-inline"> Liked</span>
      </a>
    </li>
  </ul>

  <%= render :partial => "questions/questions" %>

</div>
<% if !current_user %>
<script>
  $('#question_search').on('click', function(e) {
      e.preventDefault();
      $('#loginModal').modal();
      var postQuery = '/post?tags=question:general&template=question&title=' + encodeURI($('#questions_searchform_input').val()) + '&redirect=question';
      //console.log(postQuery);
      $.getJSON(postQuery);
  });
</script>
<% end %>
<%= stylesheet_link_tag "dashboard" %>
