<%= render :partial => "sidebar/related" %>
<div class="col-md-9 note-show">
  
  <div class="hidden-print">
    <a rel="tooltip" title="Ask a question to the community" data-placement="right" href="/post?tags=question:question&template=question&redirect=question" class="btn btn-primary btn-lg"><i class="fa fa-question-circle fa-white"></i> Ask a Question</a>
    <%= render :partial => "like/like", :locals => {:node => @node, :tagnames => @tagnames } %>
  </div>

  <h1 style="margin-top: 20px;"><span class="question">Question:</span><a href="<%= @node.path(:question) %>"><%= @node.title %></a></h1>
  <% pt = @node.power_tag('question') %>
  <div class="alert alert-warning">
    <a href="/profile/<%= @node.author.name %>"> <%= @node.author.name %> </a>
    is asking a question about <b><%= pt %></b>:
    <a class="btn btn-default" target="_blank" href="/subscribe/tag/question:<%= pt %>">
      Subscribe to answer questions on this topic
    </a>
  </div>
  <div class="inline">
  <% if @node.author.user && @node.author.user.photo_file_name %>
    <img class="img-circle" src="<%= @node.author.user.photo_path(:thumb) %>" /> 
   <% else %>
    <div class="img-circle"></div>
  <% end %>
  </div>
  <div class="inline">
  	<p><a href="/profile/<%= @node.author.name %>"><%= @node.author.name %></a> asked on <%= @node.created_at.to_s(:long) %> <% if @node.status == 0 || @node.status == 4 %><span class="label label-danger">| UNPUBLISHED</span><% end %> <br />
    <small><i class="fa fa-eye"></i> <%= number_with_delimiter(@node.totalcount) %> <span class="hidden-xs hidden-sm hidden-print ">views</span> | <i class="fa fa-comments"></i> <a href="#answers"><span id="short-comment-count"><%= @node.answers.length %></span> answers</a> | <a href="/q/<%= @node.id %>">shortlink</a></small></p>
  </div>

  <hr style="margin-top:10px;" />

  <div style="overflow:hidden;" id="content">
  <%= raw auto_link(@node.latest.render_body, :sanitize => false) %>
  </div>

  <hr />

  <%= render :partial => "home/social" %>

  <hr />
 
  <%= render :partial => "tag/tagging" %>

  <hr />

  <h4><span id="answer-0-comment-count"><%= @node.comments.length %></span> Comments</h4>

  <div id="answer-0-comment" style="margin: 10px; padding:10px; border-radius: 5px; background-color: #eee">
    <div id="answer-0-comment-section">
    <% if current_user %>
    <form id="answer-0-comment-form" class="form-horizontal" action="/comment/create/<%= @node.id%>" data-remote="true">
      <%= render partial: "questions/form" %>  
    </form>
    <% else %>
      <p><a href="/login">Log in</a> to comment</p>  
    <% end %>
    </div>
    
    <% @node.comments.each do |comment| %>
      <%= render partial: "questions/comment", locals: { comment: comment, answer_id: 0 } %>
    <% end %>
    
  </div>

  <%= render :partial => "questions/answers" %>
</div>

<%= javascript_include_tag('comment_expand') %>

<script type="text/javascript">
  jQuery(document).ready(function(){
    $('.answer-0-comments').slice(0,3).show();
    if (<%= @node.comments.length %> > 3){
      $('#answer-0-comment').append('<p id="answer-0-expand" style="color: #006dcc;">View ' + comment_select(0).length + ' more comments</p>');
      $("#answer-0-expand").on('click',function(){
        expand_comments(0);
      });
    }

    $('#answer-0-comment-form').bind('ajax:error', function(e, response){
      $('#answer-0-comment-form .inline').last().append('<span class="help-block" style="color: red;">Error: there was a problem.</span>')
    })
  })
  

</script>
