<%= javascript_include_tag('comment_expand') %>
<%= javascript_include_tag('notes') %>
<%= javascript_include_tag('textbox_expand') %>
<script> var comments_length = <%= @node.comments.length %>; </script>
<%= javascript_include_tag('question') %>

<div class="col-md-9 note-show question-show">

   <% if @node.main_image %>
    <a class="main-image" style="max-width:100%;width:800px;" href="<%= @node.main_image.path(:original) %>">
      <img style="max-height:600px;" class="img-rounded hidden-xs hidden-sm" src="<%= @node.main_image.path(:large) %>" />
      <img style="width:100%;" class="img-rounded visible-xs visible-sm" src="<%= @node.main_image.path(:large) %>" />
    </a>
  <% end %>

  <%= render :partial => "like/like", :locals => {:node => @node, :tagnames => @tagnames } %>

  <h1 style="margin-top: 20px;"><span class="question">Question: </span><a href="<%= @node.path(:question) %>"><%= @node.title %></a></h1>
  <% pt = @node.power_tag('question') %>
  <div class="alert alert-warning">
    <a href="/profile/<%= @node.author.name %>"> <%= @node.author.name %> </a>
    is asking a question about <b><%= pt %></b>:
    <a class="btn btn-default requireLogin" target="_blank" href="/subscribe/tag/question:<%= pt %>">
      Subscribe to answer questions on this topic
    </a>
  </div>
  <div class="inline">
  <% if @node.author && @node.author.photo_file_name %>
    <img class="img-circle" src="<%= @node.author.photo_path(:thumb) %>" />
   <% else %>
    <div class="img-circle"></div>
  <% end %>
  </div>
  <div class="inline">
  	<p><a href="/profile/<%= @node.author.name %>"><%= @node.author.name %></a> asked on <%= @node.created_at.to_s(:long) %> <% if @node.status == 0 || @node.status == 4 %>| <span class="label label-danger">UNPUBLISHED</span><% end %> <br />
    <small><i class="fa fa-eye"></i> <%= number_with_delimiter(@node.totalviews) %> <span class="hidden-xs hidden-sm hidden-print ">views</span> | <i class="fa fa-comments"></i> <a href="#answers"><span id="short-comment-count"><%= @node.answers.length %></span> answers</a> | <a href="/q/<%= @node.id %>"><i class="fa fa-link"></i></a> <a href="/q/<%= @node.id %>">#<%= @node.id %></a></small></p>
  </div>

  <hr style="margin-top:10px;" />

  <div style="overflow:hidden;" id="content" class="pl-content question">
    <%= raw auto_link(insert_extras(@node.latest.render_body), :sanitize => false) %>
  </div>

  <hr />

  <%= render :partial => "home/social" %>

  <hr />

  <% comments = @node.fetch_comments(current_user) %>
  <h3><span id="answer-0-comment-count"><%= comments.length %></span> Comments</h3>
    <% comments.includes(:replied_comments).order("timestamp ASC").each do |comment| %>
      <% if comment.reply_to.nil? %>
        <%= render :partial => "notes/comment", :locals => {:comment => comment} %>
      <% end %>
    <% end %>
    <div id="answer-0-comment" style="margin-top: 30px;">
      <div id="answer-0-comment-section">
      <% if current_user %>
        <div class="inline" id="question-comment-form">
            <%= render :partial => "comments/form", :locals => { title: "Post Comment", comment: false, placeholder: "Help the author refine their post, or point them at other helpful information on the site. Mention users by @username to notify them of this thread by email", type: "question" } %>
        </div>
      <% else %>
        <p><a data-toggle="modal" data-target="#loginModal">Log in</a> to comment</p>
      <% end %>
      </div>
  </div>

  <%= render :partial => "questions/answers" %>

</div>

<%= render :partial => "sidebar/question" %>
