<h3><i>Activity</i></h3>

<button href="/post" class="btn btn-sm btn-default pull-right" type="button"><i class="fa fa-plus-circle"></i> Share<span class="hidden-xs"> your work</span></button>

<div class="meta">
  <div class="btn-group">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      All updates <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#"><input type="checkbox" /> Research notes</a></li>
      <li><a href="#"><input type="checkbox" /> Questions</a></li>
      <li><a href="#"><input type="checkbox" /> Events</a></li>
      <li><a href="#"><input type="checkbox" /> Comments</a></li>
    </ul>
  </div> &nbsp; 
  <span class="hidden-xs">from other <a href="">community scientists</a></span> in the past week <span class="hidden-xs">|
  <a href="/profile/<%= current_user.username %>">Your work</a></span> 
  <!-- (2 responses) -->
</div>

<div class="activity">

  <div class="row">
    <% notes.each_with_index do |node, i| %>
      <% if node.has_power_tag('question') %>
        <%= render partial: "dashboard/node_question", locals: { node: node } %>
      <% elsif node.has_tag('event') %>
        <%= render partial: "dashboard/node_event", locals: { node: node } %>
      <% else %>
        <%= render partial: "dashboard/node_default", locals: { node: node } %>
      <% end %>
    <% end %>
  </div>

  <br />

  <div class="text-center">
    <%= will_paginate notes, :renderer => BootstrapPagination::Rails %>
  </div>

</div>

<br />
