<h3><i><%= t('dashboard._activity.activity') %></i></h3>
<a href="/post" class="btn btn-sm btn-default pull-right" type="button"><i class="fa fa-plus-circle"></i><span class="hidden-xs"> <%= t('dashboard._activity.share_work') %></span></a>
<a style="margin-right:2px;" href="/dashboard" class="btn btn-sm btn-default pull-right" type="button"><i class="fa fa-refresh"></i></a>

<div class="meta activity-dropdown">
  <div class="btn-group">

    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="node-type-filter"><%= t('dashboard._activity.all_updates') %></span> 
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">

      <li><a href="#"><label><input data-type="all"      class="node-type-all"      type="checkbox" checked="checked" /> <%= t('dashboard._activity.dropdown.all') %>           </label></a></li>

      <li class="divider"></li>

      <li><a href="#"><label><input data-type="note"     class="node-type node-type-note"     type="checkbox" checked="checked" /> <%= t('dashboard._activity.dropdown.research_notes') %></label></a></li>
      <li><a href="#"><label><input data-type="question" class="node-type node-type-question" type="checkbox" checked="checked" /> <%= t('dashboard._activity.dropdown.question') %>     </label></a></li>
      <li><a href="#"><label><input data-type="event"    class="node-type node-type-event"    type="checkbox" checked="checked" /> <%= t('dashboard._activity.dropdown.events') %>        </label></a></li>
      <li><a href="#"><label><input data-type="comment"  class="node-type node-type-comment"  type="checkbox" checked="checked" /> <%= t('dashboard._activity.dropdown.comments') %>      </label></a></li>

      <li class="visible-sm visible-xs">
          <a href="#"><label><input data-type="wiki"     class="node-type node-type-wiki"     type="checkbox" checked="checked" /> <%= t('dashboard._activity.dropdown.wiki') %>          </label></a>
      </li>

      <!--
      <li class="divider"></li>
      <li class="dropdown-header">Sort by</li>
      <li><a href="#"><a href="#">Post date</a></li>
      <li><a href="#"><a href="#">Recent activity</a></li>
      -->

    </ul>

  </div> &nbsp; 
  <span class="hidden-xs"><%= t('dashboard._activity.from_other') %> <a href=""><%= t('dashboard._activity.community_scientists') %></a></span> <%= t('dashboard._activity.past_week') %> 
  <% if current_user %>
    <span class="hidden-xs">|<a href="/profile/<%= current_user.username %>"><%= t('dashboard._activity.your_work') %></a></span> 
  <% end %>
  <!-- (2 responses) -->
</div>

<br />
<%= feature('dashboard-activity-feature') %>

<div class="activity">

  <div class="row">
    <% activity.each_with_index do |node, i| %>
      <% if node.is_a?(DrupalNodeRevision) || node.type == 'page' %>
        <%= render partial: "dashboard/node_wiki",     locals: { node: node, index: i } %>
      <% elsif node.is_a?(DrupalComment) %>
        <%= render partial: "dashboard/node_comment",  locals: { node: node, index: i } %>
      <% elsif node.has_power_tag('question') %>
        <%= render partial: "dashboard/node_question", locals: { node: node, index: i } %>
      <% elsif node.has_tag('event') %>
        <%= render partial: "dashboard/node_event",    locals: { node: node, index: i } %>
      <% else %>
        <%= render partial: "dashboard/node_default",  locals: { node: node, index: i } %>
      <% end %>
    <% end %>
  </div>

  <br />

  <div class="text-center">
    <%= will_paginate notes, :renderer => BootstrapPagination::Rails if notes %>
  </div>

</div>

<br />
