<h3 id="activity-header"><i><%= t('dashboard._activity.activity') %></i></h3>
<% if !params.has_key?(:sort) %>
  <% params[:sort] = "all" %>
<% end %>
<div class="activity-menu">
  <% if current_user && (current_user.moderator? || current_user.admin?) %>
    <a href="/spam" class="btn btn-sm btn-outline-secondary float-right" type="button">
      <i class="fa fa-flag"></i> 
      <%= Node.where(status: 4).count %>
    </a>
  <% end %>
</div>

<div class="meta activity-dropdown">
  <div class="btn-group">

    <button
      class="btn btn-outline-secondary btn-sm dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false" 
      <% if params[:sort] == "all" %>
         <span class="node-type-filter"><%= t('dashboard._activity.dropdown.all') %></span>
       <% elsif params[:sort] == "note" %>
         <span class="node-type-filter"><%= t('dashboard._activity.dropdown.research_notes') %></span>
       <% elsif params[:sort] == "question" %>
         <span class="node-type-filter"><%= t('dashboard._activity.dropdown.question') %></span>
       <% elsif params[:sort] == "event" %>
         <span class="node-type-filter"><%= t('dashboard._activity.dropdown.events') %></span>
       <% elsif params[:sort] == "comment" %>
         <span class="node-type-filter"><%= t('dashboard._activity.dropdown.comments') %></span>
      
      <%end%>
      <span class="caret"></span>
    </button>

    <div class="dropdown-menu">
      <a class="form-check dropdown-item">
        <%= link_to t('dashboard._activity.dropdown.all'),{:action => "dashboard",:sort => "all" },class: "dropdown-item" %>
      </a>
      <div class="dropdown-divider"></div>
      <a class="form-check dropdown-item">
        <%= link_to t('dashboard._activity.dropdown.research_notes'),{:action => "dashboard",:sort => "note" },class: "dropdown-item" %>
      </a>
      <a class="form-check dropdown-item">
        <%= link_to t('dashboard._activity.dropdown.question'),{:action => "dashboard",:sort => "question" },class: "dropdown-item" %>
      </a>
      <a class="form-check dropdown-item">
        <%= link_to t('dashboard._activity.dropdown.events'),{:action => "dashboard",:sort => "event" },class: "dropdown-item" %> 
      </a>
      <a class="form-check dropdown-item">
        <%= link_to t('dashboard._activity.dropdown.comments'),{:action => "dashboard",:sort => "comment" },class: "dropdown-item" %>
      </a>
      <!--
      <li class="divider"></li>
      <li class="dropdown-header">Sort by</li>
      <li><a href="#"><a href="#">Post date</a></li>
      <li><a href="#"><a href="#">Recent activity</a></li>
      -->
    </div>
  </div> &nbsp;
  <span class="d-none d-md-inline"><%= t('dashboard._activity.from_other') %> <a href=""><%= t('dashboard._activity.community_scientists') %></a></span> <%= t('dashboard._activity.past_week') %>
  <% if current_user %>
    <span class="d-none">| <a href="/profile/<%= current_user.username %>"><%= t('dashboard._activity.your_work') %></a></span>
  <% end %>
  <!-- (2 responses) -->
</div>

<br />
<%= feature('dashboard-activity-feature') %>

<div>
  <small><a href="/tags" class="form-grey">Trending topics:</a></small>
  <span class="topics-span">
   <% cache('trending-tags', expires_in: 24.hours, skip_digest: true) do %>
      <% Tag.trending.each do |i| %>
          <a href="/tag/<%= i.name %>" class="badge badge-primary"><%= i.name %></a>
      <% end %>
    <% end %>
  </span>
</div>
<%= render partial: 'tag/subscribe_button', locals:{tags: Tag.trending} %>
<div class="activity">

  <div class="row">
    <% activity.each_with_index do |node, i| %>
      <% if node.is_a?(Comment) && (params[:sort] == "all" || params[:sort] == "comment") %>
        <%= render partial: "dashboard/node_comment",  locals: { node: node, index: i } %>
      <% elsif node.has_power_tag('question') && (params[:sort] == "all" || params[:sort] == "question") %>
        <%= render partial: "dashboard/node_question", locals: { node: node, index: i } %>
      <% elsif node.has_tag('event') && (params[:sort] == "all" || params[:sort] == "event") %>
        <%= render partial: "dashboard/node_event",    locals: { node: node, index: i } %>
      <% elsif ((!(node.is_a?(Revision) || node.type == 'page') && !node.is_a?(Comment) && !node.has_power_tag('question') && !node.has_tag('event')) && (params[:sort] == "all" || params[:sort] == "note"))%>
        <%= render partial: "dashboard/node_default",    locals: { node: node, index: i } %>
      <% end %>
    <% end %>
  </div>

  <br />

  <div class="text-center">
    <%= will_paginate notes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer if notes %>
  </div>

</div>

<br />
