<div class="pop-content" style="padding: 20px; border-radius: 10px;">
 <a class="btn btn-primary btn-block" href="mailto:moderators@publiclab.org?subject=Reporting+spam+on+Public+Lab&body=Hi,+I+found+this+item+that+looks+like+spam+or+needs+to+be+moderated:+<%= node.title.gsub(/ /,'+') %>+https://publiclab.org/n/<%= node.id %>+by+https://publiclab.org/profile/<%= node.author.username %>+Thanks!" role="button"> <i class="fa fa-flag fa-white"></i> <%= translation('dashboard._flag_list.flag_post') %></a> 
  <% if logged_in_as(['admin','moderator']) %>
    <a class="btn btn-primary btn-block" href="/moderate/spam/<%= node.id %>" role="button"> <i class="fa fa-ban fa-white"></i> Spam Post </a> 
  <% else %>
  <a class="btn btn-primary btn-block" href="/moderators" role="button"><%= translation('dashboard._flag_list.become_moderator') %></a>   
  <% end %>
</div>
