<div class="row header">

  <div class="col-lg-12">

    <div class="btn-group">
      <a class="btn btn-primary btn-lg"><i class="fa fa-plus-circle fa-white"></i> Share your work</a>
      <a class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Share a research note</a></li>
        <li><a href="#">Ask a question</a></li>
        <li><a href="#">Post an event</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Tell your story on the blog</a></li>
      </ul>
    </div>
 
    <h1>Dashboard</h1>

  </div>

</div>

<div class="row stats">
  <h4 class="col-lg-12">
    <span class="hidden-xs hidden-sm">Welcome<span class="hidden-md">, <b><%= current_user.username %></b></span>!</span> 
    <a href="/research"><%= @note_count %> notes</a> and <a href="/wiki"><%= @wiki_count %> wiki edits</a> posted in the past week. 
    You've shared <a href="/profile/<%= current_user.username %>"><%= @user_note_count %> research note<% if @user_note_count > 1 %>s<% end %></a>.
  </h4>
</div>
