<div class="row header">

  <div class="col-lg-12">

    <div class="btn-group">
      <a href="/post" class="btn btn-primary btn-lg"><i class="fa fa-plus-circle fa-white"></i> Share your work</a>
      <a class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/post">Share a research note</a></li>
        <li><a href="/post?tags=question:question&template=question">Ask a question</a></li>
        <li><a href="/post?template=event&tags=event">Post an event</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/post?tags=blog-submission">Tell your story on the blog</a></li>
      </ul>
    </div>
 
    <% if current_user %>
      <h1>Dashboard</h1>
    <% else %>
      <h1>Community research</h1>
    <% end %>

  </div>

</div>

<div class="row stats">
  <h4 class="col-lg-12">
    <% if current_user %>
      <span class="hidden-xs hidden-sm">Welcome<span class="hidden-md">, <b><%= current_user.username %></b></span>!</span> 
      <a href="/research"><%= @note_count %> notes</a> and <a href="/wiki"><%= @wiki_count %> wiki edits</a> posted in the past week. 
      You've shared <a href="/profile/<%= current_user.username %>"><%= @user_note_count %> research note<% if @user_note_count > 1 %>s<% end %></a>.
    <% else %>
      <span class="hidden-xs hidden-sm">Welcome!</span> 
      This could be your dashboard if you <a href="/signup">joined Public Lab</a>
    <% end %>
  </h4>
</div>
