<div class="col-lg-6 note-container-comment">
  <div class="note note-pane note-comment" data-index="<%= index %>">

    <div class="header-icon">
     <% if node.aid == 0 %>
      <a href="<% if node.parent.has_power_tag('question') %><%= node.parent.path(:question) %>#answer-0-comment<% else %><%= node.parent.path %>#comments<% end %>"> <i class="fa fa-comment-o"> <%= node.parent.comments_viewable_by(current_user).size %></i> </a>
      <% else %>
      <a href="<%= node.parent.path(:question) %>#answer-<%= node.answer.id %>-comment"> <i class="fa fa-comment-o"> </i>
      <% end %>
      </a>
      <a aria-label="Link to note" href="/n/<%= node.parent.id %>"><i class="fa fa-link"></i></a>
    </div>

    <p class="meta">
      <a href="/profile/<%= node.author.name %>"><%= node.author.name %></a>  <%= node.author.new_contributor %>
      <span><%= translation('dashboard._node_comment.commented_on') %></span> <% unless node.aid == 0 %> an answer about<% end %> <% if node.parent.has_power_tag('question') %><a href="<%= node.parent.path(:question) %>"><% else %><a href="<%= node.parent.path %>"><% end %><%= node.parent.title %></a>
      <%= distance_of_time_in_words(node.created_at, Time.current, { include_seconds: false, scope: 'datetime.time_ago_in_words' }) %>
    </p>
    <%= render partial: 'dashboard/comment_moderate', locals: { comment: node } %>

    <p class="body"><%= raw strip_tags(node.body_markdown).truncate(100) %>
      
    </p>

  </div>
</div>
