<div class="col-md-6 note-container-wiki">
  <div class="note note-pane note-wiki" data-index="<%= index %>">

    <% if node.is_a?(DrupalNode) %>
      <div class="header-icon"><i class="fa fa-book"></i></div>
      <p class="meta">New page by <a href="/profile/<%= node.latest.author.name %>"><%= node.latest.author.name %></a></p>
    <% else %>
      <div class="header-icon"><i class="fa fa-pencil"></i></div>
      <p class="meta">New edit by <a href="/profile/<%= node.author.name %>"><%= node.author.name %></a></p>
    <% end %>

    <% revision = node %>
    <% node = node.parent if node.is_a?(DrupalNodeRevision) %>
 
    <% if false && node.main_image %>
      <a class="img" href="<%= node.path %>"><img src="<%= node.main_image.path(:default) %>" style="width:100%;" /></a>
    <% end %>
 
    <h4><a href="<%= node.path %>"><%= node.latest.title %></a></h4>

    <% if revision.is_a?(DrupalNodeRevision) && revision.previous %>
      <a class="btn btn-default btn-xs pull-right btn-diff btn-diff-<%= index %>">Changes &raquo;</a>
    <% end %>
 
    <p class="meta"><%= render partial: "dashboard/node_meta", locals: { node: revision } %></p>

    <% if revision.is_a?(DrupalNodeRevision) && revision.previous %>
      <div data-diff-a="<%= revision.previous.vid %>" data-diff-b="<%= revision.vid %>" class="well wiki-diff-<%= index %>" style="display:none;"><i class="fa fa-circle-o-notched fa-spin"></i></div>
    <% end %>

  </div>
</div>
