<div class="col-md-6 note-container-wiki" style="overflow: hidden;">
  <div class="note note-pane note-wiki" data-index="<%= index %>">

    <% if node.is_a?(Node) %>
      <div class="header-icon"><i class="fa fa-book"></i></div>
      <p class="meta"><span><%= t('dashboard._node_wiki.new_page_by') %></span> <a href="/profile/<%= node.latest.author.name %>"><%= node.latest.author.name %></a></p>
    <% else %>
      <div class="header-icon"><i class="fa fa-pencil"></i></div>
      <p class="meta"><%= t('dashboard._node_wiki.new_edit_by') %> <a href="/profile/<%= node.author.try(:name) %>"><%= node.author.try(:name) %></a></p>
    <% end %>
 
    <% if false && node.main_image %>
      <a class="img" href="<%= node.path %>"><img src="<%= node.main_image.path(:default) %>" style="width:100%;" /></a>
    <% end %>
 
    <h4>
      <a href="<%= node.path %>">
        <% if node.is_a?(Node) %>
          <%= node.latest.title %>
        <% else %>
          <%= node.parent.latest.title %>
        <% end %>
      </a> 
    </h4>

    <% if node.is_a?(Revision) && node.previous %>
      <a class="btn btn-default btn-xs pull-right btn-diff btn-diff-<%= index %>"><%= t('dashboard._node_wiki.changes') %> &raquo;</a>
    <% end %>
 
    <p class="meta"><%= render partial: "dashboard/node_meta", locals: { node: node } %></p>

    <% if node.is_a?(Revision) && node.previous %>
      <div data-diff-a="<%= node.previous.vid %>" data-diff-b="<%= node.vid %>" class="well wiki-diff wiki-diff-<%= index %>" style="display:none;"><i class="fa fa-circle-o-notch fa-spin"></i></div>
    <% end %>

  </div>
</div>
