<% unless node.is_a?(Comment) || node.is_a?(Revision) || node.type == 'page' %>

<div class="profile-image text-center">
  <img class="rounded-circle img-fluid" id="profile-photo" src="<%= node.author.profile_image %>" />
</div>

  <a class="author" href="/profile/<%= node.author.name %>">@<%= node.author.name %></a> <%= node.author.new_contributor %>
  <% if node.has_power_tag('with') %>
    with
    <% node.coauthors.each_with_index do |coauthor,i| %>
      <a href="/profile/<%= coauthor.username %>">
        <%= coauthor.username%> <%= coauthor.new_contributor %></a>
      <%= ',' if i < node.coauthors.size-1 %>
    <% end %>
  <% end %>
<% end %>

asked:
</span>
