  <%= feature('dashboard-feature') %>
  <br />

  <ul class="nav nav-tabs">
    <li class="active">
      <a class="wikis-tab" href="#wiki" data-toggle="tab">
        <span class="visible-xs"><i class="fa fa-book"></i></span>
        <span class="hidden-xs">Wiki</span>
      </a>
    </li>
    <li>
      <a class="lists-tab" href="#lists" data-toggle="tab">
        <span class="visible-xs"><i class="fa fa-comment"></i></span>
        <span class="hidden-xs">Discussion lists</span>
      </a>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="wiki">

      <p class="meta">A <a href="/wiki">shared knowledge base</a> for community science<!-- | <a href="">Your pages</a>--></p>

      <div class="meta row">
        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>

        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
          <button href="/wiki/new" class="btn btn-sm btn-default btn-block" type="button"><i class="fa fa-plus-circle"></i> New page</button>
        </div>

      </div>

      <div class="wikis">
  
        <% @wikis.each do |wiki| %>
          <div class="wiki">
            <p>
              <small style="color:#888;">
                New edit by <a href="/profile/<%= wiki.latest.author.name %>"><%= wiki.latest.author.name %></a>
                <%= time_ago_in_words(wiki.updated_at) %> ago 
              </small>
            </p>
            <h4>
              <a href="<%= wiki.path %>">
                <%= wiki.latest.title %>
              </a> 
            </h4>
          </div>
        <% end %>
  
        <p><small><a href="/wiki/">More &raquo;</a></small></p>
  
      </div>

    </div>

    <div class="tab-pane" id="lists">

      <div class="meta"> 
        <select class="form-control input-sm list-select">
          <option value="combined">All</option>
          <option value="publiclaboratory">Public Laboratory</option>
          <option value="grassrootsmapping">Grassroots Mapping</option>
          <option value="plots-spectrometry">Spectrometry</option>
          <option value="plots-infrared">Infrared</option>
          <option value="plots-airquality">Air Quality</option>
          <option value="plots-waterquality">Water Quality</option>
          <option value="plots-dev">Developers</option>
        </select>
      </div>

      <div class="lists">

        <i style="margin:20px 45% 20px;" class="fa fa-circle-o-notch fa-spin"></i>

      </div>

    </div>

  </div>
