<% if Time.now - current_user.created_at < 1.week %>
    <!--<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">×</button>-->

    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <br><br>
        <!--<div class="well col-md-12 col-lg-12" >-->
        <h2>Hello, welcome to Public Lab!</h2>
        <br><br>
        This is your dashboard, where recent updates from other community members show up. It's helpful to keep up to date with new progress, news, and recent developments.
        <br><br>
        But to get started at Public Lab, try:
        <br><br>
        * asking a question (https://publiclab.org/questions)
        <br>
        * exploring projects (https://publiclab.org/methods)
      </div>
      <br><br>

      <div class="clearfix">

      </div>
    </div>

<% end %>

<div class="dashboard container">

  <%= render partial: "dashboard/header" %>

  <div class="row">

    <div class="col-md-8">
 
      <div class="dashboard-blog">
 
        <% if @blog %> 
          <div class="img"<% if @blog.main_image %> style="background-image: url('<%= @blog.main_image.path(:large) %>')"<% end %>>
       
            <div class="blog-caption">
       
              <h4>
                <small class="pull-right hidden-xs hidden-sm"><%= raw t('dashboard.dashboard.from_blog', :url => '/blog') %></small>
                <a class="title" href="/blog"><%= @blog.title %></a> 
                <small><%= t('dashboard.dashboard.by') %> <a href="/profile/<%= @blog.author.username %>"><%= @blog.author.username %></a></small>
              </h4>
       
            </div>
       
          </div>
        <% end %>
  
        <%= render partial: "dashboard/activity", locals: { activity: @activity, notes: @notes } %>
 
      </div>

    </div>
     
    <div class="col-md-4">

      <%= feature('dashboard-feature') %>

      <%= render partial: "dashboard/sidebar" %>

    </div>

  </div>

</div>

<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "dashboard" %>
