<% if current_user && Time.now - current_user.created_at < 1.week %>

  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>

    <h2>Hello, welcome to Public Lab!</h2>

    This is your dashboard, where recent updates from other community members show up. It'll keep you updated with
    recent progress, news and developments.
    <br>
    To get started at Public Lab, try:
    <br><br>
    <p>
      <a class="btn btn-sm btn-light" href="/questions" target="_blank">
        Asking a question
      </a>

      <a class="btn btn-sm btn-light" href="/methods" target="_blank">
        Exploring projects
      </a>
    </p>
  </div>

<% end %>

<div class="dashboard container">

  <div class="row">

    <div class="col-lg-7">

      <%= render partial: "dashboard/header" %>
      <%= render partial: "dashboard/user_topics" %><br/>

      <p style="width: 100%; text-align: center; border-bottom: 1px solid #ccc; line-height:2px; margin: 10px 0 20px; margin-left:-13px;">
       <span style="background-color: #fff; padding: 0 10px; color: #808080;">Click to start following topics that interests you</span>
      </p>
      <br/>

      <div>
        <small><a href="/tags" class="form-grey" style="margin-left:-13px;">Trending topics:</a></small>
        <span class="topics-span">
         <% cache('trending-tags', expires_in: 24.hours, skip_digest: true) do %>
            <% Tag.trending.each do |tag| %>
                <a href="/tag/<%= tag.name %>" class="badge badge-primary"><%= tag.name %></a>
            <% end %>
          <% end %>
        </span>
      </div>

    </div>

    <div class="col-lg-5">
      <%= render :partial => "map/peopleLeaflet" , locals: {people: true , lat:23 , lon: 4} %>

    </div>

    </div>

  </div>
<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "dashboard" %>
