<% if current_user && Time.now - current_user.created_at < 1.week %>
    <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">×</button>

        <h2 style="font-weight: 800">Hello, welcome to Public Lab!</h2>

        This is your dashboard, where recent updates from other community members show up. It's helpful to keep up to date with new progress, news, and recent developments.
        <br>
        But to get started at Public Lab, try:
        <br><br>
      <p>
      <a class="btn btn-sm btn-default" href="https://publiclab.org/questions" target="_blank">Asking a question</a>

      <a class="btn btn-sm btn-default" href="https://publiclab.org/methods" target="_blank">Exploring projects</a>
      </p>
    </div>

<% end %>

<div class="dashboard container">

  <%= render partial: "dashboard/header" %>

  <div class="row">

    <div class="col-md-8">
 
      <div class="dashboard-blog">
 
        <% if @blog %> 
          <div class="img"<% if @blog.main_image %> style="background-image: url('<%= @blog.main_image.path(:large) %>')"<% end %>>
       
            <div class="blog-caption">
       
              <h4>
                <small class="pull-right hidden-xs hidden-sm"><%= raw t('dashboard.dashboard.from_blog', :url => '/blog') %></small>
                <a class="title" href="/blog"><%= @blog.title %></a> 
                <small><%= t('dashboard.dashboard.by') %> <a href="/profile/<%= @blog.author.username %>"><%= @blog.author.username %></a></small>
              </h4>
       
            </div>
       
          </div>
        <% end %>
        <div style="border:1px solid lightgrey ; border-radius:">
          <% if Time.now - current_user.created_at > 1.week %>
          <p>HELLO, Welcome to Public Lab!</p>
          <br/>
          <p>
            This is your dashboard, where recent updates from other community members show up. It's helpful to keep up to date with new progress, news, and recent developments.
          </p>
          <% end %>
          <p>To get started at Public Lab<p>
          <p>Ask a Questions</p>
          <p>Explore Projects</p>
          <p>
        </div>  
        <%= render partial: "dashboard/activity", locals: { activity: @activity, notes: @notes } %>
 
      </div>

    </div>
     
    <div class="col-md-4">

      <%= feature('dashboard-feature') %>

      <%= render partial: "dashboard/sidebar" %>

    </div>

  </div>

</div>

<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "dashboard" %>
