<div class="dashboard container">

  <%= render partial: "dashboard/header" %>

  <div class="row">

    <div class="col-md-8">
 
      <div class="dashboard-blog">
 
        <% if @blog %> 
          <div class="img"<% if @blog.main_image %> style="background-image: url('<%= @blog.main_image.path(:large) %>')"<% end %>>
       
            <div class="blog-caption">
       
              <h4>
                <small class="pull-right hidden-xs hidden-sm">From the <a href="/blog">Public Lab Blog</a></small>
                <a class="title" href="/blog"><%= @blog.title %></a> 
                <small>by <a href="/profile/<%= @blog.author.username %>"><%= @blog.author.username %></a></small>
              </h4>
       
            </div>
       
          </div>
        <% end %>
  
        <%= render partial: "dashboard/activity", locals: { activity: @activity, notes: @notes } %>
 
      </div>

    </div>
     
    <div class="col-md-4">

      <%= feature('dashboard-feature') %>

      <%= render partial: "dashboard/sidebar" %>

    </div>

  </div>

</div>

<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "dashboard" %>
