<div class="row">
  <div id="comments" class="col-lg-10 comments">
    <% comments = @node.comments_viewable_by(current_user) %>
    <h3><span id="comment-count"><%= comments.size %></span> <%= translation('notes._comments.comments') %></h3>

    <div style="margin-bottom: 50px;" id="comments-list">
      <% comments.includes(:replied_comments).order('timestamp ASC').each do |comment| %>
        <% if comment.cid == @node.comments&.first&.cid %><a id="last" name="last"></a><% end %>

        <% if comment.reply_to.nil? %>
          <%= render :partial => "notes/comment", :locals => {:comment => comment} %>
        <% end %>

      <% end %>
    </div>

    <% if current_user %>
        <%= render :partial => "comments/form", :locals => { title: I18n.t('notes._comments.post_comment'), comment: false, placeholder: I18n.t('notes._comments.post_placeholder'), url1: '/conduct', author: current_user.title, is_new_contributor:current_user.is_new_contributor? } %>
    <% else %>
      <p><a href="#" data-toggle="modal" data-target="#loginModal">
        <%= translation('layout._header.login.login_title') %> </a> to comment.
      </p>
    <% end %>

  </div>
</div>
