<div class="span10 comments">
  <h3>Comments (<%= @node.comments.length %>)</h3>

  <% @node.comments.each do |comment| %>
     <div>
       <h5><i class="icon-comment"></i> On <%= comment.created_at.to_s(:long) %>, <a href="/notes/author/<%= comment.author.name %>"><%= comment.author.name %></a> said:</h5>
       <p><small><%= comment.comment %></small></p>
     </div>
     <hr />
  <% end %>

  <form class="well">
    <h4 style="margin-top:0;">Post comment</h4>

    <textarea class="span12" id="text-input" oninput="this.editor.update()"
              rows="4" cols="40" placeholder="Type **Markdown** here."></textarea>
    <div class="well span12" id="preview" style="display:none;"> </div>
    <br style="clear:both;"/>

    <script src="/assets/js/markdown.js"></script>
    <script>
      function Editor(input, preview)
      {
        this.update = function () {
          preview.innerHTML = markdown.toHTML(input.value);
        }
        input.editor = this;
        this.update();
      }
      var $M = function (id) { return document.getElementById(id); };
      new Editor($M("text-input"), $M("preview"));
    </script>

    <button type="submit" class="btn btn-primary">Publish</button>
    <a class="btn" onClick="$('#preview').toggle();$('#text-input').toggle()">Preview</a>
    <span>(logged in as <a href="">Username</a>)</span>
  </form>
</div>
