<div id="c<%= comment.cid %>">

  <div class="navbar navbar-default">

    <div class="navbar-text pull-left visible-xs">&nbsp;&nbsp;</div>

    <div class="navbar-text pull-left">
      <% if comment.author %>
        <% if comment.author.user && comment.author.user.photo_file_name %>
          <img style="width:32px;margin-right:6px;" class="img-circle" src="<%= comment.author.user.photo_path(:thumb) %>" /> 
        <% else %>
          <div style="vertical-align:middle;display:inline-block;height:32px;width:32px;margin-right:6px;background:#ccc;" class="img-circle"></div> 
        <% end %>
        <a href="/profile/<%= comment.author.name %>"><%= comment.author.name %></a>
      <% end %>
      <span class="hidden-xs">commented</span>
      <a style="color:#aaa;" href="#c<%= comment.cid %>"><%= time_ago_in_words(comment.created_at) %> ago</a>
      <% if comment.author && comment.author.user %>
        <% streak = comment.author.user.streak %>
        <% if streak[0] > 7 %>
          <a href="/wiki/streaks"><i class="fa fa-fire" style="padding-left:4px; font-size:16px; color:#f63;" data-toggle="tooltip" data-placement="top" title="<%= comment.author.name %> is on fire! <%= streak[1][0]%> notes, <%= streak[1][1]%> wiki edits, <%= streak[1][2]%> comments in the last <%= streak[0]%> days"></i></a>
        <% end %>
      <% end %>
    </div>

    <div class="navbar-text navbar-right pull-right" style="padding-right:10px;">
      <% if comment.author && comment.author.user && comment.author.user.role %>
      <!-- Role icon for admins & moderators
        <% if comment.author.user.role == 'admin' %>
          <a href="/users/role/admin"><i class="fa fa-cog" style="font-size:20px; margin-top:8px;" data-toggle="tooltip" data-placement="top" title="Admin"></i></a>
        <% elsif comment.author && comment.author.user.role == 'moderator' %>
          <a href="/wiki/moderators"><i class="fa fa-star" style="font-size:20px; margin-top:8px;" data-toggle="tooltip" data-placement="top" title="Moderator"></i></a>
        <% end %>
      -->  
      <% end %>
      <% if current_user && comment.uid == current_user.uid %>
        <a class="btn btn-default btn-sm" href="javascript:void(0)" onClick="$('#c<%= comment.cid %>edit').toggle();$('#c<%= comment.cid %>show').toggle();setInit(<%= comment.cid %>);">
          <i class="fa fa-pencil"></i>
        </a>
      <% end %>

      <% if current_user && (current_user.role == "admin" || current_user.role == "moderator" || comment.uid == current_user.uid || comment.parent.uid == current_user.uid) %>
        <a data-remote="true" data-confirm="Are you sure? <% if current_user && comment.uid != current_user.uid %>Please exercise caution in deleting/moderating others' comments; this cannot be undone.<% end %>" href="/comment/delete/<%= comment.cid %>" class="btn btn-default btn-sm" id="c<%= comment.cid %>delete-btn">
          <i class='icon fa fa-trash'></i>
        </a>
      <% end %>
    </div>

  </div>

  <script>
    // deletion button code:
    $("#c<%= comment.cid %>delete-btn").bind('ajax:success', function(e,response){
      $("#c<%= comment.cid %>").remove()
      $('#comment-count')[0].innerHTML = parseInt($('#comment-count')[0].innerHTML)-1
    })
    $("#c<%= comment.cid %>delete-btn-2").bind('ajax:success', function(e,response){
      $("#c<%= comment.cid %>").remove()
      $('#comment-count')[0].innerHTML = parseInt($('#comment-count')[0].innerHTML)-1
    })
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  
  <div id="c<%= comment.cid %>show">
    <p><%= raw sanitize(auto_link(RDiscount.new(comment.body).to_html)) %></p>
  </div>

  <% if current_user %>
     <%=  render :partial => "comments/edit", :locals => { title: "Edit comment", comment: comment } %>
  <% end %>
  <br />

</div>
