<script src="/assets/js/markdown.js"></script>
<script>
  function Editor(input, preview) {
    this.update = function () {
      preview.innerHTML = markdown.toHTML(input.value);
    }
    input.editor = this;
    this.update();
  }
</script>

<div id="comments" class="span10 comments">
  <h3><%= @node.comments.length %> Comments</h3>

  <% @node.comments.each do |comment| %>
    <% if comment.cid == @node.comments.last.cid %><a id="last" name="last"></a><% end %>
    <div class="navbar" id="c<%= comment.cid %>">
      <div class="navbar-inner">

        <div class="hidden-phone" style="padding-top:2px;">

          <% if current_user && current_user.username == "warren" && comment.uid == current_user.uid %>
            <a style="margin-left:4px;" class="btn btn-small pull-right" href="javascript:void(0)" onClick="$('#c<%= comment.cid %>edit').toggle();$('#c<%= comment.cid %>show').toggle()">
              <i class="icon-pencil"></i>
            </a><% end %>
          <% if current_user && current_user.username == "warren" && (comment.uid == current_user.uid || comment.parent.uid == current_user.uid) %>
            <%= link_to "/comment/delete/"+comment.id.to_s, :confirm => 'Are you sure?', :class => "btn btn-small pull-right" do %>
              <i class='icon icon-trash'></i>
            <% end %><% end %>

          <div style="margin-top:9px;">
            <i class="icon-comment"></i>
            <a href="/notes/author/<%= comment.author.name %>"><%= comment.author.name %></a>
            <a style="color:#aaa;" href="#c<%= comment.cid %>">commented</a>
            <%= time_ago_in_words(comment.created_at) %> ago
          </div>
        </div>

        <div class="visible-phone" style="padding-top:7px;">

          <% if current_user && current_user.username == "warren" && comment.uid == current_user.uid %>
            <a style="margin-left:4px;margin-top:0;" class="btn btn-small pull-right" href="javascript:void(0)" onClick="$('#c<%= comment.cid %>edit').toggle();$('#c<%= comment.cid %>show').toggle()">
              <i class="icon-pencil"></i>
            </a><% end %>
          <% if current_user && current_user.username == "warren" && (comment.uid == current_user.uid || comment.parent.uid == current_user.uid) %>
            <%= link_to "/comment/delete/"+comment.id.to_s, :confirm => 'Are you sure?', :class => "btn btn-small pull-right", :style => "margin-top:0;" do %>
              <i class='icon icon-trash'></i>
            <% end %><% end %>

          <div style="margin-top:3px;">
            <i class="icon-comment"></i>
            <a href="/notes/author/<%= comment.author.name %>"><%= comment.author.name %></a>
            <a style="color:#aaa;" href="#c<%= comment.cid %>">said</a>
            <%= time_ago_in_words(comment.created_at) %> ago
          </div>
        </div>

      </div>
    </div>
    <div id="c<%= comment.cid %>show">
      <p><%= raw auto_link(RDiscount.new(comment.comment).to_html) %></p>
    </div>
    <% if current_user %>
    <form class="well" id="c<%= comment.id %>edit" style="display:none;" action="/comment/update/<%= comment.id %>">
      <h4 style="margin-top:0;">Edit comment</h4>

      <textarea onFocus="editing=true" name="body" class="span12" id="c<%= comment.id %>text-input" oninput="this.editor.update()"
              rows="8" cols="40"><%= comment.comment %></textarea>
      <div class="well span11" id="c<%= comment.id %>preview" style="background:white;display:none;"> </div>
      <br style="clear:both;"/>

      <script>
        new Editor($("#c<%= comment.cid %>text-input")[0], $("#c<%= comment.cid %>preview")[0]);
      </script>

      <button type="submit" class="btn btn-primary">Publish</button>
      <a class="btn" onClick="$('#c<%= comment.cid %>preview').toggle();$('#c<%= comment.cid %>text-input').toggle()">Preview</a>
      <a class="btn" onClick="$('#c<%= comment.cid %>show').toggle();$('#c<%= comment.cid %>edit').toggle()">Cancel</a>
      <span>(logged in as <b><%= current_user.username %></b>)</span>
    </form>
    <% end %>
  <br />
  <% end %>

  <% if current_user %>
  <form class="well" action="/comment/create/<%= @node.nid %>">
    <h4 style="margin-top:0;">Post comment</h4>

    <textarea onFocus="editing=true;" name="body" class="span12" id="text-input" oninput="this.editor.update()"
              rows="6" cols="40" placeholder="Type **Markdown** here."></textarea>
    <div class="well span12" id="preview" style="display:none;"> </div>
    <br style="clear:both;"/>

    <script>
      new Editor($("#text-input")[0], $("#preview")[0]);
    </script>

    <button type="submit" class="btn btn-primary">Publish</button>
    <a class="btn" onClick="$('#preview').toggle();$('#text-input').toggle()">Preview</a>
    <span>(logged in as <b><%= current_user.username %></b>)</span>
  </form>
  <% else %>
  <p>You must be <a href="/login">logged in</a> to comment.</p>
  <% end %>
</div>
