<div id="c<%= comment.cid %>">

  <div class="navbar navbar-default">

    <div class="navbar-text pull-left visible-xs">&nbsp;&nbsp;</div>

    <div class="navbar-text pull-left">
      <% if comment.author %>
        <% if comment.author.user && comment.author.user.photo_file_name %>
          <img style="width:32px;margin-right:6px;" class="img-circle" src="<%= comment.author.user.photo_path(:thumb) %>" /> 
        <% else %>
          <div style="vertical-align:middle;display:inline-block;height:32px;width:32px;margin-right:6px;background:#ccc;" class="img-circle"></div> 
        <% end %>
        <a href="/profile/<%= comment.author.name %>"><%= comment.author.name %></a>
      <% end %>
      <span class="hidden-xs"><%= t('notes._comment.commented') %></span>
      <a style="color:#aaa;" href="#c<%= comment.cid %>"><%= distance_of_time_in_words(comment.created_at, Time.current, { include_seconds: false, scope: 'datetime.time_ago_in_words' }) %></a>
      <% if comment.author && comment.author.user %>
        <% streak = comment.author.user.streak %>
        <% if streak[0] > 7 %>
          <a href="/wiki/streaks"><i class="fa fa-fire" style="padding-left:4px; font-size:16px; color:#f63;" data-toggle="tooltip" data-placement="top" title="<%= raw t('notes._comment.streak_title', :author => comment.author.name, :streak_notes => streak[1][0], :streak_wiki => streak[1][1], :streak_comments => streak[1][2], :streak_days => streak[0]) %>"></i></a>
        <% end %>
      <% end %>
    </div>

    <div class="navbar-text navbar-right pull-right" style="padding-right:10px;">
      <% if comment.author && comment.author.user && comment.author.user.role %>
      <!-- Role icon for admins & moderators
        <% if comment.author.user.role == 'admin' %>
          <a href="/users/role/admin"><i class="fa fa-cog" style="font-size:20px; margin-top:8px;" data-toggle="tooltip" data-placement="top" title="Admin"></i></a>
        <% elsif comment.author && comment.author.user.role == 'moderator' %>
          <a href="/wiki/moderators"><i class="fa fa-star" style="font-size:20px; margin-top:8px;" data-toggle="tooltip" data-placement="top" title="Moderator"></i></a>
        <% end %>
      -->  
      <% end %>
      <% if current_user && comment.uid == current_user.uid %>
        <a class="btn btn-default btn-sm" href="javascript:void(0)" onClick="$('#c<%= comment.cid %>edit').toggle();$('#c<%= comment.cid %>show').toggle();setInit(<%= comment.cid %>);">
          <i class="fa fa-pencil"></i>
        </a>
      <% end %>

      <% if current_user && (current_user.role == "admin" || current_user.role == "moderator" || comment.uid == current_user.uid || comment.parent.uid == current_user.uid) %>
        <a data-remote="true" data-confirm="<%= t('notes._comment.are_you_sure') %> <% if current_user && comment.uid != current_user.uid %><%= t('notes._comment.please_exercise_caution') %><% end %>" href="/comment/delete/<%= comment.cid %>" class="btn btn-default btn-sm" id="c<%= comment.cid %>delete-btn">
          <i class='icon fa fa-trash'></i>
        </a>
      <% end %>
    </div>

  </div>

  <script>
    // deletion button code:
    $("#c<%= comment.cid %>delete-btn").bind('ajax:success', function(e,response){
      $("#c<%= comment.cid %>").remove()
      $('#comment-count')[0].innerHTML = parseInt($('#comment-count')[0].innerHTML)-1
    })
    $("#c<%= comment.cid %>delete-btn-2").bind('ajax:success', function(e,response){
      $("#c<%= comment.cid %>").remove()
      $('#comment-count')[0].innerHTML = parseInt($('#comment-count')[0].innerHTML)-1
    })
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  
  <div id="c<%= comment.cid %>show">
    <p><%= raw sanitize(auto_link(RDiscount.new(comment.body).to_html)) %></p>
    <% if comment.body.include?('?') %>
      <p class="alert alert-info">Is this a question? <a href="/questions/new?title=<%= comment.body %>">Click here</a> to post it to the <a href="/questions">Questions page</a>.
      </p>
    <% end %>
  </div>

  <% if current_user %>
     <%=  render :partial => "comments/edit", :locals => { title: I18n.t('notes._comment.edit_comment'), comment: comment, placeholder: I18n.t('notes._comment.edit_placeholder') } %>
  <% end %>
  <br />

</div>
