<!-- legacy gallery images -->
<% @node.gallery.each do |image| %>
  <div id="lightbox-<%= image.fid %>" class="lightbox fade"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class='lightbox-dialog'>
      <div class='lightbox-content'>
        <img src="<%= image.image.path(:original) %>" />
        <div class="lightbox-caption"><p><%= image.description %></p></div>
      </div>
    </div>
  </div>

  <a data-toggle="lightbox" data-show="true" data-target="#lightbox-<%= image.fid %>"><img rel="tooltip" data-title="<%= image.description %>" style="margin-bottom:4px;" class="img-rounded" src="<%= image.image.path(:thumb) %>" /></a>
<% end %>
