<% notes = notes || @notes # accept local if present, default to instance %>
<div id="notes">
    <div class="row">
    <% notes.each_with_index do |node,i| %>
      <div class="<% if @widget %>col-xs-3 col-sm-3 <% end %>col-md-3 clearfix dashboard activity note note-nid-<%= node.id %><% if node.status == 4 %> moderated<% end %>" style="overflow:hidden; text-align:center">

        <% if node.main_image %>
          <a class="img" <% if @widget %>target="_blank"<% end %> href="<%= node.path %>"><img src="<%= node.main_image.path(:default) %>" style="width:100%; height: 150px;" /></a>
        <% end %>

        <% if node.status == 4 %>
          <p class="alert alert-warning moderated">
            <% if logged_in_as(['admin','moderator']) %>
              <%= t('notes._notes.moderate_first_time_post') %> <br class="hidden-xs hidden-sm"/>
              <a class="btn btn-default btn-xs" href="/moderate/publish/<%= node.id %>"><%= t('notes._notes.approve') %></a>
              <a class="btn btn-default btn-xs" href="/moderate/spam/<%= node.id %>"><%= t('notes._notes.spam') %></a>
            <% else %>
              <%= raw t('notes._notes.pending_approval', :url1 => '/wiki/moderation') %>
            <% end %>
          </p>
        <% end %>

        <% if node.type == 'note' %>
          <h4><a <% if @widget %>target="_blank"<% end %> href="<%= node.path %>"><%= node.title %></a></h4>
        <% else %>
          <h4><a <% if @widget %>target="_blank"<% end %> href="<%= node.path %>"><%= node.latest.title %></a></h4>
        <% end %>

        <p class="meta"><small>
          <% if node.type == 'note' %>
            by <a <% if @widget %>target="_blank"<% end %> href="/profile/<%= node.author.name %>"><%= node.author.name %></a>
            <%= distance_of_time_in_words(node.created_at, Time.current, false, :scope => :'datetime.time_ago_in_words') %>
            | <a <% if @widget %>target="_blank"<% end %> href="<%= node.path %>#comments"><i style="color:#888;" class="fa fa-comment-o"></i> <%= node.comment_count %></a>
          <% else %>
            <%= t('notes._notes.last_edit_by') %> <a <% if @widget %>target="_blank"<% end %> href="/profile/<%= node.latest.author.name %>"><%= node.latest.author.name %></a>
            <%= distance_of_time_in_words(Time.at(node.latest.timestamp), Time.current, false, :scope => :'datetime.time_ago_in_words') %>
          <% end %>
          | <i class="fa fa-eye"></i> <%= number_with_delimiter(node.totalcount) %> <span class="hidden-xs hidden-sm"><%= t('notes._notes.views') %></span>
          | <i style="<% if node.likes > 0 %>color:#db4;<% else %>color:#888;<% end %>" class="fa fa-star-o"></i> <%= node.likes %>
        </small></p>

        <div class="content">
          <% if @compact.nil? %>
            <% if params[:action] == "tools" %>
              <p><small><a <% if @widget %>target="_blank"<% end %> href="<%= node.path %>#Activity+grid"><i class="fa fa-flask" style="color:green"></i> <%= DrupalNode.activities(node.title).count %> activities</a></small></p>
              <!-- <p><i class="fa fa-users" style="color:blue"></i> contributors</p> -->
              <p><small><a <% if @widget %>target="_blank"<% end %> href="<%= node.path %>#Upgrade+grid"><i class="fa fa-level-up" style="color:red"></i> <%= DrupalNode.upgrades(node.title).count %> upgrades</a></small></p>
            <% else %>
              <p><%= raw strip_tags(sanitize(RDiscount.new(node.body_preview).to_html)) if node.body %></p>
            <% end %>
            <p>
              <% if logged_in_as(['admin','moderator']) %><a class="btn btn-default btn-xs" href="/moderate/spam/<%= node.id %>"><i class="fa fa-ban"></i> <%= t('notes._notes.spam') %></a><% end %>
              <a class="btn btn-default btn-xs" href="<%= node.path %>"><%= t('notes._notes.explore') %></a>
            </p>
          <% end %>
          <% if params[:mod] %>
            <a class="btn btn-default" href="#"><i class="fa fa-ban-circle"></i> <%= t('notes._notes.spam') %></a>
          <% end %>
          <hr style="display:none;" class="bottom" />
        </div>

      </div>
      <% unless @widget %><hr class="visible-xs visible-sm" /><% end %>
    <% if ((i+1)/4.0).to_i == ((i+1)/4.0) %>
    </div>
    <% unless @widget %><hr class="visible-xs visible-sm grid" /><% end %>
    <div class="row">
    <% end %>
    <% end %>
    </div>
</div>
<%= will_paginate notes, :renderer => BootstrapPagination::Rails unless @unpaginated %>
