<div class="container-fluid" id="notes">
    <div class="row">
    <% @notes.each_with_index do |node,i| %>
      <div class="span3 clearfix note" style="overflow:hidden;">
        <% if node.main_image %>
          <a class="visible-phone thumbnail" <% if @widget %>target="_blank"<% end %> style="float:left;width:30%;margin-right:10px;margin-bottom:6px;" href="<%= node.path %>"><img src="<%= node.main_image.path(:default) %>" /></a>
          <a class="hidden-phone thumbnail" <% if @widget %>target="_blank"<% end %> href="<%= node.path %>"><img src="<%= node.main_image.path(:default) %>" /></a>
        <% end %>
        <h4><a <% if @widget %>target="_blank"<% end %> href="<%= node.path %>"><%= node.title %></a></h4>
        <p style="color:#888;"><small>
          by <a <% if @widget %>target="_blank"<% end %> href="/profile/<%= node.author.name %>"><%= node.author.name %></a> 
          | <%= time_ago_in_words(node.created_at) %> ago
          | <a <% if @widget %>target="_blank"<% end %> href="<%= node.path %>#comments"><i style="color:#888;" class="icon icon-comment-alt"></i> <%= node.comment_count %></a>
          | <i class="visible-phone icon icon-eye-open"></i> <%= number_with_delimiter(node.totalcount) %> <span class="hidden-phone">views</span>
          | <i style="color:#888;" class="icon icon-star-empty"></i> <%= node.likes %>
        </small></p>
        <% if @compact.nil? %>
        <p><%= raw strip_tags(sanitize(RDiscount.new(node.body).to_html)).truncate(100) if node.body %></p>
        <p><a href="<%= node.path %>">Read more &raquo;</a></p>
        <p>
          <% if logged_in_as(['admin','moderator']) %><a class="btn btn-mini" href="/moderate/spam/<%= node.id %>"><i class="icon icon-ban-circle"></i> Spam</a><% end %>
          <% if node.tags.length > 1 %>
            <% node.tags[0..3].each do |tag| %>
              <a class="label label-info" href="/tag/<%= tag.name %>"><%= tag.name %></a> 
            <% end %>
          <% end %>
        </p>
        <% end %>
        <% if params[:mod] %>
        <a class="btn btn-mini" href="#"><i class="icon-ban-circle"></i> Spam</a>
        <% end %>
        <hr style="display:none;" class="bottom" />
      </div>
      <hr class="visible-phone" />
    <% if ((i+1)/4.0).to_i == ((i+1)/4.0) %>
    </div>
    <hr class="hidden-phone grid" />
    <div class="row">
    <% end %>
    <% end %>
    </div>
</div>
<%= will_paginate @notes, :renderer => BootstrapPagination::Rails unless @unpaginated %>
