  <div class="row">
  <% nodes.each_with_index do |node,i| %>
    <div class="col-lg-3 clearfix" style="overflow:hidden;">
      <% if node.main_image %>
        <a class="img-thumbnail" href="<%= node.path %>"><img src="<%= node.main_image.path(:default) %>" /></a>
      <% end %>
      <h4><a href="<%= node.path %>"><%= node.title %></a></h4>
      <p style="color:#888;"><small>
        <%= raw translation('notes._tagged_notes.by_author_time_ago', :url1 => "/notes/author/"+node.author.name, :author => node.author.name, :time => time_ago_in_words(node.created_at)) %>
        | <a href="<%= node.path %>#comments"><i style="color:#888;" class="fa fa-comment-alt"></i> <%= node.comments.size %></a>
        | <%= number_with_delimiter(node.views) %> <%= translation('notes._tagged_notes.views') %>
        | <i style="color:#888;" class="fa fa-star-o"></i> <%= node.likes %>
      </small></p>
      <p class="d-xl-none"><%= raw strip_tags(sanitize(RDiscount.new(node.body).to_html)).truncate(150) %></p>
      <p class="d-none d-xl-inline"><small><%= raw (strip_tags(sanitize(RDiscount.new(node.body).to_html)).truncate(150)) %></small></p>
      <p><a href="<%= node.path %>"><%= translation('notes._tagged_notes.read_more') %> &raquo;</a></p>
      <p>
        <% node.tags[0..3].each do |tag| %>
          <a  href="/tag/<%= tag.name %>" class="badge badge-primary"><%= tag.name %></a> 
        <% end %>
      </p>
      <% if params[:mod] %>
      <a class="btn btn-sm" href="#"><i class="fa fa-ban-circle"></i> <%= translation('notes._tagged_notes.spam') %></a>
      <% end %>
    </div>
    <hr class="d-none d-md-inline" />
  <% if ((i+1)/4.0).to_i == ((i+1)/4.0) %>
  </div>
  <hr class="d-none d-md-inline" />
  <div class="row">
  <% end %>
  <% end %>
  </div>
