<% if params[:controller] == "tag" || params[:controller] == "search" %>
  <%= render :partial => "sidebar/related" %>
<% elsif params[:action] == "author" || params[:action] == "author_topic" %>
  <%= render :partial => "sidebar/author" %>
<% else %>
  <%= render :partial => "sidebar/user" %>
<% end %>
<div class="span9">
  <% if params[:controller] == "search" %>
    <h3 style="margin-top:0;">Search results for <i style="color:#aaa;"><%= params[:id] %></i> <small>(<a href="/search/advanced/<%= params[:id] %>">advanced search</a>)</h3>
  <% elsif params[:controller] == "tag" %>
    <h3 style="margin-top:0;">Notes tagged with <i style="color:#aaa;"><%= params[:id] %></i></h3>
  <% elsif params[:action] == "popular" %>
    <h2 style="margin-top:0;">Popular research notes</h2>
  <% elsif params[:action] == "author_topic" %>
    <h3 style="margin-top:0;">Research on "<%= @tagnames.join(', ') %>" by <a href="/people/<%= @user.name %>"><%= @user.name %></a> <br /><small><%= @user.node_count %> research notes and wiki edits starting <%= time_ago_in_words(@user.created_at) %> ago</small></h3>
  <% elsif params[:action] == "author" %>
    <h3 style="margin-top:0;">Research by <a href="/people/<%= @user.name %>"><%= @user.name %></a> <small><%= @user.node_count %> research notes and wiki edits <% if @user.notes.length > 0 %>starting <%= time_ago_in_words(@user.created_at) %> ago<% end %></small></h3>
  <% else %>
    <h2 style="margin-top:0;">Research notes <small class="hidden-phone">ideas & documentation from contributors like you</small></h2>
  <% end %>
  <% if params[:controller] == "notes" && (params[:action] == "popular" || params[:action] == "index" || params[:action] == "liked") %>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li<% if params[:action] == "index" %> class="active"<% end %>><a href="/notes/">Recent</a></li>
          <li<% if params[:action] == "popular" %> class="active"<% end %>><a href="/notes/popular/">Popular</a></li>
          <li<% if params[:action] == "liked" %> class="active"<% end %>><a href="/notes/liked/"><i class="icon icon-star-empty"></i><span class="hidden-phone"> Liked</span></a></li>
  
          <li><a href="/wiki/">Wiki<span class="hidden-phone"> pages</span></a></li>
        </ul>
        <div class="btn-group visible-desktop" style="float:right;" id="#note-format" data-toggle="buttons-radio">
          <a onClick="toggle_format('grid')" id="grid-format" class="btn btn-small active" href="#"><i style="font-size:14px;" class="icon icon-th-large"></i></a>
          <a onClick="toggle_format('list')" id="list-format" class="btn btn-small" href="#"><i style="font-size:14px;" class="icon icon-list"></i></a>
        </div>

        <script>
          (function(){
            toggle_format = function(format) {
              if (format == "grid") {
                $('.note').addClass('span3')
                $('.note .thumbnail').css('width','100%')
                $('.note hr.bottom').hide()
                $('#notes hr.hidden-phone').show()
                $('#notes ._row').addClass('row')
                $('#notes ._row').removeClass('_row')
                $('#notes._container-fluid').addClass('container-fluid')
                $('#notes._container-fluid').removeClass('_container-fluid')
              } else {
                $('.note').removeClass('span3')
                $('.note .thumbnail').css('width','30%')
                $('.note hr.bottom').show()
                $('#notes hr.hidden-phone').hide()
                $('#notes .row').addClass('_row')
                $('#notes .row').removeClass('row')
                $('#notes.container-fluid').addClass('_container-fluid')
                $('#notes.container-fluid').removeClass('container-fluid')
                $('#notes .note').removeClass('row-fluid')
              }
            }
          })()
        </script>

      </div>
    </div>
  <% end %>

  <%= render :partial => "notes/notes" %>

  <hr />
  
</div>
