<script src="/assets/notes.js" type="text/javascript"></script>

<div class="col-lg-9 note-show<% if @node.status == 4 || @node.status == 0 %> moderated<% end %>">
  <% if current_user && @node.tags.size == 0 %><div class="alert alert-warning"><%= raw translation('notes.show.note_no_tags', url: 'javascript: document.getElementById("tags-open").click();') %></div><% end %>  
  <% if @node.has_power_tag('status:candidate') %><div class="alert alert-info">This was marked as a candidate activity -- <a href="https://publiclab.org/notes/warren/09-17-2016/what-makes-a-good-activity" >read about how to adapt its content</a> into a fully-fledged, step-by-step activity that can be easily replicated.</div><% end %>
  <% if @node.has_power_tag('replication') %><div class="alert alert-info"><%= raw translation('notes.show.replication') %> <a href="/n/<%= @node.power_tag('replication') %>"><%= raw translation('notes.show.replication_link') %></a>.</div><% end %>
  <% if @node.has_power_tag('series') %><div class="alert alert-info"><%= raw translation('notes.show.series') %> <a href="/tag/series:<%= @node.power_tag('series') %>"><%= @node.power_tag('series') %></a>.</div><% end %>
  <% if @node.has_power_tag('build') %><div class="alert alert-info"><%= raw translation('notes.show.build') %> <a href="/n/<%= @node.power_tag('build') %>"><%= raw translation('notes.show.build_link') %></a>.</div><% end %>
  <% if @node.has_power_tag('alert') && feature("alert-#{@node.power_tag('alert')}") != "" %>
    <%= feature("alert-#{@node.power_tag('alert')}") %>
  <% end %>
  <% if @node.has_power_tag('with') && current_user && @node.coauthors.collect(&:username).include?(current_user.username) %> <div class="alert alert-success"> You are a coauthor of this post. This attributes your contribution, and gives you edit access to the note. <a href="https://publiclab.org/wiki/power-tags#Coauthorship"> Learn more </a></div><% end %>
  <% if @node.has_power_tag('upgrade') %><div class="alert alert-success"> This is an upgrade for <a href="/<%= @node.power_tag('upgrade') %>"><%= @node.power_tag('upgrade') %></a>. Try building it and <a href="/n/<%= @node.power_tag('upgrade') %>"> report back </a>how it goes.</div><% end %>

  <% if @node.main_image %>
    <a class="main-image" style="max-width:100%;width:800px;" href="<%= @node.main_image.path(:original) %>">
      <%= image_tag(@node.main_image.path(:large), class:"rounded d-none d-lg-inline", style:'max-height:600px;max-width:100%;') %>
      <%= image_tag(@node.main_image.path(:large), class:"rounded d-lg-none", style:'width:100%;') %>
    </a>
    <!--<div class="expand"><a onClick="$('.main-image').toggleClass('compressed');"><i class="fa fa-angle-down"></i></a></div>-->
  <% end %>

  <h1 style="margin-top: 40px;"><%= @node.title %></h1>

  <div>

    <span>
      <% if @node.status == 0 || @node.status == 4 %><span class="badge badge-danger"><%= translation('notes.show.unpublished') %></span> | <% end %>
      <% if @node.status == 3 %><span class="badge badge-success">Draft</span> | <% end %>
      by <a href="/profile/<%= @node.author.name %>"><%= @node.author.name %></a> <%= @node.author.new_contributor %>
      <% if @node.has_power_tag('with') %>with <% @node.coauthors.each_with_index do |coauthor,i| %>
              <a href="/profile/<%= coauthor.username %>">
                <%= coauthor.username%></a> <%= coauthor.new_contributor %>
              <%= ',' if i < @node.coauthors.size-1 %><% end %><% end %>
              <% if current_user && current_user.id == @node.uid %><a aria-label="Add Coauthor" onClick="promptTag('with:')" href="#"><i style="color:#aaa;" class="fa fa-pencil"></i></a><% end %> |

      <span class="d-none d-lg-inline">
        <%= @node.created_at.to_s(:long) %>
      </span>
      <span class="d-xl-none">
        <%= @node.created_at.to_s(:short) %>
      </span>
      <a class="d-lg-none collapse-btn" data-toggle="collapse" href="#collapse-info" role="button" aria-expanded="false" aria-controls="collapse-info" id="collapse-button">...</a>
      <span class="collapse collapse-info" id="collapse-info">
        | <a aria-label="Link to note" href="/n/<%= @node.id %>"><i class="fa fa-link"></i></a> <span class="d-none d-xl-inline"><a href="/n/<%= @node.id %>">#<%= @node.id %></a></span>
      </span>
      <span class="d-none d-lg-inline d-print-none">
        | <a aria-label="Link to note" href="/n/<%= @node.id %>"><i class="fa fa-link"></i></a> <span class="d-none d-xl-inline"><a href="/n/<%= @node.id %>">#<%= @node.id %></a></span>
      </span>
    </span>

  </div>

  <hr style="margin-top:10px;" />

  <% @node.power_tag_objects('barnstar').each do |tag| %>
    <p style="color:#aaa;"><i style="color:#db4;" class="fa fa-large fa fa-star-o"></i> <i><%= raw translation('notes.show.barnstar_awarded_to_by', :url1 => "/profile/"+@node.author.name, :author => @node.author.name, :url2 => "/wiki/barnstars#"+tag.name.split('-').each{|w| w.capitalize!}.join('+'), :barnstar => tag.name.split(':').last.split('-').each{|w| w.capitalize!}.join(' '), :url3 => "/profile/"+tag.author.username, :awarder => tag.author.username) %></i></p>
    <hr />
  <% end %>

  <%= render :partial => "notes/gallery" %>

  <div id="content" class="pl-content note">
  <%= raw auto_link(insert_extras(@node.latest.render_body), :sanitize => false) %>
  </div>

  <% if @node.files && @node.files.size > 0 %>
    <table id="files" class="table">
      <tr>
        <%= raw translation('notes.show.file_table') %>
      </tr>
      <% @node.files.each do |file| %>
        <tr>
          <td><a href="<%= file.path %>"><i style="text-decoration:none;" class="fa fa-file"></i><span style="text-decoration:none;"> </span><%= file.filename %></a></td>
          <td><%= number_to_human_size(file.filesize) %></td>
          <td><%= Time.at(file.timestamp).to_s %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <div class="d-print-none">
    <hr />

    <% if @node.has_power_tag('prompt') && feature("prompt-#{@node.power_tag('prompt')}") != "" %>
      <% if current_user && (current_user.id == @node.uid || current_user.admin? || current_user.moderator? || current_user.is_coauthor?(@node)) %>
        <%= feature("prompt-#{@node.power_tag('prompt')}") %>
      <% end %>
    <% end %>

    <% if @node.has_tag('event:rsvp') %>
      <p><b><% if @node.has_power_tag('date') %>
        <script>
          jQuery(document).ready(function() {
            cal = ics();
            cal.addEvent('<%= @node.latest.title %>', false, false, '<%= @node.power_tag('date') %>', '<%= @node.power_tag('date') %>');
          })
        </script>
        <i class="fa fa-calendar"></i> <%= raw translation('notes.show.event_is_on', :date => @node.power_tag('date')) %> <% end %></b>
        <a class="label" onClick="cal.download()"><%= translation('notes.show.ical') %></a>
      </p><br />
      <p><% if !current_user %><%= raw translation('notes.show.login_to', :url1 => new_user_session_path( return_to: request.path )) %> <% end %><a class="btn-lg btn-primary" href="/rsvp/<%= @node.id %>">RSVP</a>
        <% attendees = @node.power_tags('rsvp').size %>
        <% if attendees > 1 %>
          <%= translation('notes.show.people_will_attend', :count => attendees).html_safe %>
        <% end %>
      <hr />
    <% end %>

    <%= render partial: "notes/responses" %>

    <div><%= render partial: "notes/comments" %></div>

  </div>

</div><!--/span-->

<%= render partial: "sidebar/related" %>

<style>
  .collapse.in {
      display: unset;
  }
  @media (min-width: 1000px){
    .collapse-info {
        display: none !important;
    }
  }
  .collapse-btn{
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.14);
    border-radius: 3px;
  }
</style>
<script>
  $("#collapse-button").click(function(){
      $(this).remove();
  });
  $(function(){
    $("img").lazyload();
  });
</script>
