<%= render :partial => "wiki/related_sidebar" %>
<div class="span9">

  <ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="/research">Research</a> <span class="divider">/</span></li>
    <li><a href="/notes/author/<%= @node.author.name %>"><%= @node.author.name %></a></li>
  </ul>

  <% if @node.main_image %>
    <a href="http://publiclaboratory.org/sites/default/files/<%= @node.main_image.filename %>"><img class="img-rounded span9" src="http://publiclaboratory.org/sites/default/files/imagecache/default/<%= @node.main_image.filename %>" /></a>
    <br />
    <br style="clear:both;" />
  <% end %>

  <div class="btn-toolbar pull-right" style="margin-left:10px;">
    <div class="btn-group">
      <a class="btn btn-small" href="#"><i class="icon-star"></i> Like (16)</a>
      <a class="btn btn-small" href="#"><i class="icon-eye-open"></i> Follow</a>
      <a class="btn btn-small" href="#"><b class="caret"></b></a>
    </div>
  </div>

  <h2 style="clear:left;"><%= @node.title %></h2>

  <div class="">
    <span>
      by <a href="/notes/author/<%= @node.author.name %>"><%= @node.author.name %></a> |
      <%= @node.created_at.to_s(:long) %> | 
    </span>
  </div>
  <!--<li class="pull-right"><%= render :partial => "home/social" %></li>-->
  <hr />

  <p>
  <%= raw RDiscount.new(@node.body).to_html %>
  </p>

  <hr />
  <p>
    <b>Tags:</b>
    <% @node.tags.each do |tag| %><a class="label" href="/tag/<%= tag.name %>"><%= tag.name %></a> <% end %>
  </p>
  
  <div class="input-prepend">
    <span class="add-on"><i class="icon-tags"></i></span>
    <input type="text" class="span6" placeholder="balloon mapping" data-provide="typeahead" data-source="['balloon-mapping','kite-mapping','spectrometry','near-infrared-camera','thermal-flashlight']">
  </div>

  <div>
    <%= render :partial => "notes/comments" %>
  </div>

</div><!--/span-->
