<%= render :partial => "sidebar/related" %>
<div class="span9">

  <% if @node.main_image %>
    <a style="display:block;margin-bottom:10px;" href="<%= @node.main_image.path(:original) %>"><img class="img-rounded" src="<%= @node.main_image.path(:default) %>" /></a>
  <% end %>

  <%= render :partial => "like/like" %>

  <h2 style="clear:left;"><%= @node.title %></h2>

  <div>
    <div class="btn-group pull-right">
      <script>var editing = false;</script>
      <% if @node.prev_by_author %><a class="btn btn-link btn-small" href="/<%= @node.prev_by_author.slug %>">&laquo;</a><script>$(document).keydown(function(e){ if (!editing && e.keyCode == 37) { window.location = "http://"+(window.location+'').split('/')[2]+"/<%= @node.prev_by_author.slug %>" }})</script><% end %>
        <a class="btn btn-small btn-link dropdown-toggle" data-toggle="dropdown">
          <i class="icon icon-cog"></i> 
        </a>
        <ul class="dropdown-menu">
          <li class="disabled"><a href="javascript:void(0)">by author</a></li>
          <% @node.tags.each do |tag| %>
          <li><a href="javascript:void(0)">by tag <b><%= tag.name %></b></a></li>
          <% end %>
        </ul>
      <% if @node.next_by_author %><a class="btn btn-small btn-link" href="/<%= @node.next_by_author.slug %>">&raquo;</a><script>$(document).keydown(function(e){ if (!editing && e.keyCode == 39) { window.location = "http://"+(window.location+'').split('/')[2]+"/<%= @node.next_by_author.slug %>" }})</script><% end %>
    </div>
    <span>
      by <a href="/notes/author/<%= @node.author.name %>"><%= @node.author.name %></a> |
      <span class="hidden-phone">
        <%= @node.created_at.to_s(:long) %> |
        <%= @node.totalcount %> views
        <% if @node.comments %>| <i class="icon icon-comment"></i> <a href="#comments"><%= @node.comments.length %> comments</a><% end %>
      </span>
      <span class="hidden-desktop">
        <%= @node.created_at.to_s(:short) %>
      </span>
    </span>
  </div>
  <hr style="margin-top:10px;" />

  <% @node.gallery.each do |image| %>
    <a href="<%= image.image.path(:original) %>"><img style="margin-bottom:4px;" class="img-rounded" src="<%= image.image.path(:thumb) %>" /></a>
  <% end %>

  <p>
  <%= raw auto_link(RDiscount.new(@node.body).to_html, :sanitize => false) %>
  </p>

  <hr />
    <%= render :partial => "home/social" %>
  <hr />

  <%= render :partial => "tag/tagging" %>

  <div>
    <%= render :partial => "notes/comments" %>
  </div>

</div><!--/span-->
