<%= render :partial => "wiki/related_sidebar" %>
<div class="span9">

  <% if @node.main_image %>
    <a style="display:block;margin-bottom:10px;" href="<%= @node.main_image.path(:original) %>"><img class="img-rounded" src="<%= @node.main_image.path(:default) %>" /></a>
  <% end %>

  <div class="btn-toolbar pull-right" style="margin-left:10px;margin-top:0;">
    <div class="btn-group">
      <a class="btn btn-small" rel="popover" data-content="<%= "No tags" if @tagnames.length == 0 %><% if @tagnames %><% @tagnames.each do |tag| %><a class='label label-inverse'><%= tag %></a> <% end %><% end %><hr /><a class='btn btn-small'><i class='icon-user'></i> <%= @node.author.name %></a>" title="Follow by tag or author" data-placement="bottom"><b class="caret"></b></a>
      <a rel="tooltip" title="Helpful? Awesome?" class="btn btn-small" href="#"><i class="icon-star"></i><span class="hidden-phone"> Like (8)</span></a>
      <a rel="tooltip" title="Updates/comments" id="follow" class="btn btn-small" href="#"><i class="icon-eye-open"></i><span class="hidden-phone"> Follow</span></a>
    </div>
  </div>
  <h2 style="clear:left;"><%= @node.title %></h2>

  <div>
    <div class="btn-group pull-right">
      <script>var editing = false;</script>
      <% if @node.prev_by_author %><a class="btn btn-link btn-small" href="/<%= @node.prev_by_author.slug %>">&laquo;</a><script>$(document).keydown(function(e){ if (!editing && e.keyCode == 37) { window.location = "http://"+(window.location+'').split('/')[2]+"/<%= @node.prev_by_author.slug %>" }})</script><% end %>
        <a class="btn btn-small btn-link dropdown-toggle" data-toggle="dropdown">
          <i class="icon icon-cog"></i> 
        </a>
        <ul class="dropdown-menu">
          <li class="disabled"><a href="javascript:void(0)">by author</a></li>
          <% @node.tags.each do |tag| %>
          <li><a href="javascript:void(0)">by tag <b><%= tag.name %></b></a></li>
          <% end %>
        </ul>
      <% if @node.next_by_author %><a class="btn btn-small btn-link" href="/<%= @node.next_by_author.slug %>">&raquo;</a><script>$(document).keydown(function(e){ if (!editing && e.keyCode == 39) { window.location = "http://"+(window.location+'').split('/')[2]+"/<%= @node.next_by_author.slug %>" }})</script><% end %>
    </div>
    <span>
      by <a href="/notes/author/<%= @node.author.name %>"><%= @node.author.name %></a> |
      <span class="hidden-phone">
        <%= @node.created_at.to_s(:long) %> |
        <%= @node.totalcount %> views
        <% if @node.comments %>| <i class="icon icon-comment"></i> <a href="#comments"><%= @node.comments.length %> comments</a><% end %>
      </span>
      <span class="hidden-desktop">
        <%= @node.created_at.to_s(:short) %>
      </span>
    </span>
  </div>
  <hr style="margin-top:10px;" />

  <% @node.gallery.each do |image| %>
    <a href="<%= image.image.path(:original) %>"><img style="margin-bottom:4px;" class="img-rounded" src="<%= image.image.path(:thumb) %>" /></a>
  <% end %>

  <p>
  <%= raw auto_link(RDiscount.new(@node.body).to_html) %>
  </p>

  <hr />
    <%= render :partial => "home/social" %>
  <hr />

  <p>
    <b>Tags:</b>
    <% @node.tags.each do |tag| %><a class="label label-info" href="/tag/<%= tag.name %>"><%= tag.name %></a> <% end %>
  </p>

  <div class="input-prepend">
    <span class="add-on"><i class="icon-tags"></i></span>
    <input type="text" class="span6" placeholder="balloon mapping" data-provide="typeahead" data-source="['balloon-mapping','kite-mapping','spectrometry','near-infrared-camera','thermal-flashlight']">
  </div>

  <div>
    <%= render :partial => "notes/comments" %>
  </div>

</div><!--/span-->
