<script src="/assets/notes.js" type="text/javascript"></script>

<%= render :partial => "sidebar/related" %>

<div class="col-md-9 note-show<% if @node.status == 4 || @node.status == 0 %> moderated<% end %>">
  <% if current_user && @node.tags.length == 0 %><div class="alert alert-warning"><%= raw t('notes.show.note_no_tags') %></div><% end %>
  <% if @node.has_power_tag('status:candidate') %><div class="alert alert-info">This was marked as a candidate activity -- <a href="https://publiclab.org/notes/warren/09-17-2016/what-makes-a-good-activity" >read about how to adapt its content</a> into a fully-fledged, step-by-step activity that can be easily replicated.</div><% end %>
  <% if @node.has_power_tag('replication') %><div class="alert alert-info"><%= raw t('notes.show.replication') %> <a href="/n/<%= @node.power_tag('replication') %>"><%= raw t('notes.show.replication_link') %></a>.</div><% end %>
  <% if @node.has_power_tag('series') %><div class="alert alert-info"><%= raw t('notes.show.series') %> <a href="/tag/series:<%= @node.power_tag('series') %>"><%= @node.power_tag('series') %></a>.</div><% end %>
  <% if @node.has_power_tag('build') %><div class="alert alert-info"><%= raw t('notes.show.build') %> <a href="/n/<%= @node.power_tag('build') %>"><%= raw t('notes.show.build_link') %></a>.</div><% end %>
  <% if @node.has_power_tag('with') && current_user && @node.coauthors.collect(&:username).include?(current_user.username) %> <div class="alert alert-success"> You are a coauthor of this post. This attributes your contribution, and gives you edit access to the note. <a href="https://publiclab.org/wiki/power-tags#Coauthorship"> Learn more </a></div><% end %>

  <% if @node.main_image %>
    <a class="main-image" style="max-width:100%;width:800px;" href="<%= @node.main_image.path(:original) %>">
      <img style="max-height:600px;" class="img-rounded hidden-xs hidden-sm" src="<%= @node.main_image.path(:large) %>" />
      <img style="width:100%;" class="img-rounded visible-xs visible-sm" src="<%= @node.main_image.path(:large) %>" />
    </a>
    <!--<div class="expand"><a onClick="$('.main-image').toggleClass('compressed');"><i class="fa fa-angle-down"></i></a></div>-->
  <% end %>

  <div style="margin-top:10px;" class="hidden-print">
    <%= render :partial => "like/like", :locals => {:node => @node, :tagnames => @tagnames } %>
  </div>

  <h1 style="margin-top: 40px;"><%= @node.title %></h1>

  <div>

    <span>
      <% if @node.status == 0 || @node.status == 4 %><span class="label label-danger"><%= t('notes.show.unpublished') %></span> | <% end %>
      by <a href="/profile/<%= @node.author.name %>"><%= @node.author.name %></a>
      <% if @node.has_power_tag('with') %>with <% @node.coauthors.each_with_index do |coauthor,i| %>
              <a href="/profile/<%= coauthor.username %>">
                <%= coauthor.username%></a>
              <%= ',' if i < @node.coauthors.length-1 %><% end %><% end %> |

      <span class="hidden-xs hidden-sm">
        <%= @node.created_at.to_s(:long) %>
      </span>
      <span class="hidden-xs hidden-sm hidden-print">
        | <%= number_with_delimiter(@node.totalviews) %> <%= t('notes.show.views') %>
        <% if @node.comments %>
          | <i class="fa fa-comment"></i>
          <a href="#comments"> <%= @node.comments.length %> <%= t('notes.show.comments') %> </a>
        <% end %>
          | <a href="/n/<%= @node.id %>"><i class="fa fa-link"></i></a> <span class="hidden-xs hidden-sm hidden-md"><a href="/n/<%= @node.id %>">/n/<%= @node.id %></a></span>
      </span>
      <span class="hidden-lg">
        <%= @node.created_at.to_s(:short) %>
      </span>
    </span>

  </div>

  <hr style="margin-top:10px;" />

  <% @node.power_tag_objects('barnstar').each do |tag| %>
    <p style="color:#aaa;"><i style="color:#db4;" class="fa fa-large fa fa-star-o"></i> <i><%= raw t('notes.show.barnstar_awarded_to_by', :url1 => "/profile/"+@node.author.name, :author => @node.author.name, :url2 => "/wiki/barnstars#"+tag.name.split('-').each{|w| w.capitalize!}.join('+'), :barnstar => tag.name.split(':').last.split('-').each{|w| w.capitalize!}.join(' '), :url3 => "/profile/"+tag.author.username, :awarder => tag.author.username) %></i></p>
    <hr />
  <% end %>

  <%= render :partial => "notes/gallery" %>

  <div id="content" class="pl-content note">
  <%= raw auto_link(insert_extras(@node.latest.render_body), :sanitize => false) %>
  </div>

  <% if @node.files && @node.files.length > 0 %>
    <table id="files" class="table">
      <tr>
        <%= raw t('notes.show.file_table') %>
      </tr>
      <% @node.files.each do |file| %>
        <tr>
          <td><a href="<%= file.path %>"><i style="text-decoration:none;" class="fa fa-file"></i><span style="text-decoration:none;"> </span><%= file.filename %></a></td>
          <td><%= number_to_human_size(file.filesize) %></td>
          <td><%= Time.at(file.timestamp).to_s %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <div class="hidden-print">
    <hr />

    <% if @node.has_tag('event:rsvp') %>
      <p><b><% if @node.has_power_tag('date') %>
        <script>
          jQuery(document).ready(function() {
            cal = ics();
            cal.addEvent('<%= @node.latest.title %>', false, false, '<%= @node.power_tag('date') %>', '<%= @node.power_tag('date') %>');
          })
        </script>
        <i class="fa fa-calendar"></i> <%= raw t('notes.show.event_is_on', :date => @node.power_tag('date')) %> <% end %></b>
        <a class="label" onClick="cal.download()"><%= t('notes.show.ical') %></a>
      </p><br />
      <p><% if !current_user %><%= raw t('notes.show.login_to', :url1 => new_user_session_path( return_to: request.path )) %> <% end %><a class="btn-lg btn-primary" href="/rsvp/<%= @node.id %>">RSVP</a>
        <% attendees = @node.power_tags('rsvp').length %>
        <% if attendees > 1 %> (<%= raw t('notes.show.people_will_attend', :count => attendees) %>)<% end %>
      <hr />
    <% end %>

    <%= render :partial => "notes/responses" %>

    <%= render :partial => "home/social" %>

    <hr />

    <%= render :partial => "tag/tagging" %>

    <div>
      <%= render :partial => "notes/comments" %>
    </div>
  </div>

</div><!--/span-->
