<div class="col-md-3">

  <h4>About this page</h4>

  <p>Public Lab is built on the contributions of community members, and this website represents our collective open source work.</p>

</div>

<div class="col-md-9" style="margin-bottom:20px;">

  <h2>Contributor statistics</h2>

  <p>Looking back from <i><%= @time.to_formatted_s(:long) %></i>.</p>
  <p>
    Try
    <a href="?time=<%= (@time-1.year).to_formatted_s(:long) %>">one year</a>,
    <a href="?time=<%= (@time-1.month).to_formatted_s(:long) %>">one month</a>, or
    <a href="?time=<%= (@time-1.week).to_formatted_s(:long) %>">one week</a>
    further back.
  </p>

  <hr />

  <h4>
    <a href="/research"><%= @weekly_notes %> notes</a>
    and <a href="/wiki"><%= @weekly_wikis %> wiki edits</a> posted in the past week.
    <b><%= @weekly_members %> people</b> joined in the past week.
  </h4>

  <hr />

  <h4>
    <a href="/research"><%= @monthly_notes %> notes</a>
    and <a href="/wiki"><%= @monthly_wikis %> wiki edits</a> posted in the past month.
    <b><%= @monthly_members %> people</b> joined in the past month.
  </h4>


  <hr />


  <h4><%= @all_notes %> research notes have been posted by <%= @all_contributors %> contributors since <%= time_ago_in_words(DrupalNode.find(:first, :conditions => {:type => 'note', :status => 1}).created_at) %> ago</h4>
  <p><%= @notes_per_week_past_year.round(2) %> notes per week over the past year.</p>

  <p><i>Note posting for the past 52 weeks:</i></p>

  <div id="notes" style="height:100px;"></div>

  <hr />

  <h4><%= DrupalNode.count(:all, :conditions => {:type => 'page', :status => 1}) %> wiki pages have been posted, total</h4>

  <p><i>Wiki page posting for the past 52 weeks:</i></p>

  <div id="wikis" style="height:100px;"></div>

  <hr />

  <h4><%= DrupalComment.count %> comments have been posted, total</h4>

  <p><i>Comments posted for the past 52 weeks:</i></p>

  <div id="comments" style="height:100px;"></div>

  <hr />

  <h4><%= DrupalNodeRevision.count(:all) %> wiki page edits have been made, total</h4>
  <p><%= @edits_per_week_past_year.round(2) %> edits per week over the past year.</p>

</div>

<script type="text/javascript">
  (function () {

    flotoptions_minimal = {
      yaxis: { show: true },
      xaxis: { show: true },
      grid: {
        borderWidth: 0,
        //backgroundColor: "#222",
        //color: "#444",
        markers: []
      }
      // Palette "i eat the rainbow" by svartedauden on Colourlovers: http://www.colourlovers.com/palette/1630898/i_eat_the_rainbow, CC-BY-NC
      //colors: [ "#E02130", "#FAB243", "#429867", "#2B5166" ]//, "#482344" ]
    }

    var notes = <%= @graph_notes %>
    var wikis = <%= @graph_wikis %>
    var comments = <%= @graph_comments %>

    $.plot($("#notes"), [
      {
          data: notes,
          bars: { show: true,
                  lineWidth: 0,
                  fillColor: "#08f",
                  barWidth: 0.5
                }
      }
    ],flotoptions_minimal)

    $.plot($("#wikis"), [
      {
          data: wikis,
          bars: { show: true,
                  lineWidth: 0,
                  fillColor: "#80f",
                  barWidth: 0.5
                }
      }
    ],flotoptions_minimal)

    $.plot($("#comments"), [
      {
          data: comments,
          bars: { show: true,
                  lineWidth: 0,
                  fillColor: "#80f",
                  barWidth: 0.5
                }
      }
    ],flotoptions_minimal)

  })()
</script>
