<div class="span3">

  <h4>About this page</h4>

  <p>Public Lab is built on the contributions of community members, and this website represents our collective open source work.</p>

</div>

<div class="span9" style="margin-bottom:20px;">

  <h2>Contributor statistics</h2>

  <% 
    users = []
    nids = []
    DrupalNode.find(:all, :conditions => {:type => 'note', :status => 1}).each do |note|
      unless note.uid == 674 || note.uid == 671
        users << note.uid
        nids << note.nid
      end
    end
  %>

  <h4><%= nids.uniq.length %> research notes have been posted by <%= users.uniq.length %> contributors since <%= time_ago_in_words(DrupalNode.find(:first, :conditions => {:type => 'note', :status => 1}).created_at) %> ago</h4>

  <h4><%= DrupalNode.count(:all, :conditions => {:type => 'page', :status => 1}) %> wiki pages have been posted</h4>

  <h4><%= DrupalNodeRevision.count(:all) %> wiki page edits have been made</h4>

</div>
