<% if params[:action] == "places" %>
</div>

<div style="width:100%;margin-left:0;height:300px;" id="map"></div>

<script>
  var map = L.map('map').setView([22,0], 2);
  L.tileLayer("https://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/{z}/{x}/{y}.png",{
    attribution: "<a href='http://openstreetmap.org'>OSM</a> tiles by <a href='http://mapbox.com'>MapBox</a>",
  }).addTo(map)

  <% @notes.each do |place| %>
    <% if place.tagged_lat && place.tagged_lon %>L.marker([<%= place.tagged_lat %>, <%= place.tagged_lon %>]).addTo(map).bindPopup("<a href='<%= place.path %>'><%= place.latest.title %></a>");<% end %>
  <% end %>
</script>

<br />
<div class="row">
<% end %>

<div class="col-md-12">

  <% if params[:action] == 'tools' %>
    <div style="text-align:center;">
      <h1 style="font-size:3.4em;margin-top:40px;"><%= raw t('notes.tools_places.tools_and_techniques') %></h1>
      <h4 style="color:#888;"><%= raw t('notes.tools_places.subtitle') %></h4>
      <p><i>Public Lab's community collaboratively develops many different techniques and methods for DIY environmental monitoring. Browse many of them here and learn how to get involved.</i></p>
    </div>
  <% else %>
    <h2><%= t('notes.tools_places.public_lab_chapters') %> <small><%= raw t('notes.tools_places.start_a_chapter', :url1 => "/wiki/start-a-chapter") %></small></h2>
  <% end %>
  <hr />
  <% if params[:controller] == "notes" && (params[:action] == "popular" || params[:action] == "index" || params[:action] == "liked") %>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li<% if params[:action] == "tools" %> class="active"<% end %>><a href="/tools/"><i class="fa fa-wrench"></i> <%= t('notes.tools_places.tools') %></a></li>
          <li<% if params[:action] == "places" %> class="active"<% end %>><a href="/places/"><i class="fa fa-flag"></i> <%= t('notes.tools_places.places') %></a></li>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render :partial => "notes/notes" %>

  <hr />

</div>
