<% if params[:action] == "places" %>
</div>

<div style="width:100%;margin-left:0;height:300px;" id="map"></div>

<script>
  var map = L.map('map').setView([22,0], 2);
  L.tileLayer("https://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/{z}/{x}/{y}.png",{
    attribution: "<a href='http://openstreetmap.org'>OSM</a> tiles by <a href='http://mapbox.com'>MapBox</a>",
  }).addTo(map)

  <% @notes.each do |place| %>
    <% if place.tagged_lat && place.tagged_lon %>L.marker([<%= place.tagged_lat %>, <%= place.tagged_lon %>]).addTo(map).bindPopup("<a href='<%= place.path %>'><%= place.latest.title %></a>");<% end %>
  <% end %>
</script>

<br />
<div class="row-fluid">
<% end %>

<%= render :partial => "sidebar/featured" %>
<div class="span9">

  <%= render :partial => "notes/format_toggle" %>

  <% if params[:action] == 'tools' %>
  <h2 style="margin-top:0;">Tools &amp; techniques <small>developed by Public Lab contributors</small></h2>
  <% else %>
  <h2>Public Lab chapters <small>local groups and gatherings around the world | <a href="/wiki/start-a-chapter">Start a chapter &raquo;</a></small></h2>
  <% end %>
  <hr />
  <% if params[:controller] == "notes" && (params[:action] == "popular" || params[:action] == "index" || params[:action] == "liked") %>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li<% if params[:action] == "tools" %> class="active"<% end %>><a href="/tools/"><i class="icon icon-wrench"></i> Tools</a></li>
          <li<% if params[:action] == "places" %> class="active"<% end %>><a href="/places/"><i class="icon icon-flag"></i> Places</a></li>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render :partial => "notes/notes" %>

  <hr />
  
</div>
