<script>
$(document).ready(function () {
  var table = table_main("#comment_table");
  var pageselect_val = localStorage.getItem('page-select') || '';
  $("#pageselect").val(pageselect_val);
	$('#pageselect').change(function () {
		pagination("#pageselect", "/spam2/comments/filter/");
	});
	$('#reset').on('click', function () { // reset filter
		search_table("all", "/spam2/comments/filter/");
	});
	$('#spammed').on('click', function () { //spam filter 
		search_table("spammed", "/spam2/comments/filter/");
	});
	$('#flagged').on('click', function () { // flagged filter
		search_table("flagged", "/spam2/comments/filter/");
	});
	$('#unmoderated').on('click', function () { // unmoderated filter
		search_table("unmoderated", "/spam2/comments/filter/");
	});
});
</script>
<div class="card" id="table-card">
  <div class="bg-light  navbar navbar-expand">
      <ul class="nav navbar-expand  navbar-nav-scroll">
      <li class="nav-item">
        <a class="btn nav-link text-dark" data-toggle="tooltip" data-placement="top" title="Selected per page">Selected <span id="select-count" class="badge badge-dark">0</span></a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link font-weight-bold <% if params[:type] == "all" %> badge text-light badge-dark mt-2 py-2 <% else %> text-dark <% end %>" id="reset">All</a>
      </li>
      <li class="nav-item">
        <a id="spammed" class="btn nav-link  <% if params[:type] == "spammed" %> badge text-light badge-dark mt-2 py-2 <% else %> text-dark <% end %>">Spammed </a>
      </li>
      <li class="nav-item">
        <a id="unmoderated" class="btn nav-link  <% if params[:type] == "unmoderated" %> badge text-light badge-dark mt-2 py-2 <% else %> text-dark <% end %>">Unmoderated </a>
      </li>
      <li class="nav-item">
        <a id="flagged" class="btn nav-link  <% if params[:type] == "flagged" %> badge text-light badge-dark mt-2 py-2 <% else %> text-dark <% end %>">Flagged </a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link text-info font-weight-bold">Nodes per page </a>
      </li>
      <li class="nav-item pt-1">
      <select name="Visible" id="pageselect" class="custom-select custom-select-sm form-control form-control-sm" data-toggle="tooltip" data-placement="top" title="Select item per page">
      <option value="30">30</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="150">150</option>
      </select> 
      </li>
      <li class="nav-item">
       <a class="btn nav-link text-dark" data-toggle="tooltip" data-placement="top" title="item Displayed"><%= page_entries_info(@comments) %></a>
     </li>
    </ul>

  </div>
  <div class="card-body" style="overflow-x:hidden;" >
    <table  id="comment_table" class="nowrap table table-hover" style="width:100%; text-align:left">
      <thead style="text-align:left;">
        <tr>
          <th><input type="checkbox"  id="selectall" /></th>
          <th>Node</th>
          <th>Content</th>
          <th>Author</th>
          <th>Date</th>
          <th>Action</th>                                
        </tr>       
      </thead>
      <tbody> 
        <% @comments.each do |comment| %>
          <tr id="n<%= comment.id %>">
            <td><input  class="selectedId" value="<%= comment.id %>" type="checkbox" /></td>
            <td>
              <% unless comment.node.nil? %>
                <i class="fa fa-<% if comment.flag == 0%>file text-secondary<% elsif comment.flag >10%>flag text-danger<% else %>flag text-dark<% end %>"></i> <a href="<%= comment.node.path %>" id="node-hover" class="text-dark font-weight-bold" data-toggle="modal" data-target="#ninfo<%= comment.id %>"><%= comment.node.title.truncate(15) %></a>
              <% end %>            
              </td>
            <td style="width:200px;" class="text-secondary font-italic">
              <%= comment.body.truncate(20) %>
            </td>
            <td>
              <a href="/profile/<%= comment.author&.name %>" class="text-info"><%= comment.author&.name %></a> <span class="badge badge-pill badge-<% if comment.status == 1 %>success<% elsif comment.status == 0 %>danger<% elsif comment.status == 4 %>secondary<% end %>"> <% if comment.status == 1 %>Published<% elsif comment.status == 0 %>Spammed<% elsif comment.status == 4 %>Unmoderated<% end %></span> <% if comment.flag > 0%><span class="badge badge-pill badge-dark"> <%=  comment.flag %></span><% end %>
            </td>
            <td>
              <% unless comment.node.nil? %>
                <span class="text-secondary"><%= time_ago_in_words(comment.created_at) %> ago</span>
              <% end %>
            </td>
            <td style="height:35px !important;">
               <a class="badge btn badge<% if comment.status != 1 %>-success<% else %>-secondary disabled<% end %> publish" data-remote="true" href="/admin/publish_comment/<%= comment.id %>" ><i class="fa fa-check-circle fa-white"></i> Publish</a>
               <a class="badge btn badge<% if comment.status != 0 %>-danger<% else %>-secondary disabled<% end %> spam" data-remote="true" href="/admin/mark_comment_spam/<%= comment.id %>"><i class="fa fa-ban fa-white"></i> Spam</a> 
               <a class="badge badge-secondary ban a<%= comment.author.id %>" <% if comment.author.status == 0 %>style="display:none;"<% end %> data-remote="true" href="/ban/<%= comment.author.id %>">Ban user</a>
               <a class="badge badge-secondary unban a-unban<%= comment.author.id %>" <% if comment.author.status == 1 %>style="display:none;"<% end %> data-remote="true" href="/unban/<%= comment.author.id %>">Unban user</a>
               <a class="badge btn text-white unflag badge-<% if comment.flag > 0%>warning <% else %>secondary disabled<% end %>" data-remote="true" href="/moderate/remove_flag_comment/<%= comment.id %>"><i class="fa fa-flag fa-white"></i> Unflag</a>
               <%= link_to "/comment/delete/#{comment.cid}", data: { confirm: "Are you sure you want to delete this comment?" }, :remote => true, :class => "px-3 delete" do %>
                  <i class="fa fa-trash text-dark"></i>
                <% end %>
                <script>
                $('#n<%= comment.id %> .delete').bind('ajax:success', function(e){
                  $('#n<%= comment.id %>').fadeOut()
                  $('#deleted').fadeIn();
                  $('#deleted').fadeOut(3000);
                });
                $('#n<%= comment.id %> .publish').bind('ajax:success', function(e){
                  $('#n<%= comment.id %>').hide()
                  $('#npublish').fadeIn(); // published!
                  $('#npublish').fadeOut(3000);
                });
                $('#n<%= comment.id %> .spam').bind('ajax:success', function(e){
                  $('#n<%= comment.id %>').hide()
                  $('#nspam').fadeIn(); // spammed!
                  $('#nspam').fadeOut(3000);
                });
                $('#n<%= comment.id %> .unflag').bind('ajax:success', function(e){
                  $('#n<%= comment.id %>').hide()
                  $('#nuflag').fadeIn(); // unflag!
                  $('#nunflag').fadeOut(3000);
                });  
                  $('.a<%= comment.author.id %>.ban').bind('ajax:success', function(e){
                  $('.a<%= comment.author.id %>').hide()  // ban toggle
                  $('.a-unban<%= comment.author.id %>').show()
                });
                $('.a-unban<%= comment.author.id %>.unban').bind('ajax:success', function(e){
                  $('.a-unban<%= comment.author.id %>').hide()
                  $('.a<%= comment.author.id %>').show()
                });
                </script>
            </td>
          </tr>
            <div class="modal fade" id="ninfo<%= comment.id %>"> 
            <div class="modal-dialog" >
              <% unless comment.node.nil? %>
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><a href="<%= comment.node.path %>"><%= comment.node.title %></a></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= comment.body %>
                </div>
                <div class="modal-footer">
                  <%= time_ago_in_words(comment.timestamp.seconds.ago) %> ago
                </div>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </tbody>
    </table>                       
  </div>
</div>
<div class="page-table">
  <div class="float-right">
    <%= will_paginate @comments, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer unless @unpaginated || @comments.empty?%>
  </div>
  <div class="float-left">
    Batch <%= @comments.current_page%> of <%= @comments.total_pages %> total Batches
  </div>
</div>
