<script>
$(document).ready(function() {
$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
});
$(".collapsed").click(function() {
        $("#wrapper").toggleClass("active");
});
});
</script>
<%= stylesheet_link_tag "spam2" %>


<nav class="navbar navbar-expand navbar-light nav_top bg-light">
  <div class="navbar-expand navbar-nav-scroll" >
   <ul class=" navbar-nav"> 
  <li class="nav-item">
  <a class="btn btn-outline-light" id="menu-toggle" href="#"><i class="fa fa-bars"></i></a>
  </li>
  <li class="nav-item">
  <a class="text-primary navbar-brand nav-link" href="#">
    <% if params[:type] == "wiki" %>
      Spam2 / <b>Wiki</b>                                                                                                                                                                                                                                                                                                                                                                                                        
    <% elsif params[:action] == "_spam_revisions"%>
      Spam2 / <b>Revisions</b>
    <% elsif params[:action] == "_spam_comments"%>
      Spam2 / <b>Comments</b>
    <% else %>
      <b>Spam2 /</b>
    <% end %>
  </a>
  </li>
</ul>
</div>
  <div class="navbar-expand navbar-nav-scroll">
<ul class=" navbar-nav"> 
<% if params[:action] != "_spam_revisions" && params[:action] != "_spam_comments" %>
<li class="nav-item">
  <a class="nav-link text-dark" href="#" id="batch-spam">Spam</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark" href="#" id="batch-publish">Publish</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark" href="#" id="delete-batch">Delete</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark" href="#" id="all">Select</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark" href="#" id="batch-ban">Ban</a>
</li>
<% end %>
</ul>    
    </div>
</nav>




<div id="wrapper" >
    <nav class="sidenav" id="sidebar-wrapper">
        <div class="sidenav-menu">
            <div class="nav">
                <div class="sidenav-menu-heading">Menu
                </div>
                <a class="nav-link collapsed" style="color:grey;">
                <div class="nav-link-icon"><i class="fa fa-tachometer"></i></div>
                Dashboard
                </a>
                <div class="sidenav-menu-heading">Spam Moderation
                </div>
                <a class="nav-link collapsed <% unless params[:type] && params[:action] == "_spam_revisions" %> active <% end %>" href="/spam2">
                    <div class="nav-link-icon <% unless params[:type] && params[:action] == "_spam_revisions" %> active <% end %>"><i class="fa fa-address-book"></i></div>
                    Bulk Moderation
                </a>
                <a class="nav-link collapsed <% if params[:type] == "wiki" %> active <% end %>" href="/spam2/wiki" >
                    <div class="nav-link-icon <% if params[:type] == "wiki" %> active <% end %>"><i class="fa fa-book"></i></div>
                    Wiki
                </a> 
                <a class="nav-link collapsed <% if params[:action] == "_spam_revisions" %> active <% end %>" href="/spam2/revisions" >
                    <div class="nav-link-icon <% if params[:action] == "_spam_revisions" %> active <% end %>"><i class="fa fa-list"></i></div>
                    Revisions 
                </a>         
                <a class="nav-link collapsed <% if params[:action] == "_spam_comments" %> active <% end %>" href="/spam2/comments" >
                    <div class="nav-link-icon <% if params[:action] == "_spam_comments" %> active <% end %>"><i class="fa fa-comment"></i></div>
                    Comments
                </a>        
                  <a class="nav-link collapsed" href="/people" >
                    <div class="nav-link-icon"><i class="fa fa-user"></i></div>
                    Active Users 
                </a>  
            </div>
        </div>   
    </nav>
    <div id="page-content-wrapper">
      <div class="card text-center" id="card-top">
        <div class="card-header">
        </div>
        <div class="card-body">
        <h5 class="card-title">Moderate Potential Spam</h5>
        <p class="card-text">Moderators and admins have the ability to "spam" posts if they include inappropriate content, blatant advertising, or are otherwise problematic. If you're not sure, email <a href="mailto:organizers@<%= request.host %>">moderators@<%= request.host %></a>. If we all work together, we can keep spam to a minimum. Thanks for helping out!</p>
        </div>
      </div>
        <%= render partial: 'spam2/nodes' if @nodes %>
        <%= render partial: 'spam2/revisions' if @revisions %>
        <%= render partial: 'spam2/comments' if @comments %>
    </div>
</div>