<div id="edit-comment-form-wrapper-<%= comment.id %>" class="card card-body bg-light comment-form-wrapper" style="display: none;">
  <form 
    method="post" 
    id="comment-form-edit-<%= comment.id %>" 
    style="display: none;" 
    class="well" 
    <% if comment.is_a?Answer %>
      action= "/answers/update/<%= comment.id %>" 
    <% else %>
      action="/comment/update/<%= comment.id %>"
    <% end %>
  >
    <h4 style="margin-top:0;"><%= title %></h4>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <style>
      .imagebar {width:100%;}
    </style>
    <!-- toolbar needs location & comment_id to make unique element IDs -->
    <%= render :partial => "editor/toolbar", :locals => { :comment_id => comment.id.to_s, :location => :edit } %>
    <div id="c<%= comment.id%>div" class="form-group dropzone" data-form-id="edit-<%= comment.id %>">
      <textarea 
        aria-label="Edit Comment" 
        onFocus="editing=true" 
        name="body" 
        class="form-control" 
        id="text-input-edit-<%= comment.id%>" 
        rows="6" 
        cols="40" 
        placeholder="<%= placeholder %>"
      ><%= !(comment.is_a?Answer) ? comment.comment : comment.content %></textarea>
      <div class="imagebar">
        <div 
          id="image-upload-progress-container-edit<%= comment.id %>" style="display: none;" 
          class="progress progress-bar-container active pull-right"
        >
          <div 
            id="image-upload-progress-bar-edit<%= comment.id %>" 
            class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%;"
          >
          </div>
        </div>
        <p>
        <span id="c<%= comment.id%>uploading" class="uploading uploading-text" style="display:none;">
          <%= translation('comments._edit.uploading') %>
        </span>
        <span id="dropzone-choose-one-edit-<%= comment.id%>" class="prompt choose-one-prompt-text dropzone">
          <span style="padding-right:4px;float:left;" class="hidden-xs">
            <%= raw translation('comments._edit.drag_and_drop') %>
          </span>
          <label id="c<%= comment.id%>input_label" for="fileinput-choose-one-edit-<%= comment.id%>">
            <input id="fileinput-choose-one-edit-<%= comment.id%>" type="file" name="image[photo]" style="display:none;" />
            <a class="hidden-xs"><%= translation('comments._edit.choose_one') %></a>
            <span class="visible-xs">
              <i class="fa fa-upload"></i>
              <a><%= translation('comments._edit.upload_image') %></a>
            </span>
          </label>
        </span>
        </p>
      </div>
    </div>
    <div class="comment-preview well col-md-11" id="comment-preview-edit-<%= comment.id %>" style="background: white; display: none">
    </div>
    <div class="control-group">
      <button type="submit" class="btn btn-primary"><%= translation('comments._edit.publish') %></button>
        <a 
          class="btn btn-default preview-btn" 
          id="toggle-preview-button-edit-<%= comment.id %>"  
          data-previewing-text="Hide Preview" 
          onClick="
            $E.setState('edit-<%= comment.id %>');
            $E.toggle_preview();
          "
        >
          Preview
        </a>
      <a 
        class="btn btn-default" 
        onClick="
          $('#edit-comment-form-wrapper-<%= comment.id %>').toggle();
          $('#c<%= comment.id %>show').toggle();
          $('#<%= comment.id %>-like-emojis').toggle();
          $('#comment-form-edit-<%= comment.id %>').toggle()
        "
      >
        Cancel
      </a>
      <span class="form-grey"> &nbsp;
        <br class="visible-xs" /><%= raw translation('comments._edit.logged_in', :username => current_user.username) %> |
        <a target="_blank" href="/wiki/authoring-help#Formatting"><%= translation('comments._edit.formatting') %></a> |
        <a onClick="$('#who-is-notified').toggle()"><%= translation('comments._edit.notifications') %></a>
      </span>
    </div>

    <p id="who-is-notified" style="display:none;color:#888;">
      <%= translation('comments._edit.email_notifications') %>
    </p>
  </form>
</div>