<form id="c<%= comment.id %>edit" style="display:none;" class="well" <% if params[:controller] == 'questions' || params[:controller] == 'answers' %> action= "/answers/update/<%= comment.id %>" <% else %> action="/comment/update/<%= comment.id %>" <% end %>>

  <h4 style="margin-top:0;"><%= title %></h4>

  <style>
    #imagebar {width:100%;}
  </style>

  <% if params[:controller] == 'questions' %>
    <%= render :partial => "editor/toolbar" %>
  <% end %>

  <div id="c<%= comment.id%>div" class="form-group">
    <textarea onFocus="editing=true" name="body" class="form-control" id="c<%= comment.id%>text" rows="6" cols="40" placeholder="<%= placeholder %>"><%= (params[:controller] == 'questions' || params[:controller] == 'answers')? comment.content : comment.comment %></textarea>

    <div id="imagebar">
      <div id="c<%= comment.id%>progress" style="display:none;" class="progress progress-striped active pull-right">
        <div id="c<%= comment.id%>progress-bar" class="progress-bar" style="width: 0%;"></div>
      </div>

      <p>
        <span id="c<%= comment.id%>uploading" class="uploading" style="display:none;">
          <%= t('comments._edit.uploading') %>
        </span>
        <span id="c<%= comment.id%>prompt" class="prompt">

          <span style="padding-right:4px;float:left;" class="hidden-xs">
            <%= raw t('comments._edit.drag_and_drop') %>
          </span>

            <label id="c<%= comment.id%>input_label" for="c<%= comment.id%>input">
            <input id="c<%= comment.id%>input" type="file" name="image[photo]" style="display:none;" />
            <a class="hidden-xs"><%= t('comments._edit.choose_one') %></a>
            <span class="visible-xs">
              <i class="fa fa-upload"></i> 
              <a><%= t('comments._edit.upload_image') %></a>
            </span>
          </label> 

        </span>
      </p>

    </div>
  </div>

  <script type="application/javascript">
    jQuery(document).ready(function() {
      $E.initialize();
    });

    function setInit(id) {
       var args = {
         'textarea': 'c'+id+'text',
         'preview': 'c'+id+'preview'
       }
       $E.initialize(args);
    }

    $('#c<%= comment.id%>div').bind('dragover',function(e) {
      e.preventDefault();
      $('#c<%= comment.id%>div').addClass('hover');
    });

    $('#c<%= comment.id%>div').bind('dragout',function(e) {
      $('#c<%= comment.id%>div').removeClass('hover');
    });

    $('#c<%= comment.id%>div').bind('drop',function(e) {
      e.preventDefault();
      setInit(<%= comment.id %>);
    });

    $('#c<%= comment.id%>div').fileupload({
      url: "/images",
      paramName: "image[photo]",
      dropZone: $('#c<%= comment.id%>div'),
      dataType: 'json',
      formData: {
        'uid':<%= current_user.uid %>,
        'nid':<%= comment.uid %>
      },
      start: function(e) {
        $('#c<%= comment.id%>progress').show()
        $('#c<%= comment.id%>uploading').show()
        $('#c<%= comment.id%>prompt').hide()
        $('#c<%= comment.id%>div').removeClass('hover');
      },
      done: function (e, data) {
        $('#c<%= comment.id%>progress').hide()
        $('#c<%= comment.id%>uploading').hide()
        $('#c<%= comment.id%>prompt').show()
        var is_image = false
        if (data.result['filename'].substr(-3,3) == "jpg") is_image = true
        if (data.result['filename'].substr(-4,4) == "jpeg") is_image = true
        if (data.result['filename'].substr(-3,3) == "png") is_image = true
        if (data.result['filename'].substr(-3,3) == "gif") is_image = true
        if (data.result['filename'].substr(-3,3) == "JPG") is_image = true
        if (data.result['filename'].substr(-4,4) == "JPEG") is_image = true
        if (data.result['filename'].substr(-3,3) == "PNG") is_image = true
        if (data.result['filename'].substr(-3,3) == "GIF") is_image = true

        if (is_image) {
          image_url = data.result.url.split('?')[0];
          orig_image_url = image_url.replace('medium','original');
          $E.wrap('[![',']('+image_url+')]('+orig_image_url+')', {'newline': true, 'fallback': data.result['filename']});
        } else {
          $E.wrap('<a href="'+data.result.url.split('?')[0]+'"><i class="fa fa-file"></i> ','</a>', {'newline': true, 'fallback': data.result['filename']});
        }

        if ($('#node_images').val() && $('#node_images').val().split(',').length > 1) $('#node_images').val([$('#node_images').val(),data.result.id].join(','));
        else $('#node_images').val(data.result.id)
      },

      fileuploadfail: function(e,data) {},
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#c<%= comment.id%>progress #c<%= comment.id%>progress-bar').css(
            'width',
            progress + '%'
        );
      }
    });
  </script>

  <div class="well col-md-11" id="c<%= comment.id %>preview" style="background:white;display: none">
  </div>

  <div class="control-group">
    <button type="submit" class="btn btn-primary"><%= t('comments._edit.publish') %></button>
      <a class="btn btn-default preview-btn" onClick="$('#c<%= comment.id %>preview').toggle();
          $('#c<%= comment.id %>text').toggle();
          $('#c<%= comment.id %>edit .preview-btn').button('toggle');
          $E.generate_preview('c<%= comment.id %>preview',$('#c<%= comment.id %>text').val())">
        Preview
      </a>
      <a class="btn btn-default" onClick="$('#c<%= comment.id %>show').toggle();$('#c<%= comment.id %>edit').toggle()">
        Cancel
      </a>

    <span style="color:#888;"> &nbsp; 
      <br class="visible-xs" /><%= raw t('comments._edit.logged_in', :username => current_user.username) %> |
      <a target="_blank" href="/wiki/authoring-help#Formatting"><%= t('comments._edit.formatting') %></a> | 
      <a onClick="$('#who-is-notified').toggle()"><%= t('comments._edit.notifications') %></a>
    </span>
  </div>

  <p id="who-is-notified" style="display:none;color:#888;">
    <%= t('comments._edit.email_notifications') %>
  </p>
</form>


