<form id="comment-form" data-remote="true" class="well" <% if params[:controller] == 'questions' %> action= "/answers/create/<%= @node.nid %>" <% else %> action="/comment/create/<%= @node.nid %>" <% end %>>
  <h4 style="margin-top:0;"><%= title %></h4>

  <style>
    #imagebar {
      width:100%;
    }
  </style>

  <% if params[:controller] == 'questions' %>
    <%= render :partial => "editor/toolbar" %>
  <% end %>

  <div class="form-group dropzone">
    <textarea onFocus="editing=true" name="body" class="form-control" id="text-input" rows="6" cols="40" placeholder="<%= placeholder %>"></textarea>

    <div id="imagebar">

      <div id="create_progress" style="display:none;" class="progress progress-striped active pull-right">
        <div id="create_progress-bar" class="progress-bar" style="width: 0%;"></div>
      </div>

      <p>
        <span id="create_uploading" class="uploading" style="display:none;">
          <%= t('comments._form.uploading') %>
        </span>
        <span id="create_prompt" class="prompt">

          <span style="padding-right:4px;float:left;" class="hidden-xs">
            <%= raw t('comments._form.drag_and_drop') %>
          </span>

          <!-- http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button -->
          <label id="input_label" class="" for="fileinput">
            <input id="fileinput" type="file" name="image[photo]" style="display:none;" />
            <a class="hidden-xs">choose one</a>
            <span class="visible-xs">
              <i class="fa fa-upload"></i> 
              <a><%= t('comments._form.upload_image') %></a>
            </span>
          </label> 

        </span>
      </p>

    </div>
  </div>

  <div class="well col-md-11" id="preview" style="background:white;display: none">
  </div>

  <script>
    jQuery(document).ready(function() {
      $E.initialize();
    });

    $D = {
      uid: <%= current_user.uid %>,
      type: 'comment'
    }
      $('#input_label').click(function(e){
        $E.initialize({});
    });
  </script>

  <%= javascript_include_tag "dragdrop" %>
  <script>    
    $('#comment-form').bind('ajax:beforeSend', function(event){      
      $("#text-input").prop('disabled',true)
      $("#comment-form .btn-primary").button('loading',true);      
    });

    $('#comment-form').bind('ajax:success', function(e, data, status, xhr){      
      $('#text-input').prop('disabled',false);      
      $('#text-input').val('');      
      $('#comments-container').append(xhr.responseText);      
      $('#comment-count')[0].innerHTML = parseInt($('#comment-count')[0].innerHTML)+1;
      $("#comment-form .btn-primary").button('reset');      
      $('#preview').hide();      
      $('#text-input').show();      
      $('#preview-btn').button('toggle');      
    })

    $('#comment-form').bind('ajax:error', function(e,response){      
      $('#comment-form .control-group').addClass('has-error')
      $('#comment-form .control-group .help-block ').remove()
      $('#comment-form .control-group').append('<span class="help-block ">Error: there was a problem.</span>')
    })
  </script>

  <div class="control-group">
    <button type="submit" class="btn btn-primary"><%= t('comments._form.publish') %></button>
    <% if comment %>
      <a class="btn btn-default preview-btn" onClick="$('#c<%= comment.cid %>preview').toggle();
          $('#c<%= comment.cid %>text-input').toggle();
          $('#c<%= comment.cid %>edit .preview-btn').button('toggle');
          $E.generate_preview('c<%= comment.cid %>preview',$('#c<%= comment.cid %>text-input').val())">
        <%= t('comments._form.preview') %>
      </a>
      <a class="btn btn-default" onClick="$('#c<%= comment.cid %>show').toggle();$('#c<%= comment.cid %>edit').toggle()"><%= t('comments._form.cancel') %></a>
    <% else %>
      <a id="preview-btn" class="btn btn-default" onClick="$E.toggle_preview()"><%= t('comments._form.preview') %></a>
    <% end %>

    <span style="color:#888;"> &nbsp; 
      <br class="visible-xs" /><%= raw t('comments._form.logged_in', :username => current_user.username) %> | 
      <a target="_blank" href="/wiki/authoring-help#Formatting"><%= t('comments._form.formatting') %></a> | 
      <a onClick="$('#who-is-notified-form').toggle()"><%= t('comments._form.notifications') %></a>
    </span>
  </div>

  <p id="who-is-notified-form" style="display:none;color:#888;">
    <%= t('comments._form.email_notifications') %>
  </p>

</form>
