<table class="table inline-grid <%= type %>-grid <%= className %> <%= className %>-<%= randomSeed %>">
  <tr>
    <% if type == "questions" || type == "notes" %>
      <th><a data-type="title">Title</a></th>
      <th><a data-type="author">Author</a></th>
      <th><a data-type="updated">Updated</a></th>
      <th><a data-type="likes">Likes</a></th>
    <% elsif type == "activity" || type == "upgrades" %>
      <th><a data-type="title">Purpose</a></th>
      <th><a data-type="category">Category</a></th>
      <th><a data-type="status">Status</a></th>
      <th><a data-type="author">Author</a></th>
      <th><a data-type="time">Time</a></th>
      <th><a data-type="difficulty">Difficulty</a></th>
      <% if type == "activity" %>
        <th><a data-type="replications">Replications</a></th>
      <% else %>
        <th><a data-type="builds">Builds</a></th>
      <% end %>
    <% end %>
  </tr>
<% if nodes.empty? %>
  <tr>
    <td>No matching content.</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
<% nodes.each_with_index do |node, index| %>
  <% if index > 9 %>
    <tr class="hide">
  <% else %>
    <tr>
  <% end %>
    <% if type == "notes" || type == "questions" %>
      <td class="title"><a href="<%= node.path %>"><%= node.title %></a></td>
      <td class="author"><a href="/profile/<%= node.author.username %>">@<%= node.author.username %></a></td>
      <td class="updated" data-timestamp="<%= node.latest.timestamp.to_s %>"><%= distance_of_time_in_words(Time.at(node.latest.updated_at), Time.current, false, scope: :'datetime.time_ago_in_words') %></td>
      <td class="likes"><%= node.cached_likes.to_s %></td>
    <% else %>
      <td class="title"><a href="<%= node.path %>"><%= node.title %></a></td>
      <td class="category"><%= node.has_power_tag('category') ? node.power_tag('category') : '-' %></td>
      <td class="status"><%= node.has_power_tag('status') ? node.power_tag('status') : '-' %></td>
      <td class="author"><a href="/profile/<%= node.author.username %>">@<%= node.author.username %></a></td>
      <td class="time"><%= node.has_power_tag('time') ? node.power_tag('time') : '-' %></td>
      <td class="difficulty"><%= node.has_power_tag('difficulty') ? node.power_tag('difficulty') : '-' %></td>
      <% if type == "activity" %>
        <td class="replications"><%= node.response_count('replication') %> replications: <a href="<%=  node.path %>#replications">Try it &raquo;</a></td>
      <% else %>
        <td class="builds"><%= node.response_count('build') %> builds: <a href="<%=  node.path %>#builds">Try it &raquo;</a></td>
      <% end %>
    <% end %>
  </tr>
  <% if index == 9 %>
    <tr class="show-all">
      <td><a>Show <%= nodes.length - 10 %> more <b class="caret"></b></a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
<% end %>
</table>

<a class="grid-embed grid-embed-<%= randomSeed %>" title="Embed this table on another site."><i class="fa fa-code" style="color:#aaa;"></i></a>

<% if type == "questions" %>
  <p><a href='/post?tags=question:<%= tagname %>,<%= tagname %>&template=question&title=How%20do%20I...&redirect=question' class='btn btn-primary add-activity'>Ask a question</a> &nbsp;or <a href='/subscribe/tag/question:<%= tagname %>'>help answer future questions<span class='hidden-sm hidden-xs'> on this topic</span></a></p>
<% elsif type == "activity" %>
  <p><a href='/post?tags=activity:<%= tagname %>,<%= tagname %>,seeks:replications&title=How%20to%20do%20X' class='btn btn-primary add-activity'>Add an activity</a> &nbsp;or <a href='/post?tags=<%= tagname %>,question:<%= tagname %>,request:activity&template=question&title=How%20do%20I...&redirect=question' class='request-activity'>request an activity<span class='hidden-xs hidden-sm'> guide you don't see listed</span></a></p>
  <p><i>Activities should include a materials list, costs and a step-by-step guide to construction with photos. Learn what <a href="https://publiclab.org/notes/warren/09-17-2016/what-makes-a-good-activity">makes a good activity here</a>.</i>
  </p>
<% end %>

<script>
(function(){
  $(".<%= className %>-<%= randomSeed %> .show-all a").click(function() { 
    $(".<%= className %>-<%= randomSeed %> tr.hide").toggleClass("hide");
  });
  $(".grid-embed-<%= randomSeed %>").click(function() {
    prompt('Use this HTML code to embed this table on another site.', '<iframe border=0 width="100%" height="500px" src="//publiclab.org/embed/grid/&?t=<% if type != "notes" %><%= type %>:<% end %><%= tagname %>"></iframe>')
  });
  setupGridSorters(".<%= className %>-<%= randomSeed %>");
})()
</script>
<style>
  a.grid-embed {
    float:right;
    padding:8px;
  }
  a.grid-embed:hover {
    color: #888;
  }
</style>
