<table class="table inline-grid <%= question ? "questions" : "notes" %>-grid <%= className %> <%= className %>-<%= randomSeed %>">
  <tr>
    <th><a data-type="title">Title</a></th>
    <th><a data-type="author">Author</a></th>
    <th><a data-type="updated">Updated</a></th>
    <th><a data-type="likes">Likes</a></th>
  </tr>
<% if nodes.empty? %>
  <tr>
    <td>No matching content.</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
<% nodes.each_with_index do |node, index| %>
  <% if index > 9 %>
    <tr class="hide">
  <% else %>
    <tr>
  <% end %>
    <td class="title"><a href="<%= node.path %>"><%= node.title %></a></td>
    <td class="author"><a href="/profile/<%= node.author.username %>">@<%= node.author.username %></a></td>
    <td class="updated" data-timestamp="<%= node.latest.timestamp.to_s %>"><%= distance_of_time_in_words(Time.at(node.latest.updated_at), Time.current, false, scope: :'datetime.time_ago_in_words') %></td>
    <td class="likes"><%= node.cached_likes.to_s %></td>
  </tr>
  <% if index == 9 %>
    <tr class="show-all">
      <td><a>Show <%= nodes.length - 10 %> more <b class="caret"></b></a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
<% end %>
</table>
<% if question %>
  <p><a href='/post?tags=question:<%= tagname %>,<%= tagname %>&template=question&title=How%20do%20I...&redirect=question' class='btn btn-primary add-activity'>Ask a question</a> &nbsp;or <a href='/subscribe/tag/question:<%= tagname %>'>help answer future questions<span class='hidden-sm hidden-xs'> on this topic</span></a></p>"
<% end %>
<script>
(function(){
  $(".<%= className %>-<%= randomSeed %> .show-all a").click(function() { 
    $(".<%= className %>-<%= randomSeed %> tr.hide").toggleClass("hide");
  });
  setupGridSorters(".<%= className %>-<%= randomSeed %>");
})()
</script>
