<%= render :partial => "sidebar/related" %>

<div class="col-md-9">

    <h3>Search results for <i style="color:#aaa;"><%= params[:id] %></i> <small>(<a href="/search/advanced/<%= params[:id] %>">advanced search</a>)</small></h3>

  <% if @notes.length == 0 %>

    <p>No results found; try looking for <a href="/tag/<%= params[:id] %>">items tagged with '<b><%= params[:id] %></b>'</a> or broadening your search:</p>

    <%= render :partial => "search/search" %>

    <p>Or try an <a href="/search/advanced/">advanced search</a></p>

  <% else %>
    <% if params[:controller] == 'questions_search' %>
      <%= render :partial => "questions/questions" %>
    <% else %>
      <%= render :partial => "notes/notes" %>
    <% end %>

  <% end %>

  <hr />
  
</div>

<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "dashboard" %>
<%= javascript_include_tag "questions_search" %>
