<div class="col-md-2">
  <%= render :partial => "search/nav" , :locals => { :section => "search-places" }%>
</div>
<div class="col-md-10">
  <div class="container">
    <% if @nodes.present? %>
      <div class="container">
        <h2> Results for <%= @search_criteria.query %></h2>
        <div class="related-tags-container">
          <%= render partial: 'tag/related', locals: { tags: Tag.related(params[:query]) } if params[:query] %>
        </div>

        <hr>
      </div>
      <%= render partial: 'map/maps', locals: { nodes: @nodes } %>
    <% else %>
      <h4>
        No results found for <%= params[:query] %> :-(
        </br>
        Try searching <a href="/search">for another topic</a> or looking for our items tagged with <a href="/tag/<%= params[:query] %>"><%= params[:query] %></a>
      </h4>
    <% end %>
  </div>
</div>
