<p>Dear <%= @answer.author.name %>,</p>

<p>Public Lab contributor <a href='https://<%= ActionMailer::Base.default_url_options[:host] %>/profile/<%= @user.username %>'><%= @user.username %></a> just liked your answer to the question <a href='https://<%= ActionMailer::Base.default_url_options[:host] %><%= @answer.node.path(:question) %>'><%= @answer.node.title %></a></p>

<p>View your answer here: https://<%= ActionMailer::Base.default_url_options[:host] %><%= @answer.node.path(:question) %>#a<%= @answer.id %></p> 

<p>To change your email preferences, please visit https://<%= ActionMailer::Base.default_url_options[:host] %>/subscriptions.</p>

<% cache('feature_email-footer') do %> 
  <%= feature('email-footer') %>
<% end %>
