Hi! There's been a new answer posted for the question '<a href='https://<%= ActionMailer::Base.default_url_options[:host] %><%= @answer.node.path(:question) %>'><%= @answer.node.title %></a>' that you <% if @answer.node.liked_by(@user.uid) %>liked<% else %>also answered<% end %>. Do NOT reply to this email; click this link to see the answer:

<p>https://<%= ActionMailer::Base.default_url_options[:host] %><%= @answer.node.path(:question) %>#a<%= @answer.id %></p>

<p><b>Here is the answer that <a href="https://<%= ActionMailer::Base.default_url_options[:host] %>/profile/<%= @answer.author.name %>"><%= @answer.author.name %></a> wrote:</b></p>

<hr /> 

<p><%= raw auto_link(RDiscount.new(@answer.body_email(ActionMailer::Base.default_url_options[:host])).to_html) %></p>

<hr />

<div style="color:#aaa;">

<p>You can comment on the answer at: https://<%= ActionMailer::Base.default_url_options[:host] %><%= @answer.node.path(:question) %>#answer-<%= @answer.id %>-comment</p>

<p>Report abuse to: moderators@<%= ActionMailer::Base.default_url_options[:host] %></p>

<%= @footer %>

</div>
