<% if @comment.parent.has_power_tag('question') %>
Hi! There's been a comment to your question '<a href='https://<%= ActionMailer::Base.default_url_options[:host] %><%= @comment.parent.path(:question) %>'><%= @comment.parent.title %></a>'.
<% else %>
Hi! There's been a response to your research note '<a href='https://<%= ActionMailer::Base.default_url_options[:host] %><%= @comment.parent.path %>'><%= @comment.parent.title %></a>'.
<% end %>
You can reply to this email or visit this link:

<% if @comment.parent.has_power_tag('question') %>
<p>https://<%= ActionMailer::Base.default_url_options[:host] %><%= @comment.node.path(:question) %>#answer-comment-<%= @comment.cid %></p>
<% else %>
<p>https://<%= ActionMailer::Base.default_url_options[:host] %><%= @comment.node.path %>#c<%= @comment.cid %></p>
<% end %>

<p><b><a href="https://<%= ActionMailer::Base.default_url_options[:host] %>/profile/<%= @comment.author.name %>"><%= @comment.author.name %></a> wrote:</b></p>

<hr /> 

<p><%= raw auto_link(@comment.body_email_html(ActionMailer::Base.default_url_options[:host]).to_html) %></p>

<hr />

<p>Look like spam?
  <% if @user.can_moderate? %>
    Mark this as <a href="https://<%= ActionMailer::Base.default_url_options[:host] %>/admin/mark_comment_spam/<%= @comment.id %>">Spam</a>
  <% else %>
    <a href="mailto:moderators@publiclab.org?subject=Reporting+spam+on+Public+Lab&body=Hi,+I+found+this+comment+that+looks+like+spam+or+needs+to+be+moderated:+https://publiclab.org/<%= @comment.parent.path %>#c<%= @comment.cid %>+by+https://publiclab.org/profile/<% if @comment.author %><%= @comment.author.name %><% end %>+Thanks!" title="Flag as spam" class="btn btn-sm btn-default btn-flag-spam-<%= @comment.id %>" >Flag this</a> for moderators
  <% end%>
</p>


<div style="color:#aaa;">

<% if @comment.parent.has_power_tag('question') %>
<p>Reply at: https://<%= ActionMailer::Base.default_url_options[:host] %><%= @comment.node.path(:question) %>#answer-0-comment</p>
<% else %>
<p>Reply at: https://<%= ActionMailer::Base.default_url_options[:host] %><%= @comment.node.path %>#c<%= @comment.cid %></p>
<% end %>

<p>Report abuse to: moderators@<%= ActionMailer::Base.default_url_options[:host] %></p>

<%= @footer %>

</div>
