<a href="https://publiclab.org/profile/<%= @giver.name %>"><%= @giver.name %></a> has awarded you a <a href="https://publiclab.org/wiki/barnstars">Barnstar</a> for your work in the research note "<a href="<%= @note.path %>"><%= @note.title %></a>". Do NOT reply to this email; click this link to respond:

<p>https://publiclab.org<%= @note.path %></p>

The barnstar will appear on your profile, at https://publiclab.org/profile/<%= @note.author.name %>

<hr /> 

<div style="color:#aaa;">

<p>Reply at: https://publiclab.org<%= @note.path %>#comments</p>

<p>Report abuse to: moderators@publiclab.org</p>

</div>
