Hi! There's been a response to a discussion you're involved in. Do NOT reply to this email; click this link to respond:

<% if @comment.parent.has_power_tag('question') %>
<p>https://<%= Rails.root %><%= @comment.parent.path(:question) %>#answer-<%= @comment.aid %>-comment-<%= @comment.cid %></p>
<% else %>
<p>https://<%= Rails.root %><%= @comment.node.path %>#c<%= @comment.cid %></p>
<% end %>

<p><b><a href="https://<%= Rails.root %>/profile/<%= @comment.author.name %>"><%= @comment.author.name %></a> wrote:</b></p>

<hr /> 

<p><%= raw auto_link(RDiscount.new(@comment.body_email).to_html) %></p>

<hr />

<div style="color:#aaa;">

<% if @comment.parent.has_power_tag('question') %>
<p>Reply at: https://<%= Rails.root %><%= @comment.parent.path(:question) %>#answer-<%= @comment.aid %>-comment</p>
<% else %> 
<p>Reply at: https://<%= Rails.root %><%= @comment.node.path %>#comments</p>
<% end %>

<p>Report abuse to: moderators@<%= Rails.root %></p>

</div>
