<% if @comment.parent.has_power_tag('question') %>
Hi! There's been a comment to your question "<a href="https://publiclab.org/<%= @comment.parent.path(:question) %>"><%= @comment.parent.title %></a>".
<% else %>
Hi! There's been a response to your research note "<a href="https://publiclab.org/<%= @comment.parent.path %>"><%= @comment.parent.title %></a>".
<% end %>
Do NOT reply to this email; click this link to respond:

<% if @comment.parent.has_power_tag('question') %>
<p>https://publiclab.org<%= @comment.node.path(:question) %>#answer-comment-<%= @comment.cid %></p>
<% else %>
<p>https://publiclab.org<%= @comment.node.path %>#c<%= @comment.cid %></p>
<% end %>

<p><b><a href="https://publiclab.org/profile/<%= @comment.author.name %>"><%= @comment.author.name %> wrote:</b></p>

<hr /> 

<p><%= raw auto_link(RDiscount.new(@comment.body_email).to_html) %></p>

<hr />

<div style="color:#aaa;">

<% if @comment.parent.has_power_tag('question') %>
<p>Reply at: https://publiclab.org<%= @comment.node.path(:question) %>#answer-0-comment</p>
<% else %>
<p>Reply at: https://publiclab.org<%= @comment.node.path %>#c<%= @comment.cid %></p>
<% end %>

<p>Report abuse to: web@publiclab.org</p>

</div>
