<% if @comment.aid == 0 %>
Hi! You were mentioned by <%= @comment.author.name %> in a comment on <% if @comment.parent.has_power_tag('question') %>the question <% else %>the research note <% end %><b><%= @comment.parent.title %></b>.
<% else %>
Hi! You were mentioned by <%= @comment.author.name %> in a comment on the answer about <a href='https://<%= ActionMailer::Base.default_url_options[:host] %><%= @comment.parent.path(:question) %>#a<%= @comment.answer.id %>'><%= @comment.parent.title %></a>
<% end %>
Do NOT reply to this email; click this link to respond:

<% if @comment.parent.has_power_tag('question') %>
<p>https://<%= ActionMailer::Base.default_url_options[:host] %><%= @comment.parent.path(:question) %>#answer-comment-<%= @comment.cid %></p>
<% else %>
<p>https://<%= ActionMailer::Base.default_url_options[:host] %><%= @comment.node.path %>#c<%= @comment.cid %></p>
<% end %>

<p><b><a href="https://<%= ActionMailer::Base.default_url_options[:host] %>/profile/<%= @comment.author.name %>"><%= @comment.author.name %></a> wrote:</b></p>

<hr /> 

<p><%= raw auto_link(RDiscount.new(@comment.body_email(ActionMailer::Base.default_url_options[:host])).to_html) %></p>

<hr /> 

<div style="color:#aaa;">

<% if @comment.parent.has_power_tag('question') %>
<p>Reply at: https://<%= ActionMailer::Base.default_url_options[:host] %><%= @comment.parent.path(:question) %>#answer-<%= @comment.aid %>-comment</p>
<% else %> 
<p>Reply at: https://<%= ActionMailer::Base.default_url_options[:host] %><%= @comment.node.path %>#comments</p>
<% end %>

<p>Report abuse to: moderators@<%= ActionMailer::Base.default_url_options[:host] %></p>

<%= @footer %>

</div>
