<script>
$(document).ready(function() {
  $("#example").DataTable({
      "order": [[ 3, "desc" ]],
      stateSave: true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],


  });
});
</script>

<div id="layoutSidenav_content">
  <main>
    <div class="page-header">
      <div class="container-fluid">
        <div class="page-header-content">
          <h1 class="page-header-title">
            <div class="page-header-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <span>Bulk Moderation</span>
          </h1>
        </div>
      </div>
    </div>
                    
    <div class="container-fluid margin_top">
      <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
          <table  id="example" class="responsive nowrap table table-hover" style="width:100%">
            <thead>
              <tr>
                <th><input id="batch-checkbox" type="checkbox" /></th>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th>Date</th>
                <th>Action</th>                                
              </tr>       
            </thead>
            <tbody> 
            <% @nodes.each do |node| %>
              <tr id="n<%= node.id %>">
                
                <td><input class="batch-checkbox" value="<%= node.nid %>" type="checkbox" /></td>
                
                <td>
                <i class="fa fa-file"></i> 
                <a href="javascript:void(0);" onClick="$('#ninfo<%= node.nid %>').toggle()"><%= node.title.truncate(40) %></a><br />
                </td>

                <td style="width:200px;">
                <a href="/profile/<%= node.author.name %>"><%= node.author.name %></a>  <%= node.author.new_contributor %>
                </td>
                <td>
                <span style="color:grey;"><%= node.type.capitalize %> (<span class="status"><% if node.status == 1 %>Published<% elsif node.status == 0 %>Spammed<% elsif node.status == 4 %>Unmoderated<% end %></span>)
                </td>

                <td>
                <%= time_ago_in_words(node.updated_at) %> ago</span>
                </td>

                <td>
                      <a class="badge badge-pill badge<% if node.status != 1 %>-success<% else %>-secondary disabled<% end %> publish" data-remote="true" href="/moderate/publish/<%= node.id %>"><i class="fa fa-check-circle fa-white"></i> Publish post</a>
                      <a class="badge badge-pill badge<% if node.status != 0 %>-danger<% else %>-secondary disabled<% end %> spam" data-remote="true" href="/moderate/spam/<%= node.id %>"><i class="fa fa-ban fa-white"></i> Spam post</a> 
                      <a class="badge badge-pill badge-secondary btn-lg ban a<%= node.author.id %>" <% if node.author.status == 0 %>style="display:none;"<% end %> data-remote="true" href="/ban/<%= node.author.id %>">Ban user</a>
                      <a class="badge badge-pill badge-secondary btn-lg unban a-unban<%= node.author.id %>" <% if node.author.status == 1 %>style="display:none;"<% end %> data-remote="true" href="/unban/<%= node.author.id %>">Unban user</a>
                      <%= link_to "/notes/delete/"+node.id.to_s, data: { confirm: 'Are you sure you want to delete "'+node.path+'"?' }, :remote => true, :class => "btn " do %>
                      <i class="fa fa-trash"></i>
                      <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>                       
        </div>
      </div>
    </div>
  </main>
</div>

