<div class="col-lg-3">

  <h3>Spam moderation:</h3>

  <p>Moderators and admins have the ability to "spam" posts if they include inappropriate content, blatant advertising, or are otherwise problematic. If you're not sure, email <a href="mailto:organizers@<%= request.host %>">organizers@<%= request.host %></a>. If we all work together, we can keep spam to a minimum. Thanks for helping out!</p>

  <hr />

</div>

<div class="col-lg-9">

  <h3>Moderate potential spam</h3>

  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link <% unless params[:type] && params[:action] == "spam_revisions" %> active <% end %>" href="/spam">Filtered</a></li>
    <li class="nav-item"><a class="nav-link <% if params[:type] == "wiki" %> active <% end %>" href="/spam/wiki"><i class="fa fa-book"></i><span class="d-xs-inline d-md-none d-lg-inline"> Wiki</span></a></li>
    <li class="nav-item"><a class="nav-link <% if params[:action] == "spam_revisions" %> active <% end %>" href="/spam/revisions"><i class="fa fa-list"></i><span class="d-xs-inline d-md-none d-lg-inline"> Revisions</span></a></li>
    <li class="nav-item"><a class="nav-link <% if params[:action] == "spam_comments" %> active <% end %>" href="/spam/comments"><i class="fa fa-comment"></i><span class="d-xs-inline d-md-none d-lg-inline"> Comments</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/people"><i class="fa fa-user"></i><span class="d-xs-inline d-md-none d-lg-inline"> Active Users</span></a></li>
  </ul>

  <br />

  <% if params[:action] != "spam_revisions" && params[:action] != "spam_comments" %>
  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="btn btn-outline-secondary" id="batch-delete" href="javascript:void();"><i class="fa fa-ban-circle"></i> Spam all checked and ban authors</a>
    </div>
  </div>
  <br />
  <% end %>

  <%= render partial: 'admin/nodes' if @nodes %>
  <%= render partial: 'admin/revisions' if @revisions %>
  <%= render partial: 'admin/comments' if @comments %>

</div>
