<div class="span3">

  <p><b>Spam moderation:</b> </p> 

  <hr />

</div>

<div class="span9">

  <h3>Moderate potential spam</h3>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="active"><a href="#">Queue</a></li>
        <li><a href="#">Spam</a></li>
        <li><a href="#">Approved</a></li>
      </ul>
    </div>
  </div>

  <table class="table">
  <tr><th>Title</th><th>Author</th><th>Action</th></tr>
  <% @nodes.each do |node| %>
  <tr>
    <td><i class="icon-file"></i> <a href="javascript:void(0);" onClick="$('#n<%= node.nid %>').toggle()"><%= node.title.truncate(40) %></a></td>
    <td><a href="/notes/author/<%= node.author.name %>"><%= node.author.name %></a></td>
    <td><div class="btn-toolbar" style="margin:0;">
      <div class="btn-group">
        <a class="btn btn-large btn-success" href="javascript:void(0)"><i class="icon-ok-circle icon-white"></i></a>
        <a class="btn btn-large btn-danger" href="javascript:void(0)"><i class="icon-ban-circle icon-white"></i> Spam</a>
        <a class="btn btn-large btn-warning" href="javascript:void(0)"><i class="icon-user icon-white"></i> Ban</a>
        <a class="btn btn-large" href="javascript:void(0)"><i class="icon-trash"></i></a>
      </div>
    </div></td>
  </tr>
  <tr style="display:none;background:#ddd;" id="n<%= node.nid %>">
    <td><%= node.title %></td>
    <td><%= time_ago_in_words(node.created_at) %> ago</td>
    <td><%= node.body %></td>
  </tr>
  <% end %>
  </table>

</div>
