<div class="span3">
  <%= render :partial => "sidebar/post_button" %>

  <hr />

  <% if tagnames = @user.tagnames(20,false) %>
  <h4>Recent tags for <a href="/people/<%= @user.name %>"><%= @user.name %></a></h4>
  <ul class="nav">
    <% tagnames.each do |tagname| %>
      <li><a href="/tag/<%= tagname %>"><i class="icon-tag"></i> <%= tagname %></a></li>
    <% end %>
  </ul>
  <% end %>

</div>
