<br><br>
<div class="btn-group">
    <a href="/post" class="btn btn-primary btn-lg requireLogin"><i class="fa fa-plus-circle fa-white"></i> <%= t('dashboard._header.share_work') %></a>
    <div class="dropdown">
      <a class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/post?n=15322&title=How%20to%20...&tags=activity:new,draft"><%= t('dashboard._header.dropdown.share_activity') %></a>
        <a class="dropdown-item" href="/post"><%= t('dashboard._header.dropdown.share_research_note') %></a>
        <a class="dropdown-item" href="/post?tags=question:question&template=question&redirect=question"><%= t('dashboard._header.dropdown.ask_question') %></a>
        <a class="dropdown-item" href="/post?template=event&tags=event"><%= t('dashboard._header.dropdown.post_event') %></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/post?tags=blog-submission"><%= t('dashboard._header.dropdown.tell_story_blog') %></a>
      </div>
    </div>
  </div>

<br><br>
<ul class="nav nav-tabs">
  <li class="nav-item" style="width:49%;">
    <a class="nav-link active lists-tab" href="#ask-question" data-toggle="tab">
      <span class="d-md-none"><i class="fa fa-comment"></i></span>
      <span class="d-none d-md-inline">Ask a question</span>
    </a>
  </li>
  <li style="width:49%;">
    <a class="wikis-tab" href="#wiki" data-toggle="tab">
      <span class="d-md-none"><i class="fa fa-book"></i></span>
      <span class="d-none d-md-inline"><%= t('dashboard._sidebar.wiki') %></span>
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane" id="wiki">
    <%= render partial: "dashboard/wiki", locals: { wikis: @wikis } %>
  </div>

  <div class="tab-pane active" id="ask-question">
    <% cache('feature_dashboard-sidebar', skip_digest: true) do %>
      <%= feature('dashboard-sidebar') %>
    <% end %>
    <!-- Twitter follow button, options can be adjusted here: https://publish.twitter.com/# -->
    <div class="social-media-btn">
      <a href="https://twitter.com/PublicLab?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @PublicLab</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <!-- Facebook like button, options can be adjusted here: https://developers.facebook.com/docs/plugins/like-button/  -->
    <div class="social-media-btn">  
      <div class="fb-like" data-href="https://www.facebook.com/PublicLab/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
    </div>
  </div>
</div>
