<% if @node.has_power_tag('events') %>
    <div class="card bg-light">
      <div class='card-body'>
        <h4><%= translation('sidebar._events.local_events') %></h4>
        <ul class="list-group">
          <% events = @node.power_tags('events') %>
          <% events.each do |power_tag| %>
            <% Tag.find_nodes_by_type_with_all_tags(["event",power_tag]).sort_by{|a| a.changed}.each do |node| %>
              <li class="list-group-item"><a href="<%= node.path %>"><i class="fa fa-calendar"></i><% if node.has_power_tag('date') %> <b><%= DateTime.strptime(node.power_tag('date'),'%m-%d-%Y').to_date.to_s(:long) %></b><% end %> <%= node.title %></a></li>
            <% end %>
          <% end %>
          <% if events.length == 0 %><li><%= translation('sidebar._events.no_events') %></li><% end %>
        </ul>
        <p><a class="btn btn-primary" href="/post?template=event&tags=event,<%= events.first %>"><%= translation('sidebar._events.post_event') %></a></p>
      </div>
    </div>
<% end %>
