<% if notes && notes.length > 0 %>
  <div class="d-none d-lg-block note-list">

    <h4><%= title %></h4>

    <% notes.each do |note| %>
      <% unless (!node.nil? && note.nid == node.nid) %>
        <p style="margin:14px 0 0;">
          <i class="fa fa-<%= raw note.icon %>"></i> 
          <a href="<%= note.path %>">
            <b><%= note.title %></b>
          </a> 
        </p>
        <p>
          <small style="color:#888;">
            <%= raw t('sidebar._notes.updated_by', :time => time_ago_in_words(note.created_at), :url1 => "/profile/"+note.author.name, :author_name => note.author.name) %>
          </small>
        </p>
      <% end %>
    <% end %>

    <% if params[:controller] == "search" %>
      <p><a href="/tag/<%= params[:id] %>"><%= t('sidebar._notes.more') %></a></p>
    <% end %>

  </div>
<% end %>
