<div class="col-lg-3">

<%= render :partial => "like/like", :locals => {:node => @node, :tagnames => @tagnames } %>

  <a style="margin-top:-16px;margin-bottom:0;" class="btn btn-sm btn-block btn-link d-lg-none" href="javascript:void()" onClick="toggle_sidebar()"><i class="fa fa-chevron-down"></i></a>

  <div id="sidebar" class="d-lg-inline">

    <a rel="tooltip" title="Ask question<% if @tagnames %> about <%= (@tagnames.uniq.collect {|x| x.gsub(/[\w-]+:/, '') }).join(',') %><% end %>" data-placement="bottom" href="/post<%= '?tags=' + @tagnames.uniq.join(',') if @tagnames %>&template=question&redirect=question" class="btn btn-primary btn-lg btn-block requireLogin"><i class="fa fa-question-circle fa-white"></i> Ask related question &raquo;</a>

    <br />

    <% if @node %>
      <%= render :partial => "sidebar/list" %>
    <% end %>

    <% if params[:controller] == 'questions' %>
      <% if @users.size > 0 %>
      <h4>Top Answerers</h4>
        <% @users.each do |author| %>
          <% count = @node.answers.where(uid: author.uid).size %>
          <%if !(author.banned?)%>
            <p><i class="fa fa-user" style="margin-right: 5px;"></i><a rel="tooltip" title="<%= count %> answers" data-placement="right" href="/profile/<%= author.name %>"><%= author.name %></a></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render partial: "sidebar/map" %>
    <%= render partial: 'sidebar/notes', locals: { notes: @notes, title: "Related Questions", node: @node } %>
  </div>

  <div id=sidebar-tags>
    <%= render partial: 'tag/tagging' %>
  </div>

</div>
<%= javascript_include_tag 'sidebar' %>
