<div class="span3 hidden-print">

  <script>
    function toggle_sidebar() { 
      if ($('#sidebar').hasClass('hidden-phone')) { 
        $('#sidebar').removeClass('hidden-phone') 
      } else { 
        $('#sidebar').addClass('hidden-phone') 
      } 
    } 
  </script>

  <a style="margin-top:-20px;margin-bottom:0;" class="btn btn-mini btn-block btn-link visible-phone" href="javascript:void()" onClick="toggle_sidebar()"><i class="icon icon-chevron-down"></i></a>

  <div id="sidebar" class="hidden-phone">

  <a style="margin-bottom:6px;" rel="tooltip" title="Share your work with others" data-placement="bottom" href="/post" class="btn btn-primary btn-large btn-block hidden-phone"><i class="icon-pencil icon-white"></i> Write a research note</a>
  <a rel="tooltip" title="Post <% if @tagnames %>about <%= (@tagnames.uniq.delete_if{|x| x.match(":") }).join(',') %><% else %>research<% end %>" data-placement="bottom" href="/post<%= '?tags='+(@tagnames.uniq.delete_if{|x| x.match(":") }).join(',') if @tagnames %><% if params[:controller] == 'notes' && params[:action] == 'show' %>,response:<%= @node.id %><% end %>" class="btn btn-primary btn-large btn-block"><i class="icon-pencil icon-white"></i> Post related work &raquo;</a>

  <%= render :partial => "sidebar/place" if @node %>

  <% if @node && @node.has_power_tag('response') %>
  <h4>This is a response to</h4>
  <ul class="nav bullet">
    <% @node.responded_to.each do |note| %>
      <li><a href="/<%= note.slug %>"><i class="icon-file"></i> <%= note.current_title %></a> <small style="color:#888;">posted <%= time_ago_in_words(note.created_at) %> ago by <a href="/profile/<%= note.author.name %>"><%= note.author.name %></a></small></li>
    <% end %>
  </ul>
  <% end %>

  <% responses = @node.responses %>
  <% if @node && responses %>
  <h4>Responses to this note</h4>
  <ul class="nav bullet">
    <% responses.each do |note| %>
      <li><a href="/<%= note.slug %>"><i class="icon-file"></i> <%= note.current_title %></a> <small style="color:#888;">posted <%= time_ago_in_words(note.created_at) %> ago by <a href="/profile/<%= note.author.name %>"><%= note.author.name %></a></small></li>
    <% end %>
  </ul>
  <% end %>

  <% if params[:action] != "contributors" %>
    <% if @notes && @notes.length > 0 %>
    <h4>Recent topic contributors</h4>
    <ul class="nav">
      <% @notes.collect(&:author).collect(&:name).uniq.each do |author| %>
        <li><a href="/profile/<%= author %>"><i class="icon-user"></i> <%= author %></a></li>
      <% end %>
      <li><a href="/contributors/<%= params[:id] %>"><i class="icon icon-list"></i> View all &raquo;</a></li>
    </ul>
    <% end %>
 
    <% if @users && @users.length > 0 %>
    <h4>Contributors</h4>
    <ul class="nav">
      <% @users.each do |author| %>
        <li><a href="/profile/<%= author.name %>"><i class="icon-user"></i> <%= author.name %></a></li>
      <% end %>
      <li><a href="/contributors/<%= params[:id] %>"><i class="icon icon-list"></i> View all &raquo;</a></li>
    </ul>
    <% end %>
  <% end %>

  <% if @videos && @videos.length > 0 %>
  <h4>Related videos</h4>
  <ul class="nav bullet">
    <% @videos.each do |note| %>
      <% unless (!@node.nil? && note.nid == @node.nid) %>
      <li><a href="<%= note.path %>"><i class="icon-film"></i> <%= note.title %></a></li>
      <% end %>
    <% end %>
    <% if params[:controller] == "search" %>
      <li><a href="/tag/<%= params[:id] %>">More...</a></li>
    <% end %>
  </ul>
  <% end %>

  <% if @wikis && @wikis.length > 0 || (@node && !@node.has_tag('tabbed:wikis') && @wikis && @wikis.length > 0) %>
  <% if params[:controller] == "notes" && params[:action] == "index" %>
    <h4>Recent wiki edits</h4>
  <% else %>
    <h4>Related wiki pages</h4>
  <% end %>
  <ul class="nav bullet">
    <% @wikis.each do |wiki| %>
      <% unless (!@node.nil? && wiki.nid == @node.nid) %>
        <li><a href="<%= wiki.path %>"><%= raw wiki.icon %> <%= wiki.latest.title %></a> <small style="color:#888;">updated <%= time_ago_in_words(wiki.updated_at) %> ago by <a href="/profile/<%= wiki.latest.author.name %>"><%= wiki.latest.author.name %></a></small></li>
      <% end %>
    <% end %>
    <% if params[:controller] == "search" %>
      <li><a href="/tag/<%= params[:id] %>">More...</a></li>
    <% end %>
  </ul>
  <% end %>

  <% if @notes && @notes.length > 0 && params[:controller] != "tag" && params[:controller] != "search" %>
  <h4>Related research notes</h4>
  <ul class="nav bullet">
    <% @notes.each do |note| %>
      <% unless (!@node.nil? && note.nid == @node.nid) %>
      <li><a href="/<%= note.slug %>"><i class="icon-file"></i> <%= note.current_title %></a> <small style="color:#888;">posted <%= time_ago_in_words(note.created_at) %> ago by <a href="/profile/<%= note.author.name %>"><%= note.author.name %></a></small></li>
      <% end %>
    <% end %>
    <% if params[:controller] == "search" %>
      <li><a href="/tag/<%= params[:id] %>">More...</a></li>
    <% end %>
  </ul>
  <% end %>

  <% if @maps && @maps.length > 0 && params[:controller] != "search" %>
  <h4>Related maps</h4>
  <ul class="nav bullet">
    <% @maps.each do |note| %>
      <% unless (!@node.nil? && note.nid == @node.nid) %>
      <li><a href="/<%= note.slug %>"><i class="icon-map-marker"></i> <%= note.title %></a></li>
      <% end %>
    <% end %>
  </ul>
  <% end %>

  <hr style="margin-bottom:6px;" />

  </div>
</div>
