<div class="col-lg-3 d-print-none">

  <a style="margin-top:-16px;margin-bottom:0;" class="btn btn-sm btn-block btn-link d-lg-none" href="javascript:void()" onClick="toggle_sidebar()"><i class="fa fa-chevron-down"></i></a>

  <div id="sidebar" class="d-none d-lg-block">

  <a style="margin-bottom:6px;white-space: normal;" rel="tooltip" title="<%= t('sidebar._related.share_your_work') %>" data-placement="bottom" href="/post" class="btn btn-primary btn-lg btn-block d-md-none d-lg-inline write-research-note requireLogin"><i class="fa fa-pencil fa fa-white"></i> <%= t('sidebar._related.write_research_note') %> &raquo;</a>
  <% tagnames = (@node.normal_tags.collect(&:name) + @node.location_tags).join(',') if @tagnames %>
  <a style="white-space: normal;" rel="tooltip" title="Post <% if @tagnames %>about <%= tagnames %><% else %>research<% end %>" data-placement="bottom" href="/post<%= '?template=question&tags=question:general,'+ tagnames if @tagnames %><% if params[:controller] == 'notes' && params[:action] == 'show' %>,response:<%= @node.id %><% end %>" class="btn btn-primary btn-lg btn-block requireLogin"><i class="fa fa-pencil fa fa-white"></i> <%= t('sidebar._related.ask_a_question') %> &raquo;</a>

  <% cache('related_sidebar-feature', skip_digest: true) do %>
    <%= feature('sidebar') %>
  <% end %>

  <% if @node %>
    <br />
    <%= render :partial => "sidebar/events" %>
  <% end %>

  <% if @node && (@node.has_power_tag('iso') || @node.has_power_tag('lang')) %>
    <div class="alert alert-info">
        <h4><%= t('sidebar._related.translation') %></h4>
        <div id="google_translate_element">
      <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false, multilanguagePage: true}, 'google_translate_element');
        addLabelTranslateElement();
      }
      function addLabelTranslateElement() {
        var paragraph = document.createElement('span');
        paragraph.style.fontSize = '125%';
        document.getElementsByClassName("skiptranslate goog-te-gadget")[0].prepend(paragraph);
      }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>
  </div>
  <% end %>

  <% responses = @node.responses if @node %>
  <% if @node && responses.length > 0 %>
    <%= render partial: 'sidebar/notes', locals: { notes: @node.responded_to, title: I18n.t('sidebar._related.response_to'), node: @node } %>
  <% end %>

  <% if @node && @node.has_power_tag('response') %>
    <%= render partial: 'sidebar/notes', locals: { notes: @node.responses, title: I18n.t('sidebar._related.responses_to_note'), node: @node } %>
  <% end %>
  <% if @node && !@node.has_power_tag('place') && @node.lat && @node.lon %>
    <%= render_map(@node.lat, @node.lon) %>
  <% elsif @node&.has_power_tag('place') && !@node.lat && !@node.lon %>
    <div id="map_template" style="position: relative; display: inline-block;">
      <img src="https://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/0/0/0.png" style="height:69px; width: 263px; position: relative; margin-right: -10px;">
      <button class="btn btn-outline-secondary btn-lg" id="add_location" style="position: absolute; position: absolute;top: 19% ; left: 24% ;" type="button" name="button"><strong>Add location</strong></button>
    </div>
    <center><span>Learn about location <a href="https://publiclab.org/location-privacy">privacy</a></span></center>
  <% end %>

  <br style="clear:both;" />

  </div>

  <% if @node %>
    <% subpage_count = Tag.find_pages("parent:#{@node.slug}", 100).count %>
    <% if subpage_count > 0 %>
      <p>
        <i class="fa fa-book"></i>
        <a href="/wiki/tag/parent:<%= @node.slug %>">
          <%= subpage_count %> sub-pages
        </a>
      </p>
    <% end %>
    <div id=sidebar-tags>
      <%= render partial: 'tag/tagging' %>
    </div>
  <% end %>

  <%= render partial: "home/social" %>

  <% unless current_user %>
    <% cache('related_sidebar-welcome', skip_digest: true) do %>
      <%= feature('sidebar-welcome') %>
    <% end %>
  <% end %>
</div>
<%= javascript_include_tag 'sidebar' %>

<script type="text/javascript">
  $('#add_location').on('click', function() {
    $('.blurred-location-input').click();
  })
</script>
