<div class="span3">

  <script>
    function toggle_sidebar() { 
      if ($('#sidebar').hasClass('hidden-phone')) { 
        $('#sidebar').removeClass('hidden-phone') 
      } else { 
        $('#sidebar').addClass('hidden-phone') 
      } 
    } 
  </script>

  <a style="margin-top:-20px;margin-bottom:0;" class="btn btn-mini btn-block btn-link visible-phone" href="javascript:void()" onClick="toggle_sidebar()"><i class="icon icon-chevron-down"></i></a>

  <div id="sidebar" class="hidden-phone">

  <a rel="tooltip" title="Post <% if @tagnames %>about <%= @tagnames.join(', ') %><% else %>research<% end %>" data-placement="bottom" href="/post<%= '?tags='+@tagnames.join(',') if @tagnames %><% if params[:controller] == 'notes' && params[:action] == 'show' %>,response:<%= @node.id %><% end %>" class="btn btn-primary btn-large btn-block"><i class="icon-pencil icon-white"></i> Post related work &raquo;</a>

  <% if @node && @node.is_place? %>
    <br />
    <%= render :partial => "sidebar/place" %>
  <% else %>
    <hr />
  <% end %>

  <% if @notes && @notes.length > 0 %>
  <h4>Recent topic contributors</h4>
  <ul class="nav">
    <% @notes.collect(&:author).collect(&:name).uniq.each do |author| %>
      <li><a href="/notes/author/<%= author %>/<%= @tagnames.join('+') %>"><i class="icon-user"></i> <%= author %></a></li>
    <% end %>
  </ul>
  <% end %>

  <% if @videos && @videos.length > 0 %>
  <h4>Related videos</h4>
  <ul class="nav bullet">
    <% @videos.each do |note| %>
      <% unless note.nid == @node.nid %>
      <li><a href="/<%= note.slug %>"><i class="icon-film"></i> <%= note.title %></a></li>
      <% end %>
    <% end %>
    <% if params[:controller] == "search" %>
      <li><a href="/tag/<%= params[:id] %>">More...</a></li>
    <% end %>
  </ul>
  <% end %>

  <% if @wikis && @wikis.length > 0 %>
  <% if params[:controller] == "notes" && params[:action] == "index" %>
    <h4>Recent wiki edits</h4>
  <% else %>
    <h4>Related wiki pages</h4>
  <% end %>
  <ul class="nav bullet">
    <% @wikis.each do |wiki| %>
      <% unless @node && wiki.nid == @node.nid %>
        <li><a href="/wiki/<%= wiki.slug %>"><i class="icon-book"></i> <%= wiki.title %></a> <small style="color:#888;">(updated <%= time_ago_in_words(wiki.updated_at) %> ago)</small></li>
      <% end %>
    <% end %>
    <% if params[:controller] == "search" %>
      <li><a href="/tag/<%= params[:id] %>">More...</a></li>
    <% end %>
  </ul>
  <% end %>

  <% if @notes && @notes.length > 0 %>
  <h4>Related research notes</h4>
  <ul class="nav bullet">
    <% @notes.each do |note| %>
      <% unless note.nid == @node.nid %>
      <li><a href="/<%= note.slug %>"><i class="icon-file"></i> <%= note.title %></a></li>
      <% end %>
    <% end %>
    <% if params[:controller] == "search" %>
      <li><a href="/tag/<%= params[:id] %>">More...</a></li>
    <% end %>
  </ul>
  <% end %>

  <hr style="margin-bottom:6px;" />
  <p><small><a href="#"><i class="icon-cog"></i> Options</a></small></p>

  </div>
</div>
