<div class="span3">
  <%= render :partial => "sidebar/post_button" %>

  <hr />
  <p><i class="icon icon-envelope"></i> <a href="/wiki/mailing-lists">Mailing lists &raquo;</a></p>
  <p>Much of our work happens on our regional and topical mailing lists. <a href="/wiki/mailing-lists">Join one today!</a></p>
  <hr />
  <!--<p><a href="/wiki/barnraising-2013"><img src="/images/barnraising-2013.png" width="100%" /></a></p>-->
  <p><a href="/donate"><img src="/images/sidebar-donate.gif" width="100%" /></a></p>
    <hr />
  <p><a href="http://challenge.bfi.org/2013Finalist_PublicLab"><img src="/images/sidebar-bfi-small.png" width="100%" /></a></p>
  <hr />

  <% if @wikis && @wikis.length > 0 %>
  <div class="hidden-phone">
  <h4>Recent wiki edits</h4>
  <ul class="nav wikis bullet">
    <% @wikis.each do |wiki| %>
      <li><a href="<%= wiki.path %>"><i class="icon-book"></i> <%= wiki.latest.title %></a> <small style="color:#888;">updated <%= time_ago_in_words(wiki.updated_at) %> ago by <a href="/profile/<%= wiki.latest.author.name %>"><%= wiki.latest.author.name %></a></small></li>
    <% end %>
  </ul>
  <% end %>
  <p><a href="/wiki/">More &raquo;</a></p>
  </div>

</div>
