<% if @tag %>
      
  <% if @users %>

    <% if params["action"] == "contributors"%>
      <hr />
    <% end %>
 
    <div class="row" id="highlight" style=" text-align: center;">
      <h3 class="col-lg-4 col-xs-12 col-sm-12 col-md-4"><%= @users.length || 0 %> contributors</h3>
      <h3 class="col-lg-4 col-xs-12 col-sm-12 col-md-4"><%= @note_count %> research notes</h3>
      <h3 class="col-lg-4 col-xs-12 col-sm-12 col-md-4"><%= @wikis.length %> wiki pages</h3>
    </div>
 
    <% if params["action"] == "contributors"%>
      <hr />
    <% end %>

  <% end %>

  <% if current_user && params["action"] == "contributors" %>
    <!-- AJAXify -->
    <div class="btn-group">
      <a class="btn btn-outline-secondary btn-sm" href="/feed/tag/<%= params[:id] %>.rss"><i class="fa fa-rss"></i> RSS</a>
      <% if current_user.following(params[:id]) %>
        <a rel="tooltip" title="<%= translation('tag.contributors.unfollow') %>" class="btn btn-outline-secondary btn-sm" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= translation('tag.contributors.following') %> <b><%= params[:id] %></b></a>
      <% else %>
        <a class="btn btn-outline-secondary btn-sm" href="/subscribe/tag/<%= params[:id] %>"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= t('tag.contributors.follow') %> <b><%= params[:id] %></b></a>
      <% end %>
      <a rel="tooltip" title="<%= translation('tag.contributors.unfollow') %>" class="btn btn-outline-secondary btn-sm" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= translation('tag.contributors.following') %> <b><%= params[:id] %></b></a>
    </div>
    <br /><br />
    <!-- AJAXify -->
  <% end %>

<% end %>

<% if @wildcard %>
  <a rel="tooltip" title="<%= translation('tag.contributors.unfollow') %>" class="btn btn-outline-secondary btn-sm" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= translation('tag.contributors.following') %> <b><%= params[:id] %></b></a>
<% elsif @note_count.nil? || @note_count == 0 %>
  <a rel="tooltip" title="<%= translation('tag.contributors.unfollow') %>" class="btn btn-outline-secondary btn-sm" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= translation('tag.contributors.following') %> <b><%= params[:id] %></b></a>
<% else %>
  <div class="col-md-6" style="display: inline-block;">
    <table class="table">
      <tr>
        <a rel="tooltip" title="<%= translation('tag.contributors.unfollow') %>" class="btn btn-outline-secondary btn-sm" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= translation('tag.contributors.following') %> <b><%= params[:id] %></b></a>
        <a rel="tooltip" title="<%= translation('tag.contributors.unfollow') %>" class="btn btn-outline-secondary btn-sm" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= translation('tag.contributors.following') %> <b><%= params[:id] %></b></a>
      </tr>
      <% if @users %>
        <% @users.each do |user| %>
          <tr class="users-row">
            <td><a href='/profile/<%= user.name %>'><i class="fa fa-user"></i> <%= user.name %></a></td>
            <a rel="tooltip" title="<%= translation('tag.contributors.unfollow') %>" class="btn btn-outline-secondary btn-sm" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= translation('tag.contributors.following') %> <b><%= params[:id] %></b></a>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <div class="col-md-4" style="display: inline-block;">
    <table class="table">
      <tr>
        <a rel="tooltip" title="<%= translation('tag.contributors.unfollow') %>" class="btn btn-outline-secondary btn-sm" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= translation('tag.contributors.following') %> <b><%= params[:id] %></b></a>
      </tr>
      <% Tag.followers(params[:id]) && Tag.followers(params[:id]).each do |follower| %>
        <tr class="followers-row">
          <td><a href='/profile/<%= follower.name %>'><i class="fa fa-user-o"></i> <%= follower.name %></a></td>
        </tr>
      <% end %>
    </table>
  </div>
  <br />
<% end %>
