<br />
<% url = url || "/tag/create/" + node.id.to_s unless node.nil? %>
<form id="tagform" class="form" data-remote="true" action="<%= url %>">
  <div class="control-group">
    <input class="form-control" name="remote" type="hidden" value="true" />
    <div class="input-group">
      <input aria-label="Enter tag name" autocomplete="off" class="tag-input form-control" name="name" type="text" placeholder="<%= translation('tag._tagging.enter_tags') %>" data-provide="typeahead" />
      <div class="input-group-append">
        <a class="btn btn-outline-secondary blurred-location-input" rel="tooltip" title="Link with a location" style="border-color:#ccc;">
          <i class="fa fa-map-marker"></i>
        </a>
        <%= render partial: 'tag/advanced_tagging' %>
      </div>
    </div>
    <script>
      jQuery(document).ready(function() {
        <% if node %>
          // node tags:
          initTagForm("/tag/delete/<%= node.id %>", '#tagform');
        <% elsif user %>
          // user tags:
          initTagForm("/profile/tags/delete/<%= user.id %>", '#tagform');
        <% end %>
      });
    </script>
  </div>
</form>
