<div id="chart"> </div>
<i> The graphs above are stacked </i>
<br>
<br> <br>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>

var options = {
    colors: ['#00E396', '#0090FF', '#800080', '#fff896'],
    chart: {
        type: "area",
        height: 300,
        width: '100%',
        foreColor: "#999",
        scroller: {
            enabled: true,
            track: {
                height: 7,
                background: '#e0e0e0'

            },
            thumb: {
                height: 10,
                background: '#94E3FF'

            },
            scrollButtons: {
                enabled: true,
                size: 9,
                borderWidth: 2,
                borderColor: '#008FFB',
                fillColor: '#008FFB'

            },
            padding: {
                left: 30,
                right: 20
            }

        },
        stacked: true,
        dropShadow: {
            enabled: true,
            enabledSeries: [0],
            top: -2,
            left: 2,
            blur: 5,
            opacity: 0.06

        }

    },

    stroke: {
        curve: 'smooth',

    },
    dataLabels: {
        enabled: false,

    },
    series: [{
        name: 'Note tags',
        data: generateSeries(0,52)
    },{
        name: 'Wiki tags',
        data: generateSeries(1,52)
    },{
        name: 'Map tags',
        data: generateSeries(2,52)
    },{
        name: 'Question tags',
        data: generateSeries(3,52)
    } ],

        markers: {
            size: 0,
            strokeColor: "#fff",
            strokeWidth: 3,
            strokeOpacity: 1,
            fillOpacity: 1,
            hover: {
                size: 6

            }

        },
        xaxis: {
            type: "datetime",
            axisBorder: {
                show: false

            },
            axisTicks: {
                show: false

            }

        },
        yaxis: {
            tickAmount: 5,
            opposite: true,
            labels: {
                offsetX: 24,
                offsetY: -5

            },
            tooltip: {
                enabled: true

            }
        },
        grid: {
            borderColor: '#000000',
            padding: {
                left: -5,
                right: 5

            }

        },
        tooltip: {
            x: {
                format: "dd MMM yyyy"
            },

        },
        legend: {
            position: 'top',
            horizontalAlign: 'left'

        },
        fill: {
            type: "solid",
            fillOpacity: 0.7

        }
};


var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();


function generateSeries(s, count) {
    var values = [
        <%= notes.values.collect {|ind| ind[1]} %>,
        <%= wikis.values.collect {|ind| ind[1]} %>,
        <%= maps.values.collect {|ind| ind[1]} %>,
        <%= questions.values.collect {|ind| ind[1]} %>
    ];

    var i = 0;
    var months_dates = <%= notes.values.collect {|ind| ind[0]} %>
    var months = months_dates.map(x =>  new Date(x).getTime());
    var series = [];
    while (i < count) {
        for (var j =0; j < months.length; j++) {
            series.push([months[j], values[s][i]]);
            i++;

        }
    }
    return series;
}
</script>
