<% user = user || @user # allow overriding w/ local variable %>

<!-- This is the sidebar tagging display, also renders Subscribe button for multiple subscription -->
<div>
  <h6 style="display: inline-block; margin-right: 20px; color:#666;">This page is part of: </h6>
</div>

<% if @node %>
  <%= render partial: 'tag/replication' %>

  <span id="tags">
    <%= render partial: 'tag/tags', locals: { power_tag: true, badge_name: 'badge-secondary', tags: @node.node_tags } %>
    <%= render partial: 'tag/tags', locals: { power_tag: false, badge_name: 'badge-primary', tags: @node.node_tags } %>
    <% if @tags.count > 2 %>
      <a href=""><p style="float:left; color:#666; margin-top:15px; margin-left:5px;"><u><%= @tags.count-2 %> more</u> &nbsp </p></a>
    <% end %>
  </span>
<% else %>
  <span id="tags">
      <%= render partial: 'tag/tags', locals: { power_tag: false, badge_name: 'badge-primary', tags: user.user_tags, user: user } %>
      <% if @tags.count > 2 %>
        <a href=""><p style="float:left; margin-top:-10px; color:#666;"><%= @tags.count-2 %> more &nbsp </p></a>
      <% end %>
  </span>
<% end %>

<script>
$(function () {
  $('#tags [data-toggle="tooltip"]').tooltip()
})

var pops = $("[data-toggle=popover]");
$(".label").on("click", function(e){
    if(e.target === this){
      let that = this;
      if(this.dataset.count == 0){
        setTimeout(function(){
          $(that).popover("show");
        }, 0);
        this.dataset.count = 1;
      } else {
        setTimeout(function(){
          $(that).popover("hide");
        }, 0);
        this.dataset.count = 0;
      }
    }
  });
</script>

<% parent ||= nil %>

<% if current_user && (parent != :profile || (current_user.id == user.id || logged_in_as(['admin']))) %>
<% url = url || "/tag/create/" + @node.id.to_s %>

<a id="tags-open" style="cursor: pointer;"><i class="fa fa-plus-circle fa-2x " style="color:#808080; float:left; margin-top:13px; margin-left:5px;" aria-hidden="true"></i></a>

<form id="tagform" class="form" data-remote="true" action="<%= url %>">
  <div class="control-group">
    <input class="form-control" name="remote" type="hidden" value="true" />
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-tags"></i></span>
        </div>
      <input autocomplete="off" class="tag-input form-control" name="name" type="text" placeholder="<%= t('tag._tagging.enter_tags') %>" data-provide="typeahead" />
      <div class="input-group-append">
        <a class="btn btn-outline-secondary blurred-location-input" rel="tooltip" title="Link with a location">
          <i class="fa fa-map-marker"></i>
        </a>
        <%= render partial: 'tag/advanced_tagging' %>
      </div>
    </div>
    <script>
      jQuery(document).ready(function() {
        <% if @node %>
          // node tags:
          initTagForm("/tag/delete/<%= @node.id %>", '#tagform');
        <% else %>
          // user tags:
          initTagForm("/profile/tags/delete/<%= user.id %>", '#tagform');
        <% end %>
      });
    </script>
  </div>
</form>
<% end %>

<script>
  $("#tags-open").click(function(){
      $("#tagform").toggle();
  });
</script>

<style>
  #tagform {
    display:none;
  }
  .list-inline {
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<%= render partial: 'tag/location' %>
