<div class="pop_content">
  <p class="small_heading"> Follow related tags: </p>
  <%= form_with remote: true, url: '/subscribe/multiple/tag' do |f| %>
    <% tags.each do |tag| %>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" id="<%= tag.id %>" name="tagnames[]" value="<%= tag.name %>" <% if current_user.following(tag.name) %> checked <% end %> ><span class="<% if tag.name.include?(':') %> label label-primary <% else %> label label-default <% end %>" style="margin-left: 3px; margin-right: 10px; display: inline-block;"> <%= tag.name %></span>
      </label>
    </div>
    <% end %>
      <%= f.submit 'Subscribe', id: "subscribe", class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
<style>
  .small_heading{
  font-style: italic;
  color: #004d80;
  }
</style> 
