<% user = user || @user # allow overriding w/ local variable %>

<!-- This is the sidebar tagging display, also renders Subscribe button for multiple subscription -->
<div>
  <h1 style="display: inline-block; margin-right: 20px;">Tags</h1>
  <% if @node && !@node.node_tags.empty? %>
    <%= render partial: 'tag/subscribe_button', locals:{tags: @node.node_tags} %>
  <% end %>
</div>
<em class="italics"><a href="/tags">Tags</a> organize our knowledge base. Click to learn more or subscribe to a topic.</em>


<% if @node %>
  <%= render partial: 'tag/replication' %>

  <span id="tags">
  <%= render partial: 'tag/tags', locals: { power_tag: true, badge_name: 'badge-default', tags: @node.node_tags } %>
  <%= render partial: 'tag/tags', locals: { power_tag: false, badge_name: 'badge-primary', tags: @node.node_tags } %>
  </span>
<% else %>
  <span id="tags">
  <%= render partial: 'tag/tags', locals: { power_tag: false, badge_name: 'badge-primary', tags: user.user_tags, user: user } %>
  </span>
<% end %>

<script>
$(function () {
  $('#tags [data-toggle="tooltip"]').tooltip()
})
  
var pops = $("[data-toggle=popover]");
$(".label").on("click", function(e){
    if(e.target === this){
      let that = this;
      if(this.dataset.count == 0){
        setTimeout(function(){
          $(that).popover("show");
        }, 0);
        this.dataset.count = 1;
      } else {
        setTimeout(function(){
          $(that).popover("hide");
        }, 0);
        this.dataset.count = 0;
      }
    }
  });
</script>

<% parent ||= nil %>

<% if current_user && (parent != :profile || (current_user.id == user.id || current_user.role == "admin")) %>
<% url = url || "/tag/create/" + @node.id.to_s %>

<form id="tagform" data-remote="true" action="<%= url %>">
  <div class="form-row">
    <input class="form-control" name="remote" type="hidden" value="true" />
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-tags"></i></span>
        </div>
      <input autocomplete="off" class="form-control" name="name" type="text" placeholder="<%= t('tag._tagging.enter_tags') %>" data-provide="typeahead" />
      <div class="input-group-append">
        <a class="btn btn-outline-secondary blurred-location-input" rel="tooltip" title="Link with a location">
          <i class="fa fa-map-marker"></i>
        </a>
        <%= render partial: 'tag/advanced_tagging' %>
      </div>
    </div>
    <script>
      jQuery(document).ready(function() {
        <% if @node %>
          // node tags:
          initTagForm("/tag/delete/<%= @node.id %>", '#tagform');
        <% else %>
          // user tags:
          initTagForm("/profile/tags/delete/<%= user.id %>", '#tagform');
        <% end %>
      });
    </script>
  </div>
</form>
<% end %>

<%= render partial: 'tag/location' %>
