<p>
  <% tags.each do |tag| %>
    <% if tag.class == NodeTag %>

      <% if power_tag ^ tag.name.include?(':') # XOR operator??? %>
        <span id="tag_<%= tag.tid %>" class="label <%= label_name %>" style="cursor:pointer" data-toggle="popover" data-trigger="focus" data-count=0 data-placement="top" data-content="<p style='text-align:center;'><a href='/tag/<%= tag.name %>'><%= Tag.tagged_node_count(tag.name) || 0 %> notes</a> - <a href='/contributors/<%= tag.name %>'><%= Tag.contributors(tag.name).count %> people <br></a></p> <p style='text-align:center;font-size:12px;'><%if tag.description %><%= tag.description %> |<% end %> created by <a href='/profile/<%= tag.try(:author).try(:username) %>'><%= tag.try(:author).try(:username) %></a> <%= time_ago_in_words(Time.at(tag.date)) %> ago </p> <div style='text-align:center;'><a href='/subscribe/tag/<%= tag.name %>' class='btn btn-primary'>Follow</a></div>" data-html="true" title="<%= tag.name %>">
          <%= tag.name %>
          <% if current_user && ( current_user.uid ==  @node.uid || current_user.uid == tag.uid  || current_user.role == "admin" || current_user.role == "moderator") %>
            <% if tag.name.include? ':' %>
              <a data-confirm="This is a power tag (see https://publiclab.org/wiki/power-tags) -- and may drive a specific function on this page. Are you sure you want to delete it?" class="tag-delete" data-remote="true" href="/tag/delete/<%= @node.id %>/<%= tag.tid %>" data-tag-id="<%= tag.tid %>" data-method="delete">x</a>
            <% else %>
              <a data-confirm="Are you sure you want to delete it?" class="tag-delete" data-remote="true" href="/tag/delete/<%= @node.id %>/<%= tag.tid %>" data-tag-id="<%= tag.tid %>" data-method="delete">x</a>
            <% end %>
          <% end %>
        </span>
      <% end %>

    <% elsif tag.class == UserTag && (tag..split(':')[0] != "oauth"||(tag..split(':')[0] == "oauth" && (tag.uid == current_user.uid || tag.uid = current_user.role == "admin") ) ) %>

        <span id="tag_<%= tag.id %>" class="label <%= label_name %>" style="cursor:pointer" data-toggle="popover" data-trigger="manual" data-count=0 data-placement="top" data-content="<a href='/contributors/<%= tag.name %>'><%= Tag.tagged_node_count(tag.name) || 0 %> notes - <%= Tag.contributors(tag.name).count %> people <br></a>" data-html="true" title="<%= tag.name %>">
          <%= tag.name %>
          <% if current_user && ( current_user.uid == tag.uid  || current_user.role == "admin" || current_user.role == "moderator") %>
            <a data-confirm="Are you sure you want to delete it?" class="tag-delete" data-remote="true" href="/profile/tags/delete/<%= @user.id %>?name=<%= tag.name %>" data-method="delete">x</a>
          <% end %>
        </span>

    <% end %>

  <% end %>
</p>
