<%= render partial: 'tag/replication' %>

<span id="tags">
<%= render partial: 'tag/tags', locals: { power_tag: true, label_name: 'label-default' } %>
<%= render partial: 'tag/tags', locals: { power_tag: false, label_name: 'label-primary' } %>
</span>

<script>
$(function () {
  $('#tags [data-toggle="tooltip"]').tooltip()
})
</script>

<% if current_user %>
<form id="tagform" class="form" data-remote="true" action="/tag/create/<%= @node.id %>">
  <div class="control-group">
    <input name="remote" type="hidden" value="true" />
    <div class="input-group col-md-6">
      <span class="input-group-addon"><i class="fa fa-tags"></i></span>

      <% if params[:potter] %>
      <%= render partial: 'tag/advanced_tagging' %>
      <% end %>

      <input autocomplete="off" class="tag-input form-control" name="name" type="text" placeholder="<%= t('tag._tagging.enter_tags') %>" data-provide="typeahead" />
    </div>
    <script>
      jQuery(document).ready(function() {
        initTagForm(<%= @node.id %>, '#tagform');
      });
    </script>
  </div>
</form>
<% end %>