<% if @node %>
  <%= render partial: 'tag/replication' %>

  <span id="tags">
  <%= render partial: 'tag/tags', locals: { power_tag: true, label_name: 'label-default', tags: @node.node_tags } %>
  <%= render partial: 'tag/tags', locals: { power_tag: false, label_name: 'label-primary', tags: @node.node_tags } %>
  </span>
<% else %>
  <span id="tags">
  <%= render partial: 'tag/tags', locals: { power_tag: false, label_name: 'label-primary', tags: @user.user_tags } %>
  </span>
<% end %>

<script>
$(function () {
  $('#tags [data-toggle="tooltip"]').tooltip()
})
</script>

<% url = url || "/tag/create/" + @node.id.to_s %>

<% if current_user %>
<form id="tagform" class="form" data-remote="true" action="<%= url %>">
  <div class="control-group">
    <input name="remote" type="hidden" value="true" />
    <div class="input-group col-md-6">
      <span class="input-group-addon"><i class="fa fa-tags"></i></span>
      <input autocomplete="off" class="tag-input form-control" name="name" type="text" placeholder="<%= t('tag._tagging.enter_tags') %>" data-provide="typeahead" />
      <div class="input-group-btn">
        <a class="btn btn-default blurred-location-input">
          <i class="fa fa-map-marker"></i>
        </a>
        <%= render partial: 'tag/advanced_tagging' %>
      </div>
    </div>
    <script>
      jQuery(document).ready(function() {
        <% if @node %>
          // node tags:
          initTagForm("/tag/delete/<%= @node.id %>", '#tagform');
        <% else %>
          // user tags:
          initTagForm("/profile/tags/delete/<%= @user.id %>", '#tagform');
        <% end %>
      });
    </script>
  </div>
</form>
<% end %>

<%= render partial: 'tag/location' %>
