<div class="col-md-2">
</div>
<div class="col-md-8 blog">
  <div class="blog-header">
    <h1><%= params[:id] == "blog" ? I18n.t('tag.blog.the_public_lab') : params[:id].split('-').join(' ').capitalize %> <%= t('tag.blog.blog') %></h1>

    <% if params[:id] == "blog" %>
      <br />
      <p><%= t('tag.blog.stories_from_community') %></p>
      <p>
        <a href="/wiki/blog"><%= t('tag.blog.about_the_blog') %>  </a> |
        <a href="/research"><%= t('tag.research') %> </a> |
        <a href="/tools"><%= t('tag.methods') %></a>
      </p>
      <% if current_user %>
        <a class="btn btn-default btn-sm" href="/feed/tag/<%= params[:id] %>.rss"><i class="fa fa-rss"></i> RSS</a>
        <% if current_user.following(params[:id]) %>
        <a rel="tooltip" title="<%= t('tag.blog.unfollow') %>" class="btn btn-default btn-sm active" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-eye"></i> <%= t('tag.blog.following') %> <b><%= params[:id] %></b></a>
        <% else %>
        <br><br>
        <div class="alert alert-success" role="alert">
        Want to get updates for new blog posts? <a class="btn btn-default btn-sm" href="/subscribe/tag/<%= params[:id] %>"> 
        <b><%= t('Click here to subscribe!') %></b></a>
        </div>
        <% end %>
      <% else %>
        <div class="alert alert-info" role="alert">
        <a href="/login?return_to=/blog" class="alert-link">Log in</a> to get updates for new posts! 
        </div>
      <% end %>
    <% end %>
    
    <br />

  </div>

  <hr />

  <% if @notes.nil? || @notes.length == 0 %>
    <p><%= raw t('tag.blog.no_results', :search => params[:id]) %>:</p>

    <%= render template: "searches/new" %>

  <% else %>

      <% @notes.each_with_index do |node,i| %>
        <div class="clearfix blog-entry">
          <% if node.main_image %>
            <a class="img" href="<%= node.path %>"><img src="<%= node.main_image.path(:default) %>" /></a>
          <% end %>
          <h1><a href="<%= node.path %>"><%= node.title %></a></h1>
          <p class="meta" style="color:#888;"><small>
            <%= t('tag.blog.by') %> <a href="/profile/<%= node.author.name %>"><%= node.author.name %></a>
	    | <%= distance_of_time_in_words(node.created_at, Time.current, { include_seconds: false, scope: 'datetime.time_ago_in_words' }) %>
            | <a href="<%= node.path %>#comments"><i style="color:#888;" class="fa fa-comment-o"></i> <%= node.comment_count %></a>
            <% if params[:controller] == "notes" && params[:action] == "popular" %>
            | <%= number_with_delimiter(node.totalviews) %> <%= t('tag.blog.views') %>
            <% else %>
            | <i style="color:#888;" class="fa fa-star-o"></i> <%= node.likes %>
            <% end %>
          </small></p>
          <p><%= raw auto_link(insert_extras(node.latest.render_body), :sanitize => false) %></p>
          <p><a href="<%= node.path %>"><%= t('tag.blog.read_more') %> &raquo;</a></p>
          <p>
            <%= render :partial => "like/like", :locals => {:node => node, :tagnames => node.tags.collect(&:name) } %>
            <% node.tags[0..3].each do |tag| %>
              <a class="label label-primary" href="/tag/<%= tag.name %>"><%= tag.name %></a> 
            <% end %>
          </p>
          <% if params[:mod] %>
          <a class="btn btn-default btn-xs" href="#"><i class="fa fa-ban-circle"></i> <%= t('tag.blog.spam') %></a>
          <% end %>
        </div>
        <hr />
      <% end %>

    <%= will_paginate @notes, :renderer => BootstrapPagination::Rails unless @unpaginated %>

  <% end %>

  <hr />
  
</div>
