<style>
  .blog h1 {
    font-size:4em;
    margin-top:100px;
    color:#326;
  }
  .blog h2, .blog h1 {
    text-align:center;
    padding:10px 40px;
  }
  .blog .meta {
    text-align:center;
    margin:10px 0 20px;
  }
  .blog-header, .blog a.img {
    text-align:center;
  }
  .blog-header p {
    color:#444;
  }
  .blog {
    font-size:15px;
  }
</style>

<div class="span2">

</div>
<div class="span8 blog">
  <div class="blog-header">
    <h1><%= params[:id] == "blog" ? "The Public Lab Blog" : params[:id].capitalize %></h1>

    <br />
    <p>stories from the Public Lab community</p>
    <br />
 
    <% if current_user %>
      <a class="btn btn-small" href="/feed/tag/<%= params[:id] %>.rss"><i class="icon icon-rss"></i> RSS</a>
      <% if current_user.following(params[:id]) %>
      <a rel="tooltip" title="Click to unfollow" class="btn btn-small active" href="/unsubscribe/tag/<%= params[:id] %>"><i class="icon icon-eye-open"></i> Following <b><%= params[:id] %></b></a>
      <% else %>
      <a class="btn btn-small" href="/subscribe/tag/<%= params[:id] %>"><i class="icon icon-eye-open"></i> Follow <b><%= params[:id] %></b></a>
      <% end %>
    <% end %>
  </div>

  <hr />

  <% if @notes.nil? || @notes.length == 0 %>
    <p>No results found; try searching for '<b><%= params[:id] %></b>':</p>

    <%= render :partial => "search/search" %>

    <p>Or try an <a href="/search/advanced/">advanced search</a></p>
  <% else %>

      <% @notes.each_with_index do |node,i| %>
        <div class="clearfix">
          <% if node.main_image %>
            <a class="img" style="width:60%" href="<%= node.path %>"><img src="<%= node.main_image.path(:default) %>" /></a>
          <% end %>
          <h2 style="clear:left;padding-top:20px;"><a href="<%= node.path %>"><%= node.title %></a></h2>
          <p class="meta" style="color:#888;"><small>
            by <a href="/profile/<%= node.author.name %>"><%= node.author.name %></a> 
            | <%= time_ago_in_words(node.created_at) %> ago
            | <a href="<%= node.path %>#comments"><i style="color:#888;" class="icon icon-comment-alt"></i> <%= node.comment_count %></a>
            <% if params[:controller] == "notes" && params[:action] == "popular" %>
            | <%= number_with_delimiter(node.totalcount) %> views
            <% else %>
            | <i style="color:#888;" class="icon icon-star-empty"></i> <%= node.likes %>
            <% end %>
          </small></p>
          <p><%= raw auto_link(node.latest.render_body.truncate(1200), :sanitize => false) %></p>
          <p><a href="<%= node.path %>">Read more &raquo;</a></p>
          <p>
            <% node.tags[0..3].each do |tag| %>
              <a class="label label-info" href="/tag/<%= tag.name %>"><%= tag.name %></a> 
            <% end %>
          </p>
          <% if params[:mod] %>
          <a class="btn btn-mini" href="#"><i class="icon-ban-circle"></i> Spam</a>
          <% end %>
        </div>
        <hr />
      <% end %>

    <%= will_paginate @notes, :renderer => BootstrapPagination::Rails unless @unpaginated %>

  <% end %>

  <hr />
  
</div>
