<div class="col-md-2">

</div>
<div class="col-md-8 blog">
  <div class="blog-header">
    <h1><%= params[:id] == "blog" ? "The Public Lab" : params[:id].split('-').join(' ').capitalize %> Blog</h1>

    <% if params[:id] == "blog" %>
      <br />
      <p>stories from the Public Lab community</p>
      <p><a href="/wiki/blog">About the blog</a></p>
    <% end %>

    <br />
 
    <% if current_user %>
      <a class="btn btn-sm" href="/feed/tag/<%= params[:id] %>.rss"><i class="fa fa-rss"></i> RSS</a>
      <% if current_user.following(params[:id]) %>
      <a rel="tooltip" title="Click to unfollow" class="btn btn-sm active" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-eye"></i> Following <b><%= params[:id] %></b></a>
      <% else %>
      <a class="btn btn-sm" href="/subscribe/tag/<%= params[:id] %>"><i class="fa fa-eye"></i> Follow <b><%= params[:id] %></b></a>
      <% end %>
    <% end %>
  </div>

  <hr />

  <% if @notes.nil? || @notes.length == 0 %>
    <p>No results found; try searching for '<b><%= params[:id] %></b>':</p>

    <%= render :partial => "searches/search" %>

    <p>Or try an <a href="/search/advanced/">advanced search</a></p>
  <% else %>

      <% @notes.each_with_index do |node,i| %>
        <div class="clearfix blog-entry">
          <% if node.main_image %>
            <a class="img" href="<%= node.path %>"><img src="<%= node.main_image.path(:default) %>" /></a>
          <% end %>
          <h1><a href="<%= node.path %>"><%= node.title %></a></h1>
          <p class="meta" style="color:#888;"><small>
            by <a href="/profile/<%= node.author.name %>"><%= node.author.name %></a> 
            | <%= time_ago_in_words(node.created_at) %> ago
            | <a href="<%= node.path %>#comments"><i style="color:#888;" class="fa fa-comment-alt"></i> <%= node.comment_count %></a>
            <% if params[:controller] == "notes" && params[:action] == "popular" %>
            | <%= number_with_delimiter(node.totalcount) %> views
            <% else %>
            | <i style="color:#888;" class="fa fa-star-o"></i> <%= node.likes %>
            <% end %>
          </small></p>
          <p><%= raw auto_link(node.latest.render_body, :sanitize => false) %></p>
          <p><a href="<%= node.path %>">Read more &raquo;</a></p>
          <p>
            <%= render :partial => "like/like", :locals => {:node => node, :tagnames => node.tags.collect(&:name) } %>
            <% node.tags[0..3].each do |tag| %>
              <a class="label label-primary" href="/tag/<%= tag.name %>"><%= tag.name %></a> 
            <% end %>
          </p>
          <% if params[:mod] %>
          <a class="btn btn-mini" href="#"><i class="fa fa-ban-circle"></i> Spam</a>
          <% end %>
        </div>
        <hr />
      <% end %>

    <%= will_paginate @notes, :renderer => BootstrapPagination::Rails unless @unpaginated %>

  <% end %>

  <hr />
  
</div>
