<%= render :partial => "sidebar/related" %>
<div class="span9">
  <script language="javascript" type="text/javascript" src="/flot/jquery.flot.js"></script> 
  <script language="javascript" type="text/javascript" src="/flot/jquery.flot.crosshair.js"></script>

  <div id="note-graph" style="height:100px;"></div>

  <script type="text/javascript">
  (function () {

    flotoptions_minimal = {
      yaxis: { show: false },
      xaxis: { show: true },
      grid: {
        borderWidth: 0,
        //color: "#444",
        markers: []
      },
      colors: [ "#08f", "#80f" ]
    }

    var notes = <%= @tag.weekly_tallies.to_a.sort.to_json %>

    $.plot($("#note-graph"), [
      {
          data: notes,
          hoverable: true,
 //         label: "Research Notes",
          bars: { show: true, 
                  lineWidth: 0,
                  fillColor: "#08f",
                  barWidth: 0.5
                }
      }
    ],flotoptions_minimal)

  })()
  </script>

  <h3 style="margin-top:0;">Contributors for <i style="color:#aaa;"><%= params[:id] %></i></h3>
  <p><i>Above: contributions over the past year.</p>
  <p><%= @users.length || 0 %> people have contributed <%= @notes.length %> research notes and <%= @wikis.length %> wiki pages tagged with "<%= params[:id] %>"</i></p>

  <% if current_user %>
  <!-- AJAXify -->
  <div class="btn-group">
    <a class="btn btn-small" href="/feed/tag/<%= params[:id] %>.rss"><i class="icon icon-rss"></i> RSS</a>
    <% if current_user.following(params[:id]) %>
    <a rel="tooltip" title="Click to unfollow" class="btn btn-small active" href="/unsubscribe/tag/<%= params[:id] %>"><i class="icon icon-eye-open"></i> Following <b><%= params[:id] %></b></a>
    <% else %>
    <a class="btn btn-small" href="/subscribe/tag/<%= params[:id] %>"><i class="icon icon-eye-open"></i> Follow <b><%= params[:id] %></b></a>
    <% end %>
  </div>
  <!-- AJAXify -->
  &nbsp; <%= DrupalTag.follower_count(params[:id]) %> people are watching this tag
  <% end %>

  <hr />

  <% if @notes.nil? || @notes.length == 0 %>
    <p>No contributors for that tag; try searching for '<b><%= params[:id] %></b>':</p>
  <% else %>
    <table class="table">
      <tr>
        <th style="width:25%;">Contributor</th>
        <th>Notes</th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><a href='/profile/<%= user.name %>'><i class="icon icon-user"></i> <%= user.name %></a></td>
        <td><a href='/notes/author/<%= user.name %>/<%= params[:id] %>'>Notes &raquo;</a></td>
      </tr>
      <% end %>
    </table>
  <% end %>

  <hr />
  
</div>
