<%= render :partial => "sidebar/related" %>
<div class="col-md-9">
  <% if @tag %>
    <div id="note-graph" style="height:100px;"></div>

    <script type="text/javascript">
    (function () {

      flotoptions_minimal = {
        yaxis: { show: false },
        xaxis: { show: true },
        grid: {
          borderWidth: 0,
          //color: "#444",
          markers: []
        },
        colors: [ "#08f", "#80f" ]
      }

      var notes = <%= @tag.weekly_tallies.to_a.sort.to_json %>

      $.plot($("#note-graph"), [
        {
          data: notes,
          hoverable: true,
 //       label: "Research Notes",
          bars: {
            show: true,
            lineWidth: 0,
            fillColor: "#08f",
            barWidth: 0.5
          }
        }
      ],flotoptions_minimal)

    })()
    </script>

  <br />

    <h3 style="margin-top:0;"><%= raw t('tag.contributors.contributors_for', :tag_name => params[:id]) %></h3>
    <p><%= t('tag.contributors.contributions_over_past_year') %></p>

  <% end %>

  <%= render :partial => "tag/contributors" %>

</div>
