<%= render :partial => "sidebar/related" %>
<div class="col-md-9">
  <% if @tag %>
    <div id="note-graph" style="height:100px;"></div>

    <script type="text/javascript">
    (function () {

      flotoptions_minimal = {
        yaxis: { show: false },
        xaxis: { show: true },
        grid: {
          borderWidth: 0,
          //color: "#444",
          markers: []
        },
        colors: [ "#08f", "#80f" ]
      }

      var notes = <%= @tag.weekly_tallies.to_a.sort.to_json %>

      $.plot($("#note-graph"), [
        {
          data: notes,
          hoverable: true,
 //       label: "Research Notes",
          bars: {
            show: true,
            lineWidth: 0,
            fillColor: "#08f",
            barWidth: 0.5
          }
        }
      ],flotoptions_minimal)

    })()
    </script>

    <h3 style="margin-top:0;"><%= raw t('tag.contributors.contributors_for', :tag_name => params[:id]) %></h3>
    <p><%= t('tag.contributors.contributions_over_past_year') %></p>
    <% if @users %><p><i><%= raw t('tag.contributors-index.notes_and_wiki_contributions', :users => @users.length || 0, :notes => @notes.length, :wikis => @wikis.length, :tag_name => params[:id]) %></i></p><% end %>
  
    <% if current_user %>
    <!-- AJAXify -->
    <div class="btn-group">
      <a class="btn btn-sm" href="/feed/tag/<%= params[:id] %>.rss"><i class="fa fa-rss"></i> RSS</a>
      <% if current_user.following(params[:id]) %>
      <a rel="tooltip" title="<%= t('tag.contributors.unfollow') %>" class="btn btn-sm active" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-eye"></i> <%= t('tag.contributors.following') %> <b><%= params[:id] %></b></a>
      <% else %>
      <a class="btn btn-sm" href="/subscribe/tag/<%= params[:id] %>"><i class="fa fa-eye"></i> <%= t('tag.contributors.follow') %> <b><%= params[:id] %></b></a>
      <% end %>
    </div>
    <!-- AJAXify -->
    &nbsp; <%= raw t('tag.contributors.people_watching_tag', :count => Tag.follower_count(params[:id])) %>
    
    <% end %>
  <% end %>
  <hr />

  <% if @notes.nil? || @notes.length == 0 %>
    <p><%= raw t('tag.contributors.no_contributors', :tag => params[:id]) %>:</p>
  <% else %>
    <table class="table">
      <tr>
        <th style="width:25%;"><%= t('tag.contributors.contributor') %></th>
        <th><%= t('tag.contributors.notes') %></th>
      </tr>
      <% if @users %>
        <% @users.each do |user| %>
        <tr>
          <td><a href='/profile/<%= user.name %>'><i class="fa fa-user"></i> <%= user.name %></a></td>
          <td><a href='/notes/author/<%= user.name %>/<%= params[:id] %>'><%= t('tag.contributors.notes') %> &raquo;</a></td>
        </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>

  <hr />
  
</div>
