<%= render :partial => "sidebar/featured" %>
<div class="col-md-9">
  <% if !@tags.empty? %>
    <% @tags.each do |tag| %>

      <div id="note-graph-<%= tag.name %>" style="height:100px;"></div>

      <script type="text/javascript">
      (function () {

        flotoptions_minimal = {
          yaxis: { show: true },
          xaxis: { show: true },
          grid: {
            borderWidth: 0,
            //color: "#444",
            markers: []
          },
          colors: [ "#08f", "#80f" ]
        }

        var notes = <%= tag.weekly_tallies.to_a.sort.to_json %>

        $.plot($("#note-graph-<%= tag.name %>"), [
          {
            data: notes,
            hoverable: true,
 //         label: "Research Notes",
            bars: {
              show: true,
              lineWidth: 0,
              fillColor: "#08f",
              barWidth: 0.5
            }
          }
        ],flotoptions_minimal)

      })()
      </script>
      
      <h3 style="margin-top:0;"><%= raw t('tag.contributors-index.contributors_over_last_week', :tag_name => tag.name) %> <small><a href="/tag/<%= tag.name %>"><%= t('tag.contributors-index.read_more') %> &raquo;</a></small></h3>
      <p><%= raw t('tag.contributors-index.notes_and_wiki_contributions', :users => @tagdata[tag.name][:users] || 0, :notes => @tagdata[tag.name][:notes], :wikis => @tagdata[tag.name][:wikis], :tag_name => tag.name) %></p>

      <% if current_user %>
      <!-- AJAXify -->
      <div class="btn-group">
        <a class="btn btn-sm" href="/feed/tag/<%= tag.name %>.rss"><i class="fa fa-rss"></i> RSS</a>
        <% if current_user.following(tag.name) %>
        <a rel="tooltip" title="<%= t('tag.contributors-index.unfollow') %>" class="btn btn-sm active" href="/unsubscribe/tag/<%= tag.name %>"><i class="fa fa-eye"></i> <%= t('tag.contributors-index.following') %> <b><%= tag.name %></b></a>
        <% else %>
        <a class="btn btn-sm" href="/subscribe/tag/<%= tag.name %>"><i class="fa fa-eye"></i> <%= t('tag.contributors-index.follow') %> <b><%= tag.name %></b></a>
        <% end %>
      </div>
      <!-- AJAXify -->
      &nbsp; <%= raw t('tag.contributors-index.people_watching_tag', :count => Tag.follower_count(tag.name)) %>
      
      <% end %>

      <hr />
    <% end %>
  <% else %>
    <p><%= t('tag.contributors-index.no_contributors_listed') %> <a href="/post"><%= t('tag.contributors-index.write_research_note') %></a></p>
  <% end %>

</div>
