<%= render :partial => "sidebar/featured" %>
<h4>Search by Tag</h4>
<div>
  <form id="tagform" class="form-horizontal" method="GET" action="/questions/tag/">
    <div class="input-group">
      <input tabindex="1" autocomplete="off" id="taginput" name="id" type="text" placeholder="Don't see the tag you are looking for? Type it here." data-provide="typeahead" class="form-control" />
      <span class="input-group-btn" >
        <button type="submit" rel="tooltip" title="View questions with the entered title" class="btn btn-primary">Search</button>
      </span>
    </div>
  </form>
  <script>
    jQuery(document).ready(function() {

      $('#taginput').typeahead({
        items: 8,
        minLength: 3,
        source: function (query, process) {
          var replaced_query = query.replace(' ', /-/g);
          return $.post('/tag/suggested/' + replaced_query, {}, function (data) {
            return process(data)
          })
        },
        updater: function(text) {
          $('#taginput').val(text)
          window.location = "/questions/tag/" + text;
        }
      });

      $('#tagform').submit(function(e) {
        e.preventDefault();
        window.location = "/questions/tag/" + ($('#taginput').val()).replace(/\s/g, '-');
      });

    });
  </script>
</div> 
&nbsp;
<div class="col-md-9">
  <% if !@tags.empty? %>
    <% @tags.each do |tag| %>

      <div id="note-graph-<%= tag.name %>" style="height:100px;"></div>

      <script type="text/javascript">
      (function () {

        flotoptions_minimal = {
          yaxis: { show: true },
          xaxis: { show: true },
          grid: {
            borderWidth: 0,
            //color: "#444",
            markers: []
          },
          colors: [ "#08f", "#80f" ]
        }

        var notes = <%= tag.weekly_tallies.to_a.sort.to_json %>

        $.plot($("#note-graph-<%= tag.name %>"), [
          {
            data: notes,
            hoverable: true,
 //         label: "Research Notes",
            bars: {
              show: true,
              lineWidth: 0,
              fillColor: "#08f",
              barWidth: 0.5
            }
          }
        ],flotoptions_minimal)

      })()
      </script>

      <h3 style="margin-top:0;"><%= raw t('tag.contributors-index.contributors_over_last_week', :tag_name => tag.name) %> <small><a href="/tag/<%= tag.name %>"><%= t('tag.contributors-index.read_more') %> &raquo;</a></small></h3>
      <p><%= raw t('tag.contributors-index.notes_and_wiki_contributions', :users => @tagdata[tag.name][:users] || 0, :notes => @tagdata[tag.name][:notes], :wikis => @tagdata[tag.name][:wikis], :tag_name => tag.name) %></p>

      <% if current_user %>
      <!-- AJAXify -->
      <div class="btn-group">
        <a class="btn btn-sm" href="/feed/tag/<%= tag.name %>.rss"><i class="fa fa-rss"></i> RSS</a>
        <% if current_user.following(tag.name) %>
          <a rel="tooltip" title="<%= t('tag.contributors-index.unfollow') %>" class="btn btn-sm active" href="/unsubscribe/tag/<%= tag.name %>"><i class="fa fa-eye"></i> <%= t('tag.contributors-index.following') %> <b><%= tag.name %></b></a>
        <% else %>
          <a class="btn btn-sm" href="/subscribe/tag/<%= tag.name %>"><i class="fa fa-eye"></i> <%= t('tag.contributors-index.follow') %> <b><%= tag.name %></b></a>
        <% end %>
      </div>
      <!-- AJAXify -->
      &nbsp; <%= raw t('tag.contributors-index.people_watching_tag', :count => Tag.follower_count(tag.name)) %>
      
      <% end %>

      <hr />
    <% end %>
  <% else %>
    <p><%= t('tag.contributors-index.no_contributors_listed') %> <a href="/post"><%= t('tag.contributors-index.write_research_note') %></a></p>
  <% end %>

</div>
