<%= render :partial => "sidebar/featured" %>

<div class="col-md-9">
  <h1 style="font-family:Junction Light;"><%= t('tag.index.popular_tags') %></h1>

  <p><%= t('tag.index.browse_popular_tags') %></p>

  <table class="table">
    <tr>
      <th><%= t('tag.index.tag') %></th>
      <th><%= t('tag.index.number_of_uses') %></th>
    </tr>
    <% @tags.each do |tag| %>
      <tr>
        <td><i class="fa fa-tag"></i> <a href="/tag/<%= tag.name %>"><%= tag.name %></a></td>
        <td><%= tag.count %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @tags, :renderer => BootstrapPagination::Rails if @paginated %>

  <hr />
  
</div>
