<%= render :partial => "sidebar/featured" %>

<div class="col-md-9">
  <h1 style="font-family:Junction Light;">Popular tags</h1>

  <p>We use tags to group research by topic -- browse below to see the most popular tags.</p>

  <table class="table">
    <tr>
      <th>Tag</th>
      <th># of uses</th>
    </tr>
    <% @tags.each do |tag| %>
      <tr>
        <td><i class="icon-tag"></i> <a href="/tag/<%= tag.name %>"><%= tag.name %></a></td>
        <td><%= tag.count %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @tags, :renderer => BootstrapPagination::Rails if @paginated %>

  <hr />
  
</div>
