<%= javascript_include_tag('async_tag_subscriptions.js') %>
<div class="col-md-12">
  <h1 style="font-family:Junction Light;"><%= t('tag.index.popular_tags') %></h1>

  <% cache('feature_tags-header', skip_digest: true) do %> 
    <%= feature('tags-header') %>
  <% end %>

  <p><%= t('tag.index.browse_popular_tags') %></p>
  <br/>
  <form id="tagform" class="form-horizontal" method="GET" action="/tag/" style="width: 400px;">
  <div class="input-group">
    <input type="search" tabindex="1" autocomplete="off" id="taginput" name="id" type="text" placeholder="Search for tags.." data-provide="typeahead" class="form-control" required="required" />
    <span class="input-group-btn" >
      <button type="submit" rel="tooltip" title="View content with the entered title" class="btn btn-primary">Search</button>
    </span>
  </div>
  </form> 
  <br/><br/>

  <table class="table">
    <tr>
      <th><a href = "<%= tags_path %>?sort=name&order=<%= @order_type %>"><%= t('tag.index.tag') %></a> <i class="fa fa-arrows-v"></i></th>
      <th><a href = "<%= tags_path %>?sort=uses&order=<%= @order_type %>"><%= t('tag.index.number_of_uses') %></a> <i class="fa fa-arrows-v"></i></th>
      <th><a href = "<%= tags_path %>?sort=followers&order=<%= @order_type %>"><%= t('tag.index.number_of_subscriptions')%></a> <i class="fa fa-arrows-v"></i></th>
      <% if current_user %>
        <th><a href = "<%= tags_path %>?sort=subscribers"><%= t('tag.index.subscriptions') %></a> <i class="fa fa-sort" aria-hidden="true"></i></th>
      <% end %>
    </tr>
    <% @tags.each do |tag| %>
      <tr>
        <td><i class="fa fa-tag"></i> <a href="/tag/<%= tag.name %>"><%= tag.name %></a></td>
        <td><%= tag.count %></td>
        <td><a class="btn btn-default btn-sm" rel="popover" data-placement="right" data-html="true" data-title="<%= t('tag.show.users_following_tag') %>" data-content="<% Tag.followers(tag.name).each do |user| %><i class='fa fa-star-o'></i> <a href='/profile/<%= user.username %>'><%= user.username %></a><br /><% end %><% if Tag.follower_count(tag.name) == 0 %><i><%= t('tag.show.none') %></i><% end %>"><%= Tag.follower_count(tag.name) %> <i class="fa fa-user"></i> <span class="caret"></span></a></td>
        <script type="text/javascript">
          //show one popover at a time
          $('.btn').on('click', function (e) {
              $('.btn').not(this).popover('hide');
          });
        </script>
        <% if current_user %>
          <td id="follow-unfollow-column-<%=tag.tid%>">
             <% if current_user.following(tag.name) %>
                <a rel="tooltip" title="<%= t('tag.show.unfollow') %>" class="btn btn-default btn-sm active" href="/unsubscribe/tag/<%= tag.name %>"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= t('tag.show.following') %></a>
                <% else %>
                <a class="btn btn-default btn-sm index-follow-buttons follow-btn-remote" href="/subscribe/tag/<%= tag.name %>" data-remote="true" ><i class="fa fa-user-plus" aria-hidden="true"></i> <%= t('tag.show.follow') %></a>
                <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <hr />

</div>

<div class="text-center"> <%= will_paginate @tags, :renderer => BootstrapPagination::Rails if @paginated %></div>

