<%= render :partial => "sidebar/related" %>
<div class="col-md-9">
  <% if @tags.first %>
  <div id="note-graph" style="height:100px;"></div>

  <script type="text/javascript">
  (function () {

    flotoptions_minimal = {
      yaxis: { show: true },
      xaxis: { show: true },
      grid: {
        borderWidth: 0,
        //color: "#444",
        markers: []
      },
      colors: [ "#08f", "#80f" ]
    }

    var notes = <%=raw @tags.first.weekly_tallies.to_a.sort.to_json %>

    $.plot($("#note-graph"), [
      {
          data: notes,
          hoverable: true,
 //         label: "Research Notes",
          bars: { show: true,
                  lineWidth: 0,
                  fillColor: "#08f",
                  barWidth: 0.5
                }
      }
    ],flotoptions_minimal)

  })()
  </script>
  <% end %>

  <h3><%= raw t('tag.show.notes_tagged', :tag => params[:id]) %><% unless @tags.try(:first).try(:parent).nil? %> <small>parent: <%= @tags.first.parent %></small><% end %></h3>

  <%= render :partial => "notes/format_toggle" if @node_type == "note" %>

  <% if current_user %>
  <!-- AJAXify -->
  <div class="btn-group">
    <a class="btn btn-default btn-sm" href="/feed/tag/<%= params[:id] %>.rss"><i class="fa fa-rss"></i> RSS</a>
    <% unless @wildcard %>
      <% if current_user.following(params[:id]) %>
      <a rel="tooltip" title="<%= t('tag.show.unfollow') %>" class="btn btn-default btn-sm active" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-eye"></i> <%= t('tag.show.following') %> <b><%= params[:id] %></b></a>
      <% else %>
      <a class="btn btn-default btn-sm" href="/subscribe/tag/<%= params[:id] %>"><i class="fa fa-eye"></i> <%= t('tag.show.follow') %> <b><%= params[:id] %></b></a>
      <% end %>
      <a class="btn btn-default btn-sm" rel="popover" data-placement="bottom" data-html="true" data-title="<%= t('tag.show.users_following_tag') %>" data-content="<% DrupalTag.followers(params[:id]).each do |user| %><i class='fa fa-star-o'></i> <a href='/profile/<%= user.username %>'><%= user.username %></a><br /><% end %><% if DrupalTag.follower_count(params[:id]) == 0 %><i><%= t('tag.show.none') %></i><% end %>"><%= DrupalTag.follower_count(params[:id]) %> <i class="fa fa-user"></i> <span class="caret"></span></a>
    <% end %>
  </div>
  <!-- AJAXify -->
  <% end %>

  <% unless @wildcard %><p style="clear:both;padding-top:8px;"><a style="margin-bottom:6px;" class="btn btn-primary" href="/post?tags=question:<%= params[:id] %>&template=question&redirect=question"><i class="fa fa-white icon-question-circle"></i> <%= raw t('tag.show.ask_question', :tag => params[:id]) %></a> <%= raw t('tag.show.or_subscribe_to_answer', :url1 => "/subscribe/tag/question:"+params[:id]) %></p><% end %>

  <ul class="nav nav-tabs" style="margin-top:10px;">
    <% unless params[:id].match("question:") %><li<% if @node_type == "note" %> class="active"<% end %>><a href="/tag/<%= params[:id] %>"><i class="fa fa-file"></i> <%= raw t('tag.show.research_notes') %></a></li><% end %>
    <li<% if @node_type == "questions" %> class="active"<% end %>><a href="/questions/tag/<%= params[:id] %>"><i class="fa fa-question-circle"></i> <%= t('tag.show.questions') %></a></li>
    <li<% if @node_type == "wiki" %> class="active"<% end %>><a href="/wiki/tag/<%= params[:id] %>"><i class="fa fa-book"></i> <%= raw t('tag.show.wiki_pages') %></a></li>
    <li<% if @node_type == "maps" %> class="active"<% end %>><a href="/maps/tag/<%= params[:id] %>"><i class="fa fa-map-marker"></i> <%= t('tag.show.maps') %></a></li>
     <li<% if @node_type == "contributors" %> class="active"<% end %>><li><a href="/contributors/<%= params[:id] %>"><i class="fa fa-user"></i> <%= raw t('tag.show.contributors') %></a></li>
  </ul>

  <br />

  <div class="tab-content">

    <% if @node_type == "note" %>
      <div class="tab-pane active" id="notes">
        <% if @notes.nil? || @notes.length == 0 %>
          <p><%= raw t('tag.show.no_results_found', :tag => params[:id]) %>:</p>

          <%= render :partial => "searches/search" %>

          <p><%= raw t('tag.show.try_advanced_search', :url1 => params[:id]) %></p>
        <% else %>
          <%= render :partial => "notes/notes" %>
        <% end %>
      </div>
    <% end %>

    <% if @node_type == "questions" %>
      <div class="tab-pane active" id="questions">
        <%= render :partial => "questions/questions" %>
      </div>
    <% end %>

    <% if @node_type == "wiki" %>
      <div class="tab-pane active" id="wikis">
        <%= render :partial => "wiki/wikis" %>
      </div>
    <% end %>

    <% if @node_type == "maps" %>
      <div class="tab-pane active" id="wikis">
        <%= render :partial => "map/maps" %>
      </div>
    <% end %>

    <hr />
  </div>

</div>
<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "dashboard" %>
