<%= render :partial => "sidebar/related" %>
<div class="span9">
  <h3 style="margin-top:0;">Notes tagged with <i style="color:#aaa;"><%= params[:id] %></i></h3>

  <% if current_user %>
  <!-- AJAXify -->
  <div class="btn-group">
    <a class="btn btn-small" href="/feed/tag/<%= params[:id] %>.rss"><i class="icon icon-rss"></i> RSS</a>
    <% if current_user.following(params[:id]) %>
    <a rel="tooltip" title="Click to unfollow" class="btn btn-small active" href="/unsubscribe/tag/<%= params[:id] %>"><i class="icon icon-eye-open"></i> Following <b><%= params[:id] %></b></a>
    <% else %>
    <a class="btn btn-small" href="/subscribe/tag/<%= params[:id] %>"><i class="icon icon-eye-open"></i> Follow <b><%= params[:id] %></b></a>
    <% end %>
    <a class="btn btn-small" rel="popover" data-placement="bottom" data-html="true" data-title="Users following this tag" data-content="<% DrupalTag.followers(params[:id]).each do |user| %><i class='icon icon-star-empty'></i> <a href='/profile/<%= user.username %>'><%= user.username %></a><br /><% end %><% if DrupalTag.follower_count(params[:id]) == 0 %><i>None</i><% end %>"><%= DrupalTag.follower_count(params[:id]) %> <i class="icon icon-user"></i> <span class="caret"></span></a>
  </div>
  <!-- AJAXify -->
  <% end %>

  <hr />

  <% if @notes.nil? || @notes.length == 0 %>
    <p>No results found; try searching for '<b><%= params[:id] %></b>':</p>

    <%= render :partial => "search/search" %>

    <p>Or try an <a href="/search/advanced/">advanced search</a></p>
  <% else %>
    <%= render :partial => "notes/notes" %>
  <% end %>

  <hr />
  
</div>
