<script src="/assets/wikis.js" type="text/javascript"></script>

<div class="container tag-header" style="height:400px;">
  <%= render partial: 'tag/show/header' %>
  <div class= "card tag-card">
    <div class="card-body">
      <span class="pull-right"><%= render :partial => "tag/show/user_controls" %></span>
      <h1 style="margin-top:6px;"><%= @title %></h1>
      <% if @wiki %>
        <p class = "wiki-sub"><%= @wiki.latest.body %></p>
      <% end %>
      <div class="tag-buttons">
        <div class="btn-group" role="group">
          <% if current_user && current_user.following(@title) %>
            <a rel="tooltip" title="<%= t('sidebar._post_button.share_your_work') %>" data-placement="bottom" href="/post?tags=<%= tag.name %>" class="btn btn-primary requireLogin">New post <i class="fa fa-plus fa-white"></i></a>
          <% else %>
            <a class="btn btn-primary requireLogin" target="_blank" href="/subscribe/tag/<%= @title %>"> Follow</a>
              <% if @related_tags %>
                <a><%= render partial: 'tag/dropdown_subscribe', locals: { tags: @related_tags, buttonStyle: "btn-primary"} %></a>
              <% end %>
          <% end %>
        </div>
        <% if @wiki %>
          <a><%= link_to("Learn more &raquo;".html_safe, "/wiki/#{params[:id]}", :class=> "btn btn-outline-secondary")%></a>
        <% else %>
          <a class="btn btn-outline-secondary" href="/wiki/new?title=<%= params[:id] %>">Add a description <span class="fa fa-plus"></span></a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="box">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9">

            <%= render partial: 'tag/show/contributors' %>

            <%= render partial: 'tag/show/nav_tabs' %>

            <p style="padding-top:8px;">
            <a class="btn btn-sm btn-outline-secondary" href="?order=views"><i class="fa fa-eye"></i> by views</a>
            <a class="btn btn-sm btn-outline-secondary" href="?order=likes"><i class="fa fa-star"></i> by likes</a>
            </p><br />

            <%= render partial: 'tag/show/tab_content' %>
            <div>
              <script type="text/javascript">
                $('#questions .btn-group .btn').click(function(){
                  $(this).addClass('active').siblings().removeClass('active');
                });
              </script>
            </div>
          </div>
          <div class="col-md-3">
            <%= render partial: "tag/show/related_tags" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= stylesheet_link_tag "dashboard" %>

<style>
  .tag-card {
    position: absolute;
    top: 120px;
    left: 5%;
    width: 30%;
    padding: 10px 10px !important;
  }

  @media screen and (max-width: 768px) {
   .tag-card {
     width: 50%;
   }
  }

  @media screen and (max-width: 480px) {
   .tag-card {
     top: 30px;
     width: 90%;
   }
   .tag-header {
   }
  }
  .wiki-sub{
    overflow: hidden;
    color: #666;
  }
  .tag-buttons .btn {
    margin-top: 10px;
  }
</style>
