<script src="/assets/wikis.js" type="text/javascript"></script>

<div class="col-lg-12">
  <%= render partial: 'tag/show/header' %>

  <%= render partial: 'tag/show/contributors' %>

  <% unless @tags.try(:first).try(:parent).nil? %>
    <small>parent: <%= @tags.first.parent %></small>
  <% end %>

  <%= render :partial => "notes/format_toggle" if @node_type == "note" %>
  
  <%= render :partial => "tag/show/user_controls" %>

  <% if current_user && current_user.role == 'admin' %>
    <hr />
    <p><a class="btn btn-outline-secondary btn-lg" onClick="$('#add_parent').toggle();">Add tag parent</a> (admin only)</p>
    <div id="add_parent" style="display:none;">
      <p><b>Tag parenting</b></p>
      <div class="card bg-light">
        <div class="card-body">
          <form class="form" action="/tag/parent" method="get">
            <input type="text" placeholder="parent" name="parent" />
            <input type="hidden" placeholder="parent" name="name" value="<%= @tags&.first&.name %>" />
            <input class="btn btn-outline-secondary btn-lg" type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  <% end %>

  <%= render partial: "tag/show/questions" %>
  <%= render partial: "tag/show/related_tags" %>
  <% if @related_tags %>
    <p> <%= render partial: 'tag/subscribe_button', locals:{tags: @related_tags } %></p>
  <% end %>
  <%= render partial: 'tag/show/nav_tabs' %>
  
  <p style="padding-top:8px;">
  <a class="btn btn-sm btn-outline-secondary" href="?order=views"><i class="fa fa-eye"></i> by views</a>
  <a class="btn btn-sm btn-outline-secondary" href="?order=likes"><i class="fa fa-star"></i> by likes</a>
  </p><br />

  <%= render partial: 'tag/show/tab_content' %>

  <script type="text/javascript">
    $('#questions .btn-group .btn').click(function(){
      $(this).addClass('active').siblings().removeClass('active');
    });
  </script>
</div>

<%= stylesheet_link_tag "dashboard" %>
