<%= render :partial => "sidebar/related" %>
<div class="col-md-9">
  <% if @tags.first %>
  <div id="note-graph" style="height:100px;"></div>

  <script type="text/javascript">
  (function () {

    flotoptions_minimal = {
      yaxis: { show: true },
      xaxis: { show: true },
      grid: {
        borderWidth: 0,
        //color: "#444",
        markers: []
      },
      colors: [ "#08f", "#80f" ]
    }

    var notes = <%=raw @tags.first.weekly_tallies.to_a.sort.to_json %>

    $.plot($("#note-graph"), [
      {
          data: notes,
          hoverable: true,
 //         label: "Research Notes",
          bars: { show: true, 
                  lineWidth: 0,
                  fillColor: "#08f",
                  barWidth: 0.5
                }
      }
    ],flotoptions_minimal)

  })()
  </script>
  <% end %>

  <h3>Notes tagged with <i style="color:#aaa;"><%= params[:id] %></i></h3>

  <%= render :partial => "notes/format_toggle" if @node_type == "note" %>

  <% if current_user %>
  <!-- AJAXify -->
  <div class="btn-group">
    <a class="btn btn-default btn-sm" href="/feed/tag/<%= params[:id] %>.rss"><i class="fa fa-rss"></i> RSS</a>
    <% unless @wildcard %>
      <% if current_user.following(params[:id]) %>
      <a rel="tooltip" title="Click to unfollow" class="btn btn-default btn-sm active" href="/unsubscribe/tag/<%= params[:id] %>"><i class="fa fa-eye"></i> Following <b><%= params[:id] %></b></a>
      <% else %>
      <a class="btn btn-default btn-sm" href="/subscribe/tag/<%= params[:id] %>"><i class="fa fa-eye"></i> Follow <b><%= params[:id] %></b></a>
      <% end %>
      <a class="btn btn-default btn-sm" rel="popover" data-placement="bottom" data-html="true" data-title="Users following this tag" data-content="<% DrupalTag.followers(params[:id]).each do |user| %><i class='fa fa-star-o'></i> <a href='/profile/<%= user.username %>'><%= user.username %></a><br /><% end %><% if DrupalTag.follower_count(params[:id]) == 0 %><i>None</i><% end %>"><%= DrupalTag.follower_count(params[:id]) %> <i class="fa fa-user"></i> <span class="caret"></span></a>
    <% end %>
  </div>
  <!-- AJAXify -->
  <% end %>

  <% unless @wildcard %><p style="clear:both;padding-top:8px;"><a style="margin-bottom:6px;" class="btn btn-primary" href="/post?tags=question:<%= params[:id] %>&template=question"><i class="fa fa-white icon-question-circle"></i> Ask a question about <b><%= params[:id] %></b></a> or <a style="margin-bottom:6px;" class="btn btn-default" target="_blank" href="/subscribe/tag/question:<%= params[:id] %>">Subscribe to answer questions on this topic</a></p><% end %>

  <ul class="nav nav-tabs" style="margin-top:10px;">
    <li<% if @node_type == "note" %> class="active"<% end %>><a href="/tag/<%= params[:id] %>"><i class="fa fa-file"></i> <span class="hidden-sm">Research </span>Notes</a></li>
    <li<% if @node_type == "page" %> class="active"<% end %>><a href="/wiki/tag/<%= params[:id] %>"><i class="fa fa-book"></i> Wiki<span class="hidden-sm"> pages</span></a></li>
    <li<% if @node_type == "map" %> class="active"<% end %>><a href="/maps/tag/<%= params[:id] %>"><i class="fa fa-map-marker"></i> Maps</a></li>
  </ul>

  <br />

  <div class="tab-content">

    <% if @node_type == "note" %> 
      <div class="tab-pane active" id="notes">
        <% if @notes.nil? || @notes.length == 0 %>
          <p>No results found; try searching for '<b><%= params[:id] %></b>':</p>
   
          <%= render :partial => "search/search" %>
   
          <p>Or try an <a href="/search/advanced/">advanced search</a></p>
        <% else %>
          <%= render :partial => "notes/notes" %>
        <% end %>
      </div>
    <% end %>

    <% if @node_type == "page" %> 
      <div class="tab-pane active" id="wikis">
        <%= render :partial => "wiki/wikis" %>
      </div>
    <% end %>

    <% if @node_type == "map" %> 
      <div class="tab-pane active" id="wikis">
        <%= render :partial => "map/maps" %>
      </div>
    <% end %>

  <hr />
  
</div>
