<script src="/assets/wikis.js" type="text/javascript"></script>

<div class="col-md-12">
  <%= render partial: 'tag/show/header' %>
  
  <% if @tags.first && params[:id][-1..-1] != "*" %>
    <%= render :partial => "tag/graph", locals: { tags: @tags } %>
  <% end %>
  
  <%= render partial: 'tag/show/contributors' %>

  <% unless @tags.try(:first).try(:parent).nil? %>
    <small>parent: <%= @tags.first.parent %></small>
  <% end %>

  <%= render :partial => "notes/format_toggle" if @node_type == "note" %>
  <%= render :partial => "tag/show/user_controls" %>

  <%= render partial: "tag/show/questions" %>
  <%= render partial: "tag/show/related_tags" %>
  <%= render partial: 'tag/show/nav_tabs' %>
  
  <br />

  <%= render partial: 'tag/show/tab_content' %>

  <script type="text/javascript">
    $('#questions .btn-group .btn').click(function(){
      $(this).addClass('active').siblings().removeClass('active');
    });
  </script>
</div>

<%= stylesheet_link_tag "dashboard" %>
