<br>
<div class="row">
    <div class="col-lg-8">
    <h3>Tag statistics for <%= @tags.first.name %> </h3>
    <hr>
        <h5> <%= link_to "See statistics for all contents", stats_path %> </h5>
        <%= form_tag request.url, method: :get do %>
            <h5>Choose a range to show a graph of statistics within that period</h5>
            <br>
            <div class="col-md-4">
                <input data-provide="datepicker" data-date="<%= DateTime.now.strftime("%d-%m-%Y") %>" data-date-format="dd-mm-yyyy" value="<%= @start.strftime("%d-%m-%Y") %>" tabindex="1" class="form-control input-lg" type="text" name="start"  placeholder="&#xf133; Select start date">
            </div>
            &emsp;
            <div class="col-md-4">
                <input data-provide="datepicker" data-date="<%= DateTime.now.strftime("%d-%m-%Y") %>" data-date-format="dd-mm-yyyy" value="<%= @end.strftime("%d-%m-%Y") %>" tabindex="1" class="form-control input-lg" type="text" name="end"  placeholder="&#xf133; Select end date">
            </div>
    </div>
</div>
<br>
<div class="col-lg-8">
    <%= submit_tag "Go", class: 'btn btn-secondary' %>
<% end %>
</div>

<br><br><br>
<div class="graph">
    <p> <b><%= params[:id].capitalize%></b> graph from <b><%= (@start).to_formatted_s(:long)%></b> to <b><%= @end.to_formatted_s(:long)%></b> </p>
    <br>
    <%= render partial: "tag/graph", locals: { wikis: @tag_wikis, notes: @tag_notes, questions: @tag_questions, comments: @tag_comments  } %>
    <br>

    <% if @tags.first.count.nil? %>
        <i> There are no posts for this tag yet </i>
    <% else %>
        <b>Total Tag count : <%= @tags.first.count %></b>
    <% end %>
</div>
