<%= render :partial => "wiki/related_sidebar" %>
<div class="span9">
    <h3 style="margin-top:0;">Notes tagged with <i style="color:#aaa;"><%= params[:id] %></i></h3>

  <% if @nodes.nil? %>
    <p>No results found; try searching for '<b><%= params[:id] %></b>':</p>

    <%= render :partial => "search/search" %>

    <p>Or try an <a href="/search/advanced/">advanced search</a></p>
  <% else %>
    <%= render :partial => "notes/notes" %>
  <% end %>

  <hr />
  
</div>
