<%= stylesheet_link_tag "application", :media => "all" %>
<link href="/lib/fontawesome/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />

<style>
  body {
    padding-top: 0;
  }
  #notes {
    padding: 0;
  }
</style>

<% if @notes.nil? || @notes.length == 0 %>
  <p><%= raw t('tag.show.no_results_found', :tag => params[:id]) %>:</p>

  <%= render :partial => "search/search" %>

  <p><%= raw t('tag.show.try_advanced_search', :url1 => params[:id]) %></p>
<% else %>
  <% @compact = true %>
  <% @widget = true %>
  <%= render :partial => "notes/notes" %>
<% end %>

