<div style="padding:10px;">
<%= form_for @user, :url => {:controller => 'users', :action => @action}, :html => {:class => "row"} do |f| %>

  <% if f.error_messages != "" %><div class="alert alert-danger"><%= f.error_messages %></div><% end %>

  <div class="col-lg-8 col-md-10 col-sm-10">
    <% if params[:controller] == "users" && @action == "create" %>
    <div class='col-lg-10 col-md-10 col-sm-10' style="display:flex; justify-content: center;">
      <h3> Sign up with </h3>
    </div>
    <% if Rails.env == "production" %>
      <div class='col-lg-10 col-md-10 col-sm-10' style="display:flex; justify-content: center;">
        <%= render :partial => "layouts/social_icons" %>
    <% end %>
      </div>
   
   <div class='col-lg-10 col-md-10 col-sm-10' style="display:flex; justify-content: center;">
    <h3> OR</h3>
  
   </div>
   <br style="clear:both;"/>
      <div class="form-group">

        <label for="username"><%= t('users._form.username') %></label>
        <%= f.text_field :username, { tabindex: 1, class: 'form-control', id: 'username' } %>

        <input type="hidden" name="id" value="<%= @user.username %>" />
      </div>

    <% end %>

    <div class="form-group">
     <% if Rails.env == "production" %>
     <% if params[:controller] == "users" && params[:action] == "edit" %>
      <div class='col-lg-8 col-md-10 col-sm-10' style="display:flex; justify-content: flex-start; padding: 0;">
        <label> Link your Public Lab account to providers </label>
    </div>
    <div class='col-lg-8 col-md-10 col-sm-10' style="display:flex; justify-content: flex-start; padding: 0; margin-bottom: 10px;">
      <%= render :partial => "layouts/social_icons" %>
    </div>
    <% end %>
    <% end %>
    <br style="clear:both;"/>
  

      <label for="email"><%= t('users._form.email') %></label>
      <%= f.text_field :email, { tabindex: 3, placeholder: "you@email.com", class: 'form-control', id: 'email' } %>

    </div>


    <div class="form-group">
      <% if @user.crypted_password.nil? %>
        <label for="password"><%= t('users._form.create_password') %></label>
      <% else %>
        <label for="password"><%= t('users._form.change_password') %></label>
      <% end %>
      <%= f.password_field :password, { placeholder: I18n.t('users._form.password'),
                                        tabindex: 4,
                                        class: 'form-control',
                                        id: 'password' }
      %>
    </div>

    <div class="form-group">
      <label for="password_confirmation"><%= t('users._form.confirmation') %></label>
      <%= f.password_field :password_confirmation, { placeholder: I18n.t('users._form.confirm_password'),
                                                     tabindex: 5,
                                                     class: 'form-control',
                                                     id: 'password-confirmation' }
      %>
    </div>


    <div class="form-group">
      <label for="user_bio"><%= t('users._form.bio') %></label>
      <%= f.text_area :bio, { placeholder: I18n.t('users._form.add_bio'),
                                          rows: 8,
                                          class: 'form-control',
                                          tabindex: 6 }
      %>
    </div>


    <% if params[:controller] == "users" && (params[:action] == "new" || params[:action] == "create") %>

      <% if Rails.env == "production" && !params[:spamaway] %>

        <%= recaptcha_tags %>
        <p>If you cannot use the ReCaptcha to verify you are not a bot, <a href="/signup?spamaway=true">use this alternative verification</a>.</p>

      <% else %>

        <%= render partial: 'spamaway', locals: { spamaway: @spamaway } %>

      <% end %>

      <script>
        (function() {
          $('.spamaway button').click(function(e) {
            $(this).find('input').prop('checked', true);
          })
        })();
      </script>

    <% end %>

    <div class="form-group form-inline" style="clear:both;padding-top:10px;">

      <% if params[:controller] == "users" && (params[:action] == "new" || params[:action] == "create") %>

        <!-- button for creating new users -->
        <button class="btn btn-lg btn-primary btn-save" type="submit" tabindex="7"><%= t('users._form.sign_up') %></button>
        <a class="btn btn-lg btn-default" href="/login"><%= t('users._form.log_in') %></a>

      <% elsif params[:controller] == "users" && params[:action] == "edit" %>

        <!-- button for saving edits for existing users -->
        <button class="btn btn-lg btn-primary btn-save" type="submit" tabindex="7"><%= t('users._form.save') %></button>

      <% end %>

      <script>
        (function() {
          $('.btn-save').click(function onClick(e) {
            $(this).addClass("disabled") // disable the button after it is clicked
                   .html("<i class='fa fa-spinner fa-spin'></i>"); // make a spinner that spins when clicked
          })
        })();
      </script>

    </div>

  </div>

  <div class="col-md-2">
    <%= render :partial => 'users/photo' %>
  </div>

<% end %>
</div>
