<%= form_for @user, :url => {:controller => 'users', :action => @action}, :html => {:class => "form-horizontal"} do |f| %>

  <% if f.error_messages != "" %><div class="alert alert-error"><%= f.error_messages %></div><% end %>

  <% if params[:controller] == "users" && @action == "create" %>
  <div class="control-group">
    <label class="control-label" for="user_username"><b>Username</b></label>
    <div class="controls">
      <%= f.text_field :username, {:placeholder => "username", :tabindex => 2} %>
    </div>
  </div>
  <% end %>

  <div class="control-group">
    <label class="control-label" for="user_email"><b>Email</b></label>
    <div class="controls">
      <%= f.text_field :email, {:placeholder => "you@email.com", :tabindex => 3} %>
    </div>
  </div>

  <div class="control-group">
    <% if @user.crypted_password.nil? %>
      <label class="control-label" for="user_password"><b>Create a password</b></label>
    <% else %>
      <label class="control-label" for="user_password"><b>Change your password</b></label>
    <% end %>
    <div class="controls">
    <%= f.password_field :password, {:placeholder => "password", :tabindex => 4} %>
    <%= f.password_field :password_confirmation, {:placeholder => "confirm your password", :tabindex => 5} %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= text_area :drupal_user, :bio, {:placeholder => "Add a short bio to appear on your profile page", :class => "span6", :rows => 8, :tabindex => 6} %>
    </div>
  </div>

  <% if params[:controller] == "users" && params[:action] == "new" %>
    <!-- email lists here -->
  <% end %>

  <div class="controls">
    <button class="btn-large btn-primary" type="submit" tabindex="7">Sign up</button>
    <a class="btn-large btn" href="/login">Log in</a>
  </div>
<% end %>
