<%= form_for @user, :url => {:controller => 'users', :action => 'update'} do |f| %>
  <%= f.error_messages %>

  <label><b>Email:</b></label>
  <%= f.text_field :email, {:placeholder => "you@email.com"} %>

  <label><b>Create a password:</b></label>
  <p><%= f.password_field :password, {:placeholder => "password"}%></p>
  <p><%= f.password_field :password_confirmation, {:placeholder => "confirm your password"}%></p>

  <p><%= text_area :drupal_user, :bio, {:placeholder => "Add a short bio to appear on your profile page", :class => "span9", :rows => 8} %></p>

  <p><button class="btn-large btn-primary" type="submit">Save</button></p>
<% end %>
