<%= form_for @user, :url => {:controller => 'users', :action => @action}, :html => {:class => "row"} do |f| %>

  <% if f.error_messages != "" %><div class="alert alert-danger"><%= f.error_messages %></div><% end %>

  <div class="col-lg-8 col-md-10 col-sm-10">
    <% if params[:controller] == "users" && @action == "create" %>

      <div class="form-group">
     
        <label for="username"><%= t('users._form.username') %></label>
        <%= f.text_field :username, { tabindex: 1, class: 'form-control', id: 'username' } %>
     
      </div>
     
    <% end %>

    <div class="form-group">
   
      <label for="email"><%= t('users._form.email') %></label>
      <%= f.text_field :email, { tabindex: 3, placeholder: "you@email.com", class: 'form-control', id: 'email' } %>
   
    </div>


    <div class="form-group">
      <% if @user.crypted_password.nil? %>
        <label for="password"><%= t('users._form.create_password') %></label>
      <% else %>
        <label for="password"><%= t('users._form.change_password') %></label>
      <% end %>
      <%= f.password_field :password, { placeholder: I18n.t('users._form.password'), 
                                        tabindex: 4,
                                        class: 'form-control',
                                        id: 'password' }
      %>
    </div>

    <div class="form-group">
      <label for="password_confirmation"><%= t('users._form.confirmation') %></label>
      <%= f.password_field :password_confirmation, { placeholder: I18n.t('users._form.confirm_password'),
                                                     tabindex: 5,
                                                     class: 'form-control',
                                                     id: 'password-confirmation' }
      %>
    </div>


    <div class="form-group">
      <label for="drupal_user_bio"><%= t('users._form.bio') %></label>
      <%= text_area :drupal_user, :bio, { placeholder: I18n.t('users._form.add_bio'), 
                                          rows: 8, 
                                          class: 'form-control',
                                          tabindex: 6 } 
      %>
    </div>
 
 
    <% if params[:controller] == "users" && (params[:action] == "new" || params[:action] == "create") %>

      <% if Rails.env == "production" && !params[:spamaway] %>

        <%= recaptcha_tags %>

      <% else %>

        <%= fields_for @spamaway do |spam| %>
 
          <div class="form-group spamaway">
 
            <label for="spamaway_follow_instructions">
              <%= t('users._form.are_you_human') %>
            </label>
            <p>
              <%= t('users._form.spam_filtering') %>
            </p>
 
            <% vars = [:statement1, :statement2, :statement3, :statement4] %>
            <% turingtest = Spamaway.get_pairs vars.length %>
            <% turingtest.each_index do |i| %>
 
                <div class="btn-group btn-group-justified" role="group">
                  <% [0,1].each_with_index do |s, j| %><% statement = turingtest[i][s] %>
                    <div class="btn-group" role="group">
                      <button type="button" class="col-xs-5 btn btn-default" style="text-align:left;<% if i.odd? %> background:#eef;<% end %>" id="spamaway-<%= i.to_s + j.to_s %>">
                        <%= spam.radio_button vars[i], statement %> <%= statement %>
                      </button>
                    </div>
                  <% end %>
                </div>
                <br />
 
            <% end %>
    
          </div>
 
          <div class="form-group">

            <%= spam.text_area :follow_instructions, { class: "form-control col-md-6",
                                                     rows: 8,
                                                     tabindex: 7,
                                                     placeholder: I18n.t('users._form.dont_write_here') }
            %>
  
          </div>

        <% end %>

      <% end %>

      <script>
        (function() {
          $('.spamaway button').click(function(e) { 
            $(this).find('input').prop('checked', true);
          })
        })();
      </script>

    <% end %>

    <div class="form-group form-inline" style="clear:both;padding-top:10px;">

      <% if params[:controller] == "users" && (params[:action] == "new" || params[:action] == "create") %>
        <button class="btn btn-lg btn-primary" type="submit" tabindex="7"><%= t('users._form.sign_up') %></button>
        <a class="btn btn-lg btn-default" href="/login"><%= t('users._form.log_in') %></a>
      <% elsif params[:controller] == "users" && params[:action] == "edit" %>
        <button class="btn btn-lg btn-primary" type="submit" tabindex="7"><%= t('users._form.save') %></button>
      <% end %>

    </div>

  </div>

  <div class="col-md-2">
    <%= render :partial => 'users/photo' %>
  </div>

<% end %>
