<%= form_for @user, :url => {:controller => 'users', :action => @action}, :html => {:class => "form-horizontal"} do |f| %>

  <% if f.error_messages != "" %><div class="alert alert-danger"><%= f.error_messages %></div><% end %>

  <div class="col-lg-8 col-md-10 col-sm-10">
    <% if params[:controller] == "users" && @action == "create" %>

      <div class="form-group">
     
        <label for="username">Username</label>
        <%= f.text_field :username, { tabindex: 1, class: 'form-control', id: 'username' } %>
     
      </div>
     
    <% end %>

    <div class="form-group">
   
      <label for="email">Email</label>
      <%= f.text_field :email, { tabindex: 3, placeholder: "you@email.com", class: 'form-control', id: 'email' } %>
   
    </div>


    <div class="form-group">
      <% if @user.crypted_password.nil? %>
        <label for="password">Create a password</label>
      <% else %>
        <label for="password">Change your password</label>
      <% end %>
      <%= f.password_field :password, { placeholder: "password", 
                                        tabindex: 4,
                                        class: 'form-control',
                                        id: 'password' }
      %>
    </div>

    <div class="form-group">
      <label for="password_confirmation">Confirm your password</label>
      <%= f.password_field :password_confirmation, { placeholder: "confirm your password",
                                                     tabindex: 5,
                                                     class: 'form-control',
                                                     id: 'password-confirmation' }
      %>
    </div>


    <div class="form-group">
      <label for="drupal_user_bio">Bio</label>
      <%= text_area :drupal_user, :bio, { placeholder: "Add a short bio to appear on your profile page", 
                                          rows: 8, 
                                          class: 'form-control',
                                          tabindex: 6 } 
      %>
    </div>
 
 
    <% if params[:controller] == "users" && (params[:action] == "new" || params[:action] == "create") %>
      <%= fields_for @spamaway do |spam| %>

        <div class="form-group spamaway">

          <label for="spamaway_follow_instructions">Are you human? <span style="font-weight:normal;">(sorry: spam filtering!)</span></label>

          <% vars = [:statement1, :statement2, :statement3, :statement4] %>
          <% turingtest = Spamaway.get_pairs vars.length %>
          <% turingtest.each_index do |i| %>

              <div class="btn-group btn-group-justified" role="group">
                <% [0,1].each_with_index do |s, j| %><% statement = turingtest[i][s] %>
                  <div class="btn-group" role="group">
                    <button type="button" class="col-xs-6 btn btn-default" style="text-align:left;" id="spamaway-<%= i.to_s + j.to_s %>">
                      <%= spam.radio_button vars[i], statement %> <%= statement %>
                    </button>
                  </div>
                <% end %>
              </div>
              <br />

          <% end %>
  
        </div>

        <div class="form-group">

          <%= spam.text_area :follow_instructions, { class: "form-control col-md-6",
                                                     rows: 8,
                                                     tabindex: 7,
                                                     placeholder: "Don't write anything here if you're a real person." }
          %>
  
        </div>

      <% end %>
    <% end %>

    <script>
      (function() {
        $('.spamaway button').click(function(e) { 
          $(this).find('input').prop('checked', true);
        })
      })();
    </script>
 
    <% if params[:controller] == "users" && params[:action] == "new" %>
      <!-- email lists here -->
    <% end %>
 
    <div class="form-group form-inline">

      <% if params[:controller] == "users" && (params[:action] == "new" || params[:action] == "create") %>
        <button class="btn btn-lg btn-primary" type="submit" tabindex="7">Sign up</button>
        <a class="btn btn-lg btn-default" href="/login">Log in</a>
      <% elsif params[:controller] == "users" && params[:action] == "edit" %>
        <button class="btn btn-lg btn-primary" type="submit" tabindex="7">Save</button>
      <% end %>

    </div>

  </div>

  <div class="col-md-2">
    <%= render :partial => 'users/photo' %>
  </div>

<% end %>
