<div id="notes">
    <div class="row">
    <% @likes.each_with_index do |like,i| %>
      <div class="<% if @widget %>col-xs-3 col-sm-3 col-md-3 <% end %><%= like.tagnames_as_classes %> col-lg-3 clearfix like note like-nid-<%= like.id %> note-nid-<%= like.id %><% if like.status == 4 %> moderated<% end %>" style="overflow:hidden; text-align:center">

        <% if like.main_image %>
          <a class="img" <% if @widget %>target="_blank"<% end %> href="<%= like.path %>"><img src="<%= like.main_image.path(:default) %>" style="width:100%;" /></a>
        <% end %>

        <% if like.status == 4 %>
          <p class="alert alert-warning moderated">
            <% if logged_in_as(['admin','moderator']) %>
	      <%= translation('notes._notes.moderate_first_time_post') %> <br class="d-none d-lg-inline"/>
              <a class="btn btn-outline-secondary btn-sm" href="/moderate/publish/<%= like.id %>"><%= translation('notes._notes.approve') %></a>
              <a class="btn btn-outline-secondary btn-sm" href="/moderate/spam/<%= like.id %>"><%= translation('notes._notes.spam') %></a>
            <% else %>
              <%= raw translation('notes._notes.pending_approval', :url1 => '/wiki/moderation') %>
            <% end %>
          </p>
        <% end %>

        <h3><a <% if @widget %>target="_blank"<% end %> href="<%= like.path %>"><%= (like.type == 'note') ? like.title : like.latest.title %></a></h3>

        <p class="meta"><small>
          <% if like.type == 'note' %>
            by <a <% if @widget %>target="_blank"<% end %> href="/profile/<%= like.author.name %>"><%= like.author.name %></a>
	    <%= distance_of_time_in_words(like.created_at, Time.current, { include_seconds: false, scope:'datetime.time_ago_in_words' }) %>
            | <a <% if @widget %>target="_blank"<% end %> href="<%= like.path %>#comments"><i style="color:#888;" class="fa fa-comment-o"></i> <%= like.comments.count %></a>
          <% else %>
            <%= translation('notes._notes.last_edit_by') %> <a <% if @widget %>target="_blank"<% end %> href="/profile/<%= like.latest.author.name %>"><%= like.latest.author.name %></a>
	    <%= distance_of_time_in_words(Time.at(like.latest.timestamp), Time.current, { include_seconds: false, scope: 'datetime.time_ago_in_words' }) %>
          <% end %>
          | <i class="fa fa-eye"></i> <%= number_with_delimiter(like.views) %> <span class="d-none d-lg-inline"><%= translation('notes._notes.views') %></span>
          | <i style="<% if like.likes > 0 %>color:#db4;<% else %>color:#888;<% end %>" class="fa fa-star-o"></i> <%= like.likes %>
        </small></p>

        <div class="content">
          <% if @compact.nil? %>
            <% if params[:action].to_s.include?("methods") %>
              <p><small>
                <a <% if @widget %>target="_blank"<% end %> href="<%= like.path %>#Activities"><i class="fa fa-flask" style="color:#3da56a;"></i> <%= like.activities.count %> activities</a> &nbsp;
                <!-- <p><i class="fa fa-users" style="color:blue"></i> contributors</p> -->
                <a <% if @widget %>target="_blank"<% end %> href="<%= like.path %>#Questions"><i class="fa fa-question-circle" style="color:#db3a1e;"></i> <%= like.questions.count %> questions</a>
              </small></p>
            <% else %>
              <p><%= raw strip_tags(sanitize(RDiscount.new(like.body_preview).to_html)) if like.body %></p>
            <% end %>
            <p>
              <% if logged_in_as(['admin','moderator']) %><a class="btn btn-outline-secondary" href="/moderate/spam/<%= like.id %>"><i class="fa fa-ban"></i> <%= translation('notes._notes.spam') %></a><% end %>
              <a class="btn btn-outline-secondary" style="float: right; margin-left: 1px;" href="<%= like.path %>"><%= translation('notes._notes.read_more') %></a>
            </p>
          <% end %>
          <% if params[:mod] %>
            <a class="btn btn-outline-secondary" href="#"><i class="fa fa-ban-circle"></i> <%= translation('notes._notes.spam') %></a>
          <% end %>
          <hr style="display:none;" class="bottom" />
        </div>

      </div>
      <% unless @widget %><hr class="d-lg-none" /><% end %>
    <% if ((i+1)/4.0).to_i == ((i+1)/4.0) %>
    </div>
    <% unless @widget %><hr class="d-lg-none grid" /><% end %>
    <div class="row">
    <% end %>
    <% end %>
    </div>
</div>
<%= will_paginate @likes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer unless @unpaginated %>
