<%= fields_for @spamaway do |spam| %>

  <div class="form-group spamaway">

    <label for="spamaway_follow_instructions">
      <%= t('users._form.are_you_human') %>
    </label>
    <p style="font-size: 1.3em;">
      <%= t('users._form.spam_filtering') %>
    </p>

    <% vars = [:statement1, :statement2, :statement3, :statement4] %>
    <% turingtest = Spamaway.get_pairs vars.length %>
    <% turingtest.each_index do |i| %>

        <div class="btn-group btn-group-justified" role="group">
          <% [0,1].each_with_index do |s, j| %><% statement = turingtest[i][s] %>
            <div class="btn-group" role="group">
              <button type="button" class="col-xs-5 btn btn-default" style="font-size:3em;text-align:left;<% if i.odd? %> background:#eef;<% end %>" id="spamaway-<%= i.to_s + j.to_s %>">
                <%= spam.radio_button vars[i], statement %> <%= statement %>
              </button>
            </div>
          <% end %>
        </div>
        <br />

    <% end %>

  </div>

  <div class="form-group hide">

    <%= spam.text_area :follow_instructions, { class: "form-control col-md-6",
                                             rows: 8,
                                             tabindex: 7,
                                             placeholder: I18n.t('users._form.dont_write_here') }
    %>

  </div>

<% end %>
