<form id="infoform" class="form" action="/info/tags/create">
  <div class="control-group row">
    <div class="col-md-3">
      <label class="" for="skills">Skills</label>
    </div>
    <div class="col-md-8">
      <p><span id="skill">
        <% fetch_tags(@user.id, 'skill').each do |tag| %>
          <span id="tag_<%= tag.id %>" class="label label-primary" style="font-size:13px;margin-right: 4px;">
            <%= tag.value.split(":")[1] %>
            <a class="tagdelete" href="/info/tags/delete/<%= tag.id %>">x</a>
          </span>
        <% end %>
      </span></p>
      <div class="input-group col-md-4">
        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
        <input autocomplete="off" id="taginput1" name="info[skill]" type="text" placeholder="enter tags" data-provide="typeahead" class="form-control tag-input" data-tag="skill"/>
      </div>
    </div>
  </div>
  <br />


  <div class="control-group row">
    <div class="col-md-3">
      <label class="" for="gears">Gears</label>
    </div>
    <div class="col-md-8">
      <p><span id="gear">
        <% fetch_tags(@user.id, 'gear').each do |tag| %>
          <span id="tag_<%= tag.id %>" class="label label-primary" style="font-size:13px;margin-right: 4px;">
            <%= tag.value.split(":")[1] %>
            <a class="tagdelete" href="/info/tags/delete/<%= tag.id %>">x</a>
          </span>
        <% end %>
      </span></p>
      <div class="input-group col-md-4">
        <input name="remote" type="hidden" value="true" />
        <span class="input-group-addon"><i class="fa fa-tags"></i></span>

          <input autocomplete="off" id="taginput" name="info[gear]" type="text" placeholder="enter tags" data-provide="typeahead" class="form-control tag-input" data-tag="gear" />
      </div>
    </div>
  </div>
  <br />


  <div class="control-group row">
    <div class="col-md-3">
      <label class="" for="tools">Tools</label>
    </div>
    <div class="col-md-8">
      <p><span id="tool">
        <% fetch_tags(@user.id, 'tool').each do |tag| %>
          <span id="tag_<%= tag.id %>" class="label label-primary" style="font-size:13px;margin-right: 4px;">
            <%= tag.value.split(":")[1] %>
            <a class="tagdelete" href="/info/tags/delete/<%= tag.id %>">x</a>
          </span>
        <% end %>
      </span></p>
      <div class="input-group col-md-4">
        <input name="remote" type="hidden" value="true" />
        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
        <input autocomplete="off" id="taginput" name="info[tool]" type="text" placeholder="enter tags" data-provide="typeahead" class="form-control tag-input" data-tag="tool" />
      </div>
    </div>
  </div>
  <br />


  <div class="control-group row">
    <div class="col-md-3">
      <label class="" for="role">Roles</label>
    </div>
    <div class="col-md-8">
      <p><span id="role">
        <% fetch_tags(@user.id, 'role').each do |tag| %>
          <span id="tag_<%= tag.id %>" class="label label-primary" style="font-size:13px;margin-right: 4px;">
            <%= tag.value.split(":")[1] %>
            <a class="tagdelete" href="/info/tags/delete/<%= tag.id %>">x</a>
          </span>
        <% end %>
      </span></p>
      <div class="input-group col-md-4">
        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
        <input autocomplete="off" id="taginput" name="info[role]" type="text" placeholder="enter tags" data-provide="typeahead" class="form-control tag-input" data-tag="role" />
      </div>
    </div>
  </div>
  <br />


  <div class="control-group row">
    <div class="col-md-3">
      <label class="" for="location">Location</label>
    </div>
    <div class="col-md-8">
      <p><span id="location"></span></p>
      <div class="input-group col-md-5">
        <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
        <input autocomplete="off" id="geo_location" name="info[location]" type="text" placeholder="Type location" data-provide="typeahead" class="form-control ui-autocomplete-input" data-tag="location" />
      </div>
      <div class="input-group col-md-offset-6" style="margin-top: -33px;">
        <a class="btn btn-default" id="myLocation">
          <span class="glyphicon glyphicon-map-marker">Map</span>
        </a>
      </div>
      <div class="clearfix"></div><br />
    </div>
  </div>
  <br />
  

  <div class="container">
    <div id="map" class="row"></div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {

      // fetch geo location
      if ("geolocation" in navigator) {
        $('#myLocation').click(function(e) {
          initMap();
        });
      } else {
        console.log("Geo Location not available in navaigator");
      }

      function initMap() {

        var lat, lon;
        navigator.geolocation.getCurrentPosition(function(position) {
          lat = position.coords.latitude;
          long = position.coords.longitude;

          $('#map').attr('style', 'height: 300px;');

          var mymap = L.map('map').setView([lat, long], 15);
          L.tileLayer("https://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/{z}/{x}/{y}.png",{
            attribution: "<a href='http://openstreetmap.org'>OSM</a> tiles by <a href='http://mapbox.com'>MapBox</a>",
          }).addTo(mymap);

          L.marker([lat, long]).addTo(mymap)
            .bindPopup('<b><%= current_user.username %></b>')
            .openPopup();

          $.getJSON("https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+long, function(data) {
            if (data.status) {
              var address = data.results[0].formatted_address;
              $("input[data-tag='location']").attr('value', address);
              $.ajax({
                url: "/info/location/create/<%= @user.name %>",
                type: 'POST',
                data: {
                  type: 'location',
                  value: {
                    address: address,
                    lat: lat,
                    long: long
                  }
                },
                success: function(data) {
                  response = JSON.parse(data);
                  if (response.status) {
                    console.log("Success");
                  }

                }
              });
            }
          });
        });
      }

      $('.tag-input').typeahead({
        items: 8,
        minLength: 3,
        source: function(query, process) {
          var key = $(this.$element[0]).data('tag')
          return $.post('/info/suggested/'+key+'/'+query, {}, function(data) {
            return process(data)
          });
        },
        updater: function(text) {
          $(this).val(text)
          
        }
      });

      $('.tag-input').keydown(function(e){
        if(e.keyCode == 13) {
          // Send ajax request
          var type = $(this).data('tag');
          var value = $(this).val();
          var that = this;
          $.ajax({
            url: "/info/tags/create/<%= @user.name %>",
            type: 'POST',
            data: { 
              'type': type,
              'value': value
            },
            success: function(data) {
              response = JSON.parse(data);
              parent = $(that).parent().parent().parent()
              if (response['errors'].length > 0) {
                $(parent).children('.help-block').html("")
                $(parent).addClass('has-error')
                $(parent).append('<span class="help-block">'+response['errors']+'</span>')
              }
              else {
                var type = response['saved'][1]
                var tag = response['saved'][2]
                var tag_id = response['saved'][0]
                $(parent).children('.help-block').html("")
                $(parent).removeClass('has-error')
                $("#" + type).append("<span id='tag_"+tag_id+"' class='label label-primary' style='font-size:13px;margin-right: 4px;'>"+tag+" <a class='tagdelete' data-remote='true' href='/info/tags/delete/"+tag_id+"'>x</a></span> ");
                $(that).val("");
              }
            },
            error: function(error) {

            }
          });
        }

      });


      $('.tagdelete').click(function(e){
        e.preventDefault();
        that = this
        $.ajax({
          url: $(this).attr('href'),
          type: 'POST',
          success: function(data) {
            response = JSON.parse(data)
            if (response.status) {
              $(that).parent().html("")
            }
          }
        })
      });

    });
  </script>
</form>
