<form id="infoform" class="form" action="/profile/tags/create" data-user="<%= @user.name %>">
  <div class="control-group row">
    <div class="col-md-3">
      <label class="" for="skills"><%= t('users._tags_form.skills') %></label>
    </div>
    <div class="col-md-8">
      <p><span id="skill">
        <% fetch_tags(@user.id, 'skill').each do |tag| %>
          <span id="tag_<%= tag.id %>" class="label label-primary" style="font-size:13px;margin-right: 4px;">
            <%= tag.value.split(":")[1] %>
            <a class="tagdelete" href="/profile/tags/delete/<%= tag.id %>">x</a>
          </span>
        <% end %>
      </span></p>
      <div class="input-group col-md-4">
        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
        <input autocomplete="off" id="taginput1" name="info[skill]" type="text" placeholder="<%= t('users._tags_form.enter_tags') %>" data-provide="typeahead" class="form-control tag-input" data-tag="skill"/>
      </div>
    </div>
  </div>
  <br />


  <div class="control-group row">
    <div class="col-md-3">
      <label class="" for="gears"><%= t('users._tags_form.gears') %></label>
    </div>
    <div class="col-md-8">
      <p><span id="gear">
        <% fetch_tags(@user.id, 'gear').each do |tag| %>
          <span id="tag_<%= tag.id %>" class="label label-primary" style="font-size:13px;margin-right: 4px;">
            <%= tag.value.split(":")[1] %>
            <a class="tagdelete" href="/profile/tags/delete/<%= tag.id %>">x</a>
          </span>
        <% end %>
      </span></p>
      <div class="input-group col-md-4">
        <input name="remote" type="hidden" value="true" />
        <span class="input-group-addon"><i class="fa fa-tags"></i></span>

          <input autocomplete="off" id="taginput" name="info[gear]" type="text" placeholder="<%= t('users._tags_form.enter_tags') %>" data-provide="typeahead" class="form-control tag-input" data-tag="gear" />
      </div>
    </div>
  </div>
  <br />


  <div class="control-group row">
    <div class="col-md-3">
      <label class="" for="tools"><%= t('users._tags_form.tools') %></label>
    </div>
    <div class="col-md-8">
      <p><span id="tool">
        <% fetch_tags(@user.id, 'tool').each do |tag| %>
          <span id="tag_<%= tag.id %>" class="label label-primary" style="font-size:13px;margin-right: 4px;">
            <%= tag.value.split(":")[1] %>
            <a class="tagdelete" href="/profile/tags/delete/<%= tag.id %>">x</a>
          </span>
        <% end %>
      </span></p>
      <div class="input-group col-md-4">
        <input name="remote" type="hidden" value="true" />
        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
        <input autocomplete="off" id="taginput" name="info[tool]" type="text" placeholder="<%= t('users._tags_form.enter_tags') %>" data-provide="typeahead" class="form-control tag-input" data-tag="tool" />
      </div>
    </div>
  </div>
  <br />


  <div class="control-group row">
    <div class="col-md-3">
      <label class="" for="role"><%= t('users._tags_form.roles') %></label>
    </div>
    <div class="col-md-8">
      <p><span id="role">
        <% fetch_tags(@user.id, 'role').each do |tag| %>
          <span id="tag_<%= tag.id %>" class="label label-primary" style="font-size:13px;margin-right: 4px;">
            <%= tag.value.split(":")[1] %>
            <a class="tagdelete" href="/profile/tags/delete/<%= tag.id %>">x</a>
          </span>
        <% end %>
      </span></p>
      <div class="input-group col-md-4">
        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
        <input autocomplete="off" id="taginput" name="info[role]" type="text" placeholder="<%= t('users._tags_form.enter_tags') %>" data-provide="typeahead" class="form-control tag-input" data-tag="role" />
      </div>
    </div>
  </div>

</form>
