
<div class="col-md-3">
	<div class='row'>
		<div class='col-md-12'>
			<p> This page shows a list of all Public Lab contributors and is sorted by those who have posted most recently. Click the profile link to view their posting activity. </p>
		</div>
	</div>
  <% if current_user && (current_user.role == "admin" || current_user.role == "moderator")%>
    <h2><%= t('users.list.user_moderation') %></h2>
    <p><%= t('users.list.admins_ban_spam') %> </p>
  <% end %>
</div>
<div class="col-md-9">
  <h2><%= raw t('users.list.members_last_activity') %></h2>
  <%= render :partial => "map/peopleLeaflet" , locals: {people: true , lat:23 , lon: 4} %>
  <table class="table">
    <tr>
      <th class="visible-sm visible-xs"></th>

      <th style="text-align: center;"><a href = "<%= people_path %>?sort=username"> <%= t('users.list.username') %></a> <i class="fa fa-arrows-v"></i></th>
      <th><a href = "<%= people_path %>?sort=last_activity"> <%= t('users.list.last_activity') %></a> <i class="fa fa-arrows-v"></i></th>
      <th><%= t('users.list.history') %></th>
      <th><a href = "<%= people_path %>?sort=joined"> <%= t('users.list.joined') %></a> <i class="fa fa-arrows-v"></i></th>

      <% if current_user && (current_user.role == "admin" || current_user.role == "moderator") %>
        <th><%= t('users.list.moderation') %></th>
      <% end %>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td class="visible-sm visible-xs" style="padding-top: 16px;">
        <img class="img-circle" id="profile-photo" style="width:40px;margin-right:8px;border: 1px solid lightgrey;" src="<%= user.profile_image %>" />
      </td>
      <td style="display: flex; align-items: center;">
        <div class="hidden-sm hidden-xs">
          <img class="img-circle" id="profile-photo" style="width:40px;margin-right:8px;border: 1px solid lightgrey;" src="<%= user.profile_image %>" />
        </div>
        <a style="margin-left: 12px;" href="/profile/<%= user.username %>"><%= user.username %></a>
      </td>
      <td style="padding-top:16px;"><%= t = user.revisions.order(timestamp: :desc).first.try(:created_at);time_ago_in_words(t) if (t) %></td>
      <td style="padding-top:16px;"><%= user.nodes.count %> <%= t('users.list.notes_and_edits') %></td>
      <td style="padding-top:16px;"><%= distance_of_time_in_words(user.created_at, Time.current, { include_seconds: false, scope: 'datetime.time_ago_in_words' }) %></td>
      <% if current_user && (current_user.role == "admin" || current_user.role == "moderator") %>
      <td style="padding-top:16px;">
        <% if user.status == 0 %>
          <i class='fa fa-ban' style="color:#a00;"></i> <%= t('users.list.banned') %>
        <% elsif user.status == 1 %>
          <a class="btn btn-default btn-sm" data-confirm="<%= t('users.list.are_you_sure') %>" href="/ban/<%= user.uid %>" ><i class='fa fa-ban'></i> <%= t('users.list.ban') %></a>
        <% end %>
      </td>
      <% end %>
     </tr>
    <% end %>
  </table>
  <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer unless @unpaginated %>
</div>
