<div class="col-md-6" style="font-family:Junction Regular;">
<% if current_user && (current_user.role == "admin" || current_user.role == "moderator")%>
<h3><%= t('users.list.user_moderation') %></h3>
<p><%= t('users.list.admins_ban_spam') %> </p>
<% end %>
  <div class="row">
    <div class ="col-md-8">
      <h2><%= raw t('People') %></h2>
      <h5><%= t('Recently active on Publiclab') =%></h5>
    </div>
    <div class ="col-md-4">
      <a class="btn btn-outline-secondary blurred-location-input" style="color:#666;" onmouseover="this.style.background='white';"><i class="fa fa-map-marker"></i> Add your location</a>
    </div>
  </div>
    <div>
    <br>
      <p style="width: 100%; font-size:14px; text-align: center; border-bottom: 1px solid #ccc; line-height:2px; margin: 10px 0 20px;">
      <span style="background-color: #fff; padding: 0 10px; color: #808080;">Sort by:
      <a href = "<%= people_path %>?sort=username" style="text-decoration: underline; color: #808080;"> <%= t('users.list.username') %></a><span> | </span>
      <a href = "<%= people_path %>?sort=last_activity"style="text-decoration: underline; color: #808080;"> <%= t('users.list.last_activity') %></a><span> | </span>
      <a href = "<%= people_path %>?sort=joined" style="text-decoration: underline; color: #808080;"><%= t('users.list.joined') %></a><span> | </span>
      </span>
      </p>
      <br/>
    </div>
  <div class="row" id="user_cards">

    <% @users.each do |user| %>
      <div class ="col-md-6" id="user">
        <div class="card">
           <div class="row card-body">
            <div class="col-md-5 nopadding">
              <div class="profile-image text-center">
                  <img class="rounded-circle img-fluid" id="profile-photo" src="<%= user.profile_image %>" />
              </div>
            </div>
            <div class="col-md-7 nopadding">
              <div class="card-info">
                <a href="/profile/<%= user.username %>"><%= user.username %></a>
                  <div class="sub-info">
                    <div>Last Activity : <%= t = user.revisions.order(timestamp: :desc).first.try(:created_at);time_ago_in_words(t) if (t) %></div>
                    <div>History : <%= user.nodes.count %> <%= t('users.list.notes_and_edits') %></div>
                    <div> Joined : <%= distance_of_time_in_words(user.created_at, Time.current, { include_seconds: false, scope: 'datetime.time_ago_in_words' }) %></div>
                  </div>
              </div>
            </div>
            <% if current_user && (current_user.role == "admin" || current_user.role == "moderator") %>
              <div class="col-md-12">
                <div style="padding-top:16px; text-align:center;">
                  <% if user.status == 0 %>
                    <i class='fa fa-ban' style="color:#a00;font-size:1em"></i> <%= t('users.list.banned') %>
                  <% elsif user.status == 1 %>
                    <a class="btn btn-outline-secondary btn-sm" style="font-size:1em;" data-confirm="<%= t('users.list.are_you_sure') %>" href="/ban/<%= user.uid %>" ><i class='fa fa-ban'></i> <%= t('users.list.ban') %></a>
                  <% end %>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer unless @unpaginated %>
</div>
<div class="col-md-6 d-none d-md-block">
<%= render :partial => "map/peopleLeaflet" , locals: {people: true , lat:23 , lon: 4} %>
</div>
<div class="col-md-6 d-md-none">
<%= render :partial => "map/peopleLeaflet" , locals: {people: true , lat:23 , lon: 4} %>
</div>
<style>
#user {
  padding:10px 8px 10px 8px
}

h5 {
  color: #666;
}
.card {
  background-color: #fff;
  border: 1px solid;
  border-color: #D3D3D3;
  border-radius: 6px;
}

.card-body {
  margin-bottom:0.3em;
  margin-right: 0.1em;
  margin-left: 0.3em;
  padding: 0.8em;
}

.profile-image {
  margin-top: 0.5em;
}

#profile-photo {
  width: 6.5em;
  border-color:#555;
  border: 1px solid lightgrey;
}

.card-info {
  padding-left: 1em;
  padding-right:1em;
}

.card-info a{
  font-size:1.2em;
  margin-bttom:1em;
  color:#222;
}

.sub-info {
  color:#666;
  font-size:0.8em;
}

.affix {
    top:50px;
    right:0;
    position:fixed;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.blurred-location-input{
  border-color: #D3D3D3;
}

.blurred-location-input i{
  color: #666;
}
</style>
<%= render partial: 'tag/location' %>
