
<div class="col-md-3">
	<div class='row'>
		<div class='col-md-12'>
			<p> This page shows a list of all Public Lab contributors and is sorted by those who have posted most recently. Click the profile link to view their posting activity. </p>
		</div>
	</div>
  <% if current_user && current_user.role = "admin" && current_user.role = "moderator" %>
    <h2><%= t('users.list.user_moderation') %></h2>
    <p><%= t('users.list.admins_ban_spam') %> </p>
  <% end %>
</div>
<div class="col-md-9">
  <h2><%= raw t('users.list.members_last_activity') %></h2>

  <table class="table">
    <tr>
      <th><%= t('users.list.username') %></th>
      <th><%= t('users.list.last_activity') %></th>
      <th><%= t('users.list.history') %></th>
      <th><%= t('users.list.joined') %></th>
      <% if current_user && current_user.role = "admin" && current_user.role = "moderator" %>
        <th><%= t('users.list.moderation') %></th>
      <% end %>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><a href="/profile/<%= user.username %>"><%= user.username %></a></td>
      <td><%= time_ago_in_words(user.last['changed']) if user.last %></td>
      <td><%= user.node_count %> <%= t('users.list.notes_and_edits') %></td>
      <td><%= distance_of_time_in_words(user.created_at, Time.current, false, :scope => :'datetime.time_ago_in_words') %></td>
      <% if current_user && current_user.role = "admin" && current_user.role = "moderator" %>
      <td>
        <% if user.status == 0 %>
          <i class='fa fa-ban' style="color:#a00;"></i> <%= t('users.list.banned') %>
        <% elsif user.status == 1 %>
          <a class="btn btn-default btn-sm" data-confirm="<%= t('users.list.are_you_sure') %>" href="/ban/<%= user.uid %>" ><i class='fa fa-ban'></i> <%= t('users.list.ban') %></a>
        <% end %>
      </td>
      <% end %>
     </tr>
    <% end %>
  </table>
  <%= will_paginate @users, :renderer => BootstrapPagination::Rails unless @unpaginated %>
</div>
