<div class="col-md-3">
  
<%= raw t('users.new.about_public_lab') %>

</div>

<div class="col-md-9">

  <hr class="hidden-md hidden-lg" />

  <h2><%= t('users.new.sign_up') %></h2>

  <% if params[:lang] %>
  <p>
    <div id="google_translate_element"></div><script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false, multilanguagePage: true}, 'google_translate_element');
      }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </p>
  <% end %>

  <br />

  <%= render 'form' %>

  <div style="clear:both;padding-top:10px;">
    <p><b><%= t('users.new.licensing_agreement') %></b> <%= raw t('users.new.licensing_detail', :url1 => "http://creativecommons.org/licenses/by-sa/3.0/", :url2 => "http://www.ohwr.org/cernohl", :url3 => "http://creativecommons.org/licenses/by-sa/3.0/") %></p>
  </div>

  <br style="margin-bottom:20px;" />

</div>
