<div class="tab-content" style="clear:both;">
  <!-- separate these in partials-->
  <!-- use controller to determine which partial to render -->
 
  <div class="tab-pane active" id="notes">
    <% if @notes.nil? || @notes.length == 0 %>
      <p><%= raw t('tag.show.no_results_found', tag: params[:id]) %>:</p>
      <p><a href="/search/<%= params[:id] %>">Search for "<%= params[:id] %>"</a></p>
    <% else %>
      <%= render partial: "notes/notes", locals: { tagname: params[:id] } %>
    <% end %>
  </div>
  <% if @node_type == "wiki" %>
    <div class="tab-pane active" id="wikis">
      <%= render partial: "wiki/wikis" %>
    </div>
  <% end %>

  <% if @node_type == "maps" %>
    <div class="tab-pane active" id="wikis">
     <% if @nodes.empty? %>
        <p><%= raw t('tag.show.no_map_results_found', :tag => params[:id]) %>. You can view other maps <a href="/maps">here</a>.</p>
      <% else %>
        <%= render partial: "map/maps" %>
      <% end %>
    </div>
  <% end %>

  <% if @node_type == "contributors" %>
      <div class="tab-pane active" id="contributors">
        <div class="row">
          <div class="col-md-9" style="padding-left: 46px">
            <%= render partial: "tag/contributors" %>
          </div>
        </div>
      </div>
  <% end %>
  <br />

</div>
