<div class="tab-content" style="clear:both;">

  <% if @start && @end %>
    <p>Displaying content from <%= @start.to_formatted_s(:long) %> to <%= @end.to_formatted_s(:long) %>. <a href="/tag/<%= params[:id] %>">View all</a></p>
  <% end %>

  <% if @node_type == "note" %>
    <div class="tab-pane active" id="notes">
      <% if @notes.nil? || @notes.length == 0 %>
      <p><%= raw translation('tag.show.no_notes_results_found') %></p>
      <p>Or try searching: <a href="/search/<%= params[:id] %>"><%= params[:id] %></a></p>
      <% else %>
        <%= render partial: "notes/notes", locals: { tagname: params[:id] } %>
      <% end %>
    </div>
  <% end %>

  <% if @node_type == "questions" %>
    <div class="tab-pane active" id="questions">
      <div id="questions-tab">
        <% if @questions.nil? || @questions.length == 0 %>
          <p><%= raw translation('tag.show.no_questions_results_found') %></p>
          <p>Or try searching: <a href="/search/<%= params[:id] %>"><%= params[:id] %></a></p>
        <% else %>
          <div class="tab-content">
            <div id="asked-content">
              <%= render partial: "questions/new_question" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @node_type == "wiki" %>
    <div class="tab-pane active" id="wikis">
      <% if @wikis.nil? || @wikis.length == 0 %>
        <p><%= raw translation('tag.show.no_wikis_results_found') %></p>
        <p>Or try searching: <a href="/search/<%= params[:id] %>"><%= params[:id] %></a></p>
      <% else %>
      <%= render partial: "wiki/wikis" %>
      <% end %>
    </div>
   <% end %>

  <% if @node_type == "maps" %>
    <div class="tab-pane active" id="wikis">
     <% if @nodes.empty? %>
        <p><%= raw translation('tag.show.no_map_results_found', :tag => params[:id]) %>. You can view other maps <a href="/maps">here</a>.</p>
      <% else %>
        <%= render partial: "map/maps" %>
      <% end %>
    </div>
  <% end %>

  <% if @node_type == "contributors" %>
    <div class="tab-pane active" id="contributors">
      <%= render partial: "tag/contributors" %>
    </div>
  <% end %>
  <br>

</div>
