<% if current_user %>
<!-- AJAXify -->
  <a class="ellipsis" data-toggle="dropdown">&nbsp<i class="fa fa-ellipsis-h" style="color : #666; font-size:15px; float:right;"></i></a>
  <div class="dropdown-menu">
    <div class="dropdown-item">
      <a href="/feed/tag/<%= params[:id] %>.rss"><i class="fa fa-rss"></i> RSS</a>
    </div>
    <% unless @wildcard %>
      <% if current_user.following(params[:id]) %>
        <div class="dropdown-item">
          <a style="width: 100px;" rel="tooltip" title="<%= t('tag.show.unfollow') %>" class="btn btn-light btn-sm active" href="/unsubscribe/tag/<%= params[:id] %>"> <%= t('tag.index.unsubscribe') %></a>
        </div>
      <% else %>
        <div class="dropdown-item">
          <a style="width: 100px;" class="btn btn-outline-secondary btn-sm" href="/subscribe/tag/<%= params[:id] %>" data-remote="true">
            <%= t('tag.index.subscribe') %>
          </a>
        </div>
      <% end %>
      <div class="dropdown-item">
        <%= link_to tag_stats_path, id: params[:id] ,title: "Click to view graph" do %>
          <i class="fa fa-bar-chart"></i> Topic statistics
        <% end %>
      </div>
      <div class="dropdown-item">
        <a href="/tag-pages">How to edit this card</a>
      </div>

      <div class="dropdown-divider"></div>
      <% unless @tags.try(:first).try(:parent).nil? %>
        <small>Alias of: <%= @tags.first.parent %></small>
      <% end %>

      <% if logged_in_as(['admin']) %>
        <div class="dropdown-item">
          <div id="add_parent">
            <p><b>Add a tag parent (admin only)</b></p>
            <form class="form" action="/tag/parent" method="get">
              <div class="control-group">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="parent" name="parent" />
                  <input type="hidden" placeholder="parent" name="name" value="<%= @tags&.first&.name %>" />
                  <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Submit" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      <% end %>

    <% end %>
</div>

<!-- AJAXify -->
<% end %>
<style>
.ellipsis{
  cursor: pointer;
}
</style>
<script>
$(function() {
  $(document).popover({
      selector: '[data-toggle=popover]',
      trigger: 'focus'
  });
});

$('.dropdown-menu').on('click', function(e) {
  e.stopPropagation();
});
</script>
