<% if current_user %>
<!-- AJAXify -->
<div class="btn-group">
  <% unless @wildcard %>
    <%= link_to tag_stats_path, id: params[:id] ,title: "Click to view graph" do %>
      <i class="btn btn-outline-secondary btn-sm"><i class="fa fa-bar-chart"></i> Stats </i>
    <% end %>
  <% end %>
  <a class="btn btn-outline-secondary btn-sm" href="/feed/tag/<%= params[:id] %>.rss"><i class="fa fa-rss"></i> RSS</a>
  <% unless @wildcard %>
    <% if current_user.following(params[:id]) %>
      <a rel="tooltip" title="<%= t('tag.show.unfollow') %>" class="btn btn-outline-secondary btn-sm active" href="/unsubscribe/tag/<%= params[:id] %>" data-method="delete"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= t('tag.show.following') %> <b><%= params[:id] %></b></a>
    <% else %>
      <a class="btn btn-outline-secondary btn-sm" href="/subscribe/tag/<%= params[:id] %>"><i class="fa fa-user-plus" aria-hidden="true"></i> <%= t('tag.show.follow') %> <b><%= params[:id] %></b></a>
    <% end %>
      <a class="btn btn-outline-secondary btn-sm" rel="popover" data-placement="bottom" data-html="true" data-title="<%= t('tag.show.users_following_tag') %>" data-content="<% Tag.followers(params[:id]).each do |user| %><i class='fa fa-star-o'></i> <a href='/profile/<%= user.username %>'><%= user.username %></a><br /><% end %><% if Tag.follower_count(params[:id]) == 0 %><i><%= t('tag.show.none') %></i><% end %>"><%= Tag.follower_count(params[:id]) %> <i class="fa fa-user"></i> <span class="caret"></span></a>
  <% end %>
</div>
<!-- AJAXify -->
<% end %>
