<!-- SIDEBAR -->
<div class="span3">
  <a  rel="tooltip" title="Share your work with others" data-placement="bottom" style="margin-bottom:6px;" href="/post" class="btn btn-primary btn-large btn-block"><i class="icon-pencil icon-white"></i> Post research &raquo;</a>
  <a rel="tooltip" title="Collaborative pages others can edit" data-placement="bottom" href="/post" class="btn btn-block"><i class="icon-book"></i> Create wiki page &raquo;</a>
  <hr />

  <% if @wikis && @wikis.length > 0 %>
  <h4>Related wiki pages</h4>
  <ul class="nav wikis bullet">
    <% @wikis.each do |wiki| %>
      <li><a href="/wiki/<%= wiki.slug %>"><i class="icon-book"></i> <%= wiki.title %></a></li>
    <% end %>
  </ul>
  <% end %>

</div>

<div class="span9">
  <h3>Dashboard: <small>Welcome, <%= @user.name %>!</small></h3>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Recent Activity</a></li>
    <li><a href="/subscriptions">Subscriptions (14)</a></li>
    <li><a href="#">Your work (<%= DrupalNode.count(:all,:conditions => {:uid => @user.uid}) %>)</a></li>
    <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
  </ul>

  <%= render :partial => "notes/notes" %>

  <a class="btn" href="/tags/<%= @tags.collect(&:name).join('+') %>">More notes &raquo;</a>

</div>
