<%= render :partial => "sidebar/user" %>
<div class="col-md-9">

  <% if @user.note_count == 0 && (-1 * (@user.created_at - DateTime.now) < 3600*48) # created in last 48 hours %>
    <div class="alert alert-success hidden-sm">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong><%= t('home.dashboard.welcome') %></strong> <%= t('home.dashboard.need_help') %> <a href="/lists"><%= t('home.dashboard.join_discussion_list') %> &raquo;</a> 
    </div>
  <% elsif @user.note_count == 0 %>
    <div class="alert alert-success hidden-sm">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong><%= t('home.dashboard.welcome') %></strong> <%= t('home.dashboard.no_research_note') %> <a href="/post"><%= t('home.dashboard.sharing_work') %></a>!
    </div>
  <% elsif current_user.crypted_password.nil? %>
    <div class="alert alert-success hidden-sm">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= t('home.dashboard.please') %> <a href="/profile/edit"><%= t('home.dashboard.create_password') %></a>; <%= t('home.dashboard.older_site_deactive') %>
    </div>
  <% else %>
    <div class="alert alert-success hidden-sm">
      <b><%= t('home.dashboard.coming_soon') %>:</b> <%= t('home.dashboard.revised_dashboard') %> <a href="/dashboard2"><%= t('home.dashboard.try_it') %></a>.
    </div>
  <% end %>

  <h2 style="font-family:Junction Light;"><%= t('home.dashboard.dashboard_main.dashboard_title') %> <small><span class="hidden-xs"><%= t('home.dashboard.dashboard_main.welcome') %>, <%= current_user.username %>! </span><br class="visible-xs visible-sm"/> <a href="/research"><%= @note_count %> <%= t('home.dashboard.dashboard_main.notes') %></a> <%= t('home.dashboard.dashboard_main.and') %> <a href="/wiki"><%= @wiki_count %> <%= t('home.dashboard.dashboard_main.wiki_edits') %></a> <%= t('home.dashboard.dashboard_main.posted_last_week') %> </small></h2>

  <div id="share" class="hidden-xs hidden-sm" style="width:230px;float:right;margin-top:5px;text-align:right;height:30px;">
    <div style="float:right;margin-left:6px;"><a href="https://twitter.com/PublicLab" class="twitter-follow-button" data-show-count="false">Follow @PublicLab</a></div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="fb-follow" style="" data-href="https://www.facebook.com/publiclab" data-layout="button_count" data-show-faces="false" data-width="50"></div>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#research" data-toggle="tab"><span class="hidden-xs hidden-sm"><%= t('home.dashboard.nav_tabs.recent') %> </span><%= t('home.dashboard.nav_tabs.activity') %></a></li>
    <li><a href="#comments" id="comments-tab" data-toggle="tab"><i class="fa fa-comment"></i><span class="hidden-xs hidden-sm"> <%= t('home.dashboard.nav_tabs.comments') %></span></a></li>
    <li><a href="/profile/<%= current_user.username %>/likes"><i class="fa fa-star"></i><span class="hidden-xs hidden-sm"> <%= t('home.dashboard.nav_tabs.liked') %></span></a></li>
    <!--<li><a href="/nearby"><i class="fa fa-globe"></i><span class="hidden-xs hidden-sm"> Nearby</span></a></li>-->
    <li><a href="/subscriptions"><i class="fa fa-eye"></i><span class="hidden-xs hidden-sm hidden-md"> <%= t('home.dashboard.nav_tabs.subscriptions') %></span></a></li>
    <li class="hidden-sm"><a href="/lists"><i class="fa fa-envelope"></i><span class="hidden-xs hidden-sm hidden-md"> <%= t('home.dashboard.nav_tabs.lists') %></span></a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="research">
      <br />
      <%= render :partial => "notes/notes" %>
      <hr />
      <p><a href="/research?page=2"><%= t('home.dashboard.read_more_research_notes') %> &raquo;</a></p>
      <br />
    </div>
 
    <div class="tab-pane" id="comments">
      <h2 style="text-align:center;"><i class="fa fa-spinner fa fa-spin"></i></h2>
    </div>
    <script>
      (function(){
        $('a#comments-tab').on('shown.bs.tab',function (e) {
          $.ajax({
            url : '/dashboard/comments',
            type: 'GET',
            success: function(response){
              $('#comments').html(response);
            }
          })
        })
      })()
    </script>

  </div>
</div>
