<%= render :partial => "sidebar/user" %>
<div class="span9">
  <h3>Dashboard: <small>Welcome, <%= current_user.username %>!</small></h3>

  <ul class="nav nav-tabs">
    <li class="active"><a rel="tooltip" title="Research notes for: <%= @user.tagnames.join(', ') %>" data-placement="bottom" href="#"><span class="hidden-phone">Recent </span>Activity</a></li>
    <li><a href="/nearby"><i class="icon icon-globe"></i> Nearby</a></li>
    <li><a href="/notes/author/<%= current_user.username %>">
      <i class="icon icon-folder-open"></i>
        Your work 
        <span class="hidden-phone">
          (<%= DrupalNode.count(:all,:conditions => {:type => "note", :status => 1, :uid => current_user.uid}) %>)
        </span>
      </a></li>
  </ul>

  <%= render :partial => "notes/notes" %>

  <a class="btn" href="/tags/<%= @user.tagnames.join('+') %>">More notes &raquo;</a>

</div>
