<%= render :partial => "sidebar/featured" %>
<div class="span9">

  <div class="well">
    <div class="span7">
      <iframe width="100%" height="360" src="http://www.youtube.com/embed/cJjz7ULFtv8?list=PL2248679264CB236C" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span5">
      <h1 style="font-size:4.5em;letter-spacing:-0.05em;padding-top:0.3em;">Public Lab</h1>
      <h4>is a community where you can learn how to investigate environmental concerns. Using inexpensive DIY techniques, we seek to change how people see the world in environmental, social, and political terms.</h4>
      <p><a href="/join" class="btn btn-primary btn-large">Join now &raquo;</a></p>
    </div>
    <br style="clear:both" />
  </div>

  <div id="share">
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>
    &nbsp; <a href="https://twitter.com/PublicLab" class="twitter-follow-button" data-show-count="false">Follow @PublicLab</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    &nbsp; <a href="https://twitter.com/share" class="twitter-share-button" data-text="DIY, open source environmental science community: @PublicLab">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
  </div>

  <hr />

  <h2>Public Lab is made up of:</h2>

  <style>
    h4 {
      line-height: 1.8em;
      color:#888;
    }
    .about .icon {
      color:#444;
    }
  </style>

  <div class="row-fluid about">

    <div class="span4">
      <img width="30%" src="~/Sites/plots2/public/images/icon-community-investigations.png" class="img img-rounded" />
      <h3>An open community of contributors</h3>
      <h4>Learn about and help to develop cheaper, more open environmental testing. <br /><a href="/signup">Join today &raquo;</a></h4>
    </div>

    <div class="span4">
      <h3><i class="icon icon-wrench"></i> A set of experimental tools</h3>
      <h4><a href="/tools">Browse and freely download the designs</a>, or <a href="http://store.publiclaboratory.org">purchase a kit</a> to get involved today.</h4>
    </div>

    <div class="span4">
      <h3><i class="icon icon-globe"></i> A network of local groups</h3>
      <h4><a href="/places">Find a nearby chapter</a> or <a href="/wiki/start-a-chapter">start one yourself</a> to find local collaborators and support.</h4>
    </div>

  </div>
  <div class="row-fluid about">

    <div class="span4">
      <h3><i class="icon icon-hdd"></i> An open data archive</h3>
      <h4><a href="/maps">A permanent home</a> for environmental data from grassroots groups and individuals.</h4>
    </div>

    <div class="span4">
      <h3><i class="icon icon-laptop"></i> Free and open source software</h3>
      <h4>From <a href="http://mapknitter.org">map making and publishing</a> to <a href="http://spectralworkbench.org">spectral analysis</a>, with more new tools in development.</h4>
    </div>

    <div class="span4">
      <h3><i class="icon icon-exchange"></i> A platform to build collaborations</h3>
      <h4>Our online and offline events and systems bring together activists, technologists, scientists, educators, and local residents to solve problems.</h4>
    </div>

  </div>

  <hr />

  <h3>Open source research <small>by people like you</small></h3>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#balloon-mapping" data-toggle="tab">Balloon mapping</a></li>
    <li><a href="#kite-mapping" data-toggle="tab">Kite mapping</a></li>
    <li><a href="#spectrometer" data-toggle="tab">Spectrometry</a></li>
    <li><a href="#near-infrared-camera" data-toggle="tab">Infrared photography</a></li>
    <li><a href="#thermal-photography" data-toggle="tab">Thermal photography</a></li>
  </ul> 

  <div class="tab-content">
    <% ['balloon-mapping',
        'kite-mapping',
        'spectrometer',
        'near-infrared-camera',
        'thermal-photography'].each_with_index do |tagname,index| %>
    <div class="tab-pane<%= ' active' if index == 0 %>" id="<%= tagname %>">
      <% @nodes =  DrupalTag.find_popular_notes(tagname,20,4) %>
      <% if @nodes.length > 0 %>
      <% cache "front-"+tagname+"-"+@nodes.first.id.to_s+"-"+@nodes.first.updated_at.to_i.to_s do %>
        <%= render :partial => "notes/tagged_notes", :locals => {:nodes => @nodes} %>
      <% end %>
      <% end %>
      <p><a href="/tag/<%= tagname %>">More "<%= tagname %>" research &raquo;</a></p>
      <br />
    </div>
    <% end %>
  </div>

  <script>
    $(function () {
      $('#myTab a:first').tab('show');
    })
  </script>

  </div>
</div>
