<div class="col-12">
  <h2 class="text-center">How it works</h2>
</div>

<div class="container-fluid text-center panels">
  <div class="row">
    <div class="col-md-3">
      <p><i class="fa fa-image"></i></p>
      <h4 class="section-title">Take aerial photos</h4>
      <p>Use a kite, balloon, or pole to take aerial photos - using a camera on a timer.</p>
    </div>

    <div class="col-md-3">
      <p><i class="fa fa-image"></i></p>
      <h4 class="section-title">Combine them into a map</h4>
      <p>Upload images and stretch them to create a mosaic of aerial photos, then save them as a map!</p>
    </div>

    <div class="col-md-3">
      <p><i class="fa fa-image"></i></p>
      <h4 class="section-title">Combine them into a map</h4>
      <p>Upload images and stretch them to create a mosaic of aerial photos, then save them as a map.</p>
    </div>

    <div class="col-md-3">
      <p><i class="fa fa-image"></i></p>
      <h4 class="section-title">Combine them into a map</h4>
      <p>Upload images and stretch them to create a mosaic of aerial photos, then save them as a map.</p>
    </div>
  </div>
</div>

<style>
.panels {
  padding: 30px 10px;
}
</style>


<% cache('feature_home-intro', skip_digest: true) do %>
  <%= feature("home-intro") %>
<% end %>

<div class="container">

<div class="projects">
  <% #cache('home-blog', expires_in: 60.minutes, skip_digest: true) do %>
    <% unless @projects.nil? || @projects.length == 0 %>

      <% @projects.each_with_index do |project, index| %>

        <div class="row<%= " justify-content-end" if index.odd? %>">
          <div class="col-6 col-xs-12 project-image">

            <a href="<%= project.path %>"><img src="<%= project.main_image %>" /</a>

          </div>
          <div class="col-6 col-xs-12">

            <h3><a href="<%= project.path %>"><%= project.title %></a></h3>

            <p><%= project.body.split('/n')&.first %></p>

            <p><a href="<%= project.path %>">Read more &raquo;</a></p>

            <div class="people">
              <!-- people most associated with it? editors? pinnable? -->

              <!-- replace authors with 'featured people' or something? -->
              <% project.authors[0..2].each do |author| %>
                <% if author.photo %>
                  <a class="person" href="/profile/<%= author.username %>">
                    <img class="person-image" src="<%= author.photo %>" />
                  </a>
                <% end %>
              <% end %>

              <% if true || project.authors.length > 2 %>
                <span class="person">
                  <span class="text"><%= project.authors.length - 2 %> more</span>
                </span>
              <% end %>

            </div>

          </div>
        </div>

      <% end %>

      <p><center><a class="btn btn-outline-secondary" href="/projects">More projects</a></center></p>

    <% end %>
  <% # end %>
</div>

</div>

<style>

.projects {
  width: 100%;
  position: absolute;
  left: 0;
  background: #ffdfb8; 
  padding: 40px 20px;
}
.projects .row {
  padding: 40px 20px;
  color: #222;
}
.projects .row .project-image img {
  background: #ccc; 
}
.projects .row h3 {
  color: #333;
  padding-bottom: 10px;
}
.projects .row h3 a {
  color: #333;
  text-decoration: none;
}
.projects .row a {
  color: #333;
  text-decoration: underline;
}
.projects .person {
  background: #efb977;
  float: left;
  display: inline-block;
  border-radius: 15px;
  min-width: 30px;
  height: 30px;
  margin-right: 5px;
}
.projects .person-image {
  border-radius: 15px;
  height: 30px;
  width: 30px;
}
.projects .person .text {
  color: #884d05;
  padding: 3px 8px;
  display: inline-block;
}

</style>

<% cache('feature_home-footer', skip_digest: true) do %>
  <%= feature("home-footer") %>
<% end %>

