<%= render :partial => "sidebar/featured" %>
<div class="span9">

  <div class="well">
    <div class="span7">
      <iframe width="100%" height="360" src="http://www.youtube.com/embed/cJjz7ULFtv8?list=PL2248679264CB236C" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span5">
      <h1>Public Lab</h1>
      <p>is a community where you can learn how to investigate environmental concerns. Using inexpensive DIY techniques, we seek to change how people see the world in environmental, social, and political terms.</p>
      <p><a href="/join" class="btn btn-primary btn-large btn-block">Join now &raquo;</a></p>
    </div>
    <br style="clear:both" />
  </div>

  <div>
    <p>Community members develop tools and write open source instructions as <a href="/notes">research notes</a>, wiki pages, <a href="/guides">printable guides</a>, and <a href="/videos">videos</a>, so others know how to use these tools, and many have <a href="/wiki/creating-local-mailing-lists">started local groups</a> in their area. We also provide support through our <a href="/wiki/mailing-lists">mailing lists</a>. This works because everyone <b>both learns from and helps each other out</b>, and we all contribute to the growing body of documentation as we go.</p>

  <div id="share">
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>
    &nbsp; <a href="https://twitter.com/PublicLab" class="twitter-follow-button" data-show-count="false">Follow @PublicLab</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    &nbsp; <a href="https://twitter.com/share" class="twitter-share-button" data-text="DIY, open source environmental science community: @PublicLab">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
  </div>

  <hr />
  </div>

  <h2>Public Lab is made up of:</h2>

  <style>
    h4 {
      line-height: 1.8em;
      color:#888;
    }
    .about .icon {
      color:#444;
    }
  </style>

  <div class="row-fluid about">

    <div class="span4">
      <h3><i class="icon icon-group"></i> An open community of contributors</h3>
      <h4>Working towards cheaper, more open environmental tests. <a href="/signup">Join today &raquo;</a></h4>
    </div>

    <div class="span4">
      <h3><i class="icon icon-wrench"></i> A set of experimental tools</h3>
      <h4><a href="/tools">Browse and freely download the designs</a>, or <a href="http://store.publiclaboratory.org">purchase a kit &raquo;</a>.</h4>
    </div>

    <div class="span4">
      <h3><i class="icon icon-globe"></i> A network of local groups</h3>
      <h4><a href="/places">Find a nearby chapter</a> or <a href="/wiki/start-a-chapter">start one yourself &raquo;</a></h4>
    </div>

  </div>
  <div class="row-fluid about">

    <div class="span4">
      <h3><i class="icon icon-hdd"></i> An open data archive</h3>
      <h4><a href="/maps">A permanent home</a> for environmental data from grassroots groups and individuals.</h4>
    </div>

    <div class="span4">
      <h3><i class="icon icon-laptop"></i> Free and open source software</h3>
      <h4>From <a href="http://mapknitter.org">map making and publishing</a> to <a href="http://spectralworkbench.org">spectral analysis</a>, with more new tools in development.</h4>
    </div>

    <div class="span4">
      <h3><i class="icon icon-exchange"></i> A platform to build collaborations</h3>
      <h4>Our online and offline events and systems bring together activists, technologists, scientists, educators, and local residents to solve problems.</h4>
    </div>

  </div>

<!--
  <h3>Public Lab is a community which:</h3>


  <div class="row-fluid">
    <div class="span3 well">
      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>
      <h5>develops open source tools</h5>
    </div>
    <div class="span3 well">
      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>
      <h5>sells DIY kits</h5>
    </div>
    <div class="span3 well">
      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>
      <h5>hosts open data</h5>
    </div>
    <div class="span3 well">
      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>
      <h5>supports community investigation</h5>
    </div>
  </div>

  <h3>so we can monitor our environment by:</h3>

  <div class="row-fluid">
    <div class="span3 well">
      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>
      <h5>constructing our own tools</h5>
    </div>
    <div class="span3 well">
      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>
      <h5>collaborating to improve our techniques</h5>
    </div>
    <div class="span3 well">
      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>
      <h5>creating credible and legible data</h5>
    </div>
    <div class="span3 well">
      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>
      <h5>leading community investigations</h5>
    </div>
  </div>

  <h3>to make real impacts in our communities.</h3>
-->
  <hr />

  <h3>Open source research <small>by people like you</small></h3>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#balloon-mapping" data-toggle="tab">Balloon mapping</a></li>
    <li><a href="#kite-mapping" data-toggle="tab">Kite mapping</a></li>
    <li><a href="#spectrometer" data-toggle="tab">Spectrometry</a></li>
    <li><a href="#near-infrared-camera" data-toggle="tab">Infrared photography</a></li>
    <li><a href="#thermal-photography" data-toggle="tab">Thermal photography</a></li>
  </ul> 

  <div class="tab-content">
    <% ['balloon-mapping',
        'kite-mapping',
        'spectrometer',
        'near-infrared-camera',
        'thermal-photography'].each_with_index do |tagname,index| %>
    <div class="tab-pane<%= ' active' if index == 0 %>" id="<%= tagname %>">
      <% @nodes =  DrupalTag.find_popular_notes(tagname,20,4) %>
      <% if @nodes.length > 0 %>
      <% cache "front-"+tagname+"-"+@nodes.first.id.to_s+"-"+@nodes.first.updated_at.to_i.to_s do %>
        <%= render :partial => "notes/tagged_notes", :locals => {:nodes => @nodes} %>
      <% end %>
      <% end %>
      <p><a href="/tag/<%= tagname %>">More "<%= tagname %>" research &raquo;</a></p>
    </div>
    <% end %>
  </div>

  <script>
    $(function () {
      $('#myTab a:first').tab('show');
    })
  </script>

  </div>
</div>
