<%= render :partial => "home/sidebar" %>
<div class="span9">

  <div class="well">
    <div class="span9">
      <iframe width="100%" height="360" src="http://www.youtube.com/embed/cJjz7ULFtv8?list=PL2248679264CB236C" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span3">
      <h1>Public Lab</h1>
      <p>is a community where you can learn how to investigate environmental concerns. Using inexpensive DIY techniques, we seek to change how people see the world in environmental, social, and political terms.</p>
      <p><a href="/join" class="btn btn-primary btn-large btn-block">Join now &raquo;</a></p>
      <p><a class="btn btn-block"><i class="icon icon-film"></i> Watch intro</a></p>
    </div>
    <br style="clear:both" />
  </div>

  <div>
    <p>Community members develop tools and write open source instructions as <a href="/notes">research notes</a>, wiki pages, <a href="/guides">printable guides</a>, and <a href="/videos">videos</a>, so others know how to use these tools, and many have <a href="/wiki/creating-local-mailing-lists">started local groups</a> in their area. We also provide support through our <a href="/wiki/mailing-lists">mailing lists</a>. This works because everyone <b>both learns from and helps each other out</b>, and we all contribute to the growing body of documentation as we go.</p>

  <div id="share">
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>
    &nbsp; <a href="https://twitter.com/PublicLab" class="twitter-follow-button" data-show-count="false">Follow @PublicLab</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    &nbsp; <a href="https://twitter.com/share" class="twitter-share-button" data-text="DIY, open source environmental science community: @PublicLab">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
  </div>

  <hr />
  </div>

  <h3>Public Lab is a community which:</h3>

  <div class="row-fluid">
    <div class="span3 well">
<!--      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>-->
      <h5>develops open source tools</h5>
    </div>
    <div class="span3 well">
<!--      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>-->
      <h5>sells DIY kits</h5>
    </div>
    <div class="span3 well">
<!--      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>-->
      <h5>hosts open data</h5>
    </div>
    <div class="span3 well">
<!--      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>-->
      <h5>supports community investigation</h5>
    </div>
  </div>

  <h3>so we can monitor our environment by:</h3>

  <div class="row-fluid">
    <div class="span3 well">
<!--      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>-->
      <h5>constructing our own tools</h5>
    </div>
    <div class="span3 well">
<!--      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>-->
      <h5>collaborating to improve our techniques</h5>
    </div>
    <div class="span3 well">
<!--      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>-->
      <h5>creating credible and legible data</h5>
    </div>
    <div class="span3 well">
<!--      <img class="img img-rounded" style="background:#bbb;height:80px;width:100%;"/>-->
      <h5>leading community investigations</h5>
    </div>
  </div>

  <h3>to make real impacts in our communities.</h3>

  <hr />

  <h2>Open source research <small>by people like you</small></h2>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#balloon-mapping" data-toggle="tab">Balloon mapping</a></li>
    <li><a href="#kite-mapping" data-toggle="tab">Kite mapping</a></li>
    <li><a href="#spectrometer" data-toggle="tab">Spectrometry</a></li>
    <li><a href="#near-infrared-camera" data-toggle="tab">Infrared photography</a></li>
    <li><a href="#thermal-photography" data-toggle="tab">Thermal photography</a></li>
  </ul> 

  <div class="tab-content">
    <% ['balloon-mapping',
        'kite-mapping',
        'spectrometer',
        'near-infrared-camera',
        'thermal-photography'].each_with_index do |tagname,index| %>
    <div class="tab-pane<%= ' active' if index == 0 %>" id="<%= tagname %>">
      <%= render :partial => "notes/tagged_notes", :locals => {:nodes => DrupalTag.find_popular_notes(tagname,4)} %>
      <p><a href="/tag/<%= tagname %>">More "<%= tagname %>" research &raquo;</a></p>
    </div>
    <% end %>
  </div>

  <script>
    $(function () {
      $('#myTab a:first').tab('show');
    })
  </script>

  </div>
</div><!--/span-->
