<%= render :partial => "home/sidebar" %>
<div class="col-lg-9">

  <h3 style="margin-top:0;">Public Lab contributors near <% if current_user %>you<% else %><%= params[:q] %><% end %></h3>

  <form action="" class="form">
    <input class="input search-query" type="text" name="q" placeholder="Search for a place"/>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>

  <div class="col-lg-12" style="margin-left:0;height:400px;" id="map"></div>

  <script>
    var map = L.map('map').setView([<%= current_user.lat %>,<%= current_user.lon %>], 8);
    L.tileLayer("https://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/{z}/{x}/{y}.png").addTo(map)

    <% if @users %>
    <% @users.each do |user| %>
      L.marker([<%= user.lat %>, <%= user.lon %>]).addTo(map).bindPopup("<a href='/profile/<%= user.name %>'><%= user.name %></a>");
    <% end %>
    <% end %>
  </script>

</div>

