<div class="span3">
  <a style="margin-bottom:6px;" href="/post<%= '?tags='+@tagnames.join(',') if @tagnames %><% if params[:controller] == 'notes' && params[:action] == 'show' %>,response:<%= @node.id %><% end %>" class="btn btn-primary btn-large btn-block"><i class="icon-pencil icon-white"></i> Post related work &raquo;</a>

  <%= render :partial => "wiki/place_sidebar" %>

  <hr />

  <% if @notes && @notes.length > 0 %>
  <h4>Recent contributors on this topic</h4>
  <ul class="nav">
    <% @notes.collect(&:author).collect(&:name).uniq.each do |author| %>
      <li><a href="/notes/author/<%= author %>/<%= @tagnames.join('+') %>"><i class="icon-user"></i> <%= author %></a></li>
    <% end %>
  </ul>
  <% end %>

  <% if @wikis && @wikis.length > 0 %>
  <h4>Related wiki pages</h4>
  <ul class="nav bullet">
    <% @wikis.each do |wiki| %>
      <li><a href="/wiki/<%= wiki.slug %>"><i class="icon-file"></i> <%= wiki.title %></a></li>
    <% end %>
    <% if params[:controller] == "search" %>
      <li><a href="/tag/<%= params[:id] %>">More...</a></li>
    <% end %>
  </ul>
  <% end %>

  <% if @notes && @notes.length > 0 %>
  <h4>Related research notes</h4>
  <ul class="nav bullet">
    <% @notes.each do |note| %>
      <li><a href="/<%= note.slug %>"><i class="icon-certificate"></i> <%= note.title %></a></li>
    <% end %>
    <% if params[:controller] == "search" %>
      <li><a href="/tag/<%= params[:id] %>">More...</a></li>
    <% end %>
  </ul>
  <% end %>

</div>
