<table class="table">
  <tr>
    <%= raw t('wiki._wikis.table_content') %>
    <th><i class="fa fa-star-o"></i> <%= t('wiki._wikis.likes') %></th>
  </tr>
  <% @wikis.each do |wiki| %>
    <tr>
      <td style="width:50%"><i class="fa fa-file"></i> <a href="<%= wiki.path %>"><%= wiki.latest.title %></a></td>
      <td><%= distance_of_time_in_words(Time.at(wiki.latest.created_at), Time.current, false, :scope => :'datetime.time_ago_in_words') %> <%= raw t('wiki._wikis.by') %> 
      <a href="/profile/<%= wiki.latest.author.name %>"><%= wiki.latest.author.name %></a></td>
      <td><%= wiki.revisions.length %></td>
      <td class="hidden-xs"><%= number_with_delimiter(wiki.views) %></td>
      <td><%= number_with_delimiter(wiki.cached_likes) %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @wikis, :renderer => BootstrapPagination::Rails if @paginated %>
