<table class="table">
  <tr>
    <th>Title</th>
    <th>Last edited</th>
    <th>Edits</th>
    <th class="hidden-xs">Pageviews</th>
    <th><i class="fa fa-star-o"></i> Likes</th>
  </tr>
  <% @wikis.each do |wiki| %>
    <tr>
      <td style="width:50%"><i class="fa fa-file"></i> <a href="<%= wiki.path %>"><%= wiki.latest.title %></a></td>
      <td><%= time_ago_in_words(Time.at(wiki.latest.created_at)) %> ago by 
      <a href="/profile/<%= wiki.latest.author.name %>"><%= wiki.latest.author.name %></td>
      <td><%= wiki.revisions.length %></td>
      <td class="hidden-xs"><%= number_with_delimiter(wiki.totalcount) %>
      <td><%= number_with_delimiter(wiki.cached_likes) %>
    </tr>
  <% end %>
</table>
<%= will_paginate @wikis, :renderer => BootstrapPagination::Rails if @paginated %>
