<hr id="first" style="border: none;height: 1px;background-color: #e2e2e2;margin-bottom: 32px;">
<div style="font-family: sans-serif; max-width: 756px;">
  <% @wikis.each do |wiki| %>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div>
        <div style="margin-bottom: 10px">
          <h4 style="font-weight:500;margin:0;">
            <a href="<%= @base_url%><%= wiki.path %>"><%= wiki.latest.title %></a>
          </h3>
        </div>
        <div style="float:left;">
          <% if wiki.latest.author.photo? %>
            <img style="width:20px;margin-right:8px;border-radius:50%;"src="<%= @base_url %><%= wiki.latest.author.photo_path(:thumb) %>" />
          <% else %>
            <img style="width:20px;margin-right:8px;border-radius:50%;"src="https://www.gravatar.com/avatar/1aedb8d9dc4751e229a335e371db8058" />
          <% end %>
        </div>
        <div style="margin-bottom: 20px;">
          <b style="font-weight: 500;"><%= wiki.latest.author.username.capitalize %></b>
          <p style="margin: 0;color: #999;font-weight: 500;"><span><%= translation('wiki._wikis.published') %></span> <%= wiki.latest.created_at.strftime("%B %-d %Y") %></p>
        </div>
      </div>
      <div>
        <% if wiki.main_image.present? && wiki.main_image.is_image? %>
          <div style="padding-bottom: 30px;" class="pl-md-5 pl-lg-5">
            <img src="<%= @base_url %><%= wiki.main_image.path(:default) %>" style="width:120px;border-radius:5px;">
          </div>
        <% elsif wiki.scraped_image %>
          <div style="padding-bottom:30px;padding-top:10px;">
            <img src="<%= @base_url %><%= wiki.scraped_image %>" style="width:120px;border-radius:5px;">
          </div>
        <% end %>
      </div>
    </div>
    <div style="padding-bottom: 32px;">
      <hr style="border: none;height: 1px;background-color: #e2e2e2;width: 140px;">
    </div>
  <% end %>
</div>
