<div class="span3">
  <% if @related && @related.length > 0 %>
    <h3>Did you mean:</h3>
    <ul class="nav bullet">
    <% @related[0..5].each do |wiki| %>
      <li><a href="/wiki/<%= wiki.slug %>"><i class="icon-book"></i> <%= wiki.title %></a></li>
    <% end %>
    </ul>
    <p><i class="icon icon-search"></i> Try <a href="/search/<%=h params[:id] %>">searching for '<%=h params[:id] %>' &raquo;</a></p>
  <hr />
  <% end %>

  <h3><i class="icon-book"></i> What's a <br />a wiki page?</h3>
  <p>At Public Lab, we all collaborate to invent and improve open source environmental science tools. <b>Wiki pages</b> are web pages that anyone can create or edit -- we use them to collect information, documentation, and instructions on projects.</p>
  <p><b>Wiki pages can be:</b></p>
  <ul>
    <li>a <a href="/tag/tutorial">tutorial</a> on how to make something</li>
    <li>documentation of a project</li>
    <li>an event planning page</li>
    <li>a place to collect lists of research notes</li>
    <li>etc!</li>
  </ul>
  <hr />
  <div class="sidebar-nav hidden-phone">
    <ul class="nav nav-list">
      <li class="nav-header">More</li>
      <li><a href="/wiki/getting-started">Getting started with Public Lab</a></li>
      <% if @node %><li><a href="/wiki/revisions/<%= @node.slug %>">Revisions for this page</a></li><% end %>
      <li><a href="/wiki/posting-research">About posting research</a></li>
      <li><a href="/wiki/authoring-help#Advanced+formatting">Advanced formatting</a></li>
    </ul>
  </div>
</div>

<div class="span9">

  <% if @node && params[:action] != "create"
    url = { :controller => "wiki", :action => "update", :id => @node.id }
  else 
    url = { :controller => "wiki", :action => "create", :id => params[:id] }
   end %>

  <%= form_for @node, :as => :drupal_node, :url => url do |f| %>
    <% if f.error_messages != "" %><div class="alert alert-error"><%= f.error_messages %></div><% end %>
  <% end %>

  <%= form_for @revision, :as => :drupal_node_revision, :url => url, :html => {:class => "form well"} do |f| %>

    <% if f.error_messages != "" %><div class="alert alert-error"><%= f.error_messages %></div><% end %>
  
    <%= render :partial => "editor/main_image" %>

    <% if @node && @node.latest && @node.latest.title %>
      <h3 style="margin-top:0;">Editing page: <i><%= @node.latest.title %></i></h3>
    <% else %>
      <h3 style="margin-top:0;">Create page: <i><%=h params[:id] %></i></h3>
    <% end %>

    <input id="has_main_image" type="hidden" name="has_main_image" value="<% if @node && @node.main_image %>true<% end %>" />
    <input id="main_image" type="hidden" name="main_image" value="<% if @node && @node.main_image(:rails) %><%= @node.main_image(:rails).id %><% else %><%= params[:main_image] %><% end %>" />
    <input id="images_input" type="hidden" name="images" value="" />

    <% if @node && @node.latest %>
      <input tabindex="1" name="title" type="text" class="span9" id="title" value="<%= @node.latest.title %>"><br />
    <% else %>
      <input tabindex="1" name="title" type="text" class="span9" id="title" value="<%= params[:id] %>"><br />
      <!--<input name="url" type="text" class="span9" id="url" value="" placeholder="page-url"><br />-->
    <% end %>

    <script>
      (function(){
        $D = {
          uid: <%= current_user.uid %>,
          type: 'wiki'
        }
      })()
    </script>

    <%= render :partial => 'editor/editor' %>

    <div class="hidden-phone">
      <a id="publish" tabindex="5" class="publish btn btn-primary btn-large">Publish</a>
      <a tabindex="6" data-previewing-text="Previewing (click to edit)" class="btn btn-large preview-btn" onClick="$E.toggle_preview()">Preview</a>
      <span> &nbsp; By publishing, you agree to <a target="_blank" href="/licenses">open source your work</a> so that others may use it.</span>
    </div>
    <p class="visible-phone btn-group">
      <a id="publish" class="publish btn btn-primary btn-large">Publish</a>
      <a data-previewing-text="Edit" class="btn btn-large preview-btn" onClick="$E.toggle_preview()">Preview</a>
    </p>
    <p class="visible-phone">By publishing, you agree to <a target="_blank" href="/licenses">open source your work</a> so that others may use it.</p>

    <% if @node %><p style="padding:10px 0 0 0;"><i>This page was last edited <%= time_ago_in_words(@node.latest.created_at) %> ago by <a href="/profile/<%= @node.latest.author.name %>"><%= @node.latest.author.name %></a></i></p><% end %> 

    <script>
      (function(){
        publish = function(e) {
            $('#new_drupal_node_revision').submit()
        }
        $(".publish").bind("click",publish)
      })()
    </script>

  <% end %>
</div>
