<div class="span3">
  <% if @related && @related.length > 0 %>
    <h3>Did you mean:</h3>
    <ul class="nav bullet">
    <% @related[0..5].each do |wiki| %>
      <li><a href="/wiki/<%= wiki.slug %>"><i class="icon-book"></i> <%= wiki.title %></a></li>
    <% end %>
    </ul>
    <p><i class="icon icon-search"></i> Try <a href="/search/<%=h params[:id] %>">searching for '<%=h params[:id] %>' &raquo;</a></p>
  <hr />
  <% end %>

  <h3><i class="icon-book"></i> What's a <br />a wiki page?</h3>
  <p>At Public Lab, we all collaborate to invent and improve open source environmental science tools. <b>Wiki pages</b> are web pages that anyone can create or edit -- we use them to collect information, documentation, and instructions on projects.</p>
  <p><b>Wiki pages can be:</b></p>
  <ul>
    <li>a tutorial on how to make something</li>
    <li>documentation of a project</li>
    <li>an event planning page</li>
    <li>a place to collect lists of research notes</li>
    <li>etc!</li>
  </ul>
  <hr />
  <div class="sidebar-nav hidden-phone">
    <ul class="nav nav-list">
      <li class="nav-header">More</li>
      <li><a href="/wiki/getting-started">Getting started with Public Lab</a></li>
      <% if @node %><li><a href="/wiki/revisions/<%= @node.slug %>">Revisions for this page</a></li><% end %>
      <li><a href="#">Advanced note posting</a></li>
    </ul>
  </div>
</div>

<script src="/assets/js/dragdrop.js"></script>
<div class="span9">
  <%= render :partial => "layouts/alerts" %>
  <form class="well post" action="http://publiclaboratory.org/wiki/<%=h params[:id] %>">
    <% if @node %>
      <h3 style="margin-top:0;">Editing page: <i><%= @node.title %></i></h3>
    <% else %>
      <h3 style="margin-top:0;">Create page: <i><%=h params[:id] %></i></h3>
    <% end %>

    <div class="sidebar-nav pull-right span3">
      <a class="btn btn-large btn-block"><i class="icon-upload"></i> Choose files</a>
      <br />
      <div class="dropzone hidden-phone hidden-tablet" id="dropzone">
        Drag files here to attach
      </div>
    </div>

    <input tabindex="1" name="title" type="text" class="span9" id="title" value="<%= @node.title if @node %><%=h params[:id] unless @node %>"><br />

    <script>
      function wrap(a,b) {
        var textarea = $('#text-input')
        var len = textarea.val().length;
        var start = textarea[0].selectionStart;
        var end = textarea[0].selectionEnd;
        var sel = textarea.val().substring(start, end);
        var replace = a + sel + b;
        textarea.val(textarea.val().substring(0,start) + replace + textarea.val().substring(end,len));
      }
    </script>

    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('**','**')"><i class="icon-bold"></i></a>
        <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('__','__')"><i class="icon-italic"></i></a>
        <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('##','')">Header</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('[',']('+prompt('Enter a URL')+')')"><i class="icon-globe"></i></a>
        <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('![',']('+prompt('Enter an image URL')+')')" data-><i class="icon-picture"></i></a>
      </div>
      <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('<em>','</em>')"><i class="icon-comment"></i></a>
      <div class="btn-group">
        <a class="btn btn-small btn-info" href="#"><i class="icon-question-sign icon-white"></i> Help</a>
      </div>
    </div>

    <textarea name="body" tabindex="2" class="span9" id="text-input" oninput="this.editor.update()"
              rows="30" cols="60"><%= @node.body if @node %></textarea>
    <div class="well span9" id="preview" style="display:none;"> </div>
    <br style="clear:both;"/>

    <script src="/assets/js/markdown.js"></script>
    <script>
      function Editor(input, preview)
      {
        this.update = function () {
          preview.innerHTML = markdown.toHTML(input.value);
        }
        input.editor = this;
        this.update();
      }
      var $M = function (id) { return document.getElementById(id); };
      new Editor($M("text-input"), $M("preview"));
    </script>

    <div class="input-prepend">
      <span class="add-on"><i class="icon-tags"></i></span>
      <input tabindex="3" name="tags" type="text" class="span6" <% if @tags %>value="<%= @tags.collect(&:name).join(',') %>"<% else %>placeholder="balloon-mapping, new-york"<% end %> data-provide="typeahead" data-source="['balloon-mapping','kite-mapping','spectrometry','near-infrared-camera','thermal-flashlight']">
    </div>

    <br />
    <button tabindex="4" type="submit" class="btn btn-primary btn-large">Publish</button>
    <a class="btn btn-large" onClick="$('#preview').toggle();$('#text-input').toggle()">Preview</a>
  </form>
</div>
