<div class="span3">
  <% if @related && @related.length > 0 %>
    <h3>Did you mean:</h3>
    <ul class="nav bullet">
    <% @related[0..5].each do |wiki| %>
      <li><a href="/wiki/<%= wiki.slug %>"><i class="icon-book"></i> <%= wiki.title %></a></li>
    <% end %>
    </ul>
    <p><i class="icon icon-search"></i> Try <a href="/search/<%=h params[:id] %>">searching for '<%=h params[:id] %>' &raquo;</a></p>
  <hr />
  <% end %>

  <h3><i class="icon-book"></i> What's a <br />a wiki page?</h3>
  <p>At Public Lab, we all collaborate to invent and improve open source environmental science tools. <b>Wiki pages</b> are web pages that anyone can create or edit -- we use them to collect information, documentation, and instructions on projects.</p>
  <p><b>Wiki pages can be:</b></p>
  <ul>
    <li>a tutorial on how to make something</li>
    <li>documentation of a project</li>
    <li>an event planning page</li>
    <li>a place to collect lists of research notes</li>
    <li>etc!</li>
  </ul>
  <hr />
  <div class="sidebar-nav hidden-phone">
    <ul class="nav nav-list">
      <li class="nav-header">More</li>
      <li><a href="/wiki/getting-started">Getting started with Public Lab</a></li>
      <% if @node %><li><a href="/wiki/revisions/<%= @node.slug %>">Revisions for this page</a></li><% end %>
      <li><a href="#">Advanced note posting</a></li>
    </ul>
  </div>
</div>

<div class="span9">

  <% 
  if @node && params[:action] != "create"
    url = { :controller => "wiki", :action => "update", :id => @node.slug }
  else 
    url = { :controller => "wiki", :action => "create", :id => params[:id] }
   end 
  %>

  <%= form_for @node, :as => :drupal_node, :url => url do |f| %>
    <% if f.error_messages != "" %><div class="alert alert-error"><%= f.error_messages %></div><% end %>
  <% end %>

  <%= form_for @revision, :as => :drupal_node_revision, :url => url, :html => {:class => "form well"} do |f| %>

    <% if f.error_messages != "" %><div class="alert alert-error"><%= f.error_messages %></div><% end %>

    <% if @node && @node.latest && @node.latest.title %>
      <h3 style="margin-top:0;">Editing page: <i><%= @node.latest.title %></i></h3>
    <% else %>
      <h3 style="margin-top:0;">Create page: <i><%=h params[:id] %></i></h3>
    <% end %>

    <input id="images_input" type="hidden" name="images" value="" />

    <% if @node && @node.latest %>
      <input tabindex="1" name="title" type="text" class="span9" id="title" value="<%= @node.latest.title %>"><br />
    <% else %>
      <input tabindex="1" name="title" type="text" class="span9" id="title" value="<%= params[:id] %>"><br />
      <input name="url" type="text" class="span9" id="url" value="" placeholder="page-url"><br />
    <% end %>

    <script>
      function wrap(a,b) {
        var textarea = $('#text-input')
        var len = textarea.val().length;
        var start = textarea[0].selectionStart;
        var end = textarea[0].selectionEnd;
        var sel = textarea.val().substring(start, end);
        var replace = a + sel + b;
        textarea.val(textarea.val().substring(0,start) + replace + textarea.val().substring(end,len));
      }
    </script>

    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('**','**')"><i class="icon-bold"></i></a>
        <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('__','__')"><i class="icon-italic"></i></a>
        <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('##','')">Header</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('[',']('+prompt('Enter a URL')+')')"><i class="icon-globe"></i></a>
        <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('![',']('+prompt('Enter an image URL')+')')" data-><i class="icon-picture"></i></a>
      </div>
      <a class="btn btn-small" href="javascript:void(0)" onClick="wrap('<em>','</em>')"><i class="icon-comment"></i></a>
      <div class="btn-group">
        <a class="btn btn-small btn-info" href="#"><i class="icon-question-sign icon-white"></i> Help</a>
      </div>
    </div>

    <div class="well span9" id="preview" style="display:none;"></div>
    <div id="dropzone">
      <textarea name="body" tabindex="2" class="span9" id="text-input" oninput="this.editor.update()"
                rows="20" cols="60"><% if @node && @node.latest && @node.latest.body %><%= @node.latest.body %><% else %><%= params[:body] %><% end %></textarea>
      <div id="imagebar">
        <div id="progress" style="display:none;" class="progress progress-striped active pull-right">
          <div class="bar" style="width: 0%;"></div>
        </div>
        <p>Drag &amp; drop to add an image, or <a>choose an image</a></p>
      </div>
      </div>
    <br style="clear:both;" />

    <style>
textarea {
  border-bottom:none;
  margin-bottom:0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#imagebar {
  width:74%;
  color: #aaa;
  border:1px solid #bbb;
  border-top:none;
  background:#f8f8f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#imagebar p {
  border-top:2px dotted #ddd;
  padding:8px 12px 0px;
}
#progress {
  margin:10px;
  width:30%;
}
    </style>

    <script src="/assets/js/editor.js"></script>
    <script>
      (function(){
        $D = {
          uid: <%= current_user.uid %>,
          type: 'wiki'
        }
        $E.initialize()
      })()
    </script>

    <script src="/assets/js/markdown.js"></script>
    <script>
      function Editor(input, preview)
      {
        this.update = function () {
          preview.innerHTML = markdown.toHTML(input.value);
        }
        input.editor = this;
        this.update();
      }
      var $M = function (id) { return document.getElementById(id); };
      new Editor($M("text-input"), $M("preview"));

    </script>
    <link rel="stylesheet" href="/jquery-file-upload/css/jquery.fileupload-ui.css">
    <script src="/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script src="/assets/js/dragdrop.js?1"></script>

    <button tabindex="4" type="submit" class="btn btn-primary btn-large">Publish</button>
    <a class="btn btn-large" onClick="$('#preview').toggle();$('#text-input').toggle()">Preview</a>
  <% end %>
</div>
