<div class="col-sm-3">
  <%= javascript_include_tag "dragdrop" %>
  <% if @related && @related.length > 0 %>
    <h3><%= t('wiki.edit.did_you_mean') %>:</h3>
    <ul class="nav bullet">
    <% @related[0..5].each do |wiki| %>
      <li><a href="/wiki/<%= wiki.path %>"><i class="fa fa-book"></i> <%= wiki.title %></a></li>
    <% end %>
    </ul>
    <p><i class="fa fa-search"></i> <%= raw t('wiki.edit.try_searching_for', :url1 => "/search/"+params[:id], :wiki => params[:id]) %></p>
  <hr />
  <% end %>

  <%= raw t('wiki.edit.whats_a_wiki_page') %>
  <hr />
  <div class="sidebar-nav hidden-sm">
    <ul class="nav nav-list">
      <li class="nav-header"><%= t('wiki.edit.more') %></li>
      <li><a href="/wiki/getting-started"><%= t('wiki.edit.getting_started') %></a></li>
      <% if @node.path %><li><a href="/wiki/revisions/<%= @node.slug_from_path %>"><%= t('wiki.edit.revisions_for_this_page') %></a></li><% end %>
      <li><a href="/wiki/posting-research"><%= t('wiki.edit.about_posting_research') %></a></li>
      <li><a href="/wiki/authoring-help#Advanced+formatting"><%= t('wiki.edit.advanced_formatting') %></a></li>
    </ul>
  </div>
</div>

<div class="col-sm-9">

  <%
    if @node && @node.persisted?
      url = { :controller => "wiki", :action => "update", :id => @node.id }
    else
      url = { :controller => "wiki", :action => "create", :id => params[:id] }
    end
  %>

  <%= form_for :node, :as => :node, :url => url do |f| %>
    <% if f.error_messages != "" %><div class="alert alert-danger"><%= f.error_messages %></div><% end %>
  <% end %>

  <%= form_for :revision, :as => :revision, :url => url, :html => {:class => "form well"} do |f| %>

    <% if f.error_messages != "" %><div class="alert alert-danger"><%= f.error_messages %></div><% end %>
  
    <%= render :partial => "editor/main_image" %>

    <div class="col-md-9 col-md-pull-3">

      <% if @node && @node.latest && @node.latest.title %>
        <h3><%= t('wiki.edit.editing_page') %>: <i><%= @node.latest.title %></i></h3>
      <% else %>
        <h3><%= t('wiki.edit.create_page') %>: <i><%=h params[:id] %></i></h3>
      <% end %>
 
      <input id="has_main_image" type="hidden" name="has_main_image" value="<% if @node && @node.main_image %>true<% end %>" />
      <input id="main_image" type="hidden" name="main_image" value="<% if @node && @node.main_image(:rails) %><%= @node.main_image(:rails).id %><% else %><%= params[:main_image] %><% end %>" />
      <input id="images_input" type="hidden" name="images" value="" />

      <input id="taginput" type="hidden" name="tags" value="<%= params[:tags] %>" />
 
      <div class="form-group">
        <input tabindex="1" name="title" type="text" class="form-control" id="title" value="<% if @node && @node.latest %><%= @node.latest.title %><% else %><%= params[:id] %><% end %>">
      </div>
 
      <script>
        (function(){
          $D = {
            uid: <%= current_user.uid %>,
            type: 'wiki'
          }
        })()
      </script>
 
      <%= render :partial => 'editor/editor' %>
 
      <a id="publish" tabindex="5" class="publish btn btn-primary btn-lg"><%= t('wiki.edit.publish') %></a>
      <a tabindex="6" data-previewing-text="<%= t('wiki.edit.previewing_text') %>" class="btn btn-default btn-lg preview-btn" onClick="$E.toggle_preview()"><%= t('wiki.edit.preview') %></a>

    </div>

    <div style="clear:both;">
      <br />
      <p class="col-md-12"><%= raw t('wiki.edit.agree_to_open_source_work', :url1 => "/licenses") %></p>
      <% if @node && @node.latest %><p style="padding:10px 0 0 0;"><i><%= raw t('wiki.edit.last_edited_by', :time => time_ago_in_words(@node.latest.created_at), :url1 => "/profile/"+@node.latest.author.name, :author => @node.latest.author.name) %></i></p><% end %>
      <br />
    </div>

    <script>
      (function(){
        publish = function(e) {
            $('#new_revision').submit()
        }
        $(".publish").bind("click",publish)
      })()
    </script>

  <% end %>
</div>
