<%= render :partial => "wiki/related_sidebar" %>
<div class="span9">

  <div class="btn-toolbar pull-right" style="margin-left:10px;">
    <div class="btn-group">
      <a class="btn btn-small" href="#"><i class="icon-star"></i> Like (16)</a>
      <a class="btn btn-small" href="#"><i class="icon-eye-open"></i> Follow</a>
      <a href="#" rel="popover" id="follow" class="btn btn-small" data-content="<% if @tagnames %><% @tagnames.each do |t| %><a href=''>Follow '<%= t %>'</a><% end %>'</a><% end %>"><b class="caret"></b></a>
    </div>
  </div>

  <h2><%= @revision.title %></h2>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">View</a></li>
    <li><a href="/wiki/edit/<%= @node.id %>">Edit</a></li>
    <li><a href="/wiki/revisions/<%= @node.slug %>">Revisions (<%= @node.revisions.length %>)</a></li>
    <!--<li class="pull-right"><%= render :partial => "home/social" %></li>-->
  </ul>

  <p>
  <%= raw RDiscount.new(@revision.body).to_html %>
  </p>

  <hr />
  <p>
    <b>Tags:</b>
    <% @node.tags.each do |tag| %><a class="label" href="/tag/<%= tag.name %>"><%= tag.name %></a> <% end %>
  </p>
  
  <div class="input-prepend">
    <span class="add-on"><i class="icon-tags"></i></span>
    <input type="text" class="span6" placeholder="balloon mapping" data-provide="typeahead" data-source="['balloon-mapping','kite-mapping','spectrometry','near-infrared-camera','thermal-flashlight']">
  </div>

</div><!--/span-->
