</div>
<% if params[:raw] == 'true' %>
<link href="/lib/woofmark/dist/woofmark.min.css" rel="stylesheet">
<link href="/lib/horsey/dist/horsey.min.css" rel="stylesheet">
<link href="/lib/bootstrap-tokenfield/dist/css/tokenfield-typeahead.min.css" rel="stylesheet">
<link href="/lib/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css" rel="stylesheet">

<link href="/lib/publiclab-editor/dist/PublicLab.Editor.css" rel="stylesheet">

<script src="/lib/publiclab-editor/dist/PublicLab.Editor.js"></script>
<% end %>

<% @presentation = @node.has_tag('style:presentation') %>
<% if @presentation && @node.main_image%>
  <div id="main-image-presentation" style="margin-bottom:8px;">
    <a href="<%= @node.main_image.path(:original) %>">
      <img style="width:100%;" class="img-rounded" src="<%= @node.main_image.path(:original) %>" />
    </a>
  </div>
<% end %>

<div class="row">

<% if @node.latest.created_at < Time.now - 6.months %>
  <div class="alert alert-info" role="alert">This wiki page hasn't been edited for a while. If you see anything that needs updating, please help out!</div>
<% end %>

<% if @node.has_tag('sidebar:none') %>
  <div class="col-md-1"></div>

  <div class="col-md-8">
<% else %>  
  <% if (@wikis.nil? && @notes.nil?) || @node.has_tag('sidebar:featured') %>
    <%= render :partial => "sidebar/featured" %>
  <% else %>
    <%= render :partial => "sidebar/related" %>
  <% end %>
    
  <div class="col-md-9">
<% end %>
    
  <%= render :partial => "wiki/header" %>

  <div class="tab-content">

    <% if @node.has_power_tag('tabbed') %>
      <% if @node.power_tags('tabbed').include?("notes") %>
        <div class="tab-pane" id="tab-notes">
          <%= render :partial => "notes/notes" %>
          <p><a href="/tag/<%= @node.slug_from_path %>"><%= raw t('wiki.show.more_research', :tag => @node.slug_from_path) %> &raquo;</a></p>
          <br />
        </div>
      <% end %>
      <% if @node.power_tags('tabbed').include?("wikis") %>
        <div class="tab-pane" id="tab-wikis">
          <%= render :partial => "wiki/wikis" %>
        </div>
      <% end %>
    <% end %>

    <% if @node.has_power_tag('notes') %>
      <% tagname = @node.power_tag('notes') %>
      <% @nodes =  Tag.find_popular_notes(tagname,20,4) %>
      <% if @nodes.length > 0 %>
        <%= render :partial => "notes/tagged_notes", :locals => {:nodes => @nodes} %>
        <p><a href="/tag/<%= tagname %>">More "<%= tagname %>" research &raquo;</a></p>
        <%= raw t('wiki.show.more_tag_research', :tag => tagname) %>
        <hr />
      <% end %>
    <% end %>

    <div class="tab-pane active" id="tab-overview">
      <% if controller.action_name == 'comments' %>
          <%= render :partial => "notes/comments", :locals => {:nodes => @nodes} %>
      <% else %>
        <div <% unless @node.has_tag('style:wide') %>style="max-width:800px;"<% end %> id="content" class="pl-content wiki">
          <%= raw auto_link(insert_extras(@revision.render_body), sanitize: false) %>
        </div>
        <% if params[:raw] == 'true' %>
          <div style="display:none;" id="content-raw-markdown" class="pl-content wiki"><%= raw insert_extras(@revision.body_raw) %></div>
        <% end %>
      <% end %>
    </div>

  </div>

  <hr />

  <div class="hidden-print">
    <%= render :partial => "tag/tagging" %>
    <hr />
    <%= render :partial => "home/social" %>
  </div>

</div>

<script>
(function(){

  <% if @fancy %>
    $('#content img').addClass('img-rounded');
  <% end %>

  setupWiki(<%= @node.id %>, "<%= @node.title %>", <%= params[:raw] == 'true' %>, <%= current_user.nil? != true %>);

})()
</script>
