</div>
<% @presentation = @node.has_tag('style:presentation') %>
<% if @presentation && @node.main_image%>
<div id="main-image-presentation" style=""><a href="<%= @node.main_image.path(:original) %>"><img style="width:100%;" class="img-rounded" src="<%= @node.main_image.path(:original) %>" /></a></div>
<% end %>
<div class="row">
<% if (@wikis.nil? && @notes.nil?) || @node.has_tag('sidebar:featured') %>
<%= render :partial => "sidebar/featured" %>
<% else %>
<%= render :partial => "sidebar/related" %>
<% end %>

<div class="col-md-9">

  <% if current_user && @node.tags.length == 0 %><div class="alert alert-warning">This page has no tags yet; help connect it to other content by <a onClick="$('#taginput').focus()">adding descriptive tags below</a>.</div><% end %>

  <% if @node.main_image && !@presentation %>
    <a style="margin-bottom:10px;" href="<%= @node.main_image.path(:original) %>"><img style="max-width:100%;max-height:600px;margin-bottom:10px;" class="img-rounded" src="<%= @node.main_image.path(:large) %>" /></a>
  <% end %>

  <div style="margin-top:10px;" class="hidden-print">
    <%= render :partial => "like/like", :locals => {:node => @node, :tagnames => @tagnames } %>
  </div>

  <br class="visible-xs visible-sm" style="clear:both;" />
  <h1 style="font-family: 'Junction Light';"><i class="fa fa-book"></i> <%= @revision.title %> <a onClick="$('#wiki-toolbar').toggle()" class="btn btn-link"><b class="caret"></b></a></h1>

<% if @is_revision %>
  <div class="alert alert-warning">This is a revision from <%= @revision.created_at.to_s(:long) %>. <a href="/wiki/revisions/<%= @node.slug %>">View all revisions</a></div>
<% end %>

  <div <% if @presentation %>style="display:none" <% end %>id="wiki-toolbar">
    <div class="hidden-print">
      <div class="pull-right" style="padding-top:8px;">
        <span class="hidden-sm hidden-xs">
          <%= number_with_delimiter(@node.totalcount) %> views | 
          Last edited by <a href="/profile/<%= @node.latest.author.name %>"><%= @node.latest.author.name %></a> <%= time_ago_in_words(@node.latest.created_at) %> ago
          | <a href="/n/<%= @node.id %>">shortlink</a>
        </span>
      </div>
 
      <ul class="nav nav-tabs">
        <li class="active"><a href="#"><span class="hidden-xs">View</span><span class="visible-xs"><i class="fa fa-file-o"></i></span></a></li>
        <li><a href="<%= @node.edit_path %>?t=<%= Time.now.to_i %>"><i class="fa fa-pencil"></i><span class="hidden-xs hidden-sm"> Edit</span></a></li>
        <% if current_user && current_user.role == "admin" %><li><%= link_to "/wiki/delete/"+@node.id.to_s, :confirm => "Are you absolutely sure you want to delete '"+@node.path+"'? All revisions will be lost, and you cannot undo this action. If this is a spam page, be sure that it did not overwrite valid content before deleting the entire page." do %><i class="fa fa-trash"></i><span class="hidden-xs hidden-sm"> Delete</span><% end %></li><% end %>
        <li><a href="/talk/<%= @node.slug[0,50] %>"><i class="fa fa-comments-o"></i><span class="hidden-xs hidden-sm"> Talk</span></a></li>
        <li><a href="/wiki/revisions/<%= @node.slug %>"><span class="hidden-xs"><%= @node.revisions.length %> </span><i class="fa fa-list"></i></a></li>
      </ul>
    </div>
  </div>

  <br />

  <% if @node.has_power_tag('parent') %>
    <% slug = @node.power_tag('parent') %>
    <% parent = DrupalNode.find_by_slug(slug) %>
    <% if parent %>
    <div class="alert alert-success" style="border-color:#eee;background:#f8f8f8;color:#aaa;">&laquo; Back to <a href="<%= parent.path %>"><%= parent.latest.title %></a></div>
    <% end %>
  <% end %>

  <% if @node.has_power_tag('tabbed') %>
  <div class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li class="active"><a data-toggle="tab" href="#tab-overview">Overview</a></li>
      <% if @node.power_tags('tabbed').include?("notes") %><li><a data-toggle="tab" href="#tab-notes">Research</a></li><% end %>
      <% if @node.power_tags('tabbed').include?("wikis") %><li><a data-toggle="tab" href="#tab-wikis">Wiki<span class="hidden-sm"> pages</span></a></li><% end %>
    </ul>
  </div>
  <% end %>

  <br />

  <div class="tab-content">
    <% if @node.has_power_tag('tabbed') %>
      <% if @node.power_tags('tabbed').include?("notes") %>
        <div class="tab-pane" id="tab-notes">
          <%= render :partial => "notes/notes" %>
          <p><a href="/tag/<%= @node.slug %>">More research on "<%= @node.slug %>" &raquo;</a></p>
          <br />
        </div>
      <% end %>
      <% if @node.power_tags('tabbed').include?("wikis") %>
        <div class="tab-pane" id="tab-wikis">
          <%= render :partial => "wiki/wikis" %>
        </div>
      <% end %>
    <% end %>

    <% if @node.has_power_tag('notes') %>
      <% tagname = @node.power_tag('notes') %>
      <% @nodes =  DrupalTag.find_popular_notes(tagname,20,4) %>
      <% if @nodes.length > 0 %>
        <%= render :partial => "notes/tagged_notes", :locals => {:nodes => @nodes} %>
        <p><a href="/tag/<%= tagname %>">More "<%= tagname %>" research &raquo;</a></p>
        <hr />
      <% end %>
    <% end %>

    <div class="tab-pane active" id="tab-overview">
      <div<% unless @node.has_tag('style:wide') %> style="overflow:hidden;max-width:800px;"<% end %> id="content">
      <%= raw auto_link(@revision.render_body, :sanitize => false) %>
      </div>
    </div>

  </div> 

  <hr />

  <div class="hidden-print">
    <%= render :partial => "tag/tagging" %>
    <hr />
    <%= render :partial => "home/social" %>
  </div>

</div><!--/span-->
<% if @fancy %>
<script>
(function(){ $('#content img').addClass('img-rounded') })()
</script>
<% end %>
