<%= render :partial => "sidebar/related" %>
<div class="span9">

  <% if @node.main_image %>
    <a href="http://publiclaboratory.org/sites/default/files/<%= @node.main_image.filename %>"><img style="height:300px;" class="img-rounded" src="http://publiclaboratory.org/sites/default/files/imagecache/default/<%= @node.main_image.filename %>" /></a>
    <br />
    <br style="clear:both;" />
  <% end %>

  <%= render :partial => "like/like" %>

  <h2><%= @node.latest.title %></h2>

  <div class="pull-right" style="padding-top:8px;">
    <span class="hidden-desktop">
      <%= @node.created_at.to_s(:short) %>
    </span>
    <span class="hidden-phone">
      <%= @node.totalcount %> views | 
      Last edited by <a href="/notes/author/<%= @node.latest.author.name %>"><%= @node.latest.author.name %></a> <%= time_ago_in_words(@node.latest.created_at) %> ago</div>
    </span>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">View</a></li>
      <li><a href="/wiki/edit/<%= @node.slug %>"><i class="icon icon-pencil"></i><span class="hidden-phone"> Edit</span></a></li>
      <% if current_user && current_user.username == "warren" %><li><%= link_to "/wiki/delete/"+@node.id.to_s, :confirm => "Are you sure? You cannot undo this action." do %><i class="icon icon-trash"></i><span class="hidden-phone"> Delete</span><% end %></li><% end %>
      <li><a href="http://pad.publiclaboratory.org/p/<%= @node.slug %>"><i class="icon icon-comments-alt"></i><span class="hidden-phone"> Talk</span></a></li>
      <li><a href="/wiki/revisions/<%= @node.slug %>"><i class="icon icon-list"></i><span class="hidden-phone"> Revisions </span>(<%= @node.revisions.length %>)</a></li>
      <!--<li class="pull-right"><%= render :partial => "home/social" %></li>-->
    </ul>

  <p style="overflow:hidden;">
  <%= raw auto_link(RDiscount.new(@node.latest.body).to_html, :sanitize => false) %>
  </p>

  <hr />

  <%= render :partial => "tag/tagging" %>

</div><!--/span-->
