<p>First-time poster <a href='https://<%= ActionMailer::Base.default_url_options[:host] %>/profile/<%= @node.author.name %>'><%= @node.author.name %></a> has submitted their first research note!</p>
<% if @user.status == 1 %>
  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   id="svg2"
   viewBox="0 0 60 30"
   height="30"
   width="60">
  <g>
    <rect
       height="30"
       width="60"
       style="fill:#008000;" />
    <text
       y="18"
       x="30"
       style="font-family:sans-serif;"><tspan
         style="font-size:11px;text-align:center;text-anchor:middle;fill:#ffffff"
         y="18"
         x="30">ACTIVE</tspan></text>
  </g>
</svg>
<% else %>
  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   id="svg2"
   viewBox="0 0 60 30"
   height="30"
   width="60">
  <g>
    <rect
       height="30"
       width="60"
       style="fill:#800000;" />
    <text
       y="18"
       x="30"
       style="font-family:sans-serif;"><tspan
         style="font-size:11px;text-align:center;text-anchor:middle;fill:#ffffff"
         y="18"
         x="30">BANNED</tspan></text>
  </g>
</svg>
<% end %>

<p>Please help to approve it or mark it as spam: https://<%= ActionMailer::Base.default_url_options[:host] %><%= @node.path %></p>

<p><a href="https://<%= ActionMailer::Base.default_url_options[:host] %>/moderate/publish/<%= @node.id %>">Approve</a> or <a href="https://<%= ActionMailer::Base.default_url_options[:host] %>/moderate/spam/<%= @node.id %>">Spam</a></p>

<hr />

<% if @node.main_image %><a style="margin-bottom:10px;" href="https:<%= @node.main_image.path(:original) %>"><img src="https:<%= @node.main_image.path(:default) %>" /></a><% end %>

<%= raw auto_link(@node.latest.render_body_email(ActionMailer::Base.default_url_options[:host]), :sanitize => false) %>

<p>It has the following tags: </p>
<ul>
  <% @node.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<table border="1">
  <thead>User Info</thead>
  <tbody>
    <tr>
      <th>ID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>Username</th>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>

<hr />

<a href="https://<%= ActionMailer::Base.default_url_options[:host] %>/moderate/publish/<%= @node.id %>">Approve</a> or <a href="https://<%= ActionMailer::Base.default_url_options[:host] %>/moderate/spam/<%= @node.id %>">Spam</a>

<div style="color:#aaa;">

<p>You received this email because you are <a href="https://<%= ActionMailer::Base.default_url_options[:host] %>/wiki/moderation">a Public Lab community moderator</a></p>

<p>To discuss spam/abuse, forward this to <a href="mailto:moderators@<%= ActionMailer::Base.default_url_options[:host] %>">moderators@<%= ActionMailer::Base.default_url_options[:host] %></a></p>

<%= @footer %>

</div>
