<p>First-time poster <a href='https://publiclab.org/profile/<%= @node.author.name %>'><%= @node.author.name %></a> has submitted their first research note!</p>

<p>Please help to approve it or mark it as spam: https://publiclab.org<%= @node.path %></p>

<p><a href="https://publiclab.org/moderate/publish/<%= @node.id %>">Approve</a> or <a href="https://publiclab.org/moderate/spam/<%= @node.id %>">Spam</a></p>

<hr /> 

<% if @node.main_image %><a style="margin-bottom:10px;" href="https:<%= @node.main_image.path(:original) %>"><img src="https:<%= @node.main_image.path(:default) %>" /></a><% end %>

<%= raw auto_link(@node.latest.render_body_email, :sanitize => false) %>

<hr /> 

<a href="https://publiclab.org/moderate/publish/<%= @node.id %>">Approve</a> or <a href="https://publiclab.org/moderate/spam/<%= @node.id %>">Spam</a>

<div style="color:#aaa;">

<p>You received this email because you are <a href="https://publiclab.org/wiki/moderation">a Public Lab community moderator</a></p>

<p>To discuss spam/abuse, forward this to <a href="mailto:moderators@publiclab.org">moderators@publiclab.org</a></p>

</div>
