<p>Hi! Your post was approved by <a href='https://<%= ActionMailer::Base.default_url_options[:host] %>/profile/<%= @moderator.username %>'><%= @moderator.username %></a> (a <a href='https://<%= ActionMailer::Base.default_url_options[:host] %>/wiki/moderation'>community moderator</a>) and is now visible in the <a href='https://<%= ActionMailer::Base.default_url_options[:host] %>/dashboard'>Public Lab research feed</a>. Thanks for contributing to open research!</p>

<hr /> 

<p>See your post here: https://<%= ActionMailer::Base.default_url_options[:host] %><%= @node.path %></p> 

<p>Thanks for your patience! We've had to moderate first time posters due to problems with spam. Your posts will no longer be moderated, as long as you follow our <a href="https://<%= ActionMailer::Base.default_url_options[:host] %>/wiki/moderation">content guidelines</a>.</p>

<%= @footer %>
