<% wikis ||= @wikis #accept local if present, default to instance %>
<% if local_assigns[:digest] and wikis.size == 0 %>
  <div class="alert alert-warning" role="alert">
    You haven't subscribed to any topic yet. Visit <a href="https://publiclab.org/subscriptions">https://publiclab.org/subscriptions</a> to subscribe to more topics.
  </div>
<% else %>
  <div style="width:85%;margin: 0 auto;margin-top: 5px;color: black;">
    <p style="font-size: 1.2em; font-family: sans-serif;margin-bottom: 0;color: lightgray;">Based on what you're following at <a href="https://publiclab.org">PublicLab.org</a></p>
    
    <%= render partial: "wiki/wikis"%>

    <p>Discover more <a href="<%= @base_url %>/subscriptions">topics to follow</a></p>
    <p><a href="<%= @base_url %>/settings">Manage your subscription settings</a></p>
  </div>
<% end %>
<% if @pagy %>
  <%== pagy_bootstrap_nav @pagy %>
<% else %>
  <%= will_paginate wikis, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer if @paginated %>
<% end %>
