Dear <%= @user.name %>,

<p>Public Lab contributor <a href="http://publiclab.org/profile/<%= @node.author.name %>"><%= @node.author.name %></a> just posted a new research note entitled '<b><%= @node.title %></b>':</p>

<p>Read and respond to the post here: http://publiclab.org<%= @node.path %></p> 

<hr /> 

<%= raw auto_link(@node.latest.render_body, :sanitize => false) %>

<hr /> 

<div style="color:#aaa;">

<p>You received this email because you are subscribed to the following tags: <%= @tags.to_a.collect(&:name).join(",") %>.</p>

<p>To change your preferences, please visit http://publiclab.org/subscriptions.</p>

<p>Report spam and abuse to: <a href="mailto:moderators@publiclab.org">moderators@publiclab.org</a></p>

</div>
