<%= form_for @search, class: 'navbar-form' do |f|%>

  <div class="form-group form-inline">
    <%= f.hidden_field :key_words, value: params[:id] %>
    <input name="id" type="text" class="search-query form-control" data-provide="typeahead" data-source='["Balloon mapping","Thermal photography","Spectrometry"]' value="<%= params[:id] %>">
    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
  </div>

  <div class="pull-right" style="margin-top:5px;">
    <label class="checkbox pull-right" style="width:100px;margin-right:10px;">
      <input type="checkbox" checked="<%= !params[:comments] %>" name="comments" onClick="$('.comment').toggle()" />
      <i class="fa fa-comment"></i> Comments
    </label>

    <label class="checkbox pull-right" style="width:60px;margin-right:10px;">
      <input type="checkbox" checked="<%= !(params[:maps].nil?) %>" name="maps" onClick="$('.map').toggle()" />
      <i class="fa fa-map-marker"></i> Maps
    </label>

    <label class="checkbox pull-right" style="width:55px;margin-right:10px;">
      <input type="checkbox" checked="true" name="wikis" onClick="$('.page').toggle()"/>
      <i class="fa fa-book"></i> Wiki
    </label>

    <label class="checkbox pull-right" style="width:130px;margin-right:10px;">
      <input type="checkbox" checked="true" name="notes" onClick="$('.note').toggle()"/>
      <i class="fa fa-file"></i> Research notes
    </label>

  </div>
<% end %>
