<%= form_for @search, class: 'navbar-form' do |f|%>

  <div class="form-group form-inline">
typeahead' %>

    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
  </div>

    <%= f.label :main_type, 'Main Type (filter 1) ' %>
    <%= f.select(:main_type, options_for_select([['Notes or Wiki updates'],['User Profiles'], ['Tags']],1)) %>

  <div id="advanced_search_note">
    <%= f.label :note_type, 'Note Type (filter 2) ' %>
    <%= f.select :note_type, DrupalNode.pluck('DISTINCT type'), {include_blank: true} %>

    <%= f.label :language, 'Language (filter 3) ' %>
    <%= f.select :language, DrupalNode.pluck('DISTINCT language'), {include_blank: true} %>
    <br />
    <%= f.label :date_created, 'Date range (filter 4) ' %>
    <%= f.text_field :min_date %> - <%= f.text_field :max_date %>

    <br />
    <%= f.label :created_by, 'Created User (filter 5) ' %>
    <%= f.text_field :created_by %>
  </div>

  <div id="advanced_search_profile">

  </div>

<% end %>

<script type="text/javascript">
//Setup function specific to advanced search form only
$(function() {
	$('#search_min_date,#search_max_date').each(function() {
		$(this).datepicker({
			format: 'dd-mm-yyyy'
		});
	});
});
</script>

