<% if params[:controller] == 'questions_search' %>
  <%= render :partial => "sidebar/question" %>
<% else %>
  <%= render :partial => "sidebar/related" %>
<% end %>

<% if params[:controller] == 'questions_search'
     @notes = @questions
   end
%>

<div class="col-md-9">

  <h3>Search results for <i style="color:#aaa;"><%= params[:id] %></i> <small>(<a href="/search/advanced/<%= params[:id] %>">advanced search</a>)</small></h3>
  <% if params[:controller] == 'questions_search' %>
    <% if @questions.length == 0 %>

      <p>No questions found for the search term '<b><%= params[:id] %></b>'</p><hr/>

    <% else %>
      <%= render :partial => "questions/questions" %>
      <hr/>
      <h4>Still didn't find the question you were looking for? Just proceed to Ask your question.</h4>
    <% end %>

    <div class="text-center"><a href="/post?tags=question:question&template=question&redirect=question&title=<%= params[:id] %>" class="btn btn-info">Proceed to your Question &raquo;</a></div>

  <% else %>
    <% if @notes.length == 0 %>

      <p>No results found; try looking for <a href="/tag/<%= params[:id] %>">items tagged with '<b><%= params[:id] %></b>'</a> or broadening your search:</p>

      <%= render :partial => "searches/search" %>

      <p>Or try an <a href="/searche/advanced/">advanced search</a></p>

    <% else %>
      <%= render :partial => "notes/notes" %>
    <% end %>
  <% end %>
  
</div>

<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "dashboard" %>
<%= javascript_include_tag "questions_search" %>

