<div class="col-md-9">

  <h3>Search results for <i style="color:#aaa;"><%= params[:id] %></i></h3>

  <% if @nodes.length == 0 %>

    <p>No results found; try looking for <a href="/tag/<%= params[:id] %>">items tagged with '<b><%= params[:id] %></b>'</a> or broadening your search:</p>

    <%= render template: "searches/new" %>

  <% else %>

    <%= render partial: "notes/notes", locals: { notes: @nodes } %>

  <% end %>
  
</div>

<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "dashboard" %>
