<div class="col-md-9">

  <h3>
    Search results for <i style="color:#aaa;"><%= params[:id] %> </i>
    <span style="margin-left: 5px; margin-right: 5px; font-size: small;">
      <%= link_to_unless_current 'best match', controller: :searches, action: :results, id: params[:id], order: 'natural' %>
      |
      <%= link_to_unless_current ' likes', controller: :searches, action: :results, id: params[:id], order: 'likes' %>
      |
      <%= link_to_unless_current 'views', controller: :searches, action: :results, id: params[:id], order: 'views' %>
      |
      <%= link_to_unless current_page?(controller: :searches, action: :results, check_parameters: true), 'date created', controller: :searches, action: :results, id: params[:id] %>
    </span>
  </h3>

  <% if @nodes.length == 0 %>

    <p>No results found; try looking for <a href="/tag/<%= params[:id] %>">items tagged with '<b><%= params[:id] %></b>'</a> or broadening your search:</p>

    <%= render template: "searches/new" %>

  <% else %>

    <%= render partial: "notes/notes", locals: { notes: @nodes } %>

  <% end %>
  
</div>

<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "dashboard" %>
