<%# TODO Location not working, will be fixed after working on https://github.com/publiclab/plots2/issues/8566 %>
<% if current_user %>
  <div style="margin: 2.2rem 0;">
    <a class="btn btn-lg btn-outline-secondary blurred-location-input" submit_to="/profile/tags/create/<%= current_user.uid %>"><i class="fa fa-map-marker" style="color:#c40;"></i> <%= translation('dashboard_v2.sidebar.add_location') %></a>
    <h4 class="text-format">
      <%= translation('dashboard_v2.sidebar.location_work') %> |
      <a class="text-format" style="text-decoration: underline;" href="https://publiclab.org/location-privacy" target="_blank"><%= translation('dashboard_v2.sidebar.location_privacy') %></a>
    </h4>
  </div>
<% end %>
<%= render partial: 'tag/location' %>

<%# All posts %>
<h4 class="text-format" style="text-decoration: underline; margin-top: -34px;"><%= translation('dashboard_v2.sidebar.all_posts',:url => '/notes') %> </h4>

<%# More Topics %>
<div id="accordion">
  <div class="card">
    <div  id="headingOne">
      <h4 class="mb-0">
          <a class="btn btn-link" style="font-size: 1.5rem" data-toggle="collapse" data-target="#moreTopics" aria-expanded="true" aria-controls="moreTopics">
                      <%= translation('dashboard_v2.sidebar.follow_topics') %>
                      <i class="fas fa-angle-down arrow form-grey"></i>
                      <i class="fas fa-angle-up arrow form-grey"></i>
          </a>
      </h4>
    </div>
    <div id="moreTopics" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <small class="form-grey"><%= translation('dashboard_v2.sidebar.add_topics') %> <a href="#" class="form-grey" style="text-decoration: underline;"><%= translation('dashboard_v2.sidebar.learn_more') %></a></small>
        <br/> <br/>
        <%# TODO Featured topics %>
        <div>
          <%# Trending topics %>
          <small><a href="/tags" class="form-grey"><%= translation('dashboard_v2.sidebar.trending_topics') %>:</a></small>
          <div>
            <% cache('trending-tags', expires_in: 24.hours, skip_digest: true) do %>
                <% Tag.trending.each do |i| %>
                    <a href="/tag/<%= i.name %>" class="badge badge-primary"><%= i.name %></a>
                <% end %>
              <% end %>
          </div>
        </div>
        <%# TODO Search topics %>
        <br/>
        <%# All topics link %>
        <small class="text-format form-grey" style="text-decoration: underline"><%= translation('dashboard_v2.sidebar.all_topics',:url => '/wiki/topics') %> </small>
      </div>
    </div>
  </div>
</div>


<style>

  .text-format{
    color: #888;
    font-size: small;
    margin: 1.3rem 0;
  }

  .arrow{
    font-size: 20px;
    position: absolute;
    right: 0;
    padding-right: 9px;
    padding-top: 1px;
  }

  a[aria-expanded=true] .fa-angle-up {
   display: none;
  }

  a[aria-expanded=false] .fa-angle-down {
    display: none;
  }

</style>
