<%# Most of this design has been extracted from the tags _topicCard with slight variations %>
<%# TODO: translations %>
<% subscriptions ||= @tag_subscriptions  # allow overriding with local variable %>
<div class="card-view pt-5">
  <% subscriptions.each do |subscription| %>
    <div class="card shadow-sm p-2 mb-3 bg-white rounded" >
      <div class="card-header mt-2" style=" padding:0.8em; background-color: inherit; border:none;">
      <%# Unfollow section %>
        <% if current_user && current_user.following(subscription.tag.name) %>
          <a class="ellipsis pull-right" data-toggle="dropdown" style="cursor:pointer" aria-expanded="true"><i class="fa fa-ellipsis-h" style="color:#ccc;font-size:18px;margin-right:10px;"></i></a>
          <div class="dropdown-menu">
            <div class="dropdown-item">
              <a style="margin-top:-8px;" data-method="delete" data-confirm="Are you sure you'd like to unfollow this topic?" rel="tooltip" title="<%= translation('tag.show.unfollow') %>" href="/unsubscribe/tag/<%= subscription.tag.name %>">
                <%= translation('tag.show.unfollow_text') %>
              </a>
            </div>
          </div>
        <% end %>
      <%# Topic name %>
        <h4 style="display: inline-block;"><a href="/tag/<%= subscription.tag.name %>"><%= subscription.tag.name %></a></h4>
      <%# Follower count  %>
        <p style="display: inline-block; color: #808080;"><a style="text-decoration: underline; color: #808080;" href="/tag/<%= subscription.tag.name %>"><%= Tag.follower_count(subscription.tag.name) %> <%= translation('tag.show.following') %></a></p>
      </div>
      <div class="card-body" style="padding:0.8em;">
      <%# First 3 notes in the Topic  %>
        <div class="node-list">
          <% notes = Tag.find_nodes_by_type(subscription.tag.name, type = 'note', limit = 3).where.not(nid: @blog.nid)  %>
          <div class="node-body">
            <% if notes.present? %>
              <% notes.each do |node|  %>
                  <% if node.main_image %>
                    <img class="rounded-circle pull-left" id="profile-photo" style="width:20px; height:20px; margin-right:8px; display: inline-block;" src="<%= node.main_image.path(:default) %>" />
                  <% elsif node.scraped_image %>
                    <img class="rounded-circle pull-left" id="profile-photo" style="width:20px; height:20px; margin-right:8px; display: inline-block;" src="<%= node.scraped_image %>" />
                  <% else %>
                    <div class="circle"></div>
                  <% end %>
                  <p style="margin-left: 10px;">
                    <a style="color: inherit;" <% if @widget %>target="_blank"<% end %> href="<%= node.path %>"><%= (node.type == 'note') ? node.title : node.latest.title %></a>
                    <span style="color: #808080;"><%= translation('tag.show.by') %> <a style="color: #808080;" <% if @widget %>target="_blank"<% end %> href="/profile/<%= node.author.name %>">@<%= node.author.name %></a>
                  </p>
              <% end %>

            <% else %>
              <h6><%= translation('tag.show.notes_not_available') %></h6>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card-footer" style="background-color: inherit; border:none;">
        <a style="padding-top:15px;text-decoration:underline;color:#808080;display:inline-block;" href="/tag/<%= subscription.tag.name %>"><%= subscription.tag.count %> <%= translation('tag.index.posts') %> &raquo;</a>
        <div id="new-post" style="float:right;margin:10px 0 10px 10px;">
          <% if current_user %>
            <a rel="tooltip" title="<%= translation('sidebar._post_button.share_your_work') %>" data-placement="bottom" href="/post?tags=<%= subscription.tag.name %>" class="btn btn-primary btn-sm requireLogin"><%= translation('tag.show.new_post') %> <i class="fa fa-plus fa-white"></i></a>
          <% else %>
            <a class="btn btn-primary btn-sm index-follow-buttons follow-btn-remote requireLogin" href="/subscribe/tag/<%= subscription.tag.name %>" data-remote="true"><%= translation('tag.index.follow') %></a>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @pagy %>
  <%== pagy_bootstrap_nav @pagy %>
<% end %>

<style>

  .node-list {
    display: grid;
  }

  .circle {
    background-color: gray;
    display: block;
    margin-right: 8px;
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 100%;
  }

</style>