<%# If the user is new and not yet subscribed to other posts %>
<%# The dashboard header should change if current user i.e "dashboard/_header.html" %>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <%# blog %>
      <%= render partial: "dashboard_v2/header" %>
        <div class="pt-5 d-block">
          <% if @blog %>
              <% if @blog.main_image %>
                <div class="img" style="background-image: url('<%= @blog.main_image.path(:large) %>')">
                <% elsif @blog.scraped_image %>
                <div class="img" style="background-image: url('<%= @blog.scraped_image %>')">
              <% end %>
              <%# blog caption %>
              <div>
                  <h4>
                    <small style="font-size: 13px;" class="float-right d-none d-lg-inline"><%= raw translation('dashboard_v2.dashboard.from_blog', :url => '/blog') %></small>
                    <a style="color: #444;" href="/blog"><%= @blog.title %></a>
                    <small style="font-size: 13px;"><%= translation('dashboard_v2.dashboard.by') %>
                      <a href="/profile/<%= @blog.author.username %>"><%= @blog.author.username %></a></small>
                  </h4>
              </div>

              <% if @blog.main_image || @blog.scraped_image %>
                </div>
              <% end %>
          <% end %>
        </div>
          <%= render partial: "dashboard_v2/topicCard"%>
      <%# dashboard activity %>
      </div>

      <div class="col-lg-4">
      <%# admin feature %>
      <%# sidebar %>
    </div>
  </div>
</div>
