<div class="hidden-print btn-toolbar pull-right" style="margin-left:10px;margin-top:0;">
  <ul class="btn-group">

    <li class="btn btn-default btn-sm" data-html="true" rel="popover" data-content="<%= "No tags" if tagnames.nil? || tagnames.length == 0 %><% if tagnames %><% tagnames.each do |tagname| %><p style='margin-bottom:3px;'><a href='/subscribe/tag/<%= tagname %>' class='btn btn-default btn-mini'><%= tagname %></a></p><% end %><% end %><hr /><a class='btn btn-sm'><i class='fa fa-user'></i> <%= node.author.name %></a>" title="Follow by tag or author" data-placement="left"><i class="fa fa-eye"></i><span class="hidden-xs hidden-sm"> Follow</span></li>

    <li rel="tooltip" title="Helpful? Like it and get updates!" class="btn btn-default btn-sm btn-like" node-id="<%= node.id %>" id="like-button-<%= node.id %>"><span id="like-star-<%= node.id %>" class="fa fa-star<% if current_user && !node.liked_by(current_user.uid) %>-o<% end %>"></span> <span id="like-count-<%= node.id %>"><%= node.likers.length %> </span></li>

    <li class="btn btn-default btn-sm" rel="popover" data-placement="left" data-html="true" data-title="Tools" data-content="
<p><b>Users who liked this</b></p>
<% node.likers.each do |user| %>
  <i class='fa fa-star-o'></i> <a href='/profile/<%= user.username %>/likes'><%= user.username %></a><br />
<% end %>
<% if node.likers.length == 0 %><i>None</i><% end %>
<% if node.type == 'note' && current_user && node.uid != current_user.uid%>
<hr style='margin-bottom:3px;' />
<p><b>Award a Barnstar:</b></p>
<form class='form' action='/barnstar/give'>
<select name='star' class='form-control'>
    <option value='basic'>The basic barnstar</option>
    <option value='photo-documentation'>The photo documentation barnstar</option>
    <option value='video-documentation'>The video documentation barnstar</option>
    <option value='watchdog'>The watchdog barnstar</option>
    <option value='empiricism'>The empiricism barnstar</option>
    <option value='excessive-enthusiasm'>The enthusiasm barnstar</option>
</select><br />
<input type='hidden' name='nid' value='<%= node.id %>'/>
<input type='submit' class='btn btn-primary' value='Give'/> &nbsp; <a _target='blank' href='/wiki/barnstars'>Learn more</a>
</form>
<% end %>

<% if current_user && (current_user.uid == node.uid || current_user.role == "moderator" || current_user.role == "admin") %>

  <hr />

  <div class='btn-group'>
    <% if node.type == 'note' %><a <% if current_user && current_user.uid != node.uid %>data-confirm='Please be aware that you are editing a post by another contributor, a privilege you have only because you are a moderator or admin.' <% end %>class='btn btn-default btn-sm' href='/notes/edit/<%= node.id %>?t=<%= Time.now.to_i %><% if params[:controller] == "questions" %>&redirect=question<% end %>'><i class='fa fa-pencil'></i><span class='hidden-xs hidden-sm'> Edit</span></a><% end %>
    <a href='/notes/delete/<%= node.id %>' class='btn btn-default btn-sm' data-confirm='Are you sure?'>
      <i class='fa fa-trash'></i><span class='hidden-xs hidden-sm' Delete</span>
    </a>
    <a href='/notes/raw/<%= node.id %>' class='btn btn-default btn-sm'>
      <i class='fa fa-code'></i><span class='hidden-xs hidden-sm' Raw</span>
    </a>
    <% if current_user.role == "moderator" || current_user.role == "admin" %>
      <% if node.type == 'note' %>
        <a class='btn btn-default btn-sm' href='/moderate/spam/<%= node.id %>'><i class='fa fa-ban-circle'></i> Spam</a>
      <% elsif node.type == 'page' %>
        <a class='btn btn-default btn-sm' href='/moderate/revision/spam/<%= @revision.vid %>'><i class='fa fa-ban-circle'></i> Spam revision</a>
      <% end %>
    <% end %>
  </div> 
<% end %>

<br />
<hr style='clear:both;' />

<div>
  <a onClick='print_linkless()'><i class='fa fa-print'></i> Print without page links</a>
</div>

"><span class="caret"></span></li>
  </ul>
  <script>
    jQuery(document).ready(function() {
      // 304 cached response yields no data to insert, which is not useful
      jQuery.ajaxSetup({
        cache: false
      });
     
      // grab the like count for this node; "/likes/node/11278/count"
      jQuery.getJSON("<%= like_count_path(node) %>", function (json) {
        // push like count into the Like button placeholder 
        $('#like-count-<%= node.id %>').html(json);
      });
     
      <% if current_user %>
        $('#like-button-<%= node.id %>').on('click',<% if node.liked_by(current_user.uid) %>clickliked<% else %>clicknotliked<% end %>) 
      <% end %>
    })
  </script>
</div>
