<div class="col-lg-9">
<h1> <%= t('like.index.recent_likes') %> </h1>
<% if current_user && (current_user.role == "admin" || current_user.role == "moderator") %>
	<p>Users marked in <b>red</b> are banned</p>
<% end %>
<table class="table">
	<tr>
		<th><%= t('like.index.user') %></th>
		<th><%= t('like.index.liked') %></th>
		<% if current_user && (current_user.role == "admin" || current_user.role == "moderator") %>
			<th><%= t('like.index.action') %></th>
		<% end %>
	</tr>
	<% @likes.each do |like| %>
		<tr>
			<td>
				<% if current_user && (current_user.role == "admin" || current_user.role == "moderator") %>

					<a rel="tooltip" title="<%= like.user.bio %>" class="user" href="/profile/<%= like.user.name %>" style = "color: <%= like.user.status.zero? ? 'red' : 'black' %>" > <i class="fa fa-user" aria-hidden="true" style = "color: <%= like.user.status.zero? ? 'red' : 'black' %>"></i><%= like.user.name %></a>

				<% else %>

					<a href="/profile/<%= like.user.name %>" style = "color: <%= like.user.status.zero? ? 'red' : 'black' %>"><i class="fa fa-user" aria-hidden="true" style = "color: <%= like.user.status.zero? ? 'red' : 'black' %>"></i><%= like.user.name %></a>

				<% end %>
			</td>

			<td> <a href="/wiki/<%= like.node.title %>"><%= like.node.title %></a></td>

			<% if current_user && (current_user.role == "admin" || current_user.role == "moderator") %>
				<td>
					<% if like.user == current_user %>
						<b> - </b>
					<% else %>
						<% if like.user.status == 1 %> 
							<a data-confirm="<%= t('users.profile.confirm_ban_user') %>" href="/ban/<%= like.user.id %>" class="btn btn-outline-secondary"><i class="fa fa-ban"></i> <%= t('users.profile.ban_user') %></a>
			          	<% else %>
			          		<a href="/unban/<%= like.user.id %>" class="btn btn-outline-secondary"><i class="fa fa-thumbs-up"></i> <%= t('users.profile.unban_user') %></a>
			          	<% end %>
		          <% end %>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>

<%= will_paginate @likes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer if @paginated %>

</div>

<%= render :partial => "sidebar/featured" %>
