<h2>Features</h2>

<p>Features allow admins to edit/update text and images displayed around the site, for example banners, sidebar content, and alerts or notices.</p>

<p><a class="btn btn-outline-secondary" href="/features/new">New feature</a></p>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Edit</th>
    <th>Last edited</th>
  </tr>
  <% @features.each do |feature| %>
    <tr>
      <td style="width:50%"><a href="/features/<%= feature.id %>"><%= feature.title %></a></td>
      <td><a href="/features/<%= feature.id %>/edit?t=<%= Time.now.to_i %>">edit</a></td>
      <td><%= time_ago_in_words(feature.latest.created_at) %> ago by 
      <a href="/profile/<%= feature.latest.author.name %>"><%= feature.latest.author.name %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @features, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
