<h2>New Feature</h2>

</div>

<div class="row">
<% url = { :controller => "features", :action => "create", :id => params[:id] } %>

<%= form_for :revision, :as => :revision, :url => url, :html => {:class => "form"} do |f| %>

    <% if defined?(@revision) %>
        <% if @revision.errors.any? %>
        <div class="alert alert-danger">
            <h2><%= pluralize(@revision.errors.count, "error") %> prohibited this revision from being saved:</h2>
            <ul>
            <% @revision.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
        <% end %>
    <% end %>

<% end %>

<%= form_for :node, :as => :drupal_node, :url => url do |f| %>
  <% if f.error_messages != "" %><div class="alert alert-danger"><%= f.error_messages %></div><% end %>

  <%= render :partial => "features/form" %>

<% end %>
