<div class="col-md-3">

  <%= raw t('notes.stats.about_this_page') %>

</div>

<div class="col-md-9" style="margin-bottom:20px;">

  <h2><%= raw t('notes.stats.contributors_statistics') %></h2>

  <p>Also see <a href="/stats/subscriptions">subscription stats</a>, or these types of range-based stats queries:</p>

  <ul>
    <li><a href="/stats/range/10-05-2015/10-05-2016/">/stats/range/10-05-2015/10-05-2016/</a></li>
    <li><a href="/stats/range/1-1-2010/12-31-2016/">/stats/range/1-1-2010/12-31-2016/</a></li>
  </ul>

  <p><%= raw t('notes.stats.looking_back', :time => @time.to_formatted_s(:long)) %></p>
  <p>
    <%= raw t('notes.stats.try_time_further_back', :url1 => "?time="+(@time-1.year).to_formatted_s(:long), 
    :url2 => "?time="+(@time-1.month).to_formatted_s(:long), :url3 => "?time="+(@time-1.week).to_formatted_s(:long)) %>
  </p>

  <hr />

  <h4>
    <%= raw t('notes.stats.notes_and_wiki_edits_past_week', :url1 => "/research", :note_count => @weekly_notes,
    :url2 => "/wiki", :wiki_count => @weekly_wikis) %>
    <%= raw t('notes.stats.people_joined_past_week', :people_count => @weekly_members) %>
  </h4>

  <hr />

  <h4>
    <%= raw t('notes.stats.notes_and_wiki_edits_past_month', :url1 => "/research", :note_count => @monthly_notes,
    :url2 => "/wiki", :wiki_count => @monthly_wikis) %>
    <%= raw t('notes.stats.people_joined_past_month', :people_count => @monthly_members) %>
  </h4>


  <hr />


  <h4><%= raw t('notes.stats.research_notes_posted_by_contributors', :note_count => @all_notes, :contributors_count => @all_contributors,
  :time => time_ago_in_words(DrupalNode.find(:first, :conditions => {:type => 'note', :status => 1}).created_at)) %></h4>
  <p><%= raw t('notes.stats.notes_per_week_past_year', :note_count => @notes_per_week_past_year.round(2)) %></p>
  
  <p><i><%= t('notes.stats.note_posting_52_weeks') %></i></p>

  <div id="notes" style="height:100px;"></div>

  <hr />

  <h4><%= raw t('notes.stats.wiki_pages_posted', :count => DrupalNode.count(:all, :conditions => {:type => 'page', :status => 1})) %></h4>

  <p><i><%= t('notes.stats.wiki_page_posting_52_weeks') %></i></p>

  <div id="wikis" style="height:100px;"></div>

  <hr />

  <h4><%= raw t('notes.stats.comments_posted', :count => Comment.count) %></h4>

  <p><i><%= t('notes.stats.comments_posted_52_weeks') %></i></p>

  <div id="comments" style="height:100px;"></div>

  <hr />

  <h4><%= raw t('notes.stats.wiki_page_edits', :count => DrupalNodeRevision.count(:all)) %></h4>
  <p><%= raw t('notes.stats.edits_per_week', :count => @edits_per_week_past_year.round(2)) %></p>

</div>

<script type="text/javascript">
  (function () {

    flotoptions_minimal = {
      yaxis: { show: true },
      xaxis: { show: true },
      grid: {
        borderWidth: 0,
        //backgroundColor: "#222",
        //color: "#444",
        markers: []
      }
      // Palette "i eat the rainbow" by svartedauden on Colourlovers: http://www.colourlovers.com/palette/1630898/i_eat_the_rainbow, CC-BY-NC
      //colors: [ "#E02130", "#FAB243", "#429867", "#2B5166" ]//, "#482344" ]
    }

    var notes = <%= @graph_notes %>
    var wikis = <%= @graph_wikis %>
    var comments = <%= @graph_comments %>

    $.plot($("#notes"), [
      {
          data: notes,
          bars: { show: true,
                  lineWidth: 0,
                  fillColor: "#08f",
                  barWidth: 0.5
                }
      }
    ],flotoptions_minimal)

    $.plot($("#wikis"), [
      {
          data: wikis,
          bars: { show: true,
                  lineWidth: 0,
                  fillColor: "#80f",
                  barWidth: 0.5
                }
      }
    ],flotoptions_minimal)

    $.plot($("#comments"), [
      {
          data: comments,
          bars: { show: true,
                  lineWidth: 0,
                  fillColor: "#80f",
                  barWidth: 0.5
                }
      }
    ],flotoptions_minimal)

  })()
</script>
