<div class="col-md-3">

  <%= raw t('notes.stats.about_this_page') %>
  <%= render 'stats_nav' %>

</div>

<div class="col-md-8 col-md-offset-1" style="margin-bottom:20px;">

  <h2><%= raw t('notes.stats.contributors_statistics') %></h2>
  <hr>

  <h4><b><%= raw t('notes.stats.research_notes_posted_by_contributors', :note_count => @all_notes, :contributors_count => @all_contributors,
                   :time => time_ago_in_words(Node.find_by(type: 'note', status: 1).created_at)) %></b></h4>
  <br>

  &emsp;&emsp;
  <div class="btn-group" role="group" aria-label="Basic example">
      <a href="<%= "?time="+(@time-1.year).to_formatted_s(:long) %>">
          <button type="button" class="btn btn-secondary" title="1 year back">
              <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
              <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
              <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
          </button>
      </a>
      <a href="<%= "?time="+(@time-1.month).to_formatted_s(:long)%>">
          <button type="button" class="btn btn-secondary" title="1 month back">
              <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
              <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
          </button>
      </a>
      <a href="<%= "?time="+(@time-1.week).to_formatted_s(:long) %>">
          <button type="button" class="btn btn-secondary" title="1 week back">
              <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
          </button>
      </a>
  </div>

  &emsp;&emsp;
  <b><%= @time.to_formatted_s(:long) %></b>
  &emsp;&emsp;
  <div class="btn-group" role="group" aria-label="Basic example">
      <a href="<%= "?time="+(@time+1.week).to_formatted_s(:long) %>">
          <button type="button" class="btn btn-secondary" title="1 week forward">
              <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
          </button>
      </a>
      <a href="<%= "?time="+(@time+1.month).to_formatted_s(:long)%>">
          <button type="button" class="btn btn-secondary" title="1 month forward">
              <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
              <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
          </button>
      </a>
      <a href="<%= "?time="+(@time+1.year).to_formatted_s(:long) %>">
          <button type="button" class="btn btn-secondary" title="1 year forward">
              <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
              <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
              <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
          </button>
      </a>
  </div>
  <br> <br>
  <hr />

  <h4>
      <%= raw t('notes.stats.notes_and_wiki_edits_past_week', :url1 => "/research", :note_count => @weekly_notes,
                :url2 => "/wiki", :wiki_count => @weekly_wikis) %>
            <%= raw t('notes.stats.people_joined_past_week', :people_count => @weekly_members) %>
  </h4>

  <hr />

  <h4>
      <%= raw t('notes.stats.notes_and_wiki_edits_past_month', :url1 => "/research", :note_count => @monthly_notes,
                :url2 => "/wiki", :wiki_count => @monthly_wikis) %>
            <%= raw t('notes.stats.people_joined_past_month', :people_count => @monthly_members) %>
  </h4>

  <hr />
  <h4>
      <%= raw t('notes.stats.questions_past_week', :url1 => "/questions", :quiz_count => @weekly_questions,
                :url2 => "/questions/answered/", :ans_count => @weekly_answers) %>
            <hr>

            <%= raw t('notes.stats.questions_past_month', :url1 => "/questions", :quiz_count => @monthly_questions,
                      :url2 => "/questions/answered/", :ans_count => @monthly_answers) %>
   </h4>
   <hr/>
  <br> <br>
</div>

<br> <br>

<div class="container">

</div>

<h3 align="center"> <u>  Notes, Wikis and Comments Statistics in the past year </u></h3>
<br>
    <div id="timeline"></div>
    <p><b><%= raw t('notes.stats.edits_per_week', :count => @edits_per_week_past_year.round(2)) %><b></p>
    <p><b><%= raw t('notes.stats.notes_per_week_past_year', :note_count => @notes_per_week_past_year.round(2)) %></b></p>
    <br>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
var options = {
    chart: {
        type: "area",
        height: 500,
        foreColor: "#999",
        scroller: {
            enabled: true,
            track: {
                height: 7,
                background: '#e0e0e0'

            },
            thumb: {
                height: 10,
                background: '#94E3FF'

            },
            scrollButtons: {
                enabled: true,
                size: 9,
                borderWidth: 2,
                borderColor: '#008FFB',
                fillColor: '#008FFB'

            },
            padding: {
                left: 30,
                right: 20

            }

        },
        stacked: true,
        dropShadow: {
            enabled: true,
            enabledSeries: [0],
            top: -2,
            left: 2,
            blur: 5,
            opacity: 0.06

        }

    },
    colors: ['#00E396', '#0090FF', '#800080'],
    stroke: {
        curve: "smooth",
        width: 3

    },
    dataLabels: {
        enabled: false

    },
    series: [{
        name: 'Notes',
        data: generateWeekWiseTimeSeries(0, 52)

    }, {
        name: 'Wikis',
        data: generateWeekWiseTimeSeries(1, 52)
    }, {
        name: 'Comments',
        data: generateWeekWiseTimeSeries(2, 52)

    }],
        markers: {
            size: 0,
            strokeColor: "#fff",
            strokeWidth: 3,
            strokeOpacity: 1,
            fillOpacity: 1,
            hover: {
                size: 6

            }

        },
        xaxis: {
            type: "datetime",
            axisBorder: {
                show: false

            },
            axisTicks: {
                show: false

            }

        },
        yaxis: {
            tickAmount: 6,
            min: 0,
            opposite: true,
            labels: {
                offsetX: 24,
                offsetY: -5

            },
            tooltip: {
                enabled: true

            }

        },
        grid: {
            padding: {
                left: -5,
                right: 5

            }

        },
        tooltip: {
            x: {
                format: "dd MMM yyyy"

            },

        },
        legend: {
            position: 'top',
            horizontalAlign: 'left'

        },
        fill: {
            type: "solid",
            fillOpacity: 0.7

        }

};

var chart = new ApexCharts(document.querySelector("#timeline"), options);

chart.render();
function generateWeekWiseTimeSeries(s, count) {
    var values = [
        <%= @graph_notes.values.collect {|ind| ind[1]} %>,
        <%= @graph_wikis.values.collect {|ind| ind[1]} %>,
        <%= @graph_comments.values.collect {|ind| ind[1]} %>,
    ];

    var i = 0;
    var months_dates = <%= @graph_notes.values.collect {|ind| ind[0]} %>
    var months = months_dates.map(x =>  new Date(x).getTime());
    var series = [];
    while (i < count) {
        for (var j =0; j < months.length; j++) {
            series.push([months[j], values[s][i]]);
            i++;

        }
    }
    return series;
}
</script>
