<div class="col-md-3">

  <%= raw t('notes.stats.about_this_page') %>

</div>

<div class="col-md-9" style="margin-bottom:20px;">

  <h2><%= raw t('notes.stats.contributors_statistics') %></h2>

  <p>Also see <a href="/stats/subscriptions">subscription stats</a>, or these types of range-based stats queries:</p>

  <ul>
    <li><a href="/stats/range/10-05-2015/10-05-2016/">/stats/range/10-05-2015/10-05-2016/</a></li>
    <li><a href="/stats/range/1-1-2016/31-12-2016/">/stats/range/1-1-2016/12-31-2016/</a></li>
  </ul>

  <p><%= raw t('notes.stats.looking_back', :time => @time.to_formatted_s(:long)) %></p>
  <p>
    <%= raw t('notes.stats.try_time_further_back', :url1 => "?time="+(@time-1.year).to_formatted_s(:long),
    :url2 => "?time="+(@time-1.month).to_formatted_s(:long), :url3 => "?time="+(@time-1.week).to_formatted_s(:long)) %>
  </p>
  <p>
    <%= raw t('notes.stats.try_time_further_forward', :url1 => "?time="+(@time+1.year).to_formatted_s(:long),
    :url2 => "?time="+(@time+1.month).to_formatted_s(:long), :url3 => "?time="+(@time+1.week).to_formatted_s(:long)) %>
  </p>
  <hr />

  <h4>
    <%= raw t('notes.stats.notes_and_wiki_edits_past_week', :url1 => "/research", :note_count => @weekly_notes,
    :url2 => "/wiki", :wiki_count => @weekly_wikis) %>
    <%= raw t('notes.stats.people_joined_past_week', :people_count => @weekly_members) %>
  </h4>

  <hr />

  <h4>
    <%= raw t('notes.stats.notes_and_wiki_edits_past_month', :url1 => "/research", :note_count => @monthly_notes,
    :url2 => "/wiki", :wiki_count => @monthly_wikis) %>
    <%= raw t('notes.stats.people_joined_past_month', :people_count => @monthly_members) %>
  </h4>


  <hr />


  <h4><%= raw t('notes.stats.research_notes_posted_by_contributors', :note_count => @all_notes, :contributors_count => @all_contributors,
  :time => time_ago_in_words(Node.find_by(type: 'note', status: 1).created_at)) %></h4>
  <h4><%= raw t('notes.stats.total_contributors', :all_contributors_count => @all_time_contributors) %></h4>

  <p><%= raw t('notes.stats.notes_per_week_past_year', :note_count => @notes_per_week_past_year.round(2)) %></p>

  <p><i><%= t('notes.stats.note_posting_52_weeks') %></i></p>

  <div id="notes" style="border:1px solid #E5E5E5"></div>

  <hr />

  <h4><%= raw t('notes.stats.wiki_pages_posted', :count => Node.where(type: 'page', status: 1).count) %></h4>

  <p><i><%= t('notes.stats.wiki_page_posting_52_weeks') %></i></p>

  <div id="wikis" style="border:1px solid #E5E5E5"></div>

  <hr />

  <h4><%= raw t('notes.stats.comments_posted', :count => Comment.count) %></h4>

  <p><i><%= t('notes.stats.comments_posted_52_weeks') %></i></p>

  <div id="comments" style="border:1px solid #E5E5E5"></div>

  <hr />

  <h4><%= raw t('notes.stats.wiki_page_edits', :count => Revision.count(:all)) %></h4>
  <p><%= raw t('notes.stats.edits_per_week', :count => @edits_per_week_past_year.round(2)) %></p>

</div>
<script src="https://cdn.jsdelivr.net/npm/frappe-charts@0.0.8/dist/frappe-charts.min.iife.js"></script>

<script type="text/javascript">
    let divisions = new Array();
    divisions[0] = <%= @graph_notes %>
    divisions[1] = <%= @graph_wikis %>
    divisions[2] = <%= @graph_comments %>

    let months = ["J", "F", "M", "A", "M", "J", "J", "A","S", "O", "N", "D"];

    let parents = new Array();
    parents[0] = "#notes";
    parents[1] = "#wikis";
    parents[2] = "#comments";

    let i;
    let labels = new Array();
    for(i = 0; i < divisions[0].length; i++)
        labels[i] = "";
    let count = 0;
    let prev = 0;
    for(i = 0; i < divisions[0].length; i++){
        if(divisions[0][i][1][0] != prev){
            if(count < 4){
                let j;
                for(j = i - 1; j >= i - count; j--){
                    labels[j] = "";
                }
            }

            else if(count == 4){
                let j;
                for(j = i - 1; j >= i - count; j--){
                    labels[j] = "";
                }
                labels[i-2] = months[divisions[0][i - 2][1][0]-1];
            }
            else{
                let j;
                for(j = i-1; j >= i - count; j--){
                    labels[j] = "";
                }
                labels[i-3] = months[divisions[0][i - 3][1][0]-1];
            }
            count = 0;
        }
        prev = divisions[0][i][1][0];
        count++;
    }
    let title = new Array();
    title[0] = "notes";
    title[1] = "wikis";
    title[2] = "comments";

    let values = new Array();
    for(i = 0; i < 3; i++){
        let j = 0;
        values[i] = new Array();
        for(j = 0; j < divisions[i].length; j++){
            values[i][j] = divisions[i][j][1][1];
        }
    }

    let datasets = new Array();
    for(i = 0; i < 3; i++){
        datasets[i] = new Array();
        obj = new Object();
        obj.title = title[i];
        obj.values = new Array();
        obj.values = values[i];
        datasets[i][0] = new Object();
        datasets[i][0] = obj;
    }

    let data = new Array();
    for(i = 0; i < 3; i++){
        data[i] = new Object();
        data[i].labels = labels;
        data[i].datasets = datasets[i];
    }

    for(i = 0; i < 3; i++){
        let lineGraph = new Chart({
            parent: parents[i],
            type: "bar",
            show_dots: 0,
            heatline: 1,
            height: 115,
            region_fill: 0,
            data: data[i],
            x_axis_mode: "tick",
            y_axis_mode: "span",
            is_series: 1,
            colors: ['purple']
        });
    }

</script>
