<div class="col-md-3">
    <h4> About this page </h4>
    <p> There is a lot of content being added to the website everyday. In this page you can select a range to see the statistics of different types of content on the website within that range </p>
    <%= render 'stats_nav' %>
</div>
<div class="col-md-8 col-md-offset-1">
    <h2>Activity</h2>
    <hr>
    <p>
    Choose a period i.e week, month or year in the drop-down below to see the activity in the past week,<br> month or year respectively.
    You can also choose a starting and an ending date in the field further down <br>to see activity during that range
    </p>
    <%= form_tag request.url, method: 'get' do %>
        <div class="row">
            <div class="col-md-9  well">
                <span style="font-size: 1em; color:#3071a9">
                    <i class="fa fa-calendar" style="font-size: 2em;"></i> Showing statistics from <%= @start.to_formatted_s(:long) %> to <%= @end.to_formatted_s(:long) %>
            </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h5> Date Range </h5>
                <%= select_tag :options, options_for_select(["Week", "Month","Year"]), prompt: "Choose a period to view statistics for",
                    class: " form-control input-lg", onchange: "this.form.submit();" %>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label>Starting</label>
                <input data-provide="datepicker" data-date="<%= DateTime.now.strftime("%d-%m-%Y") %>" data-date-format="dd-mm-yyyy" tabindex="1" class="form-control input-lg" type="text" name="start" placeholder="Start date">
            </div>
            <div class="col-md-4">
                <label>Ending</label>
                <input data-provide="datepicker" data-date="<%= DateTime.now.strftime("%d-%m-%Y") %>" data-date-format="dd-mm-yyyy" tabindex="1" class="form-control input-lg" type="text" name="end" placeholder="End date">
            </div>
            <div class="col-md-1">
                <%= submit_tag "Go" , class: 'btn btn-primary', :style=>'margin-top:2em;'  %>
            </div>
        </div>
    <% end %>
    <hr />

    <table class="table">
        <tr>
            <td><%= @notes %></td>
            <td>notes in this period</td>
        </tr>
        <tr>
            <%= @wikis %></td>
        wiki edits in this period</td>
        </tr>
        <tr>
            <td><%= @people %></td>
            <td>new member registrations in this period</td>
        </tr>
        <tr>
            <td><%= @answers %></td>
            <td>answers posted in this period</td>
        </tr>
        <tr>
            <td><%= @comments %></td>
            <td>comments posted in this period</td>
        </tr>
        <tr>
            <td><%= @questions.count %></td>
            <td>questions posted in this period</td>
        </tr>
        <tr>
            <td><%= @contributors %></td>
            <td>contributors in this period</td>
        </tr>
    </table>
    <br>
    <div id="chart"> </div>

    <p><i>Member registration may include spam accounts</i></p>

    <% if current_user && (current_user.role == "admin") %>
        <br>

        <div class="btn-group">
            <button type="button" class="btn btn-lg btn-default">
                <i class="fa fa-cloud-download" style="color:blue"> </i>
                Download as json
            </button>
            <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to "Notes", stats_notes_path(format: 'json', start: params[:start], end: params[:end]) %>
                </li>
                <li>
                    <%= link_to "Wikis", stats_wikis_path(format: 'json', start: params[:start], end: params[:end]) %>
                </li>
                <li>
                    <%= link_to "Comments", stats_comments_path(format: 'json', start: params[:start], end: params[:end]) %>
                </li>
                <li>
                    <%= link_to "Users", stats_users_path(format: 'json', start: params[:start], end: params[:end]) %>
                </li>
                <li>
                    <%= link_to "Questions Asked", stats_questions_path(format: 'json', start: params[:start], end: params[:end]) %>
                </li>
                <li>
                    <%= link_to "Questions Answered", stats_answers_path(format: 'json', start: params[:start], end: params[:end]) %>
                </li>
            </ul>
        </div>
        &ensp;
        <div class="btn-group">
            <button type="button" class="btn btn-lg btn-default">
                <i class="fa fa-cloud-download" style="color:purple"> </i>
                Download as csv
            </button>
            <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to "Notes", stats_notes_path(format: 'csv', start: params[:start], end: params[:end]) %>
                </li>
                <li>
                    <%= link_to "Wikis", stats_wikis_path(format: 'csv', start: params[:start], end: params[:end]) %>
                </li>
                <li>
                    <li>
                        <%= link_to "Users", stats_users_path(format: 'csv', start: params[:start], end: params[:end]) %>
                    </li>
                    <li>
                        <%= link_to "Questions Asked", stats_questions_path(format: 'csv', start: params[:start], end: params[:end]) %>
                    </li>
                    <li>
                        <%= link_to "Questions Answered", stats_answers_path(format: 'csv', start: params[:start], end: params[:end]) %>
                    </li>
            </ul>
        </div>
        <br><br>
    <% end %>

    <br>
    <p> Move back or forward using the buttons below </p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/stats/range/<%= (@start - 1.year).to_formatted_s(:long)   %>/<%= (@end - 1.year).to_formatted_s(:long)   %>">
            <button type="button" class="btn btn-secondary" title= "1 year back">
                <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
            </button>
        </a>
        <a href="/stats/range/<%= (@start - 3.months).to_formatted_s(:long) %>/<%= (@end - 3.months).to_formatted_s(:long) %>">
            <button type="button" class="btn btn-secondary" title="3 months back">
                <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
            </button>
        </a>
        <a href="/stats/range/<%= (@start - 1.month).to_formatted_s(:long)  %>/<%= (@end - 1.month).to_formatted_s(:long)  %>">
            <button type="button" class="btn btn-secondary" title="1 month back">
                <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
            </button>
        </a>
        <a href="/stats/range/<%= (@start - 1.week).to_formatted_s(:long)   %>/<%= (@end - 1.week).to_formatted_s(:long)   %>">
            <button type="button" class="btn btn-secondary" title="1 week back">
                <i class="fa fa-caret-left fa-2x"  style="color:#3071a9;"> </i>
            </button>
        </a>
    </div>

    &emsp;&emsp;
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/stats/range/<%= (@start + 1.week).to_formatted_s(:long)   %>/<%= (@end + 1.week).to_formatted_s(:long)   %>">
            <button type="button" class="btn btn-secondary" title="1 week forward">
                <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
            </button>
        </a>
        <a href="/stats/range/<%= (@start + 1.month).to_formatted_s(:long)  %>/<%= (@end + 1.month).to_formatted_s(:long)  %>">
            <button type="button" class="btn btn-secondary" title="1 month forward">
                <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
            </button>
        </a>
        <a href="/stats/range/<%= (@start + 3.months).to_formatted_s(:long) %>/<%= (@end + 3.months).to_formatted_s(:long) %>" >
            <button type="button" class="btn btn-secondary" title="3 months forward">
                <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
            </button>
        </a>
        <a href="/stats/range/<%= (@start + 1.year).to_formatted_s(:long)   %>/<%= (@end + 1.year).to_formatted_s(:long)   %>">
            <button type="button" class="btn btn-secondary" title="1 year forward">
                <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
                <i class="fa fa-caret-right fa-2x"  style="color:#3071a9;"> </i>
            </button>
        </a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
var values =  <%=  @popular_tags.values %>;
var data =  <%= raw (@popular_tags.keys) %>;

var options = {
    chart: {
        height: 400,
        type: 'bar',

    },
    colors: ['#006dcc'],
    plotOptions: {
        bar: {
            horizontal: true,

        }

    },

    dataLabels: {
        enabled: false

    },
    series: [{
        name: 'Tag count',
        data: values

    }],
    title:{
        text: "Popular Tags",
    },
    xaxis: {
        categories: data

    }

}

var chart = new ApexCharts(
        document.querySelector("#chart"), options );
chart.render();

</script>
