<h1>Activity</h1>

<h5>From <%= @start.to_formatted_s(:long) %> to <%= @end.to_formatted_s(:long) %></h5>

<h4><b> Select a range below to view stats within the range </b></h4>
<%= form_tag request.url, method: 'get' do %>
<div class="row">
    <div class="col-md-4">
        <h4>From</h4>
    </div>
    <div class="col-md-4">
        <h4>To</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div data-toggle="tooltip">
            <input data-provide="datepicker" data-date="<%= DateTime.now.strftime("%d-%m-%Y") %>" data-date-format="dd-mm-yyyy"  tabindex="1" class="form-control input-lg" type="text" name="start" value="<%= (DateTime.now - 1.weeks).strftime("%d-%m-%Y") %>" />
        </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <div data-toggle="tooltip">
            <input data-provide="datepicker" data-date="<%= DateTime.now.strftime("%d-%m-%Y") %>"   data-date-format="dd-mm-yyyy" tabindex="1" class="form-control input-lg" type="text" name="end" value="<%= DateTime.now.strftime("%d-%m-%Y") %>" />
        </div>
    </div>
    <div class="col-md-2">
        <%= submit_tag "Apply Filter", class: "btn btn-primary"%>
    </div>
</div>
<% end %>

<hr />

<table class="table">
  <tr>
    <td><%= @notes %></td>
    <td>notes in this period</td>
  </tr>
  <tr>
    <%= @wikis %></td>
    wiki edits in this period</td>
  </tr>
  <tr>
    <td><%= @people %></td>
    <td>new member registrations in this period</td>
  </tr>
  <tr>
    <td><%= @answers %></td>
    <td>answers posted in this period</td>
  </tr>
  <tr>
    <td><%= @comments %></td>
    <td>comments posted in this period</td>
  </tr>
  <tr>
    <td><%= @questions.count %></td>
    <td>questions posted in this period</td>
  </tr>
  <tr>
    <td><%= @contributors %></td>
    <td>contributors in this period</td>
  </tr>
<table>

<p><i>Member registration may include spam accounts</i></p>

<p>
  Back by:
  <a href="/stats/range/<%= (@start - 1.week).to_formatted_s(:long)   %>/<%= (@end - 1.week).to_formatted_s(:long)   %>">one week</a>,
  <a href="/stats/range/<%= (@start - 1.month).to_formatted_s(:long)  %>/<%= (@end - 1.month).to_formatted_s(:long)  %>">one month</a>,
  <a href="/stats/range/<%= (@start - 3.months).to_formatted_s(:long) %>/<%= (@end - 3.months).to_formatted_s(:long) %>">three months</a>,
  <a href="/stats/range/<%= (@start - 1.year).to_formatted_s(:long)   %>/<%= (@end - 1.year).to_formatted_s(:long)   %>">one year</a>
</p>

<p>
  Forward by:
  <a href="/stats/range/<%= (@start + 1.week).to_formatted_s(:long)   %>/<%= (@end + 1.week).to_formatted_s(:long)   %>">one week</a>,
  <a href="/stats/range/<%= (@start + 1.month).to_formatted_s(:long)  %>/<%= (@end + 1.month).to_formatted_s(:long)  %>">one month</a>,
  <a href="/stats/range/<%= (@start + 3.months).to_formatted_s(:long) %>/<%= (@end + 3.months).to_formatted_s(:long) %>">three months</a>,
  <a href="/stats/range/<%= (@start + 1.year).to_formatted_s(:long)   %>/<%= (@end + 1.year).to_formatted_s(:long)   %>">one year</a>
</p>
