<h1>Activity</h1>

<p>From <%= @start.to_formatted_s(:long) %> to <%= @end.to_formatted_s(:long) %></p>

<hr />

<table class="table">
  <tr>
    <td><%= @notes %></td>
    <td>notes in this period</td>
  </tr>
  <tr>
    <%= @wikis %></td>
    wiki edits in this period</td>
  </tr>
  <tr>
    <td><%= @people %></td>
    <td>new member registrations in this period</td>
  </tr>
  <tr>
    <td><%= @answers %></td>
    <td>answers posted in this period</td>
  </tr>
  <tr>
    <td><%= @comments %></td>
    <td>comments posted in this period</td>
  </tr>
  <tr>
    <td><%= @questions.count %></td>
    <td>questions posted in this period</td>
  </tr>
  <tr>
    <td><%= @contributors %></td>
    <td>contributors in this period</td>
  </tr>
<table>

<p><i>Member registration may include spam accounts</i></p>

<p>
  Back by:
  <a href="/stats/range/<%= (@start - 1.week).to_formatted_s(:long)   %>/<%= (@end - 1.week).to_formatted_s(:long)   %>">one week</a>,
  <a href="/stats/range/<%= (@start - 1.month).to_formatted_s(:long)  %>/<%= (@end - 1.month).to_formatted_s(:long)  %>">one month</a>,
  <a href="/stats/range/<%= (@start - 3.months).to_formatted_s(:long) %>/<%= (@end - 3.months).to_formatted_s(:long) %>">three months</a>,
  <a href="/stats/range/<%= (@start - 1.year).to_formatted_s(:long)   %>/<%= (@end - 1.year).to_formatted_s(:long)   %>">one year</a>
</p>

<p>
  Forward by:
  <a href="/stats/range/<%= (@start + 1.week).to_formatted_s(:long)   %>/<%= (@end + 1.week).to_formatted_s(:long)   %>">one week</a>,
  <a href="/stats/range/<%= (@start + 1.month).to_formatted_s(:long)  %>/<%= (@end + 1.month).to_formatted_s(:long)  %>">one month</a>,
  <a href="/stats/range/<%= (@start + 3.months).to_formatted_s(:long) %>/<%= (@end + 3.months).to_formatted_s(:long) %>">three months</a>,
  <a href="/stats/range/<%= (@start + 1.year).to_formatted_s(:long)   %>/<%= (@end + 1.year).to_formatted_s(:long)   %>">one year</a>
</p>
