<h2 align="center">  Download Raw Stats </h2>
<hr>
<div class="row">
<div class="col-md-6">
    <%= form_tag request.url, method: :get do %>
        <h5>Choose dates to download raw data of content created within that period</h5>
        <br>
        <input data-provide="datepicker" data-date="<%= Date.today.strftime("%d-%m-%Y") %>" data-date-format="dd-mm-yyyy"  data-date-max-view-mode="years" data-date-min-view-mode="months" tabindex="1" class="form-control input-lg" type="text" name="start"  placeholder="&#xf133; Select start date">
        <br>
        <input data-provide="datepicker" data-date="<%= Date.today.strftime("%d-%m-%Y") %>" data-date-format="dd-mm-yyyy"  data-date-max-view-mode="years" data-date-min-view-mode="months" tabindex="1" class="form-control input-lg" type="text" name="end"  placeholder="&#xf133; Select end date">
        <br>
        <%= submit_tag "Go", class: 'btn btn-secondary' %>
    <% end %>
<br>
</div>
</div>
<br>
<% unless params[:start].nil? %>
    <h5>Stats from From <%= params[:start] %> to <%= params[:end] %></h5>
<% end%>
<br>

<div class="btn-group" align="center" role="group" aria-label="Basic example">
        <%= link_to stats_path do %>
        <button type="button" class="btn btn-secondary" title=" Back to Stats">
            <i class="fa fa-arrow-left fa-2x"  style="color:#31b0d5;"> </i>
        </button>
    <% end %>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-lg btn-info">Select to download as json</button>
    <button type="button" class="btn btn-lg btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <%= link_to "Notes", stats_notes_path(format: 'json', start: params[:start], end: params[:end]) %>
        </li>
        <li>
            <%= link_to "Wikis", stats_wikis_path(format: 'json', start: params[:start], end: params[:end]) %>
        </li>
        <li>
            <%= link_to "Comments", stats_comments_path(format: 'json', start: params[:start], end: params[:end]) %>
        </li>
        <li>
            <%= link_to "Users", stats_users_path(format: 'json', start: params[:start], end: params[:end]) %>
        </li>
        <li>
            <%= link_to "Questions Asked", stats_questions_path(format: 'json', start: params[:start], end: params[:end]) %>
        </li>
        <li>
            <%= link_to "Questions Answered", stats_answers_path(format: 'json', start: params[:start], end: params[:end]) %>
        </li>
    </ul>
</div>
&ensp;
<div class="btn-group">
    <button type="button" class="btn btn-lg btn-info">Select to download as CSV</button>
    <button type="button" class="btn btn-lg btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
            <li>
            <%= link_to "Notes", stats_notes_path(format: 'csv', start: params[:start], end: params[:end]) %>
        </li>
        <li>
            <%= link_to "Wikis", stats_wikis_path(format: 'csv', start: params[:start], end: params[:end]) %>
        </li>
        <li>
            <%= link_to "Comments", stats_comments_path(format: 'csv', start: params[:start], end: params[:end]) %>
        </li>
        <li>
            <%= link_to "Users", stats_users_path(format: 'csv', start: params[:start], end: params[:end]) %>
        </li>
        <li>
            <%= link_to "Questions Asked", stats_questions_path(format: 'csv', start: params[:start], end: params[:end]) %>
        </li>
        <li>
            <%= link_to "Questions Answered", stats_answers_path(format: 'csv', start: params[:start], end: params[:end]) %>
        </li>
    </ul>
</div>
