<h2 align="center">  Stats in Json </h2>
<hr>
<div class="row">
<div class="col-md-6">
    <%= form_tag request.url, method: :get do %>
        <h5>Choose dates to download raw data of content created within that period</h5>
        <br>
        <input data-provide="datepicker" data-date="<%= Date.today.strftime("%d-%m-%Y") %>" data-date-format="dd-mm-yyyy"  data-date-max-view-mode="years" data-date-min-view-mode="months" tabindex="1" class="form-control input-lg" type="text" name="start"  placeholder="&#xf133; Select start date">
        <br>
        <input data-provide="datepicker" data-date="<%= Date.today.strftime("%d-%m-%Y") %>" data-date-format="dd-mm-yyyy"  data-date-max-view-mode="years" data-date-min-view-mode="months" tabindex="1" class="form-control input-lg" type="text" name="end"  placeholder="&#xf133; Select end date">
        <br>
        <%= submit_tag "Go", class: 'btn btn-secondary' %>
    <% end %>
<br>
</div>
</div>
<br>
<h5>Stats from From <%= params[:start] %> to <%= params[:end] %></h5>
<br>
<div class="btn-group" align="center" role="group" aria-label="Basic example">
        <%= link_to stats_path do %>
        <button type="button" class="btn btn-secondary" title=" Back to Stats">
            <i class="fa fa-arrow-left fa-2x"  style="color:#0088cc;"> </i>
        </button>
    <% end %>

        <%= link_to stats_notes_path(start: params[:start], end: params[:end]) do  %>
        <button type="button" class="btn-lg btn-secondary" title="Download notes">
            Download notes
        </button>
    <% end %>

        <%= link_to stats_wikis_path(start: params[:start], end: params[:end]) do  %>
        <button type="button" class="btn-lg btn-secondary" title="Download wikis">
            Download wikis
        </button>
    <% end %>

        <%= link_to stats_comments_path(start: params[:start], end: params[:end]) do  %>
        <button type="button" class="btn-lg btn-secondary" title="Download wikis">
            Download comments
        </button>
    <% end %>
</div>
<br> <br>
<% @hash.each do |k,v|  %>
    <p><b><%= k %> </b></p>
    <p><%= v %> </p>
<% end %>
