<div class="container">

<%= form_for :user_session, :as => :user_session, :url => { :action => "create" }, :html => {:class => "form col-md-6 offset-3"} do |f| %>

  <h2><%= raw t('user_sessions.new.log_in_or_sign_up', :url1 => "/signup") %></h2>
  <% if f.error_messages != "" %><div class="alert alert-danger"><%= f.error_messages %></div><% end %>
    <% if Rails.env == "production"%>
      <div class="loginbutton" style="text-align: center">
        <h3> Login with </h3>
        <a href="/auth/google_oauth2" id="connect-google"><span class="btn btn-default" style="margin-right:2px"><i class="fa fa-google" style="font-size:20px;color:red;"></i></span></a>
        <a href="/auth/github" id="connect-github"><span class="btn btn-default" style="margin-left:2px"><i class="fa fa-github" style="font-size:20px;color:green;"></i></span></a>
        <a href="/auth/facebook" id="connect-facebook"><span class="btn btn-default" style="margin-left:2px"><i class="fa fa-facebook" style="font-size:20px;color:blue;"></i></span></a>
        <a href="/auth/twitter" id="connect-twitter"><span class="btn btn-default" style="margin-left:2px"><i class="fa fa-twitter" style="font-size:20px;color:blue;margin-left:2px;"></i></span></a>
      </div>
     <br />

     <h5 style="text-align:center; border-bottom:2px solid #cccccc">OR</h5>
   <% end %>


  <br style="clear:both;"/>

  <div class="form-group">

    <label for="username"><%= t('user_sessions.new.username') %></label>
    <%= f.text_field :username, { tabindex: 1, class: 'form-control', id: 'username-signup' } %>

  </div>

  <div class="form-group">

    <label for="password"><%= t('user_sessions.new.password') %></label>
    <%= f.password_field :password, { tabindex: 2, class: 'form-control', id: 'password-signup' } %>

  </div>

  <input type="hidden" name="return_to" value="<%= params[:return_to] %>" />

  <div class="checkbox">
    <label>
      <%= f.check_box :remember_me %> <%= t('user_sessions.new.remember_me') %>
    </label>
  </div>

  <div class="input-group-inline">

    <button class="btn btn-primary btn-lg" type="submit" tabindex="3"><%= t('user_sessions.new.log_in') %></button>

  </div>
  </br>

  <p style="color: #888;"><%= raw t('user_sessions.new.reset_by_clicking_here', :url1 => "/reset/") %></p>
<% end %>

</div>
