<h1>Log in</h1>

<%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>

  <p><%= f.text_field :username, {:placeholder => "username"} %></p>
  <p><%= f.password_field :password, {:placeholder => "password"} %></p>

  <h2>Or use OpenID</h2>

  <p><%= f.text_field :openid_identifier, {:placecholder => "OpenID"} %></p>

  <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
  <p><button class="btn-large btn-primary" type="submit">Log in</button></p>
<% end %>

