<h1>Log in</h1>

<%= form_for @user_session, :as => :user_session, :url => { :action => "create" }, :html => {:class => "form"} do |f| %>
  <% if f.error_messages != "" %><div class="alert alert-error"><%= f.error_messages %></div><% end %>

  <br style="clear:both;"/>

  <p><%= f.text_field :username, {:placeholder => "username"} %></p>
  <p><%= f.password_field :password, {:placeholder => "password"} %></p>

  <p style="width:30%;"><b><i class="icon icon-exclamation-sign"></i> Or enter your username from the old PublicLaboratory.org website if you originally registered there:</b></p>

  <p><%= f.text_field :openid_identifier, {:placecholder => "username", :tabindex => 2} %></p>

  <p><label class="checkbox">
    <%= f.check_box :remember_me %> Remember me
  </p></label>

  <p>
    <button class="btn-large btn-primary" type="submit">Log in</button>
  </p>
<% end %>

