<div class="row">
<% @nodes.each_with_index do |node,i| %>
  <div class="col-md-3 clearfix">
    <% if node.main_image %>
      <a class="img-thumbnail" href="<%= node.path %>"><img src="<%= node.main_image.path(:default) %>" style="width:100%;" /></a>
    <% end %>
    <h4><a href="<%= node.path %>"><%= node.title %></a></h4>
    <p style="color:#888;"><small>by 
      <%= node.drupal_content_field_mappers.collect(&:field_mappers_value).uniq.join(', ') %>
      <% unless !node.map || node.map.captured_on == "" %>| <%= time_ago_in_words(node.map.captured_on) %> ago<% end %>
      | <a href="<%= node.path %>#comments"><i style="color:#888;" class="fa fa-comment-alt"></i> <%= node.comment_count %></a>
      | <i style="color:#888;" class="fa fa-star-empty"></i> <%= node.likes %>
      <% if current_user && current_user.role == "admin" %>| <%= link_to "/map/delete/"+node.id.to_s, :confirm => 'Are you sure?' do %>
          <i class="fa fa-trash"></i>
        <% end %><% end %>
   </small></p>
   <p><%= raw strip_tags(sanitize(RDiscount.new(node.body).to_html)).truncate(100) %></p>
  </div>
  <hr class="visible-xs visible-sm" />
<% if ((i+1)/4.0).to_i == ((i+1)/4.0) %>
</div>
<hr class="visible-xs visible-sm grid" />
<div class="row">
<% end %>
<% end %>
</div>
<%= will_paginate @nodes, :renderer => BootstrapPagination::Rails unless @unpaginated %>
