<div class="container-fluid">
  <div class="row-fluid">
    <div class="row">
    <% @nodes.each_with_index do |node,i| %>
      <div class="span3 clearfix">
        <% if node.main_image %>
          <a class="visible-phone thumbnail" style="float:left;width:30%;margin-right:10px;" href="/<%= node.slug %>"><img src="<%= node.main_image.path(:default) %>" /></a>
          <a class="hidden-phone thumbnail" href="/<%= node.slug %>"><img src="<%= node.main_image.path(:default) %>" /></a>
        <% end %>
        <h4><a href="/<%= node.slug %>"><%= node.title %></a></h4>
        <p style="color:#888;"><small>by 
          <%= node.drupal_content_field_mappers.collect(&:field_mappers_value).uniq.join(', ') %>
          | <%= time_ago_in_words(node.created_at) %> ago</small></p>
        <p><%= raw strip_tags(sanitize(RDiscount.new(node.body).to_html)).truncate(100) %></p>
      </div>
    <% if ((i+1)/4.0).to_i == ((i+1)/4.0) %>
    </div>
    <hr />
    <div class="row">
    <% end %>
    <% end %>
    </div>
  </div>
  <%= will_paginate @nodes, :renderer => BootstrapPagination::Rails unless @unpaginated %>
</div>
