<% if @node.nearby_maps.length > 0 %>
  <h4>Nearby maps</h4>
<% end %>

<% @node.nearby_maps.each do |map| %>
  <div>
  <% if map.main_image %>
    <a class="thumbnail" href="/<%= node.slug %>"><img src="http://publiclaboratory.org/sites/default/files/imagecache/default/<%= node.main_image.filename %>" /></a>
  <% end %>
  <h4><a href="/<%= node.slug %>"><%= node.title %></a></h4>
  <p style="color:#888;"><small>by <a href="/notes/author/<%= node.author.name %>"><%= node.author.name %></a> | <%= time_ago_in_words(node.created_at) %> ago</small></p>
  </div>
<% end %>

