<%= render :partial => "map/mapDependencies" %>
<% unique_id = rand(1000) %>

  <style>
  	#map<%= unique_id %> { width:100%; height:500px; margin: 0; position: relative;}
  </style>

<div>
   <div class="leaflet-map" id="map<%= unique_id %>"></div>
 </div>
<% if defined? people %>
  <p><i><small>
      <% if !@map_lat.nil? && !@map_lon.nil? %>
        Current view based on your shared location. Click <a href='/profile'>here</a> to adjust.
      <% else %>
	  Share your own location on <a href='/profile'>your profile</a>.
	  Learn about <a href='https://publiclab.org/wiki/location-privacy'>privacy</a>
      <% end %>
  </small></i></p>
<% end %>

  <script>

   var bounds = new L.LatLngBounds(new L.LatLng(84.67351257 , -172.96875) , new L.LatLng(-54.36775852 , 178.59375)) ;
   var map<%= unique_id %> = L.map('map<%= unique_id %>', {
      maxBounds: bounds ,
      maxBoundsViscosity: 0.75
    }).setView([<%= lat %>,<%= lon %>], 2);
   map<%= unique_id %>.options.minZoom = 2 ;

   var markers_hash<%= unique_id %> = new Map() ;

   window.setTimeout(function(){

       <% if !@map_lat.nil? && !@map_lon.nil? %>
         var map_lat = <%= @map_lat %> ;
         var map_lon = <%= @map_lon %> ;
         var user_latlng = L.latLng(map_lat, map_lon) ;
         map<%= unique_id %>.setView(user_latlng , 3) ;
       <% else %>
         map<%= unique_id %>.setZoom(2) ;
       <% end %>

   }, 3500);

   <% if defined? tag_name != nil and tag_name == false %>
      <% @tagname_param = nil %>
   <% end %>

   map<%= unique_id %>.on('zoomend' , function () {
       var NWlat = map<%= unique_id %>.getBounds().getNorthWest().lat ;
       var NWlng = map<%= unique_id %>.getBounds().getNorthWest().lng ;
       var SElat = map<%= unique_id %>.getBounds().getSouthEast().lat ;
       var SElng = map<%= unique_id %>.getBounds().getSouthEast().lng ;

       map<%= unique_id %>.spin(true) ;

      <% if @tagname_param.nil? %>
        people_url = "/api/srch/nearbyPeople?nwlat=" + NWlat + "&selat=" + SElat + "&nwlng=" + NWlng + "&selng=" + SElng ;

      <% else %>
        people_url = "/api/srch/nearbyPeople?nwlat=" + NWlat + "&selat=" + SElat + "&nwlng=" + NWlng + "&selng=" + SElng + "&tag=<%= @tagname_param %>" ;
      <% end %>

       $.getJSON(people_url , function (data) {

           if (!!data.items) {
               for (i = 0; i < data.items.length; i++) {
                   var default_markers = PLmarker_default();
                   var mid = data.items[i].doc_id ;
                   var url = data.items[i].doc_url;
                   var title = data.items[i].doc_title;
                   var m = L.marker([data.items[i].latitude, data.items[i].longitude], {
                       title: title,
                       icon: default_markers
                   }) ;

                   if(markers_hash<%= unique_id %>.has(mid) === false){
                       m.addTo(map<%= unique_id %>).bindPopup("<a href=" + url + ">" + title + "</a>") ;
                       markers_hash<%= unique_id %>.set(mid , m) ;
                   }

               }
           }
           map<%= unique_id %>.spin(false) ;
       });

   }) ;

   map<%= unique_id %>.on('moveend' , function () {
       var NWlat = map<%= unique_id %>.getBounds().getNorthWest().lat ;
       var NWlng = map<%= unique_id %>.getBounds().getNorthWest().lng ;
       var SElat = map<%= unique_id %>.getBounds().getSouthEast().lat ;
       var SElng = map<%= unique_id %>.getBounds().getSouthEast().lng ;

       map<%= unique_id %>.spin(true) ;

       <% if @tagname_param.nil? %>
        people_url = "/api/srch/nearbyPeople?nwlat=" + NWlat + "&selat=" + SElat + "&nwlng=" + NWlng + "&selng=" + SElng ;
      <% else %>
        people_url = "/api/srch/nearbyPeople?nwlat=" + NWlat + "&selat=" + SElat + "&nwlng=" + NWlng + "&selng=" + SElng + "&tag=<%= @tagname_param %>" ;
      <% end %>

       $.getJSON(people_url , function (data) {
           var layerGroup = L.layerGroup();
           if (!!data.items) {
               for (i = 0; i < data.items.length; i++) {
                   var default_markers = PLmarker_default();
                   var mid = data.items[i].doc_id ;
                   var url = data.items[i].doc_url;
                   var title = data.items[i].doc_title;
                   var m = L.marker([data.items[i].latitude, data.items[i].longitude], {
                       title: title,
                       icon: default_markers
                   }) ;

                   if(markers_hash<%= unique_id %>.has(mid) === false){
                       m.addTo(map<%= unique_id %>).bindPopup("<a href=" + url + ">" + title + "</a>") ;
                       markers_hash<%= unique_id %>.set(mid , m) ;
                   }

               }
           }
           map<%= unique_id %>.spin(false) ;
       });
   }) ;

    <% if defined? url_hash != nil and url_hash == 0 %>
      setupLEL(map<%= unique_id %> , 0) ;
    <% else %>
      setupLEL(map<%= unique_id %> , 1) ;
    <% end %>

  </script>
