<%= stylesheet_link_tag "/lib/leaflet/dist/leaflet.css" %>
<%= stylesheet_link_tag "/lib/leaflet-environmental-layers/dist/LeafletEnvironmentalLayers.css" %>
<%= javascript_include_tag('/lib/leaflet-environmental-layers/dist/LeafletEnvironmentalLayers.js') %>
<%= javascript_include_tag('/lib/leaflet-environmental-layers/dist/windRoseLayer.js') %>
<%= javascript_include_tag('/lib/leaflet-hash/leaflet-hash.js') %>

<%= javascript_include_tag('https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js') %>
<%= stylesheet_link_tag "https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" %>

<%= javascript_include_tag('/lib/leaflet-spin/example/spin/dist/spin.min.js') %>
<%= javascript_include_tag('/lib/leaflet-spin/example/leaflet.spin.min.js') %>
  <% unique_id = rand(100) %>
  <style>
  	#map<%= unique_id %> { width:100%; height:300px; margin: 0; position: relative;}
  	/*.leaflet-top{
  		overflow: auto ;
  		background: white ;
  	}*/
  </style>

<div onmouseover="document.body.style.overflow='hidden';"  onmouseout="document.body.style.overflow='auto';">
   <div class="leaflet-map" id="map<%= unique_id %>"></div>
 </div>
<% if defined? people %>
  <p><i><small>
      <% if !@map_lat.nil? && !@map_lon.nil? %>
        Current view based on your shared location. Click <a href='/profile'>here</a> to adjust.
      <% else %>
	  Share your own location on <a href='/profile'>your profile</a>.
	  Learn about <a href='https://publiclab.org/wiki/location-privacy'>privacy</a>
      <% end %>
  </small></i></p>
<% end %>

  <script>

   var bounds = new L.LatLngBounds(new L.LatLng(84.67351257 , -172.96875) , new L.LatLng(-54.36775852 , 178.59375)) ;
   var map<%= unique_id %> = L.map('map<%= unique_id %>', {
      maxBounds: bounds ,
      maxBoundsViscosity: 0.75
    }).on('load', onMapLoad).setView([<%= lat %>,<%= lon %>], 2);
   map<%= unique_id %>.options.minZoom = 2 ;
   
   function onMapLoad(e){
     $.getJSON("/api/srch/peoplelocations?query=100&tag=<%= @tagname_param %>" , function(data){
     	var layerGroup = L.layerGroup() ;
       if (!!data.items){
         for (i = 0; i < data.items.length ; i++) {
           var default_markers = PLmarker_default() ;
           var url = data.items[i].doc_url ;
           var title = data.items[i].doc_title ;
           var m = L.marker([data.items[i].latitude , data.items[i].longitude], {title: title , icon: default_markers}).addTo(map<%= unique_id %>).bindPopup("<a href=" +  url + ">" + title + "</a>") ;
	        }
        }
     });
    }

   <% if !@map_lat.nil? && !@map_lon.nil? %>
      var map_lat = <%= @map_lat %> ;
      var map_lon = <%= @map_lon %> ;
      var user_latlng = L.latLng(map_lat, map_lon) ;
      map<%= unique_id %>.setView(user_latlng , 3) ;
   <% end %>

//  setupFullScreen(map< = unique_id >  , map_lat , map_lon) ;
    setupLEL(map<%= unique_id %> ) ;

  </script>
