<%= render :partial => "map/mapDependencies" %>

<% unique_id = rand(1000) %>

  <style>
    #map<%= unique_id %> { width:100%; height:500px; margin: 0; position: relative;}
  </style>

<div>
   <div class="leaflet-map" id="map<%= unique_id %>"></div>
 </div>
<% if defined? people %>
  <p><i><small>
      <% if !@map_lat.nil? && !@map_lon.nil? %>
        Current view based on your shared location. Click <a href='/profile'>here</a> to adjust.
      <% else %>
    Share your own location on <a href='/profile'>your profile</a>.
    Learn about <a href='https://publiclab.org/wiki/location-privacy'>privacy</a>
      <% end %>
  </small></i></p>
<% end %>

  <script>
   var map<%= unique_id %> = L.map('map<%= unique_id %>').setView([<%= lat %>,<%= lon %>], 3) ;
   map<%= unique_id %>.options.minZoom = 2 ;
   
   map<%= unique_id %>.spin(true) ;
   window.setTimeout(function(){
       <% if !@map_lat.nil? && !@map_lon.nil? %>
         var map_lat = <%= @map_lat %> ;
         var map_lon = <%= @map_lon %> ;
         var user_latlng = L.latLng(map_lat, map_lon) ;
         map<%= unique_id %>.setView(user_latlng , 3) ;
       <% end %>
        map<%= unique_id %>.spin(false) ;
        layers.PLpeople.addTo(map<%= unique_id %>) ; // Default Layer
   }, 3500) ;
  
      // LEL configuration 
     <% if defined? url_hash != nil and url_hash == 0 %>
      var layers = setupLEL(map<%= unique_id %> , 0) ;
     <% else %>
      var layers = setupLEL(map<%= unique_id %> , 1) ;
     <% end %>
     console.log(layers) ;
  </script>