<%= render :partial => "map/mapDependencies" %>

<% unique_id = rand(1000) %>

  <style>
  	#map<%= unique_id %> { width:100%; height:300px; margin: 0; position: relative;}
  </style>

<div>
   <div class="leaflet-map" id="map<%= unique_id %>"></div>
 </div>
<% if defined? people %>
  <p><i><small>
      <% if !@map_lat.nil? && !@map_lon.nil? %>
        Current view based on your shared location. Click <a href='/profile'>here</a> to adjust.
      <% else %>
	  Share your own location on <a href='/profile'>your profile</a>.
	  Learn about <a href='https://publiclab.org/wiki/location-privacy'>privacy</a>
      <% end %>
  </small></i></p>
<% end %>

  <script>

   var map<%= unique_id %> = L.map('map<%= unique_id %>').setView([<%= lat %>,<%= lon %>], 3) ;
   map<%= unique_id %>.options.minZoom = 2 ;
   
   map<%= unique_id %>.spin(true) ;
   window.setTimeout(function(){
       <% if !@map_lat.nil? && !@map_lon.nil? %>
         var map_lat = <%= @map_lat %> ;
         var map_lon = <%= @map_lon %> ;
         var user_latlng = L.latLng(map_lat, map_lon) ;
         map<%= unique_id %>.setView(user_latlng , 3) ;
       <% end %>
        map<%= unique_id %>.spin(false) ;
   }, 3500) ;
  
    // LBLD configuration
     var options = {
        mapID: 'map<%= unique_id %>',
        map: map<%= unique_id %>,
        InterfaceOptions: {
          latId: 'lat',
          lngId: 'lng'
        }
      }

      var BlurredLocation = new BlurredLocation(options);

      function JSONparser(data)
      {
        parsed_data = [] ; 
        if (!!data.items) {
          for (i = 0 ; i < data.items.length ; i++) {
            let obj = {} ;
            obj["id"] = data.items[i].doc_id ;
            obj["url"] = data.items[i].doc_url;
            obj["latitude"] = parseFloat(data.items[i].latitude) ;
            obj["longitude"] = parseFloat(data.items[i].longitude) ;
            obj["title"] = data.items[i].doc_title ;
            parsed_data[parsed_data.length] = obj ;
          }
        }
        return parsed_data ; 
      }

      zoom_filter = [[0,5,0] , [5,6,2] , [8,10,4] , [11,18,5]] ;             

      var options_display = {
        blurredLocation: BlurredLocation,
        source_url: "https://publiclab.org/api/srch/nearbyPeople",
        JSONparser: JSONparser,
        zoom_filter: zoom_filter
      }
      var blurredLocationDisplay = new BlurredLocationDisplay(options_display);

      // LEL configuration 
     <% if defined? url_hash != nil and url_hash == 0 %>
      setupLEL(map<%= unique_id %> , 0) ;
     <% else %>
      setupLEL(map<%= unique_id %> , 1) ;
     <% end %>

  </script>
