<%= stylesheet_link_tag "/lib/leaflet/dist/leaflet.css" %>
<%= stylesheet_link_tag "/lib/leaflet-environmental-layers/dist/LeafletEnvironmentalLayers.css" %>
<%= javascript_include_tag('/lib/leaflet-environmental-layers/dist/LeafletEnvironmentalLayers.js') %>
<%= javascript_include_tag('/lib/leaflet-environmental-layers/dist/windRoseLayer.js') %>
<%= javascript_include_tag('/lib/leaflet-hash/leaflet-hash.js') %>

<%= javascript_include_tag('https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js') %>
<%= stylesheet_link_tag "https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" %>

<%= javascript_include_tag('/lib/leaflet-spin/example/spin/dist/spin.min.js') %>
<%= javascript_include_tag('/lib/leaflet-spin/example/leaflet.spin.min.js') %>

  <% if haslocation == true %>  
    <style>
      #map_leaflet{  height:300px; width:292px; margin: auto; position: relative;}
    </style>
    <div class="leaflet-map" id="map_leaflet"></div>
    <script>
  
    var map_lat = <%= @map_lat %> ;
    var map_lon = <%= @map_lon %> ; 
    var map = setupLeafletMap() ; 
    var layerGroup = L.layerGroup() ; 
   
     map.setView([map_lat,map_lon], 2);
      
    setupFullScreen(map , map_lat , map_lon) ; 
    setupLEL(map) ;
  //  var hash = new L.Hash(map);   
    <% if !(@map_blurred == true) %>
      var default_Icon =new PLmarker_default() ;
      L.marker([<%= @map_lat %>, <%= @map_lon %>] , {icon: default_Icon}).addTo(map).bindPopup("<a href='https://publiclab.org/profile/<%= @profile_user.username  %>'><%= @profile_user.username  %> </a>");
    <% end %>
    </script>
  <% else %>
    <div id="map_template" style="position: relative; display: inline-block;">
      <img src="https://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/0/0/0.png" style="height:300px; margin: 0; position: relative; margin-right: -10px;">  
      <button type='button' class='btn btn-default btn-lg' onclick='addLocation()' style="position: absolute;    position: absolute;top: 41% ; left: 15% ;"> <strong> Share your Location </strong> </button>
      <p><i><small>Learn about <a href='https://publiclab.org/wiki/location-privacy'>privacy</a> </small></i></p>
    </div> 
    <script>
      function addLocation() {
        $('.blurred-location-input').click() ;
      }
    </script>
  <% end %>
