<%= render :partial => "sidebar/featured" %>
<div class="span9">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
  <![endif]-->
  <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>

  <div class="span12" style="margin-left:0;height:300px;margin-bottom:10px;" id="map"></div>

  <script>
    var map = L.map('map').setView([15,0], 2);
    L.tileLayer("http://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/{z}/{x}/{y}.png").addTo(map)

    <% @maps.each do |map| %>
      L.marker([<%= map.location[:y] %>, <%= map.location[:x] %>]).addTo(map).bindPopup("<a href='<%= map.slug %>'><%= map.title %></a>");
    <% end %>
  </script>

  <h2>Maps <small>from the Public Lab Archive</small></h2>
  <div class="navbar">
    <div class="navbar-inner">
      <form class="navbar-form pull-right" style="margin-left:10px;" action="/search/advanced">
        <input type="hidden" name="maps" value="on" />
        <input placeholder="search maps" type="text" name="q" class="input search-query" data-provide="typeahead" data-source='["Balloon mapping","Thermal photography","Spectrometry"]'>
        <button type="submit" class="btn btn-inverse"><i class="icon-search icon-white"></i></button>
      </form>
      <ul class="nav">
        <li class="active"><a href="#">Recent</a></li>
        <li><a href="#">Popular</a></li>
      </ul>
    </div>
  </div>

  <%= render :partial => "map/maps" %>

  <hr />
  
</div>
