<%= render :partial => "map/mapDependencies" %>
  
  <style>
  body, body>.container, body>.container>.row {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
  }
  body>.container {
    padding-top: 28px;
  }
  .footer {
    margin: 0;
  }
  #map{ 
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80vh;
    background:rgba(255,255,255,0.5);
  }
  .alert {
    z-index: 600;
  }
  </style>

<div id="map"></div>

   <script>

      var urlHash = urlMapHash();

      <% if @node %>
        // if there are location params in URL let them override
        if (!urlHash.getUrlHashParameter('lat') || !urlHash.getUrlHashParameter('lon')) {
          <% if @lat && @lon %>
            urlHash.setUrlHashParameter('lat', <%= @lat %> + "");
            urlHash.setUrlHashParameter('lon', <%= @lon %> + "");
            <% if @zoom %>
              urlHash.setUrlHashParameter('zoom', <%= @zoom %> + "");
            <% end %>
          <% end %>
        }
      <% end %>

      const params = urlHash.getUrlHashParameters();
     
      const bounds = new L.LatLngBounds(
        new L.LatLng(84.67351257, -172.96875),
        new L.LatLng(-54.36775852, 178.59375)
      );

      var user_lat = null;
      var user_lon = null;
      var profile_zoom = null;
      <% if @user_lat && @user_lon %>
        user_lat = "<%= @user_lat %>";
        user_lon = "<%= @user_lon %>";
        profile_zoom = 7;
      <% end %>

      var lat = params.lat || user_lat || 23;
      var lon = params.lon || user_lon || 77;
      var zoom = parseFloat(params.zoom) || profile_zoom || 3;
      // These must be parsed after evaluating above or else 0 will not be displayed
      lat = parseFloat(lat);
      lon = parseFloat(lon);

      var map = L.map("map", {
        maxBounds: bounds,
        maxBoundsViscosity: 0.75
      }).setView([lat, lon], zoom);

      updateLocationHash();
      updateZoomHash();

      map.options.minZoom = 3;

      map.on('moveend', updateLocationHash);

      map.on('zoomend', updateZoomHash);

      function updateLocationHash() {
        const center = map.getCenter();
        urlHash.setUrlHashParameter('lat', center.lat + "");
        urlHash.setUrlHashParameter('lon', center.lng + "");
      }

      function updateZoomHash() {
        const zoom = map.getZoom();
        urlHash.setUrlHashParameter('zoom', zoom + "");
      }

      <% if @layersname.nil? %>
        var layersname = ['odorreport', 'asian', 'clouds', 'eonetFiresLayer', 'Unearthing'];
      <% else %>
        var layersname = "<%= @layersname %>";
        layersname = layersname.split(',')
      <% end %>

      L.tileLayer(
        "https://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/{z}/{x}/{y}.png",
        {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }
      ).addTo(map);


      L.LayerGroup.EnvironmentalLayers({
        include: layersname,
        hash: false,
        embed: true,
      }).addTo(map);

    </script>
