<%= javascript_include_tag 'leaflet-blurred-location/dist/Leaflet.BlurredLocation.js' %>
<%= javascript_include_tag('/lib/leaflet-spin/example/spin/dist/spin.min.js') %>
<%= javascript_include_tag('/lib/leaflet-spin/example/leaflet.spin.min.js') %>

<div class="container blurred-location">
    <div class="form-group">
      <label for="placenameInput"><b>Search by place name</b></label>
      <input id="placenameInput" type="text" class="form-control" />
    </div>

  <p><b>By dragging the map</b></p>

  <div id="map" class="leaflet-map" style="width: 100%; height: 300px; margin-bottom:10px;"></div>
  <p>
    <h3><strong>Scale</strong></h3>
    <div class="slidecontainer" style="border-bottom: 2px solid #ccc;">
      <b><p style="display: inline">Country</p></b>
      <b><p style="display: inline; float: right">Building</p></b>
      <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="5" data-slider-max="18" data-slider-step="1" data-slider-value="6" style="width: 100%"/>
    </div>
  </p>

  <br>

  <p>   
    <b>Or by co-ordinates</b>
    <div class="row">
      <div class="col-lg-6 form-group">
          <input id="lat" type="text" class="form-control" value="<%= latitude ||= 40 %>">
      </div>
      <div class="col-lg-6 form-group">
        <input id="lng" type="text" class="form-control" value="<%= longitude ||= -90 %>">
      </div>
    </div>

    <div class="form-group">
        <label for="placenameDisplay"> <b>Place name as it will be saved:</b></label>
        <input editable="false" id="placenameDisplay" type="text" class="form-control" />
    </div>

      <button data-dismiss="modal" class="btn btn-lg btn-primary" onclick="saveLocation()">Save</button>

  <button id="ldi-geocode-button" class="btn btn-outline-secondary btn-lg" onclick='blurredLocation.geocodeWithBrowser(true);'>Auto-locate me</button>
  &nbsp; <label>
    <input id="obscureLocation" type="checkbox" checked onchange='blurredLocation.setBlurred(document.getElementById("obscureLocation").checked);'>
    Blur my location
  </label>

</div>

<script>
  
  var options = {
    InterfaceOptions: {
      latId: 'lat',
      lngId: 'lng'
    }
  }

  var blurredLocation;

  (function() {

    L.Icon.Default.imagePath = '/lib/leaflet/dist/images/';
    
    blurredLocation = new BlurredLocation(options);

    blurredLocation.panMapToGeocodedLocation("placenameInput");

     var changeZoom = function() {
        var zoom = slider.getValue();
        blurredLocation.map.setZoom(zoom);
      }

      var slider = $('#ex1').slider()
        .on('slide', changeZoom)
        .data('slider');

  })();
    
  function saveLocation() {
    var tags = 'lat:' + blurredLocation.getLat() + ',lon:' + blurredLocation.getLon();
    if (blurredLocation.isBlurred()) tags = tags + ',' + 'location:blurred'
    if ($('#placenameDisplay').val() != 'Location unavailable') tags = tags + ',' + 'place:' + parameterize($('#placenameDisplay').val());
    addTag(tags);
    
    <% if params[:reload] %>setTimeout(function() { location.reload(); }, 3000);<% end %>
  }

  function parameterize(input) {
    return input.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'');
  }
  
</script>

<style>
  .modal-body {
    background: #f8f8f8;
  }
  .blurred-location { 
    background: #f8f8f8;
    width: 100%;
  }
</style>
