<h2>Upload an image</h2>

<%= form_for @image, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <%= f.file_field :photo %>

  <p><%= f.text_field :title, {:placeholder => "Image title", :tabindex => 2} %></p>
  <p><%= f.text_field :notes, {:class => "span12", :placeholder => "a short description"} %></p>

  <p><button class="btn-large btn-primary" type="submit">Upload</button></p>
<% end %>
