<% cache('feature_anniversary-banner', skip_digest: true) do %>
  <%= feature('anniversary-banner') %>
<% end %>

<!-- facilitate space for multi-line header -->
<% if !current_user %>
  <%= stylesheet_link_tag "I18n" %>
<% end %>

<nav id="header" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!-- ||| menu, displayed for mobile: -->
  <a class="navbar-brand ml-lg-5" id="brand" href="<%= root_path %>">Public Lab</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbar-collapse">
    <span class="fa fa-bars fa-white"></span>
  </button>

    <div class="collapse navbar-collapse" id="header-navbar-collapse">
      <form class="form-inline mr-3" id="searchform" autocomplete="off">
        <div class="input-group">
          <input aria-label="Enter Search Query" type="text" id="searchform_input" class="form-control search-query typeahead" role="search" qryType="tags" placeholder="<%= t('layout._header.search') %>"  value="<%= params[:query] %>" required>
          <div class="input-group-append">
            <button class="btn btn-light" type="submit" title="Search button" aria-label="Search Button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>

      <ul class="navbar-nav mr-auto">

        <% cache('feature_navbar', skip_digest: true) do %>
          <%= feature('navbar') %>
        <% end %>

        <li class="nav-item dropdown" style="min-width:80px;">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <%= translate('Community') %>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/getting-started"><b><%= translate('Get started') %> &raquo;</b></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/people"><%= translate('People') %></a>
            <a class="dropdown-item" href="/map"><%= translate('Places') %></a>
            <a class="dropdown-item" href="/projects"><%= translate('Projects') %></a>
            <a class="dropdown-item" href="/events"><%= translate('Events') %></a>
            <a class="dropdown-item" href="/questions"><%= translate('Questions') %></a>
            <a class="dropdown-item" href="/chat"><%= translate('Chat') %></a>
          </div>
        </li>

        <li class="nav-item dropdown" style="min-width:80px;">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <%= translate('Tools') %>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/methods"><%= translate('Methods') %></a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Kits</h6>
            <a class="dropdown-item" href="/kits"><%= translate('Kits initiative') %></a>
            <a class="dropdown-item" href="//store.publiclab.org"><%= translate('Store') %></a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Software</h6>
            <a class="dropdown-item" href="https://mapknitter.org"><%= translate('MapKnitter') %></a>
            <a class="dropdown-item" href="https://infragram.org"><%= translate('Infragram') %></a>
            <a class="dropdown-item" href="https://spectralworkbench.org"><%= translate('Spectral Workbench') %></a>
            <a class="dropdown-item" href="https://code.publiclab.org#r=all"><%= translate('Code community') %></a>
          </div>
        </li>

        <li class="nav-item dropdown" style="min-width:80px;">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <%= t('layout._header.about.about_title') %>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/about"><%= translation('layout._header.about.about_public_lab') %></a>
            <a class="dropdown-item" href="/blog"><%= translation('layout._header.about.blog') %></a>
            <a class="dropdown-item" href="/newsletter"><%= translation('Newsletter') %></a>
            <a class="dropdown-item" href="/wiki/contact"><%= translation('layout._header.about.contact') %></a>
          </div>
        </li>

        <li class="nav-item d-sm-none d-lg-inline" style="padding:0 10px;">
          <a class="nav-link btn btn-outline-secondary" target="_blank" href="//store.publiclab.org"><%= t('layout._header.store') %></a>
        </li>
        <li class="nav-item d-sm-none d-lg-inline" style="padding:0 10px;">
          <a class="nav-link btn btn-outline-secondary" href="/donate"><%= t('layout._header.donate') %></a>
        </li>

        <!-- end navbar feature -->

      </ul>

      <ul class="navbar-nav mr-lg-5">
        <% if current_user %>
          <li class="nav-item d-sm-none d-xl-inline">
            <a rel="tooltip" class="nav-link" title="<%= t('layout._header.your_dashboard') %>" data-placement="bottom" href="/dashboard">Dashboard</a>
          </li>
        <% else %>
        <li class="d-md-none d-xl-inline nav-item"> <!-- signup button -->
          <a rel="tooltip" class="nav-link signupToggle" title="<%= t('layout._header.become_part_community') %>" href="#">
            <%= t('layout._header.join') %>
          </a>
        </li>
        <% end %>

        <% unless params[:action] == "register" || params[:action] == "signup" %>
            <% if current_user %>
            <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="#">
              	<div class="profile-icon">
                  <% if current_user.profile_image == "https://www.gravatar.com/avatar/eb721d116a28f4a4da4ea67340c8ce75" %>
                    <i class="fa fa-user-circle fa-lg" style="color:white;"></i>
                  <% else %>
                    <%= image_tag(current_user.profile_image, class:'rounded-circle', style:'width:20px; height:20px; margin-right:8px;', alt:'profile-photo', id:'profile-photo') %>
                  <% end %>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                  <h5 class="dropdown-header">
                    <%= current_user.username %>
                    <% if logged_in_as(['admin', 'moderator']) %>
                       - logged in as <%= current_user.role %>
                    <% end %>
                  </h5>

                    <a class="dropdown-item" href="/profile/<%= current_user.username %>"><%= translation('layout._header.profile') %></a>
                    <a class="dropdown-item" href="/profile/edit"><%= translation('layout._header.edit_profile') %></a>
                    <a class="dropdown-item" href="/settings" >Notifications</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/subscriptions"><%= translation('layout._header.subscriptions') %></a>
                    <a class="dropdown-item" href="/profile/<%= current_user.username %>/likes"><%= translation('layout._header.notes_liked') %></a>
                    <div class="dropdown-divider"></div>
                      <% if logged_in_as(['admin']) %>
                      <a class="dropdown-item" href="/useremail">Email search</a>
                      <a class="dropdown-item" href="/wiki/locked">Locked pages</a>
                      <a class="dropdown-item" href="/spam">Spam moderation</a>
                      <a class="dropdown-item" href="/people">Contributors</a>
                      <div class="dropdown-divider"></div>
                      <% end %>
                      <%= link_to translation('layout._header.logout'), logout_path, class: "dropdown-item" %>
                    <a class="dropdown-item" href="/logoutRemotely">Logout from all devices</a>
                  </div>
              </li>
            <% else %> <!-- Login button -->
                <li class="nav-item">
                    <a class="nav-link loginToggle" href="#">
                    <%= t('layout._header.login.login_title') %>
                    </a>
                </li>
            <% end %>
          <% end %>
        </li>
        <li id="md-ham" class="d-lg-none dropdown">
          <a href="#" class="btn btn-dark" data-toggle="dropdown"><span class="fa fa-white" style="vertical-align: middle;"></span></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item d-lg-none" href="//store.publiclab.org"><%= translation('layout._header.store') %></a>
            <a class="dropdown-item d-lg-none"  href="/donate"><%= translation('layout._header.donate') %></a>
            <!--These menu items will only appear in the "More" dropdown menu. -->
            <% if current_user %>
              <a class="dropdown-item d-xl-none" rel="tooltip" title="<%= translation('layout._header.your_dashboard') %>" data-placement="bottom" href="/dashboard">Dashboard</a>
            <% else %>
              <a class="dropdown-item d-xl-none" rel="tooltip" title="<%= translation('layout._header.become_part_community') %>" href="/signup"><%= translation('layout._header.join') %></a>
            <% end %>
          </div>
        </li>
    </div>
</nav>

<div class="body-container container">
  <div class="visible-print">
    <% if params[:controller] == "notes" %><h1>Public Lab <small><%= t('layout._header.research_note') %></small></h1><% end %>
    <% if params[:controller] == "wiki" %><h1>Public Lab <small><%= t('layout._header.wiki_doc') %></small></h1><% end %>
    <hr />
  </div>
  <script>
      $('#chat-button').click(function(e){
              e.stopPropagation() ;
      });
      $('body').click(function(){
          var c = $('#chat') ;
          if($('#chat').is(':visible') == true)
            c.hide() ;
      });
      $('.nav-item.dropdown').on('show.bs.dropdown', function () {
        $('.nav-item.dropdown').addClass('no-hover');
      });
      $('.nav-item.dropdown').on('hide.bs.dropdown', function () {
        $('.nav-item.dropdown').removeClass('no-hover');
      });
  </script>
  <%= render partial: "layouts/alerts" %>
</div>

<%= render partial: "layouts/signupLoginModal" %>

  <script type="text/javascript" src="/lib/leaflet-environmental-layers/lib/glify.js"></script>


<style>
  .profile-icon{
      cursor:pointer;
  }

  .profile-icon:hover .fa-user-circle:before{
      opacity:0.5;
  }
  @media (max-width: 767px){
    .navbar{
      max-height: 100vh;
      overflow-y: auto;
      -webkit-overflow-scrolling:touch;
    }
  }
</style>

<%= render :partial => "map/mapDependencies" %>
