<% cache('feature_anniversary-banner') do %>
  <%= feature('anniversary-banner') %>
<% end %>

<!-- facilitate space for multi-line header -->
<% if !current_user %>
  <%= stylesheet_link_tag "I18n" %>
<% end %>

<% if @node && @node.body %>
  <p class="facebook-summary" style="display:none;">
    <%= raw strip_tags(sanitize(RDiscount.new(@node.body).to_html)).truncate(100) %> 
  </p>
<% end %>
<p class="facebook-summary" style="display:none;"><%= t('layout._header.summary') %></p>

<!-- facebook needs this apparently -->
<div id="fb-root"></div>

<nav id="header" class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:20px;">

  <div class="container">


    <!-- ||| menu, displayed for mobile: -->
    <div class="navbar-header">
      <a class="navbar-brand" id="brand" href="/<%= "home" if current_user %>">Public Lab</a>
      <a class="navbar-brand brand-compact" id="brand-compact" href="/<%= "home" if current_user %>">PL</a>
      <% if current_user %><a class="navbar-brand home-icon visible-xs" href="/"><i class="fa fa-home fa fa-white"></i></a><% end %>
 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse">
        <span class="fa fa-white fa-bars"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse" id="header-navbar-collapse">

      <ul class="nav navbar-nav navbar-left">
 
        <% if current_user %><li><a rel="tooltip" title="<%= t('layout._header.your_dashboard') %>" data-placement="bottom" href="/dashboard"><i class="fa fa-home fa fa-white"></i></a></li><% end %>
 
        <li class="dropdown">
 
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('layout._header.projects.projects_title') %> <b class="caret"></b>
          </a>
 
          <ul class="dropdown-menu">
 
            <li class="dropdown-header"><%= t('layout._header.projects.research.research_title') %></li>
 
            <li><a href="/research/"><%= t('layout._header.projects.research.research_notes') %></a></li>
            <li><a href="/wiki/"><%= t('layout._header.projects.research.publiclab_wiki') %></a></li>
            <li><a href="/questions"><%= t('layout._header.projects.research.questions') %></a></li>
            <li><a href="/tools"><%= t('layout._header.projects.research.tools') %></a></li>
            <li><a href="/places"><%= t('layout._header.projects.research.places') %></a></li>
            <li><a href="/users/map"><%= t('layout._header.projects.research.users_map') %></a></li>
            <li><a href="/comments"><%= t('layout._header.projects.research.comments') %></a></li>
 
            <li class="divider"></li>
 
            <li class="dropdown-header"><%= t('layout._header.projects.initiatives.initiatives_title') %></li>
 
            <li><a href="/wiki/nonprofit-initiatives#Open+Land"><%= t('layout._header.projects.initiatives.open_land') %></a></li>
            <li><a href="/wiki/nonprofit-initiatives#Open+Water"><%= t('layout._header.projects.initiatives.open_water') %></a></li>
            <li><a href="/wiki/nonprofit-initiatives#Open+Air"><%= t('layout._header.projects.initiatives.open_air') %></a></li>
            <li><a href="/wiki/kits"><%= t('layout._header.projects.initiatives.kits') %></a></li>
 
            <li class="divider"></li>
 
            <li><a href="/wiki/fellows"><%= t('layout._header.projects.fellows') %></a></li>
            <li><a href="/wiki/lending-library"><%= t('layout._header.projects.lending_library') %></a></li>
          </ul>
 
        </li>
      </ul>

      <form id="searchform" class="navbar-form navbar-left" role="search" autocomplete="off">
        <div class="form-group">
          <input tabindex="1" id="searchform_input" type="text" class="form-control search-query typeahead" qryType="all" placeholder="<%= t('layout._header.search') %>"/>
        </div>
        <button type="submit" class="btn btn-primary" style="background:#444;border-color:#222;"><i class="fa fa-search"></i></button>
      </form>
 
      <ul class="nav navbar-nav">

        <li class="dropdown hidden-xs hidden-sm">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('layout._header.about.about_title') %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/wiki/stories"><%= t('layout._header.about.stories') %></a></li>
            <li><a href="/blog"><%= t('layout._header.about.blog') %></a></li>
            <li><a href="/about"><%= t('layout._header.about.about_public_lab') %></a></li>
            <li class="divider"></li>
            <li><a href="/wiki/plots-staff"><%= t('layout._header.about.team') %></a></li>
            <li><a href="/wiki/organizers"><%= t('layout._header.about.organizers') %></a></li>
            <li><a href="/wiki/board"><%= t('layout._header.about.board') %></a></li>
            <li><a href="/wiki/how-we-are-funded"><%= t('layout._header.about.fund') %></a></li>
            <li class="divider"></li>
            <li><a href="/media"><%= t('layout._header.about.press_and_media') %></a></li>
            <li><a href="/wiki/contact"><%= t('layout._header.about.contact') %></a></li>
          </ul>
        </li>

        <li class="dropdown hidden-xs hidden-sm<%= ' hidden-md' unless current_user %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('layout._header.get_involved.get_involved_title') %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/getting-started"><%= t('layout._header.get_involved.getting_started') %></a></li>
            <li class="divider"></li>
            <li><a href="/signup"><%= t('layout._header.get_involved.join') %></a></li>
            <li><a href="/lists"><%= t('layout._header.get_involved.discussion_lists') %></a></li>
            <li><a href="/events"><%= t('layout._header.get_involved.attend_event') %></a></li>
            <li><a href="/wiki/post-an-event"><%= t('layout._header.get_involved.post_event') %></a></li>
            <li class="divider"></li>
            <li><a href="/wiki/start-a-chapter"><%= t('layout._header.get_involved.new_chapters') %></a></li>
            <li><a href="/wiki/new-projects"><%= t('layout._header.get_involved.new_projects') %></a></li>
            <li class="divider"></li>
            <li><a href="/wiki/organizers"><%= t('layout._header.get_involved.organizer') %></a></li>
          </ul>
        </li>

        <li class="dropdown hidden-xs hidden-sm<%= ' hidden-md' unless current_user %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('layout._header.data.data_title') %> 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/archive"><%= t('layout._header.data.archive') %></a></li>
            <li class="dropdown-header"><%= t('layout._header.data.web_tools.web_tools_title') %></li>
            <li><a href="//mapknitter.org"><%= t('layout._header.data.web_tools.mapknitter') %></a></li>
            <li><a href="//spectralworkbench.org"><%= t('layout._header.data.web_tools.spectralworkbench') %></a></li>
            <li><a href="//infragram.org"><%= t('layout._header.data.web_tools.infragram') %></a></li>
            <li><a href="//openwaterproject.io"><%= t('layout._header.data.web_tools.open_water') %></a></li>
          </ul>
        </li>

        <li class="hidden-xs hidden-sm hidden-md"><a href="/donate"><%= t('layout._header.donate') %></a></li>
        <li class="hidden-xs hidden-sm hidden-md"><a href="//store.publiclab.org"><%= t('layout._header.store') %></a></li>

      </ul>
 
      <div id="chat" class="chat-popover" data-placement="bottom" style="display:none;">
        <a style="margin-right:4px;" class="pull-right btn btn-sm" href="https://webchat.oftc.net/?channels=publiclab<% if current_user %>&nick=<%= current_user.username %><% end %>" target="_blank"><%= t('layout._header.chatroom.pop_out') %></a>
        <p class="popover-title"><%= t('layout._header.chatroom.chatroom_title') %></p>
        
      </div>
 
      <% unless current_user %><a rel="tooltip" title="<%= t('layout._header.become_part_community') %>" data-placement="bottom" style="margin-left:14px;" href="/signup" class="btn btn-primary navbar-btn navbar-right hidden-xs"><%= t('layout._header.join') %></a><% end %>
 
      <% unless params[:action] == "register" || params[:action] == "signup" %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a onClick="$('#chat').toggle();$('#chat').append('<iframe width=\'400px\' height=\'300px\' style=\'border:0;\' src=\'https://webchat.oftc.net/?channels=publiclab<% if current_user %>&nick=<%= current_user.username %><% end %>\'></iframe>');">
              <i class="fa fa-white fa fa-comments"></i>
            </a> 
          </li>
          <li class="dropdown">
            <% if current_user %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user fa fa-white"></i>
               <b class="caret"></b>
            </a> 
            <ul class="dropdown-menu">
              <li class="dropdown-header"><%= current_user.username %><% if current_user.role === 'moderator' || current_user.role === 'admin'%>: <%= current_user.role %><% end %></li>
              <li><a href="/dashboard"><%= t('layout._header.dashboard') %></a></li>
              <li><a href="/profile/<%= current_user.username %>"><%= t('layout._header.profile') %></a></li>
              <li><a href="/profile/edit"><%= t('layout._header.edit_profile') %></a></li> 
              <li class="divider"></li>
              <li><a href="/subscriptions"><%= t('layout._header.subscriptions') %></a></li>
              <li><a href="/profile/<%= current_user.username %>/likes"><%= t('layout._header.notes_liked') %></a></li> 
              <li class="divider"></li>
	      <% if current_user.role == 'admin' %>
	        <li class="divider"></li>
		<li><a href="/useremail">Email search</a></li> 
	      <% end %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-language" aria-hidden="true"></i>
                  <%= t('layout._footer.language.language_title') %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% locale_name_pairs.each do |locale_name, locale| %>
                    <li><%= link_to locale_name, change_locale_path(locale) %></li>
                  <% end %>
                </ul>
              </li>
              <li><%= link_to t('layout._header.logout'), logout_path %></li>
            </ul>
            <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user fa fa-white"></i>
               <%= t('layout._header.login.login_title') %> <b class="caret"></b> 
            </a> 
            <ul id="login-dropdown" class="dropdown-menu" style="width:240px;">
              <li style="padding:6px;">
                <%= form_for @user_session, :as => :user_session, :url => { :controller => "user_sessions", :action => "create" }, :html => {:class => "form"} do |f| %>
      
                  <div class="form-group">
        
                    <label for="username"><%= t('layout._header.login.username') %></label>
                    <%= f.text_field :username, { tabindex: 1, class: 'form-control', id: 'username' } %>
        
                  </div>
        
                  <div class="form-group">
        
                    <label for="password"><%= t('layout._header.login.password') %></label>
                    <%= f.password_field :password, { tabindex: 2, class: 'form-control', id: 'password' } %>
        
                  </div>

                  <input type="hidden" name="return_to" value="<%= params[:return_to] || request.path %>" />

                  <div class="checkbox">
                    <label>
                      <%= f.check_box :remember_me %> <%= t('layout._header.login.remember_me') %>
                    </label>
                  </div>
      
                  <p>
                    <button class="btn btn-primary" type="submit" tabindex="3"><%= t('layout._header.login.login_title') %></button>
                    <a class="btn btn-default" href="/signup" tabindex="4"><%= t('layout._header.login.sign_up') %></a>
                  </p>
      
                  <p><a href="/reset/"><%= t('layout._header.login.reset_password') %></a></p>

                <% end %>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-language" aria-hidden="true"></i>
                  <%= t('layout._footer.language.language_title') %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% locale_name_pairs.each do |locale_name, locale| %>
                    <li><%= link_to locale_name, change_locale_path(locale) %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
 
  </div>
</nav>

<div class="body-container container">

  <div class="visible-print">
    <% if params[:controller] == "notes" %><h1>Public Lab <small><%= t('layout._header.research_note') %></small></h1><% end %>
    <% if params[:controller] == "wiki" %><h1>Public Lab <small><%= t('layout._header.wiki_doc') %></small></h1><% end %>
    <hr />
  </div>

  <%= render :partial => "layouts/alerts" %>

</div>
