<% cache('feature_anniversary-banner', skip_digest: true) do %>
  <%= feature('anniversary-banner') %>
<% end %>

<!-- facilitate space for multi-line header -->
<% if !current_user %>
  <%= stylesheet_link_tag "I18n" %>
<% end %>

<nav id="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- ||| menu, displayed for mobile: -->
    <div class="navbar-header">
      <a class="navbar-brand" id="brand" href="<%= root_path %>">Public Lab</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse">
        <span class="fa fa-white fa-bars"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="header-navbar-collapse">
      <form class="navbar-form navbar-left" id="searchform" autocomplete="off">
        <div class="input-group">
          <input type="text" id="searchform_input" style="min-width: 220px;" class="form-control search-query typeahead" role="search" qryType="all" placeholder="<%= t('layout._header.search') %>" required>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Get Involved <i class="fa fa-white fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/events">Attend an event</a></li>
            <li><a href="/chat">Chat online</a></li>
            <li><a href="/search">Search on Public Lab</a></li>
            <li><a href="/questions">Ask a question</a></li>
            <li><a href="/tags">Find a topic you care about</a></li>
            <li><a href="/post">Post your work</a></li>
            <li><a href="/requests">Respond to a request</a></li>
            <li class="divider"></li>
            <li><a href="/dashboard">Browse recent research</a></li>
            <li><a href="/methods">Discover methods</a></li>
            <li><a href="/kits">Contribute a kit</a></li>
            <li><a href="/wiki/software-outreach">Software Projects</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('layout._header.about.about_title') %> <i class="fa fa-white fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/wiki/stories"><%= t('layout._header.about.stories') %></a></li>
            <li><a href="/blog"><%= t('layout._header.about.blog') %></a></li>
            <li><a href="/about"><%= t('layout._header.about.about_public_lab') %></a></li>
            <li class="divider"></li>
            <li><a href="/wiki/plots-staff"><%= t('layout._header.about.team') %></a></li>
            <li><a href="/wiki/organizers"><%= t('layout._header.about.organizers') %></a></li>
            <li><a href="/wiki/board"><%= t('layout._header.about.board') %></a></li>
            <li><a href="/wiki/how-we-are-funded"><%= t('layout._header.about.fund') %></a></li>
            <li class="divider"></li>
            <li><a href="/media"><%= t('layout._header.about.press_and_media') %></a></li>
            <li><a href="/wiki/contact"><%= t('layout._header.about.contact') %></a></li>
          </ul>
        </li>

        <li class="hidden-sm">
          <a target="_blank" href="//store.publiclab.org"><%= t('layout._header.store') %></a>
        </li>
        <li class="hidden-sm">
          <a href="/donate"><%= t('layout._header.donate') %></a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="hidden-sm hidden-md">
            <a rel="tooltip" title="<%= t('layout._header.your_dashboard') %>" data-placement="bottom" href="/dashboard">Dashboard</i></a>
          </li>
        <% else %>
        <li class="hidden-sm hidden-md">
          <a rel="tooltip" title="<%= t('layout._header.become_part_community') %>" href="/signup"><%= t('layout._header.join') %></a>
        </li>
        <% end %>

        <li class="dropdown">
          <% unless params[:action] == "register" || params[:action] == "signup" %>
            <% if current_user %>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Profile  <i class="fa fa-white fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <div class="dropdown-header">
                  <h5>
                    <%= current_user.username %>
                    <% if current_user.role === 'moderator' || current_user.role === 'admin'%>
                       - logged as <%= current_user.role %>
                    <% end %>
                  </h5>
                </div>

                <li><a href="/profile/<%= current_user.username %>"><%= t('layout._header.profile') %></a></li>
                <li><a href="/profile/edit"><%= t('layout._header.edit_profile') %></a></li>
                <li><a href="/settings" >Email Settings</a></li>
                <li class="divider"></li>
                <li><a href="/subscriptions"><%= t('layout._header.subscriptions') %></a></li>
                <li><a href="/profile/<%= current_user.username %>/likes"><%= t('layout._header.notes_liked') %></a></li>
                <li class="divider"></li>
        	      <% if current_user.role == 'admin' %>
                  <li><a href="/useremail">Email search</a></li>
                  <li><a href="/wiki/locked">Locked pages</a></li>
                  <li><a href="/spam">Spam moderation</a></li>
                  <li><a href="/people">Contributors</a></li>
        	        <li class="divider"></li>
        	      <% end %>
                <li><%= link_to t('layout._header.logout'), logout_path %></li>
                <li><a href="/logoutRemotely">Logout from all devices</a></li>
              </ul>
            <% else %>
              <a href="/login?return_to=<%= params[:return_to] || request.path %>">
                <%= t('layout._header.login.login_title') %>
              </a>
            <% end %>
          <% end %>
        </li>
        <li id="md-ham" class="hidden-lg dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-white fa-bars"></a>
            <ul class="dropdown-menu">
                <li class="hidden-lg hidden-md">
                  <a href="//store.publiclab.org"><%= t('layout._header.store') %></a>
                </li>
                <li class="hidden-lg hidden-md">
                  <a href="/donate"><%= t('layout._header.donate') %></a>
                </li>
                <!--- These menu items will only appear in the "More" dropdown menu. --->
                <% if current_user %>
                  <li class="hidden-lg">
                    <a rel="tooltip" title="<%= t('layout._header.your_dashboard') %>" data-placement="bottom" href="/dashboard">Dashboard</i></a>
                  </li>
                <% else %>
                <li class="hidden-lg">
                  <a rel="tooltip" title="<%= t('layout._header.become_part_community') %>" href="/signup"><%= t('layout._header.join') %></a>
                </li>
                <li class="hidden-lg hidden-md">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <%= t('layout._header.login.login_title') %>
                  </a>
                </li>
                <% end %>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="body-container container">
  <div class="visible-print">
    <% if params[:controller] == "notes" %><h1>Public Lab <small><%= t('layout._header.research_note') %></small></h1><% end %>
    <% if params[:controller] == "wiki" %><h1>Public Lab <small><%= t('layout._header.wiki_doc') %></small></h1><% end %>
    <hr />
  </div>
  <script>
      $('#chat-button').click(function(e){
              e.stopPropagation() ;
      });
      $('body').click(function(){
          var c = $('#chat') ;
          if($('#chat').is(':visible') == true)
            c.hide() ;
      });
  </script>
  <%= render :partial => "layouts/alerts" %>
</div>
