<!DOCTYPE html>
<html lang="<%= I18n.locale || 'en' %>">
  <head>
    <meta charset="utf-8" />
    <title>&#127880; Public Lab<%= ": "+(@title || params[:action].capitalize) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if @node && @node.body %>
      <meta name="description" content="<%= raw strip_tags(sanitize(RDiscount.new(@node.body).to_html)).truncate(100) %>" />
    <% else %>
      <meta name="description" content="Public Lab is an open community which collaboratively develops accessible, open source, Do-It-Yourself technologies for investigating local environmental health and justice issues." />
    <% end %>
    <meta name="author" content="Public Lab contributors" />
    <link href="https://<%= request.host %>/feed.rss" rel="alternate" type="application/rss+xml" title="Public Lab research" />

    <script type="text/javascript" async
      src="https://cdn.jsdelivr.net/npm/mathjax@2.7.3/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href="/lib/fontawesome/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
    <% if @node && @node.has_tag('style:fancy') %>
      <%= stylesheet_link_tag "fancy", :media => "all" %>
    <% end %>
    <%= stylesheet_link_tag "print", :media => "print" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="google-translate-customization" content="4ce4c7c384354172-5179499fc244f592-g2b333d0d29f59663-d" />

    <% if @node && @node.body %>
      <meta property="og:title" content="<%= @title %>" />
      <meta property="og:site_name" content="Public Lab" />
      <meta property="og:url" content="<%= request.host %>/n/<%= @node.id %>" />
      <meta property="og:description" content="<%= raw strip_tags(sanitize(RDiscount.new(@node.body).to_html)).truncate(100) %>" />
      <meta property="og:type" content="article" />
      <meta property="fb:app_id" content="644692375883090" />
      <% if @node.main_image %>
        <meta property="og:image" content="<%= @node.main_image.path(:default) %>" />
      <% end %>
      <p class="facebook-summary" style="display:none;">
        <%= raw strip_tags(sanitize(RDiscount.new(@node.body).to_html)).truncate(100) %>
      </p>
    <% end %>
    <p class="facebook-summary" style="display:none;"><%= t('layout._header.summary') %></p>

    <!-- facebook needs this apparently -->
    <div id="fb-root"></div>

    <%= yield(:head) %>

    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
    </script>
    
    <% cache('feature_header', skip_digest: true) do %>
      <%= feature("header") %>
    <% end %>

    <%= yield(:head) %>

  <style type="text/css">
    .pac-container { z-index: 100000; }

    .leaflet-control-layers {
        max-height: 200px;
        overflow: auto;
    }
  </style>

  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
  <script src="https://cdn.jsdelivr.net/npm/leaflet-search@2.4.0/dist/leaflet-search.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/leaflet-search@2.4.0/dist/leaflet-search.min.css">
  </head>
<style>
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
</style>
<div id="loader"></div>

<script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>
 <body onload="myFunction()" style="margin:0;">
    <%= render :partial => 'layouts/header' %>

    <div class="container">
      <div class="row">

        <%= yield %>

      </div><!--/row-->
    </div><!--/container-->

    <%= render :partial => "layouts/footer" %>

  </body>
</html>
