<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Public Lab<%= ": "+(@title || params[:action].capitalize) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Public Lab is an open community which collaboratively develops accessible, open source, Do-It-Yourself technologies for investigating local environmental health and justice issues.">
    <meta name="author" content="Public Lab contributors">
    <link href="http://publiclab.org/feed.rss" rel="alternate" type="application/rss+xml" title="Public Lab research" />

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-lightbox.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/bootstraptp://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/bootstrap/ico/apple-touch-icon-57-precomposed.png">

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="header" class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:20px;">
      <div class="navbar-inner" style="padding:0 10px;">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" id="brand" href="/<%= "home" if current_user %>">Public Lab</a>
          <a class="brand" id="brand-compact" href="/<%= "home" if current_user %>">PL</a>

          <a rel="tooltip" title="Switch to old site" data-placement="bottom" style="margin-left:6px;" href="#" onClick="alpha()" class="btn btn-primary pull-right hidden-phone">&alpha;</a>
          <script>
            function alpha() { window.location = 'http://publiclaboratory.'+(window.location+'').split('://publiclab.')[1] } 
          </script>
          <% unless current_user %><a rel="tooltip" title="Become part of this community" data-placement="bottom" style="margin-left:6px;" href="/signup" class="btn pull-right">Join</a><% end %>

          <ul class="nav">
            <li><a rel="tooltip" title="Your dashboard" data-placement="bottom" href="/dashboard"><i class="icon-home icon-white"></i></a></li>
            <li><a href="/research">Research</a></li>
          </ul>


          <div class="nav-collapse collapse">

            <form id="searchform" class="navbar-form pull-left" style="margin-left:10px;" autocomplete="off">
              <input tabindex="1" id="searchform_input" type="text" class="input-small search-query typeahead" data-provide="typeahead">
              <script>
                jQuery(document).ready(function() {
                  $('#searchform').submit(function(e){ 
                    e.preventDefault()
                    window.location = '/search/'+$('#searchform_input').val()
                  })
                  // working off of http://stackoverflow.com/questions/9232748/twitter-bootstrap-typeahead-ajax-example
                  $('#searchform_input').typeahead({
                    source: function (typeahead, query) {
                      if (query.length > 2) {
                        return $.post('/search/typeahead/'+query, {}, function (data) {
                          return typeahead.process(data)
                        })
                      }
                    },
                    items: 15,
                    //highlighter: function(a) {a},
                    autoselect: false,
                    autowidth: false,
                    menu: '<ul id="searchtypeahead" class="typeahead dropdown-menu"></ul>'
                  })
                })
              </script>
              <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i></button>
            </form>

            <ul class="nav">
              <li><a href="/about">About</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  Tools/Places <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                <% cache "tool-place-menu-"+(DateTime.now.to_i/300).to_i.to_s do %>
                  <% DrupalNode.find_all_by_type('tool',:limit => 6, :order => 'node_counter.totalcount DESC', :joins => :drupal_node_counter).each do |node| %>
                  <li><a href="<%= node.path %>"><%= node.title %></a></li>
                  <% end %>
                  <li><a href="/tools">More...</a></li>
                  <li class="divider"></li>
                  <% DrupalNode.find_all_by_type('place',:limit => 6, :order => 'node_counter.totalcount DESC', :joins => :drupal_node_counter).each do |node| %>
                  <li><a href="<%= node.path %>"><%= node.title %></a></li>
                  <% end %>
                  <li><a href="/places">More...</a></li>
                  <li class="divider"></li>
                  <li><a href="/wiki/">Recent wiki pages</a></li>
                  <li><a href="/wiki/popular/">Popular wiki pages</a></li>
                <% end %>
                </ul>
              </li>
              <li><a href="/archive">Maps</a></li>
            </ul>

            <% unless params[:action] == "register" || params[:action] == "signup" %>
            <ul class="nav pull-right">
              <li class="dropdown">
                <% if current_user %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-user icon-white"></i>
                  <%= current_user.username %> <b class="caret"></b>
                </a> 
                <ul class="dropdown-menu">
                  <li><a href="/dashboard">Dashboard</a></li>
                  <li><a href="/profile/<%= current_user.username %>">Profile</a></li>
                  <li><a href="/profile/edit">Edit profile</a></li> 
                  <li class="divider"></li>
                  <li><a href="/subscriptions">Subscriptions</a></li>
                  <li><a href="">Settings</a></li>
                  <li class="divider"></li>
		  <li><%= link_to "Logout", logout_path %></li>
                </ul>
                <% else %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-user icon-white"></i>
                   Log in<b class="caret"></b>
                </a> 
                <ul class="dropdown-menu">
                  <li><a href="<%= login_path %>">Log in</a></li>
                  <li><a href="/signup">Sign up</a></li>
                </ul>
                <% end %>
              </li>
            </ul>
            <% end %>

          </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid">
      <div class="header-spacer hidden-phone"></div>

        <%# unless current_user || params[:controller] == "user_sessions" || params[:controller] == "home" && params[:action] == "front" %>
          <div class="well visible-desktop" style="padding:12px 20px 10px;">
            <h4  style="display:inline;">Did you know that Public Lab is an open community supported by a nonprofit?</h4> 
            <a href="/donate" style="margin-left:10px;" class="btn btn-primary hidden-phone">Donate &raquo;</a>
          </div>
          <div class="visible-phone" style="height:4.5em;">
            <a href="/donate" style="margin-bottom:6px;" class="btn btn-success btn-large btn-block">Donate to <span class="hidden-tiny">the</span> Public Lab <span class="hidden-tiny">non-profit</span> &raquo;</a>
          </div>
        <%# end %>

      <%= render :partial => "layouts/alerts" %>

      <div class="row-fluid">

        <%= yield %>

      </div><!--/row-->

    </div><!--/.fluid-container-->

    <footer class="footer">

      <div class="span3">
        <h4>Getting help</h4>
        <ul>
          <li><a href="/wiki/issues">Report a bug or issue</a></li>
          <li><a href="mailto:web@publiclaboratory.org">Email the Web working group</a></li>
          <li>PublicLaboratory.org is <a href="https://github.com/jywarren/plots2">open source software</a> - and looking for contributors</li>
        </ul>
      </div>
      <div class="span3">
        <h4>Links</h4>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/wiki/getting-started">Getting Started</a></li>
          <li><a href="/wiki/licenses">Licenses</a></li>
          <li><a href="/wiki/mailing-lists">Mailing lists</a></li>
          <li><a href="/stats">Site statistics</a></li>
          <li><a href="/wiki/working-groups">Working groups</a></li>
          <li><a href="/feed.rss">RSS</a></li>
        </ul>
      </div>
      <div class="span3">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0;float:left;margin-right:10px;" src="/images/cc-by-sa-88x31.png" /></a>
        <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Hardware designs on this site are released under the <a href="http://www.ohwr.org/cernohl">CERN Open Hardware License 1.1</a>. Read more about Public Laboratory's <a href="/licenses">open source licensing here</a>.</p>
      </div>
      <div class="span3">
        <p>Specific works on this site may be released or dedicated under different licenses, but only if such alternatives are clearly indicated by their authors.</p>
        <p>This site makes extensive use of the open source font <a href="http://www.theleagueofmoveabletype.com/junction">Junction</a>.</p>
      </div>
      <br style="clear:both;" />
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap.typeahead.js?4"></script>
    <script src="/bootstrap/js/bootstrap-lightbox.js"></script>

    <script>
      (function() {
        $("[rel=tooltip]").tooltip()
        $("[rel=popover]").popover()
        $('table').addClass('table')
        $('iframe').css('border','none')
        $("#content h1, #content h2, #content h3, #content h4").append(function(i,html) {return " <small><a href='#"+this.innerHTML.replace(/ /g,'+')+"'><i class='icon icon-link'></i></a></small>"})
      })()
    </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7636025-2']);
  _gaq.push(['_setDomainName', 'publiclaboratory.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>
  </body>
</html>
